
<style>
    .tableFixHead {
        overflow: auto;
        height: 242px;
    }

        .tableFixHead thead tr {
            position: sticky;
            top: 0;
            z-index: 1;
        }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
    }

    th {
        background: var(--perfect-primary);
    }
</style>
@model PerfectWebERP.Models.JobCardAssignModel.JobCardAssignDetailsView

<style>
    .table-responsive-sm {
        max-width: 1200.98px
    }

    .form-group2 {
        margin-bottom: 0.1rem;
        margin-left: 1px;
    }
</style>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="jq_ServiceIndex_formContainer">
            <div class="card ">

                <div class="card-header">
                    <h4 class="card-title">Job Card No :<span class="col-sm-4 col-form-label" perfect-class="formGroupLabel">@Model.JobCardNo</span></h4>
                </div>

                <div class="card-body px-2">
                    <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">


                        <div class="col-md-12 jq_service_commonForm_div">

                            @Html.AntiForgeryToken()



                            <div class="col-sm-12 border p-3" style="border-color:black">
                                <div class="row">
                                    <div class="col-sm-6">
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="profile-personal-info">

                                            <h4 class='text-primary mb-4'>Job Card Details</h4>

                                            @*<div class="form-group2 row" perfect-class="formGroup">
                                                <label class="col-sm-4 col-form-label">
                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">Job Card Number:</span>

                                                </label>
                                                <div class="col-sm-8">
                                                    <label class="col-sm-8 col-form-label" perfect-class="formGroupControl" name="TicketNo" perfect-ctype="input" perfect-css="input">@Model.JobCardNo</label>

                                                </div>

                                            </div>*@

                                            <div class="form-group2 row" perfect-class="formGroup">
                                                <label class="col-sm-4 col-form-label">
                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">Job Card Details:</span>

                                                </label>
                                                <div class="col-sm-8">
                                                    <label class="col-sm-8 col-form-label" type="date" perfect-class="formGroupControl" name="RegisteredOn" perfect-ctype="input" perfect-css="input">@Model.JobCardDetails</label>

                                                </div>

                                            </div>
                                            <div class="form-group2 row" perfect-class="formGroup">
                                                <label class="col-sm-4 col-form-label">
                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">Product:</span>

                                                </label>
                                                <div class="col-sm-8">
                                                    <label class="col-sm-8 col-form-label" type="date" perfect-class="formGroupControl" name="RegisteredOn" perfect-ctype="input" perfect-css="input">@Model.ProductName</label>

                                                </div>

                                            </div>
                                            <div class="form-group2 row" perfect-class="formGroup">
                                                <label class="col-sm-4 col-form-label">
                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">Start Date:</span>

                                                </label>
                                                <div class="col-sm-8">
                                                    <label class="col-sm-8 col-form-label" perfect-class="formGroupControl" name="VisitedDate" perfect-ctype="input" perfect-css="input">@Model.StartDate.ToString("dd/MM/yyyy")</label>

                                                </div>

                                            </div>
                                            <div class="form-group2 row" perfect-class="formGroup">
                                                <label class="col-sm-4 col-form-label">
                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">Target Date:</span>

                                                </label>
                                                <div class="col-sm-8">
                                                    @if (@Model.TargetDate != null)
                                                    {
                                                    <label class="col-sm-8 col-form-label" perfect-class="formGroupControl" name="VisitedDate" perfect-ctype="input" perfect-css="input">@Convert.ToDateTime(Model.TargetDate).ToString("dd/MM/yyyy")</label>
                                                    }
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="profile-personal-info">


                                            <h4 class='text-primary mb-4'>Employee Details</h4>

                                            <table class="table table-hover table-striped  text-black" id="AttendedProductServices">
                                                <thead class="bg-primary text-white">
                                                    <tr>
                                                    <tr>
                                                        @*<th></th>*@
                                                        <th style="display:none"> </th>
                                                        <th style="display:none"></th>
                                                        <th></th>
                                                        <th>Employee</th>
                                                        <th>Current Job Count</th>
                                                        <th>New Quantity</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="AttendedProductServiceTbody">
                                                    <tr id="0">
                                                        <td colspan="4" style="text-align:center;">No Records...</td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                        </div>
                                    </div>

                                </div>


                                @*-------------------------------------------------------------------------*@

                                @*-------------------------------*@

                            </div>
                        </div>




                    </form>


                    @*</form>*@
                </div>

            </div>
            
        </div>
    </div>
</div>

@section scripts{

    
}

