@model PerfectWebERP.Models.IncentiveModel.IncentiveInitView


<style>

    .table-responsive-md {
        overflow-x: scroll;
    }

    .checkdispNone {
        display: none;
    }
    .checkCalcdis {
        
    }
</style>
<div class="card ">
    <div class="card-header">
        <h4 class="card-title col-12">Incentive Payment and Process</h4>
        <span title="To View List" onclick="fn_showListView();"><svg id="Layer_1" class="layer" stroke="currentColor" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 122.88 122.54"><title>To View List</title><path class="viewlst" d="M4.69,0H46.22a4.71,4.71,0,0,1,4.69,4.69V46a4.69,4.69,0,0,1-4.69,4.69H4.69a4.65,4.65,0,0,1-3.31-1.38l-.09-.09A4.67,4.67,0,0,1,0,46V4.69A4.71,4.71,0,0,1,4.69,0ZM89.44,61.94a26.56,26.56,0,0,1,10.18,2l.07,0a26.61,26.61,0,0,1,15.25,32.16,26.18,26.18,0,0,1-2.7,6.11l10.3,11.24a1.27,1.27,0,0,1-.07,1.8l-7.57,6.9a1.27,1.27,0,0,1-1.79-.07l-9.86-10.85a26.36,26.36,0,0,1-6.1,2.74,26.87,26.87,0,0,1-7.71,1.13,26.51,26.51,0,0,1-10.17-2l-.07,0A26.64,26.64,0,0,1,64.85,78.37l0-.07A26.6,26.6,0,0,1,89.44,61.94Zm15,11.59a21.38,21.38,0,0,0-6.89-4.61l-.06,0a21.22,21.22,0,0,0-23.07,4.64l-.07.07a21.25,21.25,0,0,0-4.54,6.83l0,.06a21.32,21.32,0,0,0-1.58,8.06,21.26,21.26,0,0,0,29.35,19.62,21.54,21.54,0,0,0,6.89-4.61l.07-.07a21.09,21.09,0,0,0,4.54-6.83l0-.06a21.35,21.35,0,0,0,0-16.17,21.34,21.34,0,0,0-4.62-6.9ZM4.69,63.2H46.22a4.71,4.71,0,0,1,4.69,4.7v41.34a4.68,4.68,0,0,1-4.69,4.69H4.69A4.69,4.69,0,0,1,0,109.24V67.9a4.71,4.71,0,0,1,4.69-4.7ZM68.78,0h41.53A4.71,4.71,0,0,1,115,4.69V46a4.71,4.71,0,0,1-4.69,4.69H68.78A4.71,4.71,0,0,1,64.09,46V4.69a4.69,4.69,0,0,1,1.37-3.31l.1-.09A4.67,4.67,0,0,1,68.78,0Z"></path></svg></span>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            <div class="">
                @Html.AntiForgeryToken()
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label"> 
                                <span perfect-class="formGroupLabel">Trans Date</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control perfectValidate_date" name="TransDate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date" max="2050-01-01" onchange="datecheck(this)" />
                                <div class="invalid-feedback animated fadeInUp limit-check" style="display: block;"></div>


                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Module</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">

                                <select class="form-control perfectValidate_string" name="IncModule" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" onchange="modulechange(this,value)">
                                    <option value="">Please select</option>
                                    <option value="1">Project</option>
                                    <option value="2">Sales</option>
                                </select>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4 DivPro">
                        <div class="form-group row" perfect-class="formGroup">
                            <label name="lblProject" class="col-sm-4 col-form-label">Reference&nbsp;<span class="text-danger">*</span></label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control form-control" name="Project" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" readonly />
                                    <input type="hidden" name="ProjectID" class="form-control form-control" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                    <div class="input-group-append">
                                        <button id="addcountry-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" onclick="GetCmnPopUpSearchValAssign(this, 41, 'Project Details',[],['ProjectDate'])" BindName="Project" BindVal="ProjectID" Function="1" perfect-css="button"></button>
                                    </div>
                                </div>
                                <div class="text-danger temptableError"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4 DivBillNo">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Reference&nbsp;</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="input-group col-sm-8">
                                <input type="text" class="form-control " data-id="BillNo-error" name="BillNo" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                <input type="hidden" name="Billid" class="form-control Actionbill" data-id="Billid-error" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                <div class="input-group-append">
                                    <button id="addproduct-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,55,'Sale Details',[])" Criterea1="BranchID" Criterea2="DepId" BindName="BillNo" BindVal="Billid" Function="1"></button>
                                </div>
                                <div id="Billid-error" class="Custominvalid animated fadeInUp producterror" style="display: none;">Please Select Bill No</div>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span class="formGroupLabel">Amount</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control perfectValidate_string text-right" name="IncTrTotalAmount"  id="IncTrTotalAmount" perfect-class="formGroupControl" min="0" maxlength="12" perfect-ctype="input" perfect-css="input" onchange="taxcalculation(this)" oninput="decimalpnt(this,'IncTrTotalAmount',3)" onpaste="return false" />

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span class="formGroupLabel">Dividend %</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control perfectValidate_string text-right" name="IncTrDividentPercent" id="IncTrDividentPercent" min="0" maxlength="6" max="100" perfect-class="formGroupControl" onchange="taxcalculation(this)" oninput="decimalpnt(this,'IncTrDividentPercent',3)" perfect-ctype="input" perfect-css="input" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span class="formGroupLabel">Profit Amount</span>

                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" min="0" maxlength="12" oninput="decimalpnt(this,'IncTrProfitAmount',3)" class="form-control perfectValidate_string_nm text-right"  name="IncTrProfitAmount" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12" id="detailCal" style="display:none">

                        <div class="card">
                            <div class="profile-personal-info" style="margin-bottom:-14px;">
                                <h4 class='text-primary'>INCENTIVE DETAILS</h4>
                            </div>
                            <div class="card-body" style="padding:0px">
                                <div perfect-class="ModuleContainer" id="incentivettable" class="">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-responsive-md table-striped text-black">
                                            <thead class="bg-primary text-white">
                                                <tr>

                                                    <th style="display:none">Module</th>
                                                    <th>Party</th>
                                                    <th style="display:none;">FK_MasterID</th>
                                                    <th style="display:none;">MasterType</th>
                                                    <th class="text-center">Description</th>
                                                    <th class="text-right">Percentage</th>
                                                    <th class="text-right">Amount</th>
                                                    <th>Pay with Salary</th>
                                                    <th>Pay as Cash</th>
                                                </tr>
                                            </thead>
                                            <tbody id="incentiveTbody"></tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Net Amount</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control text-right" placeholder="" name="IncNetAmount" perfect-ctype="input" perfect-css="input" oninput="decimalpnt(this,'IncNetAmount',3)" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">Payment Method</label>
                            <div class="col-sm-5">
                                <div class="input-group">
                                    <div class="input-group-append">
                                        &nbsp;<button id="addcountry-jq-searchButton3" class="btn btn-primary fa fa-money" type="button" perfect-css="button" title="Add Payment Method" onclick="GetPaymentlists(this)"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" perfect-class="formGroupModalpayment" id="formGroupModalpayment">
                        <div class="modal-dialog  modal-dialog-centered modal-md" role="document">
                            <div class="modal-content">
                                <div class="modal-header border-0">
                                    <h5 class="modal-title">Payment Method</h5>
                                    <button type="button" class="close" data-dismiss="modal">
                                        <span>&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" perfect-class="formGroup" style="max-height: calc(100vh - 200px); overflow-y: auto;padding: 1rem;">
                                    <div class="row">


                                        <div class="col-sm-12">
                                            <div class="form-group row" perfect-class="formGroup">
                                                <label class="col-sm-4 col-form-label">Method <span class="text-danger">*</span></label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <select class="form-control" perfect-tempTable-Payment="PaymentMethod" name="PaymentMethod" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                                            <option value="">Please Select </option>


                                                            @if (!(Model.PaymentView is null))
                                                            {
                                                                foreach (var Module in Model.PaymentView)
                                                                {
                                                                    <option value="@Module.PaymentmethodID">@Module.Name</option>
                                                                }
                                                            }
                                                        </select>


                                                    </div>
                                                    <div class="text-danger temptableError"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group row" perfect-class="formGroup">
                                                <label class="col-sm-4 col-form-label">
                                                    <span perfect-class="formGroupLabel">Ref No.</span>

                                                </label>
                                                <div class="col-sm-8">

                                                    <div class="input-group">
                                                        <input type="text" class="form-control perfectValidate_string_nm" perfect-tempTable-Payment="Refno" name="Refno" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" maxlength="250" />

                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12">
                                            <div class="form-group row" perfect-class="formGroup">
                                                <label class="col-sm-4 col-form-label">
                                                    <span perfect-class="formGroupLabel">Amount</span>
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control perfectValidate_string_nm text-right" perfect-tempTable-Payment="PAmount" id="PAmount" name="PAmount" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" oninput="decimalpnt(this,'PAmount',3)" onchange="Pamount(this)" maxlength="12" />

                                                    </div>
                                                    <div class="text-danger temptableError"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-9">


                                        </div>
                                        <div class="col-sm-3 text-right">
                                            <div class="input-group">

                                                <div class="input-group-append">
                                                    <div>
                                                        <button type="button" class="btn btn-primary1 " onclick="createtable(this,'Payment',['PaymentMethod'],paytableOptionsTempOut)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                        <button class="btn btn-light1" type="button" onclick="productclear(this,'Payment')"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group row" perfect-class="formGroup">
                                                <label class="col-sm-4 col-form-label">
                                                    <span perfect-class="formGroupLabel" style="font-weight:500;">Bal. Amount :</span>

                                                </label>
                                                <div class="col-sm-8">
                                                    <div class="input-group">

                                                        <label class="col-form-label">
                                                            <span perfect-class="formGroupLabel" style="font-weight:500;" name="BalAmt"></span>
                                                        </label>
                                                        @*<input type="text" class="form-control" perfect-temptable-payment="BalAmt" name="BalAmt" perfect-class="" perfect-ctype="input" perfect-css="input" readonly="" style="border:white;background:white;font-weight: 500;">*@
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-sm-12">
                                            <div class="form-group row" perfect-class="formGroup">

                                                <div class="table-responsive" perfect-tempTable-Payment="" perfect-tempTable="Payment" id="Paymentdethead" perfect-tempTable-lastindex="0" perfect-tempTable-action="0"></div>
                                                <div class="text-danger temptableError"></div>

                                            </div>
                                        </div>


                                    </div>
                                    <div class="modal-footer">
                                        @*<button type="button" onclick="CreateProductCheckDescription(this);" class="btn btn-primary">Add</button>*@
                                        <button type="button" class="btn btn-primary light" onclick="Billttlnetchck(this)">Apply</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>



                <div class="card-footer text-right" perfect-class="formFooter">
                    @if (ViewBag.PagedAccessRights.UsrrlMsEdt)
                    {
                        <button id="" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserUpdate d-none" name="update" perfect-css="button" onclick="UpdateIncentive(this,'Update')"><i class="fa fa-refresh fa-spin  loaderClass"></i>Update</button>
                    }
                    @if (ViewBag.PagedAccessRights.UsrrlMsAdd)
                    {
                        <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="UpdateIncentive(this,'Add')"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                    }
                    <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this)" name="reset">Clear</button>
                </div>

            </div>
        </form>

    </div>
</div>


<script src="~/Scripts/jqDOM/searchDOMCreation.js"></script>
<script>
    (function () {
        jQuery("select").selectpicker();

    })();
    $(document).ready(function () {

        $('.DivPro').hide(); $('.DivBillNo').hide();


    });

    function datecheck(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let RegDate = $thisForm.find('[name="TransDate"]').val();

        RegDate = new Date(RegDate);
        RegDate.setHours(0, 0, 0, 0)

        let today = new Date();
        today.setHours(0, 0, 0, 0);

        if (RegDate > today) {
            $thisForm.find('[name="TransDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('Entered date should be less than or equal to Todays date')
            return false;

        }
        else {
            $thisForm.find('[name="TransDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('');
            return true;
        }

    }

    function GetPaymentlists(ele) {
        $('#formGroupModalpayment').modal({ backdrop: 'static', keyboard: false })

        $('#formGroupModalpayment').modal('show');

    }

    function Pamount(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let amtp = $thisForm.find('[name="PAmount"]').val() == "" ? "0" : $thisForm.find('[name="PAmount"]').val();

        $thisForm.find('[name="PAmount"]').val(parseFloat(amtp).toFixed(2))
    }

    function createtable(ele, tkey, uniq = [], tableOptionsTempOut) {


        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let tableKey = tkey;
        let $tblcontainer = $thisForm.find('[perfect-tempTable="' + tableKey + '"]');

        let insertData = {};
        let tableOptionsTemp = tableOptionsTempOut;
        console.log('tableOptionsTemp', tableOptionsTemp)
        let unique = (uniq) ? uniq : [];

        let isValid = true;
        let errorClass = '.temptableError';

        //make index
        console.log('check 1');

        let lastIndex = ($tblcontainer.attr('perfect-tempTable-lastindex')) ? parseInt($tblcontainer.attr('perfect-tempTable-lastindex')) : 0;
        let thisactionIndex = ($tblcontainer.attr('perfect-tempTable-action')) ? parseInt($tblcontainer.attr('perfect-tempTable-action')) : 0;
        let indexname = tkey + 'index';
        tableOptionsTemp.rowAttribute.push(indexname);
        tableOptionsTemp.hideColumn.push(indexname);
        console.log('tableOptionsTemp.rowAttribute', tableOptionsTemp.rowAttribute)
        let updateCond = '';
        let isNew = true;

        if (thisactionIndex > 0) {
            //means update
            insertData[indexname] = thisactionIndex;
            updateCond = '[' + indexname + '="' + thisactionIndex + '"]';
            isNew = false;
        }
        else {
            //insert
            insertData[indexname] = lastIndex + 1;
            $tblcontainer.attr('perfect-tempTable-lastindex', lastIndex + 1);
            isNew = true;
        }
        //
        if (tableKey == 'Warranty') {

            isValid = validwartdetail(ele, tableKey, errorClass, isValid);
        }
        else if (tableKey == 'Payment') {
            isValid = validpaymntdetail(ele, tableKey, errorClass, isValid);
        }
        else if (tableKey == 'Purchase') {
            isValid = validsaledetail(ele, tableKey, errorClass, isValid);
        }

        if (unique.length > 0) {
            //getting previous data
            let prevData = [];
            $tblcontainer.find('table > tbody').find('tr').each(function () {
                if (isNew) {
                    prevData.push($(this).data('pData'));
                }
                else {
                    if (parseInt($(this).attr(indexname)) != thisactionIndex) {
                        prevData.push($(this).data('pData'));
                    }

                }

            })
            console.log('previous data', prevData);

            unique.forEach(function (key, i) {
                console.log('unid -> key:' + key + "| index :" + i);
                let $thisEle = $thisForm.find('[perfect-tempTable-' + tableKey + '="' + key + '"]');
                // let headerEleName = $thisForm.find('[name="lblProName"]').text();
                let atname = $thisEle.attr('name');
                let cvalue;
                console.log('atname', atname);
                console.log('$thisEle.length', $thisEle.length);
                if ($thisEle.length != 0) {
                    console.log('len', $thisEle)
                    let $errorElement = $thisEle.closest('[perfect-class="formGroup"]').find(errorClass);
                    let errmessage = key + " Already exits"

                    //getting current value in cval
                    if ($thisEle.is('select')) {
                        cvalue = $thisEle.val();
                        //alert(cvalue);
                    }
                    else if ($thisEle.is('input')) {

                        let inputEleType = $thisEle.attr('type').toLocaleLowerCase();
                        if (inputEleType == 'checkbox') { cvalue = $thisEle.is(':checked'); }
                        else if (inputEleType == 'hidden') { cvalue = $thisEle.val(); console.log('cvalue ->', cvalue); }
                        else { cvalue = $thisEle.val(); }
                    }
                    else { cvalue = $thisEle.val(); }



                    //searching in previous data
                    if (prevData.find(a => a[atname] == cvalue)) {
                        // console.log('Search =>' + cvalue + '| attr :' + atname)
                        $errorElement.text(errmessage);
                        isValid = false;
                    }
                }
            });

        }

        console.log('isValid', isValid);

        if (isValid) {

            console.log('check 4.1');
            // this section make table column data
            $thisForm.find('[perfect-tempTable-' + tableKey + ']').each(function () {
                let $this = $(this);
                let headerName = $this.attr('perfect-tempTable-' + tableKey);
                let nameAttr = $this.attr('name');
                //console.log('nameAttr', nameAttr);
                console.log('headerName', headerName);

                if ($this.is('select')) {

                    //tableOptionsTemp.renameHeader[nameAttr + '_d'] = headerName;
                    tableOptionsTemp.hideColumn.push(nameAttr)
                    //displat text of select
                    if ($this.val() != null) {
                        let selectText = ($this.val().length == 0) ? '' : $this.children(":selected").text();
                        insertData[nameAttr + '_d'] = selectText;
                    }
                    else {
                        let selectText = ($this.val() == null) ? '' : $this.children(":selected").text();
                        insertData[nameAttr + '_d'] = selectText;
                    }
                    //tableOptionsTemp.onlyShowColumn.push(nameAttr + '_d')
                    insertData[nameAttr] = $this.val();
                    //insertData[nameAttr] = $this.val();

                    $this.val('').selectpicker('refresh');


                }
                else if ($this.is('input')) {

                    insertData[nameAttr] = $this.val();
                    console.log('insertData[nameAttr]', insertData[nameAttr])
                    if (nameAttr == "prodtid") { }
                    else if (nameAttr == "stkid") { }
                    else {
                        $this.val('');
                    }
                }
                else {
                    insertData[nameAttr] = $this.val();

                    $this.val('');
                }

            });
            console.log('check 4.2', insertData);
            console.log('check 4.2 tableoption', tableOptionsTemp);
            if (isNew) {
                console.log('check 4.2.1');
                //this section nake table.table row
                if ($tblcontainer.find('table').length == 0) {
                    console.log('check 4.2.3');
                    console.log(insertData);
                    console.log(',tableOptionsTemp', tableOptionsTemp)
                    $tblcontainer.append(pft_table_createtable([insertData], tableOptionsTemp));

                    //  $tblcontainer.find('table').dataTable({ paging: false, ordering: false });
                }
                else {
                    console.log('check 4.2.1');
                    let table = $tblcontainer.find('table').DataTable()
                    table.destroy()
                    pft_table_addTableRow($tblcontainer.find('table'), insertData, tableOptionsTemp);


                }

            }
            else {

                let table = $tblcontainer.find('table').DataTable()
                table.destroy()

                pft_table_replaceTableRow($tblcontainer.find('table'), updateCond, insertData, tableOptionsTemp);

            }

            console.log(insertData);
            //alert(1);
            // resetting the edit value
            $tblcontainer.attr('perfect-tempTable-action', 0);

            if (tableKey == 'Warranty') {

                BindWarrantyAmount(ele);
            }
            else if (tableKey == 'Payment') {
                BillAmountbind(ele);
            }
            else if (tableKey == 'Purchase') {
                $thisForm.find('[name=prdbtn]').removeAttr("disabled", "disabled")

                $thisForm.data({ pwarranty: warrantydetails });
                console.log('check 123', $thisForm.data('pwarranty'));
                $thisForm.data({ addpImageselect: $thisForm.data('pImageselect') });
                console.log('addpImageselect', $thisForm.data('addpImageselect'))
                BindBilldetails(ele);

            }

        }


        console.log('check 5');
    }

    function productclear(ele, tablekey) {

        let $thisform = $(ele).closest('[perfect-class="form"]');
        $thisform.find('[perfect-temptable-' + tablekey + ']').closest('[perfect-ctype="input"]').val('');
        $thisform.find('[perfect-temptable-' + tablekey + ']').closest('[perfect-ctype="select"]').val('').selectpicker('refresh');
        $thisform.find('[perfect-temptable-' + tablekey + ']').closest('[perfect-ctype="input"]').val('');
        $thisform.find('[perfect-temptable-' + tablekey + ']').closest('[perfect-ctype="date"]').val('');
        $thisform.find('[perfect-temptable-' + tablekey + ']').closest('[perfect-ctype="hidden"]').val('');

        let $tblcontainer = $thisform.find('[perfect-tempTable="' + tablekey + '"]');
        $tblcontainer.attr('perfect-tempTable-action', 0);

        if (tablekey = "Purchase") {
            $thisform.find('[name=prdbtn]').removeAttr("disabled", "disabled")

        }
        else if (tablekey = "Warranty") {

        }
        else if (tablekey = "Payment") {

        }
    }

    function Billttlnetchck(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');

        let balamt = $thisForm.find('[name=BalAmt]').text();


        if (parseFloat(balamt) == 0) {
            $('#formGroupModalpayment').modal('hide');
            $thisForm.find('[perfect-tempTable="Payment"]').closest('[perfect-class="formGroup"]').find('.temptableError').text('');
        }
        else {

            $thisForm.find('[perfect-tempTable="Payment"]').closest('[perfect-class="formGroup"]').find('.temptableError').text('Balance Amt. should be Zero');

        }
    }
    var paytableOptionsTempOut = {
        iconButton: {
            buttons: [

                {
                    icon: "fa fa-pencil btnPerfectGridEdit",
                    action: function () {
                        let savedData = $(this).closest('tr').data('pData')

                        let $tablecontainer = $(this).closest('[perfect-tempTable]');
                        let tableKey = $tablecontainer.attr('perfect-tempTable');
                        let $thisForm = $tablecontainer.closest('[perfect-class="form"]');
                        //index attribute name in table row
                        let indexname = tableKey + 'index';

                        //index number in table row
                        let rindex = $(this).closest('tr').attr(indexname);

                        $tablecontainer.attr('perfect-tempTable-action', rindex);

                        console.log('Editclick', savedData);
                        //filling data in available inputs
                        $thisForm.find('[perfect-tempTable-' + tableKey + ']').each(function () {
                            let $thisNode = $(this);
                            let pf_name = $thisNode.attr('name');
                            if ($thisNode.is('select')) {

                                $thisNode.val(savedData[pf_name]).selectpicker('refresh');

                            }
                            else if ($thisNode.is('input')) {
                                let inputType = $thisNode.attr('type').toLocaleLowerCase();
                                if ($thisNode.attr('type').toLocaleLowerCase() == 'checkbox') {

                                    $thisNode.prop('checked', savedData[pf_name]);
                                }

                                else {

                                    $thisNode.val(savedData[pf_name]);
                                }

                            }
                            else {
                                $thisNode.val(savedData[pf_name]);
                            }


                        });



                    }
                },
                {
                    icon: "fa fa-trash btnPerfectGridDelete",
                    action: function () {
                        let $tablecontainer = $(this).closest('[perfect-tempTable]');
                        let $thistbl = $(this).closest('table');
                        let table = $thistbl.DataTable();
                        table.destroy();
                        if ($(this).closest('tbody').find('tr').length > 1) {
                            $(this).closest('tr').remove();
                            pft_table_slreset($thistbl);
                            //$thistbl.dataTable({ paging: true, searchbtn: false });
                        }
                        else {
                            $thistbl.remove();
                        }
                        BillAmountbind($tablecontainer);
                    }
                },
            ]
        },

        rowAttribute: [],
        onlyShowColumn: ['PAmount', 'Refno', 'PaymentMethod_d'],
        renameHeader: { "PAmount": "Amount1R", "Refno": "Ref No", "PaymentMethod_d": "Method" },
        hideColumn: ['BalAmt'],

        serialNo: true,

    };

    function BillAmountbind(ele) {
        //debugger
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let netamt = "";
        netamt = $thisForm.find('[name="IncNetAmount"]').val() == "" ? "0" : $thisForm.find('[name="IncNetAmount"]').val();

        let billamt = 0;
        let bilamt = 0;

        if ($thisForm.find('[name=BalAmt]').text() == '') {
            bilamt = 0;
        }
        else {
            bilamt = netamt;
        }

        $('#Paymentdethead').find('tbody tr').each(function (index, ele) {
            billamt += parseFloat($(ele).find('.PAmount').text());

        });
        bilamt = parseFloat(bilamt) - billamt;

        $thisForm.find('[name=BalAmt]').text(bilamt.toFixed(2));
        if (bilamt == 0) {

            return true;

        }
        else {

            return false;

        }
    }


    function validpaymntdetail(ele, tableKey, errorClass, isValid) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        if ($thisForm.find('[perfect-tempTable-' + tableKey + '="PaymentMethod"]').val() == 0 || $thisForm.find('[perfect-tempTable-' + tableKey + '="PaymentMethod"]').val() == null) {

            isValid = false;
            console.log('false', $thisForm.find('[perfect-tempTable-' + tableKey + '="PaymentMethod"]').val());
            $thisForm.find('[perfect-tempTable-' + tableKey + '="PaymentMethod"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please Select Payment Method');
        }
        else {
            $thisForm.find('[perfect-tempTable-' + tableKey + '="PaymentMethod"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
        }

        if ($thisForm.find('[perfect-tempTable-' + tableKey + '="PAmount"]').val() < 0) {
            console.log('false', $thisForm.find('[perfect-tempTable-' + tableKey + '="PaymentMethod"]').val());
            isValid = false;

            $thisForm.find('[perfect-tempTable-' + tableKey + '="PAmount"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please enter a value greater than or equal to 0');
        }
        else {

            $thisForm.find('[perfect-tempTable-' + tableKey + '="PAmount"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
        }


        return isValid;

    }

    function UpdateIncentive(ele, actiontype) {

        //debugger
        let blnAmountZero = true;
        let $thisForm = $(ele).closest('[perfect-class="form"]');

        var inctable = $('#incentiveTbody tr.trvalue');
        var incdetails = [];

        if (inctable.length > 0) {
            inctable.each(function () {
               
                if($(this).find('.amt').find('input').val() > 0)
                {
                    if ($(this).find('.paySal').find('input[type="checkbox"]').is(":checked") || $(this).find('.payCash').find('input[type="checkbox"]').is(":checked")) {
                        var ArrInc = {
                            IncTrDetDescription: $(this).find(".module").text(),
                            IncTrDetRemarks: $(this).find(".Description").text(),
                            IncTrDetIncAmount: $(this).find('.amt').find('input').val(),
                            IncTrDetIncPercentage: $(this).find('.perct').find('input').val(),
                            FK_MasterID: $(this).find('.masterId').text(),
                            IncTrDetPayWithSalalry: $(this).find('.paySal').find('input[type="checkbox"]').is(":checked") == true ? "1" : "0",
                            IncTrDetPayAsCash: $(this).find('.payCash').find('input[type="checkbox"]').is(":checked") == true ? "1" : "0",
                            IncTrDetMasterType: $(this).find('.masType').text()
                        };
                        incdetails.push(ArrInc);
                    }
                    else {
                        blnAmountZero = false;
                    }
                }               
                //console.log('par', ArrInc);
            });
        }



        if ($thisForm.valid() && blnAmountZero) {


            var salC = 0;
            var cashC = 0;
            var Checamt = 0;
            var checkPerc = 0;


            $('#incentiveTbody tr').each(function () {
                salC = $(this).find('.paySal').find('input[type="checkbox"]').is(":checked")
                cashC = $(this).find('.payCash').find('input[type="checkbox"]').is(":checked")
                Checamt = $(this).find('.amt').find('input').val();
                checkPerc = $(this).find('.perct').find('input').val();


            });


            if ($thisForm.find('[name="ProjectID"]').val() > 0 || $thisForm.find('[name="Billid"]').val() > 0) {

                //if ((salC || cashC)) {


                    if (datecheck(ele)) {

                        if ($thisForm.find('[name="IncNetAmount"]').val() > 0) {

                            if (BillAmountbind(ele)) {

                                let paymentdetails = [];
                                $thisForm.find('[perfect-tempTable="Payment"]').find('tbody').find('tr').each(function () {
                                    
                                    paymentdetails.push($(this).data('pData'));
                                });
                              

                                var inputData = {
                                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                                    TransMode: IncTransMode,
                                    TransDate: $thisForm.find('[name="TransDate"]').val(),
                                    IncTrType: $thisForm.find('[name="IncModule"]').val(),
                                    FK_Master: ($thisForm.find('[name="IncModule"]').val() == 1 ? $thisForm.find('[name="ProjectID"]').val() : $thisForm.find('[name="Billid"]').val()),
                                    IncTrDividentPercent: $thisForm.find('[name="IncTrDividentPercent"]').val(),
                                    IncTrProfitAmount: $thisForm.find('[name="IncTrProfitAmount"]').val(),
                                    IncTrTotalAmount: $thisForm.find('[name="IncTrTotalAmount"]').val(),
                                    IncNetAmount: $thisForm.find('[name="IncNetAmount"]').val(),
                                    Modoutputs: incdetails,
                                    PaymentDetail: paymentdetails
                                };
                               
                                let _ActionUrl = "";
                                if (actiontype == "Add") { _ActionUrl = "@Url.Action("AddIncentivedata", "Incentive")"; } else { _ActionUrl = "@Url.Action("UpdateIncentivedata", "Incentive")"; }

                                $.ajax({
                                    url: (actiontype == "Add") ? "@Url.Action("AddIncentivedata", "Incentive")" : "@Url.Action("UpdateIncentivedata", "Incentive")",
                                    type: "POST",
                                    data: inputData,
                                    dataType: "json",
                                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                                    success: function (ajaxOutput) {

                                        if (ajaxOutput.Process.IsProcess) {

                                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                                NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                                            });
                                            let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                                            if (onSuccess) {
                                                window[onSuccess]();
                                            }
                                        }
                                        else {
                                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                                            });

                                        }
                                    },
                                    complete: function () {
                                        $(ele).prop('disabled', false);
                                    }

                                });
                            }
                            else {
                                $(ele).prop('disabled', false);
                                NotificationMessage({ 'type': 'error', 'heading': 'Warning', 'message': 'In Payment Method Balance Amt. Should be  Zero ' });

                            }
                        }
                        else
                        {
                            $(ele).prop('disabled', false);
                            NotificationMessage({ 'type': 'error', 'heading': 'info', 'message': 'Please Enter Incentive Detail!!!' });

                        }

                    }
                    else {
                        $(ele).prop('disabled', false);
                        NotificationMessage({ 'type': 'error', 'heading': 'Warning', 'message': 'Trans Date should be less than or equal to Todays date ' });
                    }
                //}
                //else {
                //    $(ele).prop('disabled', false);
                //    NotificationMessage({ 'type': 'error', 'heading': 'Warning', 'message': 'Please Select Pay with Salary or Pay as Cash ' });
                //}
            }
            else {
                $(ele).prop('disabled', false);
                NotificationMessage({ 'type': 'error', 'heading': 'Warning', 'message': 'Please select Reference ' });
            }

        }
        else {
            if (!blnAmountZero) {
                NotificationMessage({ 'type': 'error', 'heading': 'Warning', 'message': 'Choose Pay with Salary or Pay as Cash with an amount greater than 0 !!' });
            }
        }
    }
    function percentCalc(ele) {
        //debugger
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let divPer = 0;
        let totamt = 0;
        let amtElems = 0;
        let Crntrow = $(ele).closest("tr");
        totamt = $thisForm.find('[name="IncTrProfitAmount"]').val() == "" ? "0" : $thisForm.find('[name="IncTrProfitAmount"]').val();
        amtElems = $(ele).val() == "" ? "0" : $(ele).val();
        divPer = (parseFloat(amtElems) * 100) / (parseFloat(totamt));

        Crntrow.find('.perct').find('input').val(divPer.toFixed(2));

        let sumt = 0;
        let amct = 0;

        $('#incentiveTbody tr').each(function () {


            amct = $(this).find('.amt').find('input').val();
            if (typeof amct === undefined ? 0 : amct) {

                sumt = parseFloat(sumt) + parseFloat(amct);
            }

        });

        let billamt = 0;
        let bilamt = 0;

        if (sumt <= totamt) {
            $thisForm.find('[name="IncNetAmount"]').val(parseFloat(sumt).toFixed(2));
            bilamt = Math.abs(sumt);
            $('#Paymentdethead').find('tbody tr').each(function (index, ele) {
                billamt += parseFloat($(ele).find('.PAmount').text());

            });
            bilamt = parseFloat(bilamt) - billamt;

            $thisForm.find('[name=BalAmt]').text(bilamt.toFixed(2));
           
        }
        else {
            NotificationMessage({ 'type': 'Error', 'heading': 'Warning', 'message': 'Amount limit exceeded !!!' });
            Crntrow.find('.perct').find('input').val(0);
            Crntrow.find('.amt').find('input').val(0);
        }

        

        

    }

    function amountCalculation(ele) {

        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let divAmt = 0;
        let divPerc = 0;
        let currentrow = $(ele).closest("tr");
        let perctElems = 0;

        divAmt = $thisForm.find('[name="IncTrProfitAmount"]').val() == "" ? "0" : $thisForm.find('[name="IncTrProfitAmount"]').val();
        perctElems = $(ele).val() == "" ? "0" : $(ele).val();
        divPerc = ((parseFloat(perctElems) / 100) * parseFloat(divAmt));


        currentrow.find('.amt').find('input').val(divPerc.toFixed(2));

        let sum = 0;
        let amc = 0;
        let tot = 0;

        $('#incentiveTbody tr').each(function () {


            amc = $(this).find('.amt').find('input').val();
            if (typeof amc === undefined ? 0 : amc) {

                sum = parseFloat(sum) + parseFloat(amc);
            }

        });

        let billamt = 0;
        let bilamt = 0;

        if (sum <= divAmt) {
            $thisForm.find('[name="IncNetAmount"]').val(parseFloat(sum).toFixed(2));
            bilamt = Math.abs(sum);
            $('#Paymentdethead').find('tbody tr').each(function (index, ele) {
                billamt += parseFloat($(ele).find('.PAmount').text());

            });
            bilamt = parseFloat(bilamt) - billamt;

            $thisForm.find('[name=BalAmt]').text(bilamt.toFixed(2));
        }
        else {
            NotificationMessage({ 'type': 'Error', 'heading': 'Warning', 'message': 'Amount limit exceeded !!' });
            currentrow.find('.perct').find('input').val(0);
            currentrow.find('.amt').find('input').val(0)
        }
        
    }

    function taxcalculation(ele) {

        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let percent = 0;
        let amount = 0;
        let toatlPercent = 0;

        amount = $thisForm.find('[name="IncTrTotalAmount"]').val() == "" ? "0" : $thisForm.find('[name="IncTrTotalAmount"]').val();
        percent = $thisForm.find('[name="IncTrDividentPercent"]').val() == "" ? "0" : $thisForm.find('[name="IncTrDividentPercent"]').val();
        if (parseFloat(percent) > 100) {
            NotificationMessage({ 'type': 'Error', 'heading': 'Warning', 'message': 'Entered value cannot be greater than 100' });
            $thisForm.find('[name="IncTrDividentPercent"]').val(0);
        }
        else {
            toatlPercent = (parseFloat(percent) / 100) * parseFloat(amount);
            $thisForm.find('[name="IncTrProfitAmount"]').val(toatlPercent.toFixed(2));
            //amountCalculation(ele);
            //percentCalc(ele);
        }
        fn_ActiveReadOnly();
    }
        

    function modulechange(ele, value) {
        debugger

        let $thisForm = $(ele).closest('[perfect-class="form"]');

        if (value == '1') {

            $('.DivBillNo').hide();
            $('.DivPro').show();

            if ($thisForm.find('[name="ProjectID"]').val() > 0 || $thisForm.find('[name="Billid"]').val() > 0) {

                LoadAddIncentive();

            }

        }
        else if (value == '2') {
            $('.DivBillNo').show();
            $('.DivPro').hide();
            if ($thisForm.find('[name="ProjectID"]').val() > 0 || $thisForm.find('[name="Billid"]').val() > 0) {

                LoadAddIncentive();

            }
        }
        else {
            NotificationMessage({ 'type': 'info', 'heading': 'info', 'message': 'Please Select Module' });
        }

    }



    function moduleList(ele) {
       // debugger
        let $thisForm = $('[perfect-class="form"]');
        let Pamt = $thisForm.find('[name="IncTrTotalAmount"]').val();
        let Pper = $thisForm.find('[name="IncTrDividentPercent"]').val();
     
    let $moduleContainer = $thisForm.find('[perfect-class="ModuleContainer"]');
    let $tbody = $thisForm.find('[perfect-class="ModuleContainer"]').find('tbody');

    var inputData = {
        'IncModule': $thisForm.find('[name="IncModule"]').val(),
        'FK_Master': $thisForm.find('[name="IncModule"]').val() == 1 ? $thisForm.find('[name="ProjectID"]').val() : $thisForm.find('[name="Billid"]').val(),
    }

    $.ajax({
        url: '@Url.Action("GetDatafill", "Incentive")',
        type: "POST",
        data: inputData,
        dataType: "json",
        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
        success: function (data) {

            document.getElementById('detailCal').style.display ='block' ;

            if (data.Process.IsProcess) {

                let modules = data.Data;
                console.log(modules, 'modOut');
                $("#incentiveTbody tr").remove();
                if (modules) {


                    $.each(modules, function (i, value) {
                        //alert(value);
                        let $thead = $('<th/>', { colspan: 6 }).text(value.Module);
                        $tbody.append($('<tr/>').append($thead));

                        $.each(value.Modoutputs, function (i, values) {

                            console.log('in',i)
                            let rowCount = (i + 1);
                            let $row = $('<tr/>', { id: rowCount, class:"trvalue"});

                            //$row.append($('<td>'))
                            $row.append($('<td>', { class: "module", style: "display:none" }).text(values.IncTrDetDescription))

                                .append($('<td>', { class: "Party" }).text(values.Party))
                                .append($('<td>', { class: "masterId", style: "display:none" }).text(values.FK_MasterID))
                                .append($('<td>', { class: "masType",  style: "display:none" }).text(values.MasterType))
                                .append($('<td>', { class: "Description" }).text(values.IncTrDetRemarks))
                                .append($('<td>', { class: "perct" }).html(
                                    $('<input/>', { type: 'text', class: 'form-control text-right', min: '0', maxlength: '6', max: '100', name: 'insPers', id: 'insP' })
                                        .val(values.IncTrDetIncPercentage)
                                        .keypress(function () { return isNumberKey(event) })
                                        .on('change', function () {
                                            if (parseInt($(this).val()) > 100) {
                                                NotificationMessage({ 'type': 'Error', 'heading': 'Warning', 'message': 'Entered value cannot be greater than 100' });
                                                $(this).val(''); // clear the input field
                                            } else {
                                                amountCalculation(this);
                                            }
                                        })
                                        .on('input', function () {
                                            decimalpnt(this, 'IncTrDetIncPercentage', 3)
                                        })
                                ))
                                .append($('<td>', { class: "amt" }).html(
                                    $('<input/>', { type: 'text', class: 'form-control text-right', min: '0', maxlength: '12', name: "amount", id: "Iamount" })
                                        .val(values.IncTrDetIncAmount)
                                        .keypress(function () { return isNumberKey(event) })
                                        .on('change', function () {
                                            percentCalc(this);
                                        })
                                        .on('input', function () {
                                            decimalpnt(this, 'IncTrDetIncAmount', 3)
                                        })


                                ))
                                .append($('<td>', { class: "paySal" }).html(
                                    $('<input />', { type: 'checkbox', name: 'IncTrDetPayWithSalalry', 'perfect-class': 'formCheckInput', 'perfect-ctype': "checkbox", class: (values.MasterType == 0) ? "" : "checkdispNone" })
                                        .val(values.IncTrDetPayWithSalalry)
                                        .on('change', function () {
                                            var $payCashCheckbox = $(this).closest('tr').find('.payCash input[type="checkbox"]');
                                            console.log('$payCashCheckbox', $payCashCheckbox)
                                            if ($(this).is(':checked')) {
                                                $payCashCheckbox.prop('disabled', true);
                                            }
                                            else {
                                                $payCashCheckbox.prop('disabled', false);
                                            }
                                        })
                                ))
                                .append($('<td>', { class: "payCash" }).html(
                                    $('<input />', { type: 'checkbox',  name: 'IncTrDetPayAsCash', 'perfect-class': 'formCheckInput', 'perfect-ctype': "checkbox" })
                                        .val(values.IncTrDetPayAsCash)
                                        .on('change', function () {
                                            var $paySalCheckbox = $(this).closest('tr').find('.paySal input[type="checkbox"]');
                                            if ($(this).is(':checked')) {
                                                $paySalCheckbox.prop('disabled', true);
                                            }
                                            else {
                                                $paySalCheckbox.prop('disabled', false);
                                            }
                                        })
                                ))

                            $tbody.append($row);

                        });


                    });
                    fn_ActiveReadOnly();
                }
                else {
                    $filldata += "<tr id='0'><td class='norecord'colspan='5' style'text-align:center'>No Records..</td></tr>";
                }

            } else {
                console.error(data.Process.Message);
            }
        },
    });
    }

    function ResetButton(ele) {
        LoadAddIncentive();
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 46 || charCode > 57))
            return false;

        return true;
    }

    function decimalpnt(ele, id, range) {

        let input = $('#' + id);
        ele.value = ele.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
        let t = ele.value;
        ele.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), range)) : t;
        input.on('keydown', function () {
            if (ele.value.includes('.')) {

            }
            var key = event.keyCode || event.charCode;
            if (key == 8 || key == 46) { }
            else {
                if (ele.value.length == 9) {
                    ele.value = ele.value + '.';
                }
            }

        });

    }
    function fillTableSales(ele, tkey, data, tableOptionsTempOut) {

        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let tableOptionsTempfill = tableOptionsTempOut;
        let insertData = []
        let tableKey = tkey;
        let indexname = tkey + 'index';
        tableOptionsTempfill.rowAttribute.push(indexname);
        tableOptionsTempfill.hideColumn.push(indexname);
        let $tblcontainer = $thisForm.find('[perfect-tempTable="' + tableKey + '"]');
        $.each(data, function (keyOne, valOne) {

            let pData = {};

            pData[indexname] = keyOne + 1;
            $tblcontainer.attr('perfect-tempTable-lastindex', pData[indexname])
            //---

            $thisForm.find('[perfect-tempTable-' + tableKey + ']').each(function () {
                let $this = $(this);
                let headerName = $this.attr('perfect-tempTable-' + tableKey);
                let nameAttr = $this.attr('name');
                //console.log('tfhyrtname', nameAttr)
                if (typeof valOne[nameAttr] !== undefined) {

                    if ($this.is('select')) {
                        // tableOptionsTempfill.renameHeader[nameAttr + '_d'] = headerName;
                        tableOptionsTempfill.hideColumn.push(nameAttr);
                        //displat text of select
                        pData[nameAttr + '_d'] = $this.find('[value="' + valOne[nameAttr] + '"]').text();
                        pData[nameAttr] = valOne[nameAttr];
                        console.log('select', $this.find('options[value="' + valOne[nameAttr] + '"]').text());

                    }
                    else if ($this.is('input')) {

                        let inputType = $this.attr('type').toLocaleLowerCase();
                        console.log(inputType)


                        if (inputType == 'date') {

                            if (valOne[nameAttr] == null) {
                                pData[nameAttr] = valOne[nameAttr];
                            }
                            else {
                                pData[nameAttr] = moment(valOne[nameAttr]).format('YYYY-MM-DD');
                            }


                        }
                        else {
                            pData[nameAttr] = valOne[nameAttr];


                        }
                    }
                    else {
                        pData[nameAttr] = valOne[nameAttr];


                    }
                }



            });

            insertData.push(pData);


            //----

        });
        $tblcontainer.empty();
        $tblcontainer.append(pft_table_createtable(insertData, tableOptionsTempfill));
        // $tblcontainer.find('table').dataTable({ paging: true });

    }

    function fn_BindEditRow(ele, dataTemp,incM) {

        debugger

        let $thisForm = $('[perfect-class="form"]');

        //console.log('$thisForm', $thisForm);

        incM == 1 ? $('.DivPro').show() : $('.DivBillNo').show(); 
        

        let $tbodys = $thisForm.find('[perfect-class="ModuleContainer"]').find('tbody');
        //console.log('a',$tbodys)
        document.getElementById('detailCal').style.display = 'block';

        let $filldatas;

        if (dataTemp) {
            //debugger
            $.each(dataTemp, function (j,evalue) {

                let $theads = $('<th/>', { colspan: 6 }).text(evalue.Module);
                //console.log("data", $theads)

                $tbodys.append($('<tr/>').append($theads));
                //console.log($tbodys.html())

                $.each(evalue.Modoutputs, function (n, bvalues) {
                    //console.log("n", bvalues)
                    //debugger
                    let rowCounts = (n + 1);
                    let $rows = $('<tr/>', { id: rowCounts });

                   $rows.append($('<td>', { class: "module", style: "display:none" }).text(bvalues.IncTrDetDescription))
                        .append($('<td>', { class: "Party" }).text(bvalues.Party))
                        .append($('<td>', { class: "masterId", style: "display:none" }).text(bvalues.FK_MasterID))
                        .append($('<td>', { class: "masType", style: "display:none" }).text(bvalues.MasterType))
                        .append($('<td>', { class: "Description" }).text(bvalues.IncTrDetRemarks))
                        .append($('<td>', { class: "perct" }).html(
                            $('<input/>', { type: 'text', class: 'form-control text-right', min: '0', maxlength: '12', name: 'insPers', id: 'insP',readonly:'true' })
                                .val(bvalues.IncTrDetIncPercentage)
                                //.keypress(function () { return isNumberKey(event) })
                                //.on('change', function () {
                                //    amountCalculation(this);

                                //})
                        ))
                        .append($('<td>', { class: "amt" }).html(
                            $('<input/>', { type: 'text', class: 'form-control text-right', min: '0', maxlength: '12', name: "amount", id: "Iamount", readonly: 'true' })
                                .val(bvalues.IncTrDetIncAmount)
                                //.keypress(function () { return isNumberKey(event) })
                                //.on('change', function () {
                                //    percentCalc(this);
                                //})


                        ))
                        .append($('<td>', { class: "paySal" }).html(
                            $('<input />', { type: 'checkbox', name: 'IncTrDetPayWithSalalry', 'perfect-class': 'formCheckInput', 'perfect-ctype': "checkbox", class: (bvalues.MasterType == 0) ? "" : "checkdispNone", disabled: 'true', checked: bvalues.IncTrDetPayWithSalalry })
                                .val(bvalues.IncTrDetPayWithSalalry)
                                //.on('change', function () {
                                //    var $payCashCheckbox = $(this).closest('tr').find('.payCash input[type="checkbox"]');
                                //    console.log('$payCashCheckbox', $payCashCheckbox)
                                //    if ($(this).is(':checked')) {
                                //        $payCashCheckbox.prop('disabled', true);
                                //    }
                                //    else {
                                //        $payCashCheckbox.prop('disabled', false);
                                //    }
                                //})
                        ))
                        .append($('<td>', { class: "payCash" }).html(
                            $('<input />', { type: 'checkbox', name: 'IncTrDetPayAsCash', 'perfect-class': 'formCheckInput', 'perfect-ctype': "checkbox", disabled: 'true', checked: bvalues.IncTrDetPayAsCash })
                                .val(bvalues.IncTrDetPayAsCash)
                                //.on('change', function () {
                                //    var $paySalCheckbox = $(this).closest('tr').find('.paySal input[type="checkbox"]');
                                //    if ($(this).is(':checked')) {
                                //        $paySalCheckbox.prop('disabled', true);
                                //    }
                                //    else {
                                //        $paySalCheckbox.prop('disabled', false);
                                //    }
                                //})
                        ))

                    $tbodys.append($rows);

                });
            });
        }
         else {
            $tbodys.append("<tr id='0'><td class='norecord'colspan='5' style'text-align:center'>No Records..</td></tr>");
         }
    }

    function getfunction(ele) {
        //debugger
        let $thisForm = $(ele).closest('[perfect-class="form"]');

        if ($thisForm.find('[name="IncModule"]').val() == 2) {
            $thisForm.find('[name="Billid"]').val($thisForm.data('popValueData').ID_FIELD);
        }
        moduleList(this);
       
    }
    
    function fn_ActiveReadOnly() {       
        if (parseFloat($("#IncTrTotalAmount").val()) > 0 && parseFloat($("#IncTrDividentPercent").val()) > 0) {          
            $('#incentiveTbody tr').each(function () {
                $(this).find('.perct').find('input').removeAttr('disabled');
                $(this).find('.amt').find('input').removeAttr('disabled');
            });
        }
        else {         
            $('#incentiveTbody tr').each(function () {
                $(this).find('.perct').find('input').attr('disabled', true);
                $(this).find('.amt').find('input').attr('disabled', true);
            });
        }
       
    }
</script>