@model PerfectWebERP.Models.ViewModel.SampleCustomerView

<div class="card ">

    <div class="card-header">
        <h4 class="card-title col-12">Customer Sample form</h4>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            <div class="">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Customer Name</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control perfectValidate_string" placeholder="" name="CustomerName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                            </div>
                        </div>
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel"> Customer Date</span>
                                <span class="text-danger">*</span>

                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control perfectValidate_date" name="CustomerDate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date" />
                            </div>
                        </div>
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">District</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control " name="District" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                    <input type="hidden" name="DistrictID" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                    <div class="input-group-append">
                                        <button id="addCustomer-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="getDistrict(this)"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Phone</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8 ">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fa fa-phone"></span>
                                    </div>
                                    <input type="text" class="form-control perfectValidate_mobile " placeholder="" name="Phone" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                                </div>
                                @*<input type="text" class="form-control perfectValidate_number " placeholder="212-999-0000" name="Phone" />*@

                            </div>
                        </div>
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel"> Date of Birth</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control perfectValidate_date" name="DateOfBirth" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Customer Title</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string" name="CustomerTitle" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                    <option value="">Please select</option>
                                    @if (!(Model.CustomerTitlesList is null))
                                    {
                                        foreach (var customerTitle in Model.CustomerTitlesList)
                                        {
                                            <option value="@customerTitle.CustomerTitleName">@customerTitle.CustomerTitleName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Place</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string" name="PlaceID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" perfect-selectButton="Button Nsssame" perfect-selectButtonAction="testing">
                                    <option value="">Please select</option>
                                    @if (!(Model.PlaceList is null))
                                    {
                                        foreach (var placeList in Model.PlaceList)
                                        {
                                            <option value="@placeList.PlaceID">@placeList.PlaceName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">State</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string" name="StateID" perfect-selectButton="Button Name" perfect-selectButtonAction="testing" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                    <option value="">Please select</option>
                                    @foreach (var stateList in Model.StateList)
                                    {
                                        <option value="@stateList.StateID">@stateList.StateName</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label" for="">
                                <span perfect-class="formGroupLabel">Checkbox inline</span> <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-6">
                                <div class="form-check form-check-inline" perfect-class="formCheck">
                                    <label class="form-check-label" perfect-class="formCheckLabel">
                                        <input type="checkbox" class="form-check-input perfectValidate_checkbox" value="1" name="checkboxname" perfect-class="formCheckInput" perfect-ctype="checkbox" perfect-css="checkbox"><span perfect-class="formCheckInputText">Option 1</span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline" perfect-class="formCheck">
                                    <label class="form-check-label" perfect-class="formCheckLabel">
                                        <input type="checkbox" class="form-check-input perfectValidate_checkbox" value="2" name="checkboxname" perfect-class="formCheckInput" perfect-ctype="checkbox" perfect-css="checkbox"><span perfect-class="formCheckInputText">Option 2</span>
                                    </label>
                                </div>
                                <div class="form-check form-check-inline" perfect-class="formCheck">
                                    <label class="form-check-label" perfect-class="formCheckLabel">
                                        <input type="checkbox" class="form-check-input perfectValidate_checkbox" value="3" name="checkboxname" perfect-class="formCheckInput" perfect-ctype="checkbox" perfect-css="checkbox"><span perfect-class="formCheckInputText">Option 3</span>
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label" perfectClass="formGroupLabel">
                                <span perfect-class="formGroupLabel">Mobile</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control perfectValidate_phone" placeholder="" name="Mobile" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="input" />
                            </div>
                        </div>
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <a href="javascript:void()" perfectClass="formGroupLabel">Terms &amp; Conditions</a> <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <label class="css-control css-control-primary css-checkbox" for="" perfect-class="formCheckLabel">
                                    <input type="checkbox" class="css-control-input mr-2"
                                           id="val-terms" name="val-terms" value="1" perfect-class="formCheckInput" perfect-ctype="checkbox" perfect-css="checkbox">
                                    <span class="css-control-indicator"></span> <span perfect-class="formCheckInputText">I agree to the terms</span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="card-footer text-right" perfect-class="formFooter">
                @*<button id="" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserUpdate d-none" name="update" perfect-css="button"><i class="fa fa-refresh fa-spin  loaderClass"></i>Update</button>*@
                <button id="" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" perfect-ctype="addButton"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this)" name="reset">Clear</button>
            </div>
        </form>
    </div>


</div>


<script>
    (function () {
        jQuery('form').validate();//<-----  Validate/initialize our form on page load
        jQuery('select').selectpicker();
    })();

    $('[perfect-ctype=addButton]').on("click", function () {

        let $thisForm = $(this).closest('[perfect-class="form"]');

        if ($thisForm.valid()) {

            let inputData = {
                CustomerID: 0,
                CustomerName: $thisForm.find('[name=CustomerName]').val().trim(),
                CustomerTitleID: $thisForm.find('[name=CustomerTitleID]').val().trim(),
                CustomerDate: $thisForm.find('[name=CustomerDate]').val().trim(),
                PlaceID: $thisForm.find('[name=PlaceID]').val().trim(),
                DistrictID: $thisForm.find('[name=DistrictID]').val().trim(),
                StateID: $thisForm.find('[name=StateID]').val().trim(),
                Phone: $thisForm.find('[name=Phone]').val().trim(),
                Mobile: $thisForm.find('[name=Mobile]').val().trim(),
                DateOfBirth: $thisForm.find('[name=DateOfBirth]').val().trim()
            }


            console.log("Input data",inputData)

                $.ajax({
                 url: '@Url.Action("AddNewCustomerDetails", "Sample")',//<----- Controller URL : url path in our controller eq: /Home/InsertSampleData or http://localhost:64212/Home/InsertSampleData
                type: "POST",
                 // headers: { "token_key": "1234" },
                 data: JSON.stringify(inputData),//<---- Input json : data passed to controller
                dataType: "json",
                contentType: "application/json",
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {
                        
                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                        });

                },


            });

        }



    });

    function getDistrict(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');

               //console.log("Input data",inputData)

                $.ajax({
                 url: '@Url.Action("GetDistrict", "Sample")',//<----- Controller URL : url path in our controller eq: /Home/InsertSampleData or http://localhost:64212/Home/InsertSampleData
                type: "GET",
                 // headers: { "token_key": "1234" },
                 //data: JSON.stringify(inputData),//<---- Input json : data passed to controller
                dataType: "json",
                contentType: "application/json",
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {
                       // console.log("Data", data);

                        if (ajaxOutput.Process.IsProcess) {
                            var districtModel = createSelectList({ data: ajaxOutput.Data, hideColumn: ['DistrictID'] });
                            districtModel.then(function (ret) {
                                if (ret) {
                                    console.log('>_ Search button > list click', ret);
                                    $thisForm.find('[name=DistrictID]').val(ret.DistrictID);
                                    $thisForm.find('[name=District]').val(ret.DistrictName);
                                }
                                else {
                                    console.log(ret);
                                }
                            });
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }



                   

                },


            });


    }

</script>


