 
<style>

</style>


@model PerfectWebERP.Models.ProductionStockListModel.ProductionStockListModelView
<div class="card ">

    <div class="card-header">
        <div class="col-xl-4">
            <h4 class="card-title col-12">@ViewBag.PageTitle</h4>
        </div>


    </div>

    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">

            @Html.AntiForgeryToken()
            <div class="row">


                <div class="col-sm-3">
                    <div class="form-group " perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Product</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="input-group">
                            <span perfect-class="formGroupLabel"></span>
                            <input type="text" class="form-control ProdNameF exptbttontoogle" name="ProdName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" onchange="exportbuttonhide()" />
                            <input type="hidden" name="FK_Product" perfect-class="formGroupControl" class="form-control perfectValidate_numeric" perfect-ctype="hidden" perfect-css="input" />

                            <div class="input-group-append">

                                <button id="addProduct-jq-searchButton3" class="btn btn-primary fa fa-search " name="Product" type="button" perfect-css="button" onclick="GetCmnPopUpSearchValAssign(this,165,'Product Details',[],['FK_Product'])" Criterea1="0" Criterea2="0" BindName="ProdName" BindVal="FK_Product"></button>
                            </div>


                        </div>



                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Quantity</span>
                            <span class="text-danger">*</span>
                        </label>
                        <input type="text" class="form-control perfectValidate_numeric" name="Quantity" id="Quantity" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" oninput="decimalpnt(this,'Quantity',0)" maxlength="12" onchange="Valuereset(this)" />
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Delivery Date</span>

                        </label>

                        <input type="date" class="form-control" name="DeliveryDate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date" />
                    </div>
                </div>

                <div class="col-sm-3">
                    <div class="form-group row" perfect-class="formGroup" style="padding-top:30px">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">&nbsp;&nbsp;&nbsp;</span>
                        </label>
                        <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary" name="Search" perfect-css="button" onclick="fn_Searchby(this);"><i class="fa fa-refresh fa-spin loaderClass "></i>Search</button>

                        &nbsp;&nbsp;&nbsp;<button type="button" id="clear" class="btn btn-light1" perfect-css="button" onclick="CleardetailsTab(this)">Clear</button>

                    </div>
                </div>
            </div>







            <br />

            <div class="row">
                <div class="col-xl-12">

                    <div class="default-tab">
                        <ul class="nav nav-tabs" role="tablist">

                            <li class="nav-item">
                                <a class="nav-link active" id="Productionanalysis" data-toggle="tab" href="#home" onclick="fn_Searchby(this)"><i class="las la-tasks  mr-2"></i> Production Analysis &nbsp;&nbsp; </a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="ProductionStatus" data-toggle="tab" href="#profile" onclick="gridProductionStatus(this)"><i class="las la-exclamation mr-2"></i> Production Status &nbsp;&nbsp;</a>
                            </li>

                        </ul>
                        <div class="card-body">
                            <div class="row">
                                <div class="tab-content">
                                    <div class="tab-pane fade active show" id="Analysis" role="tabpanel">
                                        <br />
                                        <div class="card-body">
                                            <div class="row">


                                                <div class="tableFixHead igf">
                                                    <div class="table-responsive-xl" perfect-tempTable="AnalysisDetails" id="Analysistableid">



                                                        <table class="table table-responsive-xl" id="Analysisdetailsid">
                                                            <thead class="thead btn-primary" style="width:150px" id="Analysis">


                                                                <tr>
                                                                    <th scope="col" style="text-align:center">SlNo</th>
                                                                    <th scope="col" style="text-align:left">Stage</th>
                                                                    <th scope="col" style="text-align:left">Material</th>
                                                                    <th scope="col" style="text-align:right">Required</th>
                                                                    <th scope="col" style="text-align:right">Amount</th>
                                                                    <th scope="col" style="text-align:right">Current Stock</th>
                                                                    <th scope="col" style="text-align:right">Availabe Stock</th>





                                                                </tr>



                                                            <tbody id="GridAnalysisdetailsbody">

                                                                <tr id="0">
                                                                    <td style="text-align:center;" colspan="9">No Records..</td>
                                                                </tr>

                                                            </tbody>



                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="tb1">
                                                    &nbsp;&nbsp; <table class="table table-responsive-xl" id="AnalysisSection2detailsids">
                                                        <thead class="thead btn-primary" id="AnalysisSection2">
                                                            <tr></tr>
                                                        <tbody id="AnalysisSection2details">
                                                            <tr id="0">
                                                                <td style="text-align:center;" colspan="9"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="AnalysisSection2Status">
                                        <br />
                                        <div class="card-body">
                                            <div class="row">


                                                <div class="tableFixHead igf">
                                                    <div class="table-responsive-lg" perfect-tempTable="ProductioStatusDetails" id="ProductioStatustableid">



                                                        <table class="table table-responsive-xl" id="ProductioStatusdetailsid">
                                                            <thead class="thead btn-primary" style="width:150px" id="ProductioStatushead">


                                                                <tr>
                                                                    <th scope="col" style="text-align:center">Sl.No</th>
                                                                    <th scope="col" style="text-align:center">Job Card No</th>
                                                                    <th scope="col" style="text-align:center">Remarks</th>

                                                                    <th scope="col" style="text-align:right">Quantity</th>
                                                                    <th scope="col" style="text-align:center">Stage</th>
                                                                    <th scope="col" style="text-align:center">Remaining Period</th>
                                                                    <th scope="col" style="text-align:center">Completion Date</th>




                                                                </tr>



                                                            <tbody id="GridProductioStatusdetailsbody">

                                                                <tr id="0">
                                                                    <td style="text-align:center;" colspan="9">No Records..</td>
                                                                </tr>

                                                            </tbody>



                                                        </table>
                                                    </div>
                                                </div>

                                                <div class="tb2">
                                                    &nbsp;&nbsp; <table class="table table-responsive-xl" id="StatusSection2detailsids">
                                                        <thead class="thead btn-primary" id="StatusSection2">
                                                            <tr></tr>
                                                        <tbody id="StatusSectiondetails">
                                                            <tr id="0">
                                                                <td style="text-align:center;" colspan="9"></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </div>
                                                <div class="tab-pane fade" id="message">
                                                    <br />
                                                    <div class="row">

                                                        <div class="table-responsive col-md-12 SearchLoadDiv" name="SearchLoadDiv"></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>



    </div>
</div>

<script>



    function CleardetailsTab() {

        ProductionStocklistInitialLoad();
    }
    function decimalpnt(ele, id, range) {
        debugger
        let input = $('#' + id);

        ele.value = ele.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
        let t = ele.value;
        ele.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), range)) : t;

        $(document).on('keydown', '#' + id, function (event) {

            if (ele.value.includes('.')) {

            }
            else if (ele.value === '.' && (event.key === '.' || event.keyCode === 190)) {
                ele.value = '0.00'; // Change the value to '0.00' if only a dot is entered
                // Prevent the dot from being entered in the input field
            }
            var key = event.keyCode || event.charCode;
            if (key == 8 || key == 46) { }
            else {
                if (ele.value.indexOf('.') < 0 && ele.value.indexOf('.') !== 9 && ele.value.length > 8) {
                    ele.value = ele.value + '.';
                }
            }

        });

    }
    function Valuereset(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let qtyvalu = $thisForm.find('[name=Quantity]').val();
        if (qtyvalu <= 0 || qtyvalu == '' || qtyvalu == undefined) {

            $thisForm.find('[name=Quantity]').val(1);

        }
        else {
            $thisForm.find('[name=Quantity]').val();
        }
    }
    function fn_Searchby(ele)
     {
          let $thisForm = $(ele).closest('[perfect-class="form"]');
          debugger
           $('#Analysistableid').show();
           $('#Analysisdetailsid').show();
        $('#AnalysisSection2details').show();
        $('#ProductioStatusdetailsid').hide();
        $('#ProductioStatustableid').hide();
        
        $('#StatusSectiondetails').hide();
        if ($thisForm.valid()) {

            var obj = {
                DeliveryDate: $thisForm.find('[name=DeliveryDate]').val(),
                FK_Product: $thisForm.find('[name=FK_Product]').val(),
                Quantity: $thisForm.find('[name=Quantity]').val()

            }

            $.ajax({
                url: "@Url.Action("GetAnalysisreportdetail", "ProductionStockList")",
                type: "GET",
                data: obj,
                dataType: "json",
                contentType: "application/json",
                success: function (ajaxOutput) {
                    console.log('out:', ajaxOutput.data)
                    if (ajaxOutput.Process.IsProcess) {

                        debugger

                        document.querySelector('.tb1').style.display = 'block';

                        var CheckListHTML = '';

                        if (ajaxOutput.Data.length > 0) {
                            $('#Analysistableid').show();
                            $('#Analysisdetailsid').show();

                            Data = ajaxOutput.Data;

                            $.each(ajaxOutput.Data, function (i, value) {
                           
                                if (parseFloat(value.RequiredQuantity) > parseFloat(value.AvaliableStock)) {
                                    CheckListHTML += "<tr style='color: red;'>";
                                }
                                else {
                                    CheckListHTML += "<tr>";
                                }

                                CheckListHTML += "<td  Class='jq_slnoanalysis_td' style='text-align:center'>" + value.SlNo + "</td>";
                                CheckListHTML += "<td  Class='jq_stageanalysis_td' style='text-align:left width:20px'>" + value.Stage + "</td>";

                                CheckListHTML += "<td Class='jq_Materialsanalysis_td' style='text-align:center width:20px'>" + value.Material + "</td>";
                                CheckListHTML += "<td class='jq_Requiredanalysis_td' style='text-align:right'>" + value.RequiredQuantity + "</td>";

                                CheckListHTML += "<td class='jq_Amountanalysis_td' style='text-align:right;'>" + value.Amount + "</td>";
                                CheckListHTML += "<td class='jq_CurrentStockanalysis_td' style='text-align:right;'>" + value.CurrentStock + "</td>";
                                CheckListHTML += "<td class='jq_AvailableStockanalysis_td' style='text-align:right;'>" + value.AvaliableStock + "</td>";

                                CheckListHTML += "</tr>";

                            });


                            fn_tabonesubsection(ele);

                        }
                        else {
                            $('#Analysistableid').show();
                            CheckListHTML += "<div class='form-group col-md-6'>";
                            CheckListHTML += "<div class='form-check mb-2'>";
                            CheckListHTML += "<label class='form-check-label' for='check1'>No Records...</label>";
                            CheckListHTML += "</div></div>"
                        }
                        $("#GridAnalysisdetailsbody").html(CheckListHTML);




                    }

                    else {


                        $('.tb1').hide();
                        $("#GridAnalysisdetailsbody").html('');

                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': 'No Data Found' });
                        });
                    }
                }

            });




        }
        else {

        }



    }
    function fn_tabonesubsection(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        debugger
        $('#Analysistableid').show();
        $('#Analysisdetailsid').show();
        $('#AnalysisSection2details').show();
        $('#ProductioStatusdetailsid').hide();
        $('#ProductioStatustableid').hide();

        $('#StatusSectiondetails').hide();
        if ($thisForm.valid()) {

            var obj = {
                DeliveryDate: $thisForm.find('[name=DeliveryDate]').val(),
                FK_Product: $thisForm.find('[name=FK_Product]').val(),
                Quantity: $thisForm.find('[name=Quantity]').val()

            }

            $.ajax({
                url: "@Url.Action("GetAnalysisreportsubsectiondetail", "ProductionStockList")",
                type: "GET",
                data: obj,
                dataType: "json",
                contentType: "application/json",
                success: function (ajaxOutput) {
                    console.log('out:', ajaxOutput)
                    if (ajaxOutput.Process) {
                        if (ajaxOutput.Data.length > 0) {

                            $('#AnalysisSection2details').show();

                            var CheckListHTML1 = '';
                            $.each(ajaxOutput.Data, function (i, value) {

                                let rowCount = (i + 1);

                                CheckListHTML1 += "<tr>";
                                CheckListHTML1 += "</tr>";
                                CheckListHTML1 += "<tr>";
                                CheckListHTML1 += "</tr>";
                                CheckListHTML1 += "<tr>";
                                CheckListHTML1 += "</tr>";
                                CheckListHTML1 += "<tr>";
                                CheckListHTML1 += "<th style='text-align:left;paddingright:20px'>" + "Total Material Cost" + "</th>";
                                CheckListHTML1 += "<td type='text' Class='jq_materialcost_td' style='text-align:left;font-weight:bold'>" + value.TotalMaterialCost + "</td>";
                                CheckListHTML1 += "<th  style=text-align:left;>" + "Expected Delivery Date" + "</th>";
                                CheckListHTML1 += "<td  Class='jq_expdeliverydate_td' style='text-align:left;font-weight:bold'>" + value.ExpectedDeliveryDate + "</td>";
                                CheckListHTML1 += "</tr>";
                                CheckListHTML1 += "<tr>";
                                CheckListHTML1 += "<th style=text-align:left;>" + "ToTal Resource Cost" + "</td>";
                                CheckListHTML1 += "<td  Class='jq_resourcecost_td' style='text-align:left;font-weight:bold'>" + value.TotalResourceCost + "</td>";
                                CheckListHTML1 += "<th style=text-align:left;>" + "Total Duration" + "</th>";
                                CheckListHTML1 += "<td  Class='jq_totalduration_td' style='text-align:left;font-weight:bold'>" + value.TotalDuration + "</td>";
                                CheckListHTML1 += "</tr>";
                                CheckListHTML1 += "<tr>";
                                CheckListHTML1 += "<th style=text-align:left;>" + "Total Production Cost" + "</th>";
                                CheckListHTML1 += "<td  Class='jq_totalproductioncost_td' style='text-align:left;font-weight:bold'>" + value.TotalProductionCost + "</td>";

                                CheckListHTML1 += "<th>" + '' + "</th>";
                                CheckListHTML1 += "<td>" + '' + "</td>";
                                CheckListHTML1 += "</tr>";
                                CheckListHTML1 += "<tr>";
                                CheckListHTML1 += "<th style=text-align:left;>" + "Sales Price" + "</th>";
                                CheckListHTML1 += "<td  Class='jq_salesprice_td' style='text-align:left;font-weight:bold'>" + value.SalesPrice + "</td>";
                                CheckListHTML1 += "<th>" + '' + "</th>";
                                CheckListHTML1 += "<td>" + '' + "</td>";
                                CheckListHTML1 += "</tr>";

                            });

                            $("#AnalysisSection2details").html(CheckListHTML1)
                        }
                        else {
                            $('#Analysistableid').show();
                            CheckListHTML += "<div class='form-group col-md-6'>";
                            CheckListHTML += "<div class='form-check mb-2'>";
                           CheckListHTML += "<label class='form-check-label' for='check1'>No Records...</label>";
                            CheckListHTML += "</div></div>"
                        }
                    }

                    else {


                        $('.tb1').hide();


                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': 'No Data Found' });
                        });
                    }
                }

            });




        }
        else {

        }



    }






    function gridProductionStatus(ele)
     {
          let $thisForm = $(ele).closest('[perfect-class="form"]');
        debugger
        $('#Analysistableid').hide();
        $('#Analysisdetailsid').hide();
        $('#AnalysisSection2details').hide();
        $('#ProductioStatusdetailsid').show();
        $('#ProductioStatustableid').show();
        $('#AnalysisSection2Status').show();
        $('#StatusSectiondetails').show();
        if ($thisForm.valid()) {

              var obj = {
                  DeliveryDate: $thisForm.find('[name=DeliveryDate]').val(),
                  FK_Product: $thisForm.find('[name=FK_Product]').val(),
                  Quantity: $thisForm.find('[name=Quantity]').val()

              }




                $.ajax({
                    url: "@Url.Action("GetProductionStatusdetial", "ProductionStockList")",
                    type: "GET",
                    data: obj,
                    dataType: "json",
                    contentType: "application/json",
                    success: function (ajaxOutput) {
                        console.log('out:',ajaxOutput)
                        if (ajaxOutput.Process.IsProcess) {


                            var CheckListHTML = '';

                            if (ajaxOutput.Data.length > 0) {

                                Data = ajaxOutput.Data;

                                $.each(ajaxOutput.Data, function (i, value) {
                                    let rowCount = (i + 1);


                                    CheckListHTML += "<tr>";

                                    CheckListHTML += "<td  Class='jq_slno_td' style='text-align:center'>" + value.SlNo + "</td>";
                                    CheckListHTML += "<td  Class='jq_jobcardno_td' style='text-align:center'>" + value.JobCardNo + "</td>";
                                    CheckListHTML += "<td class='jq_remarksproduction_td' style='text-align:center;font-weight:bold'>" + value.Remark + "</td>";
                                    CheckListHTML += "<td class='jq_quantity_td' style='text-align:right;'>" + value.Quantity + "</td>";
                                    CheckListHTML += "<td  Class='jq_stage_td' style='text-align:center;'>" + value.Stage + "</td>";
                                    CheckListHTML += "<td class='jq_remainingperiod_td' style='text-align:center;'>" + value.RemainingPeriod + "</td>";

                                    CheckListHTML += "<td class='jq_completiondate_td' style='text-align:center;'>" + value.CompletionDate + "</td>";

                                    CheckListHTML += "</tr>";





                                });

                                fn_tabonesubstatussection(ele);


                            }
                            else {
                                $('#GridProductioStatusdetailsbody').show();
                                CheckListHTML += "<div class='form-group col-md-6'>";
                                CheckListHTML += "<div class='form-check mb-2'>";
                                CheckListHTML += "<label class='form-check-label' for='check1'>No Records...</label>";
                                CheckListHTML += "</div></div>"
                            }
                            $("#GridProductioStatusdetailsbody").html(CheckListHTML);


                        } else {

                            $('.tb1').hide();

                            $("#GridProductioStatusdetailsbody").html('');
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': 'No Data Found' });
                            });
                        }
                  }

              });




          }



    }

    function fn_tabonesubstatussection(ele) {
         let $thisForm = $(ele).closest('[perfect-class="form"]');
        debugger
        $('#Analysistableid').hide();
        $('#Analysisdetailsid').hide();
        $('#AnalysisSection2details').hide();
        $('#ProductioStatusdetailsid').show();
        $('#ProductioStatustableid').show();
        $('#StatusSectiondetails').show();
        if ($thisForm.valid()) {

            var obj = {
                DeliveryDate: $thisForm.find('[name=DeliveryDate]').val(),
                FK_Product: $thisForm.find('[name=FK_Product]').val(),
                Quantity: $thisForm.find('[name=Quantity]').val()

            }

            $.ajax({
                url: "@Url.Action("GetStatusreportsubsectiondetail", "ProductionStockList")",
                type: "GET",
                data: obj,
                dataType: "json",
                contentType: "application/json",
                success: function (ajaxOutput) {
                    console.log('out:', ajaxOutput)
                    if (ajaxOutput.Process) {
                        if (ajaxOutput.Data.length > 0) {

                            $('#StatusSectiondetails').show();

                            var CheckListHTML2 = '';
                            $.each(ajaxOutput.Data, function (i, value) {

                                let rowCount = (i + 1);

                                CheckListHTML2 += "<tr>";
                                CheckListHTML2 += "</tr>";
                                CheckListHTML2 += "<tr>";
                                CheckListHTML2 += "</tr>";
                                CheckListHTML2 += "<tr>";
                                CheckListHTML2 += "</tr>";
                                CheckListHTML2 += "<tr>";
                                CheckListHTML2 += "<th style='text-align:left;paddingright:20px'></th>";
                                CheckListHTML2 += "<td type='text' Class='jq__td' style='text-align:left;font-weight:bold'></td>";
                                CheckListHTML2 += "<th style='text-align:left;paddingright:20px''&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp'></th>";
                                CheckListHTML2 += "<td type='number' Class='jq_avaliablestock_td' style='text-align:left;font-weight:bold''&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp&nsbp'>" + "Avaliable Stock As on Delivery Date" +":"+ value.Availablestock + "</td>";
                              
                                CheckListHTML2 += "</tr>";

                            });

                            $("#StatusSectiondetails").html(CheckListHTML2);
                        }
                        else {
                            $('#ProductioStatustableid').show();
                            CheckListHTML += "<div class='form-group col-md-61'>";
                            CheckListHTML += "<div class='form-check mb-21'>";
                            CheckListHTML += "<label class='form-check-label' for='check2'>No Records...</label>";
                            CheckListHTML += "</div></div>"
                        }
                    }

                    else {


                        $('.tb2').hide();

                        $("#StatusSectiondetails").html('');
                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': 'No Data Found' });
                        });
                    }
                }

            });




        }
        else {

        }
    }
</script>

