

@model PerfectWebERP.Models.AuthorizationLevelModel.AuthorizationlevelInit
<div class="card">
    <div class="card-header">
        <h4 class="card-title col-12">@ViewBag.PageTitle</h4>
        <span title="To View List" onclick="fn_showListView();"><svg id="Layer_1" class="layer" stroke="currentColor" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 122.88 122.54"><title>To View List</title><path class="viewlst" d="M4.69,0H46.22a4.71,4.71,0,0,1,4.69,4.69V46a4.69,4.69,0,0,1-4.69,4.69H4.69a4.65,4.65,0,0,1-3.31-1.38l-.09-.09A4.67,4.67,0,0,1,0,46V4.69A4.71,4.71,0,0,1,4.69,0ZM89.44,61.94a26.56,26.56,0,0,1,10.18,2l.07,0a26.61,26.61,0,0,1,15.25,32.16,26.18,26.18,0,0,1-2.7,6.11l10.3,11.24a1.27,1.27,0,0,1-.07,1.8l-7.57,6.9a1.27,1.27,0,0,1-1.79-.07l-9.86-10.85a26.36,26.36,0,0,1-6.1,2.74,26.87,26.87,0,0,1-7.71,1.13,26.51,26.51,0,0,1-10.17-2l-.07,0A26.64,26.64,0,0,1,64.85,78.37l0-.07A26.6,26.6,0,0,1,89.44,61.94Zm15,11.59a21.38,21.38,0,0,0-6.89-4.61l-.06,0a21.22,21.22,0,0,0-23.07,4.64l-.07.07a21.25,21.25,0,0,0-4.54,6.83l0,.06a21.32,21.32,0,0,0-1.58,8.06,21.26,21.26,0,0,0,29.35,19.62,21.54,21.54,0,0,0,6.89-4.61l.07-.07a21.09,21.09,0,0,0,4.54-6.83l0-.06a21.35,21.35,0,0,0,0-16.17,21.34,21.34,0,0,0-4.62-6.9ZM4.69,63.2H46.22a4.71,4.71,0,0,1,4.69,4.7v41.34a4.68,4.68,0,0,1-4.69,4.69H4.69A4.69,4.69,0,0,1,0,109.24V67.9a4.71,4.71,0,0,1,4.69-4.7ZM68.78,0h41.53A4.71,4.71,0,0,1,115,4.69V46a4.71,4.71,0,0,1-4.69,4.69H68.78A4.71,4.71,0,0,1,64.09,46V4.69a4.69,4.69,0,0,1,1.37-3.31l.1-.09A4.67,4.67,0,0,1,68.78,0Z"></path></svg></span>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            <div class="">
                @Html.AntiForgeryToken()
                <div class="row">
                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel"> Effect Date</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control perfectValidate_date" name="EffectDate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date" />
                                <input type="hidden" name="ID_AuthorizationLevel" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Menu Group</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="hidden" name="ID_CommonSettings" value="0" />
                                    <select class="form-control perfectValidate_string" id="Module" name="FK_Module" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" onchange="fn_fillSubModule(this)">
                                        <option value="">Please Select </option>
                                        @if (!(Model.ModuleList is null))
                                        {
                                            foreach (var menuGroup in Model.ModuleList)
                                            {
                                                <option value="@menuGroup.ID_MenuGroup">@menuGroup.MnuGrpName</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Menu List</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string" id="SubModule" name="SubModule" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                    <option value="">Please Select</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <div class="daccordion__header">
                            <span class="accordion__header--text">Details</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 " perfect-class="TempTableAuthorizationLevel">
                                <br />

                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group row" perfect-class="formGroup">
                                            <label class="col-sm-4 col-form-label">
                                                <span perfect-class="formGroupLabel">Branch Type</span>
                                                <span class="text-danger">*</span>
                                            </label>

                                            <div class="col-sm-8">
                                                <select class="form-control" name="FK_BranchType" perfect-tempTable-AuthorizationLevel="FK_BranchType" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                                    <option value="">Please Select </option>
                                                    @if (!(Model.BranchTypelists is null))
                                                    {
                                                        foreach (var branchtypeList in Model.BranchTypelists)
                                                        {
                                                            <option value="@branchtypeList.BranchTypeID" BranchMode="@branchtypeList.BranchModeID">@branchtypeList.BranchType</option>
                                                        }
                                                    }
                                                </select>
                                                <div class="text-danger temptableError"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row" perfect-class="formGroup">
                                            <label class="col-sm-4 col-form-label">
                                                <span perfect-class="formGroupLabel">User Group</span>
                                                <span class="text-danger">*</span>
                                            </label>

                                            <div class="col-sm-8">
                                                <select class="form-control" perfect-tempTable-AuthorizationLevel="FK_UserGroup" name="FK_UserGroup" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" onchange="fn_getUserlist(this);">
                                                    <option value="">Please Select </option>
                                                    @if (!(Model.UserRolelists is null))
                                                    {
                                                        foreach (var userroleList in Model.UserRolelists)
                                                        {
                                                            <option value="@userroleList.UserRoleID">@userroleList.UserRole</option>
                                                        }
                                                    }
                                                </select>
                                                <span class="temptableError"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row" perfect-class="formGroup">
                                            <label class="col-sm-4 col-form-label">
                                                <span perfect-class="formGroupLabel">User</span>
                                            </label>

                                            <div class="col-sm-8">
                                                <select class="form-control" perfect-tempTable-AuthorizationLevel="FK_User" name="FK_User" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                                    <option value="">Please Select </option>

                                                </select>
                                                <span class="temptableError"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group row" perfect-class="formGroup">
                                            <label class="col-sm-4 col-form-label">
                                                <span perfect-class="formGroupLabel">Amount Criteria</span>
                                            </label>

                                            <div class="col-sm-8">
                                                <select class="form-control" perfect-tempTable-AuthorizationLevel="FK_AmountCriteria" name="FK_AmountCriteria" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" onchange="fn_getSelectionCriteria(this)">
                                                    <option value="">Please Select </option>
                                                    @if (!(Model.AmountCriteria is null))
                                                    {
                                                        foreach (var amtList in Model.AmountCriteria)
                                                        {
                                                            <option value="@amtList.ID_Mode">@amtList.ModeName</option>
                                                        }
                                                    }

                                                </select>
                                                <span class="temptableError"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row" perfect-class="formGroup">
                                            <label class="col-sm-4 col-form-label">
                                                <span perfect-class="formGroupLabel">Amount From/To</span>
                                            </label>
                                            <div class="col-sm-8">
                                                <div class="input-group">
                                                    <input type="number" min="1" class="form-control text-right" perfect-tempTable-AuthorizationLevel="AldAmountFrom" name="AldAmountFrom" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="20" onkeydown="if(event.key==='+' || event.key==='-' || event.key==='e'|| event.key==='E'){event.preventDefault();}if(this.value<0){this.value= this.value * -1}" />
                                                    <input type="number" min="1" readonly class="form-control text-right" perfect-tempTable-AuthorizationLevel="AldAmountTo" name="AldAmountTo" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="20" onkeydown="if(event.key==='+' || event.key==='-' || event.key==='e'|| event.key==='E'){event.preventDefault();}if(this.value<0){this.value= this.value * -1}" />
                                                </div>
                                                <span class="temptableError"></span>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group row" perfect-class="formGroup">
                                            <label class="col-sm-4 col-form-label">
                                                <span perfect-class="formGroupLabel">Priority</span>
                                                <span class="text-danger">*</span>
                                            </label>
                                            <div class="col-sm-4">
                                                <input type="number" class="form-control text-right" perfect-tempTable-AuthorizationLevel="Priority" name="Priority" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" min="0" oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" maxlength="10" onkeydown="if(event.key==='.' || event.key==='+' || event.key==='-' || event.key==='e'|| event.key==='E'){event.preventDefault();}if(this.value<0){this.value= this.value * -1}" />
                                                <div class="text-danger temptableError"></div>
                                            </div>
                                            <div class="col-sm-4">
                                                <button class="btn btn-primary1" type="button" data-toggle="tooltip" data-placement="top" data-html="true" title="Add New Product" onclick="fn_createAuthorizationLevelTable(this,'AuthorizationLevel',['Priority'])"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                                <button class="btn btn-light1" type="button" data-toggle="tooltip" data-placement="top" data-html="true" onclick="fn_resetNumberGItem(this)"><i class="fa fa-refresh" aria-hidden="true"></i></button>

                                            </div>
                                        </div>

                                    </div>

                                </div>


                                <div class="card-footer text-right" perfect-class="formFooter">

                                </div>
                                <div class="row">
                                    <div class="col-sm-12" style="padding-right:25px;padding-left:25px;">
                                        <div class="form-group row" perfect-class="formGroup">
                                            <div class="table-responsive" perfect-tempTable="AuthorizationLevel" id="AuthorizationLevelItemHead" perfect-tempTable-lastindex="0" perfect-tempTable-action="0"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8">

                    </div>


                    <div class="col-sm-2">
                        <div class="form-group row" perfect-class="formGroup">                          
                            <div class="col-sm-12 float-right">
                                <input type="checkbox" id="SkipPreviousLevel" name="SkipPreviousLevel" value="0">
                                <label for="SkipPreviousLevel">&nbsp;&nbsp;Skip Previous Level</label><br>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2">
                        <div class="form-group row" perfect-class="formGroup">                           
                            <div class="col-sm-12 float-right">
                                <input type="checkbox" id="ActiveCorrectionOption" name="ActiveCorrectionOption" value="0">
                                <label for="ActiveCorrectionOption">&nbsp;&nbsp;Active Correction Option</label><br>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
          
            <div class="card-footer text-right" perfect-class="formFooter">

                @if (ViewBag.PagedAccessRights.UsrrlMsEdt)
                {
                <button id="" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserUpdate d-none" name="update" perfect-css="button" onclick="fn_UpdateAuthorizationlevel(this,'update')"><i class="fa fa-refresh fa-spin loaderClass"></i>Update</button>
                }
                @if (ViewBag.PagedAccessRights.UsrrlMsAdd)
                {
                    <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="fn_UpdateAuthorizationlevel(this,'new')"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                }
                <button type="button" class="btn btn-light" perfect-css="button" onclick="fn_resetAuthorizationlevel(this)" name="reset">Clear</button>
            </div>
        </form>
</div>
    </div>
 

<script>
 //on load functions
 $(document).ready(function ()
 {
	initFunctions('form');
    });

function fn_fillSubModule(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let $actionDropdown = $thisForm.find('[name="SubModule"]');
        $actionDropdown.empty();
        $actionDropdown.append($('<option/>', { value: '' }).text('Please select')).selectpicker('refresh');
        let inputData =
        {
            __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
            'FK_MenuGroup': $thisForm.find('[name=FK_Module]').val()
        };

        $.ajax({
            url: "@Url.Action("FillMenuWithoutParent", "Menu")",
            type: "POST",
            dataType: "json",
            data: inputData,
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            success: function (ajaxOutput) {
                if (ajaxOutput.length > 0) {
                    $.each(ajaxOutput, function (key, value) {
                        $actionDropdown.append($('<option/>', { value: value.ID_MenuList }).text(value.MnuLstName)).selectpicker('refresh');
                    });
                    if ($actionDropdown.attr('perfect-onloadSelect')) {
                        $actionDropdown.val($actionDropdown.attr('perfect-onloadSelect')).selectpicker('refresh')
                    }
                }
                else {
                    $.each(ajaxOutput.Process.Message, function (key, value) {
                        NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                    });
                }
            }
        });
    }
   
  function fn_getUserlist(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
      let $actionDropdown = $thisForm.find('[name="FK_User"]');
        $actionDropdown.empty();
        $actionDropdown.append($('<option/>', { value: '' }).text('Please select')).selectpicker('refresh');
       
        let inputData = {
            __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
            FK_UserRole: parseInt($thisForm.find('[name=FK_UserGroup]').val())
        };

        $.ajax({
            url: "@Url.Action("GetUserList", "AuthorizationLevel")",
            type: "POST",
            dataType: "json",
            data: inputData,
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            success: function (ajaxOutput) {
                if (ajaxOutput.Process.IsProcess) {                   
                    $.each(ajaxOutput.Data, function (key, value) {
                        $actionDropdown.append($('<option/>', { value: value.UserID }).text(value.UserName)).selectpicker('refresh');
                    });
                    if ($actionDropdown.attr('perfect-onloadSelect')) {
                        $actionDropdown.val($actionDropdown.attr('perfect-onloadSelect')).selectpicker('refresh')
                    }
                }               
            }
        });
    }



    var tableOptionsTempOut = {
        iconButton: {
            buttons: [
               
                {
                    icon: "fa fa-pencil btnPerfectGridEdit",
                    action: function () {
                        let savedData = $(this).closest('tr').data('pData')
                        let $tablecontainer = $(this).closest('[perfect-tempTable]');
                        let tableKey = $tablecontainer.attr('perfect-tempTable');
                        let $thisForm = $tablecontainer.closest('[perfect-class="form"]');
                        let indexname = tableKey + 'index';
                        let rindex = $(this).closest('tr').attr(indexname);
                        $tablecontainer.attr('perfect-tempTable-action', rindex);
                        $thisForm.find('[perfect-tempTable-' + tableKey + ']').each(function () {
                            let $thisNode = $(this);
                            let pf_name = $thisNode.attr('name');
                            if ($thisNode.is('select')) {
                                $thisNode.val(savedData[pf_name]).selectpicker('refresh');
                            }
                            else if ($thisNode.is('input')) {

                                if ($thisNode.attr('type').toLocaleLowerCase() == 'checkbox') {

                                    $thisNode.prop('checked', savedData[pf_name]);
                                }
                                else {
                                    $thisNode.val(savedData[pf_name]);
                                }
                            }
                            else {
                                $thisNode.val(savedData[pf_name]);
                            }
                        });
                    }
                },
                {
                    icon: "fa fa-trash btnPerfectGridDelete",
                    action: function () {
                        let $thistbl = $(this).closest('table');
                        let table = $thistbl.DataTable();
                        table.destroy();
                        if ($(this).closest('tbody').find('tr').length > 1) {
                            $(this).closest('tr').remove();
                            pft_table_slreset($thistbl);
                            $thistbl.dataTable({ paging: true });
                        }
                        else {
                            $thistbl.remove();
                        }
                    }
                },
            ]
        },
        onlyShowColumn: [],
        hideColumn: ['UserRole', 'UserName','AmountCriteria'],
        serialNo: true,
        renameHeader: {  "AldAmountFrom": "Amount From", "AldAmountTo": "Amount To" },
        rowAttribute: [],
        isCheckType: []


          
    };
    function fn_createAuthorizationLevelTable(element, tkey, uniq = []) {
        let $thisForm = $(element).closest('[perfect-class="form"]');
        let tableKey = tkey;
        let $tblcontainer = $thisForm.find('[perfect-tempTable="' + tableKey + '"]');

        let insertData = {};
        let tableOptionsTemp = tableOptionsTempOut;

        let unique = (uniq) ? uniq : [];

        let isValid = true;
        let errorClass = '.temptableError';


        let lastIndex = ($tblcontainer.attr('perfect-tempTable-lastindex')) ? parseInt($tblcontainer.attr('perfect-tempTable-lastindex')) : 0;
        let thisactionIndex = ($tblcontainer.attr('perfect-tempTable-action')) ? parseInt($tblcontainer.attr('perfect-tempTable-action')) : 0;
        let indexname = tkey + 'index';
        tableOptionsTemp.rowAttribute.push(indexname);
        tableOptionsTemp.hideColumn.push(indexname);
        let updateCond = '';
        let isNew = true;

        if (thisactionIndex > 0) {
            insertData[indexname] = thisactionIndex;
            updateCond = '[' + indexname + '="' + thisactionIndex + '"]';
            isNew = false;
        }
        else {
            insertData[indexname] = lastIndex + 1;
            $tblcontainer.attr('perfect-tempTable-lastindex', lastIndex + 1);
            isNew = true;
        }
       
       

        if ($thisForm.find('[perfect-tempTable-' + tableKey + '="FK_BranchType"]').val().length == 0 || $thisForm.find('[perfect-tempTable-' + tableKey + '="FK_BranchType"]').val().length == null) {
            isValid = false;

            $thisForm.find('[perfect-tempTable-' + tableKey + '="FK_BranchType"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please select branch type');
        }
        else {
            $thisForm.find('[perfect-tempTable-' + tableKey + '="FK_BranchType"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
        }               
      
       
        if ($thisForm.find('[perfect-tempTable-' + tableKey + '="FK_UserGroup"]').val().length == 0 || $thisForm.find('[perfect-tempTable-' + tableKey + '="FK_UserGroup"]').val().length == null) {
            isValid = false;

            $thisForm.find('[perfect-tempTable-' + tableKey + '="FK_UserGroup"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please select user group');
        }
        else {
            $thisForm.find('[perfect-tempTable-' + tableKey + '="FK_UserGroup"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
        }

        //if ($thisForm.find('[perfect-tempTable-' + tableKey + '="FK_AmountCriteria"]').val()==0) {
        //    isValid = false;

        //    $thisForm.find('[perfect-tempTable-' + tableKey + '="FK_AmountCriteria"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please select amount criteria');
        //}
        //else {
        //    $thisForm.find('[perfect-tempTable-' + tableKey + '="FK_AmountCriteria"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
        //}

        if ($thisForm.find('[perfect-tempTable-' + tableKey + '="Priority"]').val().length == 0 || $thisForm.find('[perfect-tempTable-' + tableKey + '="Priority"]').val().length == null) {
            isValid = false;

            $thisForm.find('[perfect-tempTable-' + tableKey + '="Priority"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please select priority');
        }
        else {
            $thisForm.find('[perfect-tempTable-' + tableKey + '="Priority"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
        }

        if (parseInt($thisForm.find('[perfect-tempTable-' + tableKey + '="FK_AmountCriteria"]').val()) == 7) {
            if (($thisForm.find('[perfect-tempTable-' + tableKey + '="AldAmountFrom"]').val().length != 0 || $thisForm.find('[perfect-tempTable-' + tableKey + '="AldAmountFrom"]').val().length != null) && ($thisForm.find('[perfect-tempTable-' + tableKey + '="AldAmountTo"]').val().length != 0 || $thisForm.find('[perfect-tempTable-' + tableKey + '="AldAmountTo"]').val().length != null)) {
               
                if (parseFloat($thisForm.find('[perfect-tempTable-' + tableKey + '="AldAmountFrom"]').val()) > parseFloat($thisForm.find('[perfect-tempTable-' + tableKey + '="AldAmountTo"]').val())) {
                    isValid = false;
                    $thisForm.find('[perfect-tempTable-' + tableKey + '="AldAmountFrom"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please enter valid amount');
                }
                else {                   
                    $thisForm.find('[perfect-tempTable-' + tableKey + '="AldAmountFrom"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
                }
            }
            else {
                isValid = false;
                $thisForm.find('[perfect-tempTable-' + tableKey + '="AldAmountFrom"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please enter valid amount');
            }
        }
        //else {
        //    if ($thisForm.find('[perfect-tempTable-' + tableKey + '="AldAmountFrom"]').val().length == 0 || $thisForm.find('[perfect-tempTable-' + tableKey + '="AldAmountFrom"]').val().length == null) {
        //        isValid = false;
        //        $thisForm.find('[perfect-tempTable-' + tableKey + '="AldAmountFrom"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please enter amount');
        //    }
        //    else {
        //        $thisForm.find('[perfect-tempTable-' + tableKey + '="AldAmountFrom"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
        //    }
        //}
        

        if (unique.length > 0) {
            let prevData = [];
            $tblcontainer.find('table > tbody').find('tr').each(function () {
                if (isNew) {
                    prevData.push($(this).data('pData'));
                }
                else {
                    if (parseInt($(this).attr(indexname)) != thisactionIndex) {
                        prevData.push($(this).data('pData'));
                    }

                }

            })

            unique.forEach(function (key, i) {
                let $thisEle = $thisForm.find('[perfect-tempTable-' + tableKey + '="' + key + '"]');
                let headerEleName = $thisForm.find('[name="lblType"]').text();
                let atname = $thisEle.attr('name');
                let cvalue;


                if ($thisEle.length != 0) {
                    let $errorElement = $thisEle.closest('[perfect-class="formGroup"]').find(errorClass);
                    let errmessage = headerEleName + " Already exits"

                    if ($thisEle.is('select')) {
                        cvalue = $thisEle.val();
                        alert(cvalue)
                    }
                    else if ($thisEle.is('input')) {

                        let inputEleType = $thisEle.attr('type').toLocaleLowerCase();

                        if (inputEleType == 'checkbox') { cvalue = $thisEle.is(':checked'); }
                        else if (inputEleType == 'hidden') { cvalue = $thisEle.val(); }
                        else { cvalue = $thisEle.val(); }
                    }
                    else {
                        cvalue = $thisEle.val();
                    }

                    if (prevData.find(a => a[atname] == cvalue)) {
                        $errorElement.text(errmessage);
                        isValid = false;
                    }
                }
            });

        }
       
        if (isValid) {         
            $thisForm.find('[perfect-tempTable-' + tableKey + ']').each(function () {
                let $this = $(this);
                let headerName = $this.attr('perfect-tempTable-' + tableKey);
                let nameAttr = $this.attr('name');
                if ($this.is('select')) {
                    switch (headerName) {    
                        case "FK_BranchType":
                            headerName = "Branch Type";
                            break;
                        case "FK_AmountCriteria":
                            headerName = "Amount Criteria";
                            break;
                        case "FK_UserGroup":
                            headerName = "User Group";
                            break;
                        case "FK_User":
                            headerName = "User";
                            break;
                        default:
                            break
                    }
                    tableOptionsTemp.renameHeader[nameAttr + '_d'] = headerName;
                    tableOptionsTemp.hideColumn.push(nameAttr)
                    if ($this.val() != null) {
                        let selectText = ($this.val().length == 0) ? '' : $this.children(":selected").text();
                        insertData[nameAttr + '_d'] = selectText;
                    }
                    else {
                        let selectText = ($this.val() == null) ? '' : $this.children(":selected").text();
                        insertData[nameAttr + '_d'] = selectText;
                    }
                    insertData[nameAttr] = $this.val();

                    $this.val('').selectpicker('refresh');
                }
                else if ($this.is('input')) {

                    let inputType = $this.attr('type').toLocaleLowerCase();

                    if (inputType == 'checkbox') {

                        insertData[nameAttr] = $this.is(':checked');

                        tableOptionsTemp.isCheckType.push(nameAttr)                       
                        $this.prop('checked', false);

                    }
                    else if (inputType == 'hidden') {
                        insertData[nameAttr] = $this.val();
                        $this.val('');

                    }

                    else {
                        insertData[nameAttr] = $this.val();

                        $this.val('');
                    }
                }
                else {
                    insertData[nameAttr] = $this.val();

                    $this.val('');
                }
            });

            if (isNew) {
                if ($tblcontainer.find('table').length == 0) {
                    $tblcontainer.append(pft_table_createtable([insertData], tableOptionsTemp));
                }
                else {
                    let table = $tblcontainer.find('table').DataTable()
                    table.destroy()
                    pft_table_addTableRow($tblcontainer.find('table'), insertData, tableOptionsTemp);
                }
            }
            else {
                let table = $tblcontainer.find('table').DataTable()
                table.destroy()
                pft_table_replaceTableRow($tblcontainer.find('table'), updateCond, insertData, tableOptionsTemp);
            }

            $tblcontainer.attr('perfect-tempTable-action', 0);
            $thisForm.find('[name="AldAmountTo"]').attr('readonly', true);   
        }
    }
   
//to save data
    function fn_UpdateAuthorizationlevel(element,actionType)
    {
        let $thisForm = $(element).closest('[perfect-class="form"]');
        if ($thisForm.valid())
        {
            let $errorMsg = '';
            let $blnSuccess = false;
                    $(element).prop('disabled', true);

          
            let authorizationItems = [];
            $thisForm.find('[perfect-tempTable="AuthorizationLevel"]').find('tbody').find('tr').each(function () {
                authorizationItems.push($(this).data('pData'));
            })

          
          
            if (authorizationItems.length <= 0) {
                $blnSuccess = false;
                $errorMsg = 'Please Fill Authorization Level Details';
            }           
            else {
                $blnSuccess = true;
            }

            let _ID_Authorization = 0;
                    let _ActionUrl = "";

                    if (actionType === "new") {
                        _ID_Authorization = 0;
                        _ActionUrl = "@Url.Action("AddNewAuthorizationLevel", "AuthorizationLevel")";
                    }
                    else if (actionType === "update") {
                        _ID_Authorization = $thisForm.find('[name="ID_AuthorizationLevel"]').val();
                        _ActionUrl = "@Url.Action("UpdateAuthorizationLevel", "AuthorizationLevel")";
                    }

          
                    let inputData = {
                        __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                        'ID_AuthorizationLevel': _ID_Authorization,                       
                        'AuthEffectDate': $thisForm.find('[name="EffectDate"]').val(),                        
                        'FK_MenuGroup': $thisForm.find('[name="FK_Module"]').val(),
                        'FK_MenuList': $thisForm.find('[name="SubModule"]').val(),
                        'SkipPreviousLevel': $thisForm.find('[name="SkipPreviousLevel"]').is(':checked'),
                        'ActiveCorrectionOption': $thisForm.find('[name="ActiveCorrectionOption"]').is(':checked'),
                        'SubAuthorizationLevel': authorizationItems                        
            };
         
            if ($blnSuccess)
                            {
                               $.ajax({
                                         url: _ActionUrl,
                                         type: "POST",
                                         data: inputData,
                                         dataType: "json",
                                         contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                                         success: function (ajaxOutput) {
                                             if (ajaxOutput.Process.IsProcess) {
                                                 $.each(ajaxOutput.Process.Message, function (key, value) {
                                                     NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                                                     $(element).prop('disabled', false);
                                                     AuthorizationlevelInitialLoad();
                                                 });
                                             }
                                             else {
                                                 $.each(ajaxOutput.Process.Message, function (key, value) {
                                                     NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                                                     $(element).prop('disabled', false);
                                                     AuthorizationlevelInitialLoad();
                                                 });
                                             }

                                             $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                                             $thisForm.find('[perfect-ctype="input"]').val('');
                                             $thisForm.find('[perfect-ctype="date"]').val('');
                                             let onSuccess = $thisForm.attr('perfect-onFormSuccess')
                                             if (onSuccess) {
                                                 window[onSuccess]();
                                                
                                             }
                                         },
                                         complete: function ()
                                         {
                                                $(element).prop('disabled', false);
                                         }
                                    });
                            }
                            else
                            {                              
                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': $errorMsg });
                        $(element).prop('disabled', false);
                            }
                     }
    }
    function fn_resetAuthorizationlevel(ele)
    {        
        AuthorizationlevelInitialLoad();
    }
      function fn_selectBranch(ele)
        {      
        let $thisForm = $(ele).closest('[perfect-class="form"]'); 
        let $actionDropdown = $thisForm.find('[name="BranchID"]');
        $actionDropdown.empty();
        $actionDropdown.append($('<option/>', { value: '' }).text('Please select')).selectpicker('refresh');
        let branchtypeid = {
            BranchTypeID: $thisForm.find('[name=BranchTypeID]').val()
        }
             $.ajax({
                     url: "@Url.Action("GetBranchList", "Users")",
                    type: "POST",
                    data: branchtypeid,
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=utf-8",
                     success: function (ajaxOutput) {
                         if (ajaxOutput.Process.IsProcess) {
                             $.each(ajaxOutput.Data, function (key, value) {
                                 $actionDropdown.append($('<option/>', { value: value.BranchID }).text(value.Branch)).selectpicker('refresh');
                             });
                             if ($actionDropdown.attr('perfect-onloadSelect')) {
                                 $actionDropdown.val($actionDropdown.attr('perfect-onloadSelect')).selectpicker('refresh')
                             }
                         }
                         else {
                             $.each(ajaxOutput.Process.Message, function (key, value) {
                                 NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                             });
                         }
                     }
             });
        }
    function fn_getSelectionCriteria(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');        
        fn_setSelectedCriteriaData($thisForm);
    }
    function fn_setSelectedCriteriaData($thisForm) {
        let sel = $thisForm.find('[name=FK_AmountCriteria] option:selected').text();
        let id = parseInt($thisForm.find('[name="FK_AmountCriteria"]').val());

        if (sel != 'Please select') {   
                  
            switch (id) {
                case 7:
                    $thisForm.find('[name="AldAmountTo"]').attr('readonly', false);                   
                    break;                
                default:
                    $thisForm.find('[name="AldAmountTo"]').val('');
                    $thisForm.find('[name="AldAmountTo"]').attr('readonly', true);    
                    break;    
            }
        }
    }

</script>



