@*----------------------------------------------------------------------
    Created By	: Kavya K
    Created On	: 14/11/2022
    Purpose		: AccountSubHead
    -------------------------------------------------------------------------
    Modification
    On			By					OMID/Remarks
    -------------------------------------------------------------------------
    -------------------------------------------------------------------------*@

<div class="card ">
    <div class="card-header">
        <h4 class="card-title col-12">@ViewBag.PageTitle</h4>
        <span title="To View List" onclick="fn_showListView();"><svg id="Layer_1" class="layer" stroke="currentColor" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 122.88 122.54"><title>To View List</title><path class="viewlst" d="M4.69,0H46.22a4.71,4.71,0,0,1,4.69,4.69V46a4.69,4.69,0,0,1-4.69,4.69H4.69a4.65,4.65,0,0,1-3.31-1.38l-.09-.09A4.67,4.67,0,0,1,0,46V4.69A4.71,4.71,0,0,1,4.69,0ZM89.44,61.94a26.56,26.56,0,0,1,10.18,2l.07,0a26.61,26.61,0,0,1,15.25,32.16,26.18,26.18,0,0,1-2.7,6.11l10.3,11.24a1.27,1.27,0,0,1-.07,1.8l-7.57,6.9a1.27,1.27,0,0,1-1.79-.07l-9.86-10.85a26.36,26.36,0,0,1-6.1,2.74,26.87,26.87,0,0,1-7.71,1.13,26.51,26.51,0,0,1-10.17-2l-.07,0A26.64,26.64,0,0,1,64.85,78.37l0-.07A26.6,26.6,0,0,1,89.44,61.94Zm15,11.59a21.38,21.38,0,0,0-6.89-4.61l-.06,0a21.22,21.22,0,0,0-23.07,4.64l-.07.07a21.25,21.25,0,0,0-4.54,6.83l0,.06a21.32,21.32,0,0,0-1.58,8.06,21.26,21.26,0,0,0,29.35,19.62,21.54,21.54,0,0,0,6.89-4.61l.07-.07a21.09,21.09,0,0,0,4.54-6.83l0-.06a21.35,21.35,0,0,0,0-16.17,21.34,21.34,0,0,0-4.62-6.9ZM4.69,63.2H46.22a4.71,4.71,0,0,1,4.69,4.7v41.34a4.68,4.68,0,0,1-4.69,4.69H4.69A4.69,4.69,0,0,1,0,109.24V67.9a4.71,4.71,0,0,1,4.69-4.7ZM68.78,0h41.53A4.71,4.71,0,0,1,115,4.69V46a4.71,4.71,0,0,1-4.69,4.69H68.78A4.71,4.71,0,0,1,64.09,46V4.69a4.69,4.69,0,0,1,1.37-3.31l.1-.09A4.67,4.67,0,0,1,68.78,0Z"></path></svg></span>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            <div class="">

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Import From</span>
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <select class="form-control" id="ddlImportsList" name="ASHFrom" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" onchange="Changevalue(this)">
                                        <option value="0">Please Select</option>
                                        <option value="1">Customer</option>
                                        <option value="2">Supplier</option>
                                        <option value="3">Buyer</option>
                                        <option value="4">Employee</option>
                                    </select>

                                    <div class="input-group-append">
                                        <input type="hidden" name="ID_Customer" class="form-control " perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                        <input type="hidden" name="SupplierID" class="form-control " perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                        <input type="hidden" name="BuyerID" class="form-control " perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                        <input type="hidden" name="ID_Employee" class="form-control " perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                        <button id="btnShowList" data-toggle="tooltip" data-placement="top" data-html="true" title="Import from Customer and Supplier" class="btn btn-primary" type="button" perfect-css="button" onclick="fn_showImportListSubHead(this)" Criterea1="FK_BranchCode"><i class="las la-file-import la-lg"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Branch</span>

                            </label>
                            <div class="col-sm-8">
                                <select class="form-control" name="FK_Branch" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                    <option value="0">All</option>
                                    @if (!(Model.branchHeads is null))
                                    {
                                        foreach (var AHT in Model.branchHeads)
                                        {
                                            <option value="@AHT.FK_Branch">@AHT.BranchName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Name</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="hidden" name="ID_AccountSubHead">
                                <input type="text" class="form-control perfectValidate_name" placeholder="" name="CustomeName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" onchange="generateShortName(this)" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Short Name</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" maxlength="10" class="form-control perfectValidate_shortName " placeholder="" name="ASHShortName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                            </div>
                        </div>
                    </div>
                </div>
              
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">A/c Head</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control perfectValidate_string" name="AccountHeadName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" readonly />
                                    <input type="hidden" name="FK_AccountHead" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" value="" />
                                    <input type="hidden" name="FK_BranchCode" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" value="" />

                                    <div class="input-group-append">
                                        <button id="addaccounthead-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,16,'Account Head List',['','','FK_AccountHeadSub','AccountSubHeadName'],AccountSubHeadTransMode)" Criterea1="FK_BranchCode" Criterea2="0" BindName="AccountHeadName" BindVal="FK_AccountHead"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">  
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Sort Order</span>

                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" placeholder="" name="SortOrder" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" value="@Model.SortOrder" />
                            </div>
                        </div>
                    </div>
                  
                </div>
                    <div class="card-footer text-right" perfect-class="formFooter">
                        <button id="" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserUpdate d-none" name="update" perfect-css="button" onclick="fn_AccountSubHead_update(this,'update')"><i class="fa fa-refresh fa-spin loaderClass"></i>Update</button>
                        <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="fn_AccountSubHead_update(this,'new')"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                        <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this)" name="reset">Clear</button>
                    </div>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/jqDOM/searchDOMCreation.js"></script>
<script type="text/javascript">

    function fn_showImportListSubHead(element) {

        let $thisForm = $(element).closest('[perfect-class="form"]');
        console.log("$thisForm.find('[name=]').val()", parseInt($thisForm.find('[name="ASHFrom"]').val()));
        $('[name="BuyerID"]').val('');
        $('[name="SupplierID"]').val('');
        $('[name="ID_Customer"]').val('');
        $('[name="ID_Employee"]').val('');
        switch (parseInt($thisForm.find('[name="ASHFrom"]').val())) {
            case 1:
                GetCmnPopUpSearchValAssign(element, 7, 'Customer List', [], ['ID_Customer', 'CustomeName', 'MobileNo', 'SupplierName','GSTINNo'], AccountSubHeadTransMode);
                break;
            case 2:
                GetCmnPopUpSearchValAssign(element, 20, 'Supplier List', [], ['SupplierID', 'CustomeName'], AccountSubHeadTransMode);
                break;
            case 3:
                GetCmnPopUpSearchValAssign(element, 99, 'Buyer List', [], ['BuyerID', 'CustomeName', 'BuyerName','BuyerMobileNo'], AccountSubHeadTransMode);
                break;
            case 4:
                GetCmnPopUpSearchValAssign(element, 157, 'Employee List', [], ['ID_Employee','CustomeName'], AccountSubHeadTransMode);
                break;
            default:
                NotificationMessage({ 'type': 'info', 'heading': 'info', 'message': 'Please Select Import From' });
                break;
        }
       
    }
    

    $(document).ready(function () {
        initFunctions('form');
        $('[name="FK_BranchCode"]').val(FK_BranchCode);
    });

    function ResetButton() {
        InitailAccountSubHead();
    }

    function fn_AccountSubHead_update(ele, actionType) {
        debugger;
       
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        if ($thisForm.find('[name="ASHFrom"]').val() == 1 && $thisForm.find('[name="ID_Customer"]').val() == "") {
            $('[name=ID_Customer]').addClass("perfectValidate_string");
            $('[name="SupplierID"]').removeClass('perfectValidate_string');
            $('[name="BuyerID"]').removeClass('perfectValidate_string');    
            $('[name="ID_Employee"]').removeClass("perfectValidate_string");

        }
        else if ($thisForm.find('[name="ASHFrom"]').val() == 2 && $thisForm.find('[name="SupplierID"]').val() == "") {
            $('[name="SupplierID"]').addClass('perfectValidate_string');
            $('[name=ID_Customer]').removeClass("perfectValidate_string");
            $('[name="BuyerID"]').removeClass("perfectValidate_string"); 
            $('[name="ID_Employee"]').removeClass("perfectValidate_string");

        }
        else if ($thisForm.find('[name="ASHFrom"]').val() == 3 && $thisForm.find('[name="BuyerID"]').val() == "") {
            $('[name="BuyerID"]').addClass("perfectValidate_string");
            $('[name="SupplierID"]').removeClass('perfectValidate_string');
            $('[name="ID_Customer"]').removeClass("perfectValidate_string");   
            $('[name="ID_Employee"]').removeClass("perfectValidate_string");
        }
        else if ($thisForm.find('[name="ASHFrom"]').val() == 4 && $thisForm.find('[name="ID_Employee"]').val() == "") {

            $('[name="ID_Employee"]').addClass("perfectValidate_string");
            $('[name="SupplierID"]').removeClass('perfectValidate_string');
            $('[name="ID_Customer"]').removeClass("perfectValidate_string");
            $('[name="BuyerID"]').removeClass("perfectValidate_string");    
        }
        else {
            $('[name="SupplierID"]').removeClass('perfectValidate_string');
            $('[name=ID_Customer]').removeClass("perfectValidate_string");
            $('[name="BuyerID"]').removeClass("perfectValidate_string");    
        }

        if ($thisForm.valid())
        {
            $(ele).prop('disabled', true);

            let ID_AccountSubHead = 0;
                    let _ActionUrl = "";
                   

                    if (actionType === "new") {
                        ID_AccountSubHead = 0;                       
                        _ActionUrl = "@Url.Action("SaveAccountSubHead", "AccountSubHead")";
                    }
                    else if (actionType === "update") {
                        ID_AccountSubHead = $thisForm.find('[name="ID_AccountSubHead"]').val();
                        _ActionUrl = "@Url.Action("UpdateAccountSubHead", "AccountSubHead")";
            }
            
         let inputData = {
             'ID_AccountSubHead': ID_AccountSubHead,
             __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(), //antiForgery
             'ASHName': $thisForm.find('[name="CustomeName"]').val().trim(),
             'ASHShortName': $thisForm.find('[name="ASHShortName"]').val().trim(),
             'FK_AccountHead': $thisForm.find('[name="FK_AccountHead"]').val().trim(), 
             'ASHFrom': $thisForm.find('[name="ASHFrom"]').val().trim(), 
             'SortOrder': $thisForm.find('[name="SortOrder"]').val().trim(),
             'FK_Master': ($thisForm.find('[name="ASHFrom"]').val() == 1 ? $thisForm.find('[name="ID_Customer"]').val() : $thisForm.find('[name="ASHFrom"]').val() == 2 ? $thisForm.find('[name="SupplierID"]').val() : $thisForm.find('[name="ASHFrom"]').val() == 3 ? $thisForm.find('[name="BuyerID"]').val() : ($thisForm.find('[name="ASHFrom"]').val() == 4 ? $thisForm.find('[name="ID_Employee"]').val() : 0)),
            // 'FK_Master': ($thisForm.find('[name="ASHFrom"]').val() == 1 ? $thisForm.find('[name="ID_Customer"]').val() : $thisForm.find('[name="ASHFrom"]').val() == 2 ? $thisForm.find('[name="SupplierID"]').val() : ($thisForm.find('[name="ASHFrom"]').val() == 3 ? $thisForm.find('[name="BuyerID"]').val() : 0)),

             'TransMode': AccountSubHeadTransMode,
             'FK_Branch': $thisForm.find('[name="FK_Branch"]').val()
         };
       
            $.ajax({
                  url: _ActionUrl,
                type: "POST",
                data: inputData, //Antiforgery removed stringyfy
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=utf-8", //antiforgery
                success: function (ajaxOutput) {

                    if (ajaxOutput.Process.IsProcess) {

                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                        });

                        $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                        $thisForm.find('[perfect-ctype="input"]').val('');
                        $thisForm.find('[perfect-ctype="date"]').val('');
                        $thisForm.find('[perfect-ctype="hidden"]').val('');
                        // Get the value set in form's perfect-onFormSuccess attribute
                        let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                        if (onSuccess) {
                            window[onSuccess]($thisForm);
                        }
                    }
                    else {
                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                        });
                    }
                },
                complete: function () {
                    $(ele).prop('disabled', false);
                }

            });
        }
    }
    function Changevalue(ele) {
        debugger
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        //console.log("$thisForm.find('[name=]').val()", parseInt($thisForm.find('[name="ASHFrom"]').val()));
        //alert(ele.value);
        if (ele.value != 2) {
            $('[name="FK_BranchCode"]').val(0);
        }
        else {
            $('[name="FK_BranchCode"]').val(FK_BranchCode);
        }
       
        $('[name="BuyerID"]').val('');
        $('[name="SupplierID"]').val('');
        $('[name="ID_Customer"]').val('');
        $('[name="ID_Employee"]').val('');
    }
  
    function generateShortName(ele) {
        debugger;
        let $form = $(ele).closest('[perfect-class="form"]');
        var fullName = $form.find('[name="CustomeName"]').val();
        var shortName = generateShortNameFromFullName(fullName);
        $form.find('[name="ASHShortName"]').val(shortName);
    }
</script>
