@*/*----------------------------------------------------------------------
Created By	: Athul M
Created On	: 03/02/2022
Purpose		: WarrantySetting
-------------------------------------------------------------------------
Modification
On			By					OMID/Remarks
-------------------------------------------------------------------------
-------------------------------------------------------------------------*/*@

@model PerfectWebERP.Models.WarrantySettingModel.WarrantySettingList


<div class="card ">

    
    <div class="card-header">
        <h4 class="card-title col-12">Warranty Settings</h4>
        <span title="To View List" onclick="fn_showListView();"><svg id="Layer_1" class="layer" stroke="currentColor" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 122.88 122.54"><title>To View List</title><path class="viewlst" d="M4.69,0H46.22a4.71,4.71,0,0,1,4.69,4.69V46a4.69,4.69,0,0,1-4.69,4.69H4.69a4.65,4.65,0,0,1-3.31-1.38l-.09-.09A4.67,4.67,0,0,1,0,46V4.69A4.71,4.71,0,0,1,4.69,0ZM89.44,61.94a26.56,26.56,0,0,1,10.18,2l.07,0a26.61,26.61,0,0,1,15.25,32.16,26.18,26.18,0,0,1-2.7,6.11l10.3,11.24a1.27,1.27,0,0,1-.07,1.8l-7.57,6.9a1.27,1.27,0,0,1-1.79-.07l-9.86-10.85a26.36,26.36,0,0,1-6.1,2.74,26.87,26.87,0,0,1-7.71,1.13,26.51,26.51,0,0,1-10.17-2l-.07,0A26.64,26.64,0,0,1,64.85,78.37l0-.07A26.6,26.6,0,0,1,89.44,61.94Zm15,11.59a21.38,21.38,0,0,0-6.89-4.61l-.06,0a21.22,21.22,0,0,0-23.07,4.64l-.07.07a21.25,21.25,0,0,0-4.54,6.83l0,.06a21.32,21.32,0,0,0-1.58,8.06,21.26,21.26,0,0,0,29.35,19.62,21.54,21.54,0,0,0,6.89-4.61l.07-.07a21.09,21.09,0,0,0,4.54-6.83l0-.06a21.35,21.35,0,0,0,0-16.17,21.34,21.34,0,0,0-4.62-6.9ZM4.69,63.2H46.22a4.71,4.71,0,0,1,4.69,4.7v41.34a4.68,4.68,0,0,1-4.69,4.69H4.69A4.69,4.69,0,0,1,0,109.24V67.9a4.71,4.71,0,0,1,4.69-4.7ZM68.78,0h41.53A4.71,4.71,0,0,1,115,4.69V46a4.71,4.71,0,0,1-4.69,4.69H68.78A4.71,4.71,0,0,1,64.09,46V4.69a4.69,4.69,0,0,1,1.37-3.31l.1-.09A4.67,4.67,0,0,1,68.78,0Z"></path></svg></span>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            <div class="">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Warranty Type</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string" name="WarrantyID" perfect-selectButton="Button Name" perfect-selectButtonAction="testing" perfect-class="formGroupControl" perfect-ctype="select">
                                    <option value="">Please select</option>
                                    @if (!(Model.warrtype is null))
                                    {
                                        foreach (var ModelList in Model.warrtype)
                                        {
                                            <option value="@ModelList.FK_WarrantyType">@ModelList.Warranty</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Effect Date</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control perfectValidate_date" name="EffectDate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date" />
                            </div>
                        </div>


                    </div>

                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Replacement Type</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string" name="ReplacementID" perfect-selectButton="Button Name" perfect-selectButtonAction="testing" perfect-class="formGroupControl" perfect-ctype="select">
                                    <option value="">Please select</option>
                                    @if (!(Model.warrlist is null))
                                    {
                                        foreach (var ModelList in Model.warrlist)
                                        {
                                            <option value="@ModelList.ID_WarrantyTypeSetting">@ModelList.WarrantyTypeSetting</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Replacement Duration</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control perfectValidate_numeric" placeholder="" name="RepDuration" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');"perfect-class="formGroupControl" perfect-ctype="select" perfect-css="input"maxlength="12" />
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Service Type</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string" name="ServiceTypeID" perfect-selectButton="Button Name" perfect-selectButtonAction="testing" perfect-class="formGroupControl" perfect-ctype="select">
                                    <option value="">Please select</option>
                                    @if (!(Model.warrlist is null))
                                    {
                                        foreach (var ModelList in Model.warrlist)
                                        {
                                            <option value="@ModelList.ID_WarrantyTypeSetting">@ModelList.WarrantyTypeSetting</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Service Duration</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control perfectValidate_numeric " placeholder="" name="SerDuration" perfect-class="formGroupControl"oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" perfect-ctype="select" perfect-css="input" maxlength="12" />
                            </div>
                        </div>

                    </div>


                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel"> Amount</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control text-right" placeholder="" name="WsAmount" id="WsAmount" perfect-class="formGroupControl" oninput="decimalpnt(this,'WsAmount',3)"  perfect-ctype="input" perfect-css="input"  maxlength="12"/>
                                <div class="invalid-feedback animated fadeInUp limit-check" style="display: block;"></div>

                            </div>
                        </div>
                    </div>
               
                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Tax Group</span>

                            </label>
                            <div class="col-sm-4">
                                <select class="form-control perfectValidate_string_nm" name="TaxGroupID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                    <option value="0">Please Select </option>

                                    @if (!(Model.TaxgroupList is null))
                                    {
                                        foreach (var unit in Model.TaxgroupList)
                                        {
                                            <option value="@unit.TaxGroupID">@unit.TaxGroupName</option>
                                        }
                                    }

                                </select>
                            </div>

                            &nbsp; &nbsp; &nbsp; &nbsp;
                            <label class="form-check-label" perfect-class="formCheckLabel">
                                <input type="checkbox" class="form-check-input" name="IncludeTax" perfect-class="formCheckInput" perfect-ctype="checkbox" perfect-css="checkbox">Include Tax
                            </label>
                        </div>
                       
                    </div>
                    </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Account Head</span>
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control perfectValidate_string" name="AccountHeadName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                    <input type="hidden" name="FK_AccountHead" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" value="" />

                                    <div class="input-group-append">
                                        <button id="addaccounthead-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,16,'Account Head List',['','','FK_AccountHeadSub','AccountSubHeadName'])" Criterea1="0" Criterea2="0" BindName="AccountHeadName" BindVal="FK_AccountHead"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Account Sub Head</span>

                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control perfectValidate_string" name="AccountSubHeadName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                    <input type="hidden" name="FK_AccountHeadSub" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" value="" />

                                    <div class="input-group-append">
                                        <button id="addaccountsubhead-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,17,'Account Sub Head List',['FK_AccountHead','AccountHeadName'])" Criterea1="FK_AccountHead" Criterea2="0" BindName="AccountSubHeadName" BindVal="FK_AccountHeadSub"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right" perfect-class="formFooter">
                @if (ViewBag.PagedAccessRights.UsrrlStEdt)
                {
                    <button id="" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserUpdate d-none" name="update" perfect-css="button" onclick="updatewarranty(this)"><i class="fa fa-refresh fa-spin  loaderClass"></i>Update</button>
                }
                @if (ViewBag.PagedAccessRights.UsrrlStAdd)
                {
                    <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="fn_WarrantySettingForm_add(this)"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                }
                    <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this)" name="reset">Clear</button>
                </div>

        </form>
    </div>
</div>
    <script src="~/Scripts/jqDOM/searchDOMCreation.js"></script>
    <script>

        (function () {

            jQuery("select").selectpicker();
            //jQuery('form').validate();

        })();

        function fn_WarrantySettingForm_add(ele) {
          // debugger;
        let $thisForm = $(ele).closest('[perfect-class="form"]');
            let Amount = $thisForm.find('[name=WsAmount]').val();
            let Acounthead = $thisForm.find('[name="FK_AccountHead"]').val();
            if (Amount == "" || Amount == "undefined") {
                Amount ="0";
            }         
           
                if ($thisForm.valid()) {

                    $(ele).prop('disabled', true);

                    var inputData = {

                        FK_WarrantyType: $thisForm.find('[name=WarrantyID]').val().trim(),
                        EffectDate: $thisForm.find('[name=EffectDate]').val().trim(),
                        RepDurType: $thisForm.find('[name=ReplacementID]').val().trim(),
                        ReplacementDuration: $thisForm.find('[name=RepDuration]').val().trim(),
                        SerDurType: $thisForm.find('[name=ServiceTypeID]').val().trim(),
                        ServiceDuration: $thisForm.find('[name=SerDuration]').val().trim(),
                        WsAmount: Amount,
                        FK_AccountHead: $thisForm.find('[name="FK_AccountHead"]').val().trim(),
                        FK_AccountHeadSub: $thisForm.find('[name="FK_AccountHeadSub"]').val().trim(),
                        TaxGroupID: $thisForm.find('[name="TaxGroupID"]').val(),
                        IncludeTax: $thisForm.find('[name="IncludeTax"]').is(':Checked'),
                        TransMode: WarrantySettingsTransMode
                    }

                    $.ajax({
                        url: "@Url.Action("AddWarrantySetting", "WarrantySettings")",
                        type: "POST",

                        data: JSON.stringify(inputData),
                        dataType: "json",
                        contentType: "application/json",
                        success: function (data) {
                            console.log('Add success', data)
                            if (data.Process.IsProcess) {

                                $.each(data.Process.Message, function (key, value) {

                                    NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                                });
                                $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                                $thisForm.find('[perfect-ctype="input"]').val('');
                                $thisForm.find('[perfect-ctype="date"]').val('');


                                let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                                if (onSuccess) {
                                    window[onSuccess]();


                                }


                            }
                            else {
                                $.each(data.Process.Message, function (key, value) {
                                    //toastr.warning(value, "Error");
                                    NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });

                                });
                            }
                        },
                        complete: function () {
                            $(ele).prop('disabled', false);
                        }

                    });
                }
                 
            

    }

        function ResetButton(ele) {

           
            $('.dataTable tr').removeClass("SelectForDelete");
            loadAddWarrantyForm();


        }

         function updatewarranty(ele) {
             debugger;

          let $thisForm = $(ele).closest('[perfect-class="form"]');//<------Form element :  Our Form which contain our input elements ,saved in a variable for reusability

            //perfectCRMvalidation.init($thisForm);
             let Amount = $thisForm.find('[name=WsAmount]').val();
              let Acounthead = $thisForm.find('[name="FK_AccountHead"]').val();
            if (Amount == "" || Amount == "undefined") {
                Amount ="0";
            }
             
                 if ($thisForm.valid()) {//<---------Validation :  To Check whether the form is vaild(ie; values in the form contrls are valid)
                     $(ele).prop('disabled', true);

                     let pdata = $thisForm.data('pData');
                     // console.log('in update form button click',pdata);





                     var inputData = {//<---- Input Json : this is the variable we pass to controller
                         WarrantySettingID: pdata['WarrantySettingID'],
                         FK_WarrantyType: $thisForm.find('[name=WarrantyID]').val().trim(),
                         EffectDate: $thisForm.find('[name=EffectDate]').val().trim(),
                         RepDurType: $thisForm.find('[name=ReplacementID]').val().trim(),
                         ReplacementDuration: $thisForm.find('[name=RepDuration]').val().trim(),
                         SerDurType: $thisForm.find('[name=ServiceTypeID]').val().trim(),
                         ServiceDuration: $thisForm.find('[name=SerDuration]').val().trim(),
                         WsAmount: Amount,
                         FK_AccountHead: $thisForm.find('[name="FK_AccountHead"]').val().trim(),
                         FK_AccountHeadSub: $thisForm.find('[name="FK_AccountHeadSub"]').val().trim(),
                         TaxGroupID: $thisForm.find('[name="TaxGroupID"]').val(),
                         IncludeTax: $thisForm.find('[name="IncludeTax"]').is(':Checked'),
                         TransMode: WarrantySettingsTransMode
                     };
                     console.log('> Update Post ajax input', inputData);
                     $.ajax({
                         url: "@Url.Action("UpdateWarrantySetting", "WarrantySettings")",//<----- Controller URL : url path in our controller eq: /Home/InsertSampleData or http://localhost:64212/Home/InsertSampleData
                         type: "POST",
                         // headers: { "token_key": "1234" },
                         data: JSON.stringify(inputData),//<---- Input json : data passed to controller
                         dataType: "json",
                         contentType: "application/json",
                         success: function (data) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {

                             if (data.Process.IsProcess) {

                                 $.each(data.Process.Message, function (key, value) {
                                     //toastr.success(value, "Success");
                                     NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                                 });


                                 let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                                 if (onSuccess) {
                                     window[onSuccess]($thisForm);
                                     // loadPostList();
                                 }

                                 //---------- Do stuff if success
                                 //toastr.success("Inside success", "Confirmation Box in table");

                                 // console.log('> update new customer success data', data);
                             }
                             else {
                                 $.each(data.Process.Message, function (key, value) {
                                     //toastr.warning(value, "Error");
                                     NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                                 });
                             }


                         },
                         complete: function () {
                             $(ele).prop('disabled', false);
                         }

                     });

                 }
            
        }
        function decimalpnt(ele, id, range) {

            let input = $('#' + id);
            ele.value = ele.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
            let t = ele.value;
            ele.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), range)) : t;
            input.on('keydown', function () {
                if (ele.value.includes('.')) {

                }
                var key = event.keyCode || event.charCode;
                if (key == 8 || key == 46) { }
                else {
                    if (ele.value.length == 9) {
                        ele.value = ele.value + '.';
                    }
                }

            });

        }
        //function fn_validateamount(ele) {
        //    debugger;
        //    let $thisForm = $(ele).closest('[perfect-class="form"]');
        //    let amt = $thisForm.find('[name=Amount]').val();
        //    console.log("Amount", amt);
        //}
    </script>
