@model PerfectWebERP.Models.EMIPlanModel.EMIPlanView

<div class="card ">

    <div class="card-header">
        <h4 class="card-title col-12">@ViewBag.PageTitle </h4>
        <span title="To View List" onclick="fn_showListView();"><svg id="Layer_1" class="layer" stroke="currentColor" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 122.88 122.54"><title>To View List</title><path class="viewlst" d="M4.69,0H46.22a4.71,4.71,0,0,1,4.69,4.69V46a4.69,4.69,0,0,1-4.69,4.69H4.69a4.65,4.65,0,0,1-3.31-1.38l-.09-.09A4.67,4.67,0,0,1,0,46V4.69A4.71,4.71,0,0,1,4.69,0ZM89.44,61.94a26.56,26.56,0,0,1,10.18,2l.07,0a26.61,26.61,0,0,1,15.25,32.16,26.18,26.18,0,0,1-2.7,6.11l10.3,11.24a1.27,1.27,0,0,1-.07,1.8l-7.57,6.9a1.27,1.27,0,0,1-1.79-.07l-9.86-10.85a26.36,26.36,0,0,1-6.1,2.74,26.87,26.87,0,0,1-7.71,1.13,26.51,26.51,0,0,1-10.17-2l-.07,0A26.64,26.64,0,0,1,64.85,78.37l0-.07A26.6,26.6,0,0,1,89.44,61.94Zm15,11.59a21.38,21.38,0,0,0-6.89-4.61l-.06,0a21.22,21.22,0,0,0-23.07,4.64l-.07.07a21.25,21.25,0,0,0-4.54,6.83l0,.06a21.32,21.32,0,0,0-1.58,8.06,21.26,21.26,0,0,0,29.35,19.62,21.54,21.54,0,0,0,6.89-4.61l.07-.07a21.09,21.09,0,0,0,4.54-6.83l0-.06a21.35,21.35,0,0,0,0-16.17,21.34,21.34,0,0,0-4.62-6.9ZM4.69,63.2H46.22a4.71,4.71,0,0,1,4.69,4.7v41.34a4.68,4.68,0,0,1-4.69,4.69H4.69A4.69,4.69,0,0,1,0,109.24V67.9a4.71,4.71,0,0,1,4.69-4.7ZM68.78,0h41.53A4.71,4.71,0,0,1,115,4.69V46a4.71,4.71,0,0,1-4.69,4.69H68.78A4.71,4.71,0,0,1,64.09,46V4.69a4.69,4.69,0,0,1,1.37-3.31l.1-.09A4.67,4.67,0,0,1,68.78,0Z"></path></svg></span>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">


            <div class="row">

                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label name="lblProject" class="col-sm-4 col-form-label">Project&nbsp;<span class="text-danger">*</span></label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="hidden" name="FK_Category" class="form-control" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" hidden />
                                <input type="text" class="form-control form-control disableEnable" name="Project" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" readonly />
                                <input type="hidden" name="ProjectID" class="form-control form-control perfectValidate_string" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />

                                <div class="input-group-append">
                                    <button id="addcountry-jq-searchButton3" class="btn btn-primary fa fa-search disableEnable" type="button" onclick="GetCmnPopUpSearchValAssign(this, 156, 'Project Details',['FinalAmount'],['FK_Category','FinalAmount','PrBillAmount'],EMITransMode)" BindName="Project" BindVal="ProjectID" Function="1" perfect-css="button"></button>
                                </div>
                            </div>
                            <div id="ErrProjectID" class="text-danger temptableError "></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Finalization Amount</span>

                        </label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" id="FinalAmount" class="form-control text-right perfectValidate_string" placeholder="" name="FinalAmount" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" min="0" readonly />
                                <input type="hidden" id="PrBillAmount" name="PrBillAmount" class="form-control form-control perfectValidate_string" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                            </div>
                            <div id="ErrFinalAmount" class="text-danger temptableError "></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">EMI Plan Type</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <select class="form-control perfectValidate_string disableEnable" name="FK_FinancePlanType" id="FK_FinancePlanType" perfect-class="formGroupControl" perfect-ctype="select" onchange="fn_BindPlanDetails(this)" perfect-css="select">
                                <option value="">Please Select </option>


                                @if (Model.EMIPlanList != null)
                                {
                                    foreach (var emi in Model.EMIPlanList)
                                    {
                                        <option value="@emi.ID_FinancePlanType">@emi.FpName</option>
                                    }
                                }
                            </select>
                            <div id="ErrFinancePlanType" class="text-danger temptableError "></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">EMI Start Date</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">

                            <input type="date" id="EMIDate" class="form-control disableEnable" name="EMIDate" perfect-class="formGroupControl" perfect-ctype="date" max="2050-01-01" perfect-css="date" />

                            <div id="ErrEMIDate" class="text-danger temptableError "></div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Down Payment</span>

                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control text-right perfectValidate_string disableEnable" placeholder="" name="DownPayment" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" min="0" />

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Installment Amount</span>

                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control text-right perfectValidate_string disableEnable" placeholder="" name="InstlmntAmnt" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" min="0" />

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Additional Charge</span>

                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control text-right perfectValidate_string disableEnable" placeholder="" name="AdditionalChrg" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" min="0" />

                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <button id="btnProcessEMI" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="fn_EMI_Process(this,tableOptionsProcessedDetails)"><i class="fa fa-refresh fa-spin loaderClass "></i>Process</button>

                </div>
                <div class="col-sm-12">
                    <div class="form-group row" perfect-class="formGroup">

                        <div class="table-responsive" perfect-tempTable="EMIProcessedDetails" perfect-tempTable-lastindex="0" perfect-tempTable-action="0" style="height: 300px;overflow-y: auto;"></div>

                    </div>
                </div>
            </div>

            <div class="card-footer text-right" perfect-class="formFooter">
                <button id="" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserUpdate d-none" name="update" perfect-css="button" onclick="fn_EMIPlanForm_update(this,'update')"><i class="fa fa-refresh fa-spin loaderClass"></i>Update</button>
                <button id="btnSaveEMIPlan" style="display:none" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="fn_EMIPlanForm_update(this)"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this)" name="reset">Clear</button>
            </div>


        </form>
    </div>
</div>
<script>
    function fn_EMIPlanForm_update(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        var _EMIPlanDetailsList = [];

        $("#tblEMIPlans tbody tr").each(function () {

            let Dtls = {};
            Dtls['SLNo'] = this.cells[0].innerHTML;
            Dtls['EMIDate'] = this.cells[1].innerHTML;
            Dtls['Amount'] = this.cells[2].innerHTML;
            Dtls['Remarks'] = this.cells[3].innerHTML;
            _EMIPlanDetailsList.push(Dtls);





        })
        let inputData = {
            __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
            TransMode: EMITransMode,
            FK_Master: $thisForm.find('[name=ProjectID]').val(),
            FK_FinancePlanType: $thisForm.find('[name=FK_FinancePlanType]').val(),
            CedTotalAmount: $thisForm.find('[name=FinalAmount]').val(),
            CedDownPayment: $thisForm.find('[name=DownPayment]').val(),
            CedAddAmount: $thisForm.find('[name=AdditionalChrg]').val(),
            CedInstAmount: $thisForm.find('[name=InstlmntAmnt]').val(),
            CedFirstInstDate: $thisForm.find('[name=EMIDate]').val(),
            EMIPlanDetailsList: _EMIPlanDetailsList,


        };

        $.ajax({
            url: '@Url.Action("AddNewEMIPlan", "EMIPlan")',
            type: "POST",
            data: inputData,
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            success: function (ajaxOutput) {
                if (ajaxOutput.Process.IsProcess) {

                    $.each(ajaxOutput.Process.Message, function (key, value) {
                        //toastr.success(value, "Success");
                        NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                        ResetButton();
                    });
                }
                else {
                    $.each(ajaxOutput.Process.Message, function (key, value) {
                        //toastr.warning(value, "Error");
                        NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                    });
                }
            },
            complete: function () {
                $(ele).prop('disabled', false);
            }
        });
    }



    function fnDisableOrEnable(flag) {

        if (flag) {
            $(".disableEnable").attr("disabled", "disabled");
            $(".dropdown-toggle").attr("disabled", "disabled");
            $("#btnSaveEMIPlan").show();
            //$(".btn dropdown-toggle btn-light").attr("disabled", "disabled");

        } else {

            $("#tblEMIPlans").html("");
            $("#btnSaveEMIPlan").hide();
            $(".disableEnable").removeAttr("disabled");
            $(".dropdown-toggle").removeAttr("disabled");
        }
    }
    function fn_EMI_Process(ele, tableOptionsProcessedDetails) {


        let $thisForm = $(ele).closest('[perfect-class="form"]');
        $(".temptableError").text("");
        var valid = true;
        var FinalAmount = $thisForm.find('[name=FinalAmount]').val() == "" ? 0 : parseFloat($thisForm.find('[name=FinalAmount]').val());
        if ($thisForm.find('[name=EMIDate]').val() == "") {
            valid = false;
            $("#ErrEMIDate").text("Please Select EMI Start Date");
        }
        if ($thisForm.find('[name=ProjectID]').val() == "") {
            valid = false;
            $("#ErrProjectID").text("Please Select Project");
        }
        if (parseFloat(FinalAmount)<=0) {
            valid = false;
            $("#ErrFinalAmount").text("Final Amount is Required");
        }
        if ($thisForm.find('[name=FK_FinancePlanType]').val() == "0" || $thisForm.find('[name=FK_FinancePlanType]').val() == "") {
            valid = false;
            $("#ErrFinancePlanType").text("Please Select EMI Plan Type");
        }




        if (valid) {
            if ($("#btnProcessEMI").text() == "Process") {
                fnDisableOrEnable(true); $("#btnProcessEMI").text("Reset");
            }
            else {
                fnDisableOrEnable(false); $("#btnProcessEMI").text("Process");
                valid = false;
            }

            if (valid) {
                let inputData = {
                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                    Date: $thisForm.find('[name=EMIDate]').val(),
                    Downpayment: $thisForm.find('[name=DownPayment]').val(),
                    AdditionalAmount: $thisForm.find('[name=AdditionalChrg]').val(),
                    Installment: $thisForm.find('[name=InstlmntAmnt]').val(),
                    BillAmount: $thisForm.find('[name=FinalAmount]').val(),
                    FK_FinancePlan: $thisForm.find('[name=FK_FinancePlanType]').val(),

                };

                $.ajax({
                    url: '@Url.Action("GetEMISlabDetails","EMIPlan")',
                    type: "GET",
                    data: inputData,
                    dataType: "json",
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    success: function (ajaxOutput) {

                        fillSlabTable($thisForm, 'EMIProcessedDetails', ajaxOutput.Data, tableOptionsProcessedDetails);
                    }
                });
            }
        }
    }
    var tableOptionsProcessedDetails = {
        onlyShowColumn: ["EMIDate", "Amount", "Remarks"],
        hideColumn: ["SLNO"],
        serialNo: true,
        renameHeader: {
            "EMIDate": "EMI Start Date"
        },

        rowAttribute: [],
        isCheckType: [],
        isDateType: ["EMIDate"],
    };
    function getfunction(ele) {
        debugger
        let $thisForm = $(ele).closest('[perfect-class="form"]');


        //console.log('1:', parseFloat($("#FinalAmount").val()).toFixed(2));
        //console.log('2:', parseFloat($("#PrBillAmount").val()).toFixed(2));
        $("#FinalAmount").val((parseFloat($("#FinalAmount").val()).toFixed(2)) - (parseFloat($("#PrBillAmount").val()).toFixed(2)));
       
        //$("#FinalAmount").val(parseFloat($("#FinalAmount").val()).toFixed(2));


        let $FinancePlanTypeDropdown = $thisForm.find('[name=FK_FinancePlanType]');//<--- Will give place select html element
        $FinancePlanTypeDropdown.empty();
       $FinancePlanTypeDropdown.append($('<option/>', { "value": '0' }).text('Please select')).selectpicker('refresh');
        let inputData = {
            __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
            FK_Category: $thisForm.find('[name=FK_Category]').val(),
        };
        $.ajax({
            url: "@Url.Action("GetEMIPlanList","EMIPlan")",
            type: "GET",
            data: inputData,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded;charset=utf-8",
            success: function (ajaxOutput) {



                if (ajaxOutput.Process.IsProcess) {

                    $.each(ajaxOutput.Data, function (key, value) {
                        $FinancePlanTypeDropdown.append($('<option/>', { "value": value.ID_FinancePlanType }).text(value.FpName)).selectpicker('refresh')
                    });
                    $("#DownPayment").val("0.00");
                    $("#AdditionalChrg").val("0.00");
                    $("#InstlmntAmnt").val("0.00");

                }
                else {
                    $.each(ajaxOutput.Process.Message, function (key, value) {

                    });
                }
            }

        });


    }
    function fn_BindPlanDetails(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');



        let inputData = {
            __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
            FK_FInancePlan: $thisForm.find('[name=FK_FinancePlanType]').val(),
            FK_Category: $thisForm.find('[name=FK_Category]').val(),
            Amount: $thisForm.find('[name=FinalAmount]').val(),
        };
        $.ajax({
            url: "@Url.Action("GetEMIPlanDetails","EMIPlan")",
            type: "GET",
            data: inputData,
            dataType: "json",
            contentType: "application/x-www-form-urlencoded;charset=utf-8",
            success: function (ajaxOutput) {

                if (ajaxOutput.Process.IsProcess) {

                    var data = ajaxOutput.Data;
                    if (data.length>0) {
                        $thisForm.find('[name=DownPayment]').val(parseFloat(data[0].DownPayment).toFixed(2));
                        $thisForm.find('[name=InstlmntAmnt]').val(parseFloat(data[0].InstalmentAmt).toFixed(2));
                        $thisForm.find('[name=AdditionalChrg]').val(parseFloat(data[0].AddnAmount).toFixed(2));
                    }


                }
                else {
                    $.each(ajaxOutput.Process.Message, function (key, value) {

                    });
                }
            }

        });

    }

    function fillSlabTable(ele, tkey, data, tableOptionsTempOut) {


        $("#btnSaveEMIPlan").hide();

        let $thisForm = $(ele).closest('[perfect-class="form"]');

        let tableOptionsTemp = tableOptionsTempOut;
        let insertData = []
        let tableKey = tkey;

        let indexname = tkey + 'index';
        tableOptionsTemp.rowAttribute.push(indexname);
        tableOptionsTemp.hideColumn.push(indexname);

        let $tblcontainer = $thisForm.find('[perfect-tempTable="' + tableKey + '"]');

        var html = "<table id='tblEMIPlans' class='table mb-0 table-hover table-striped  text-black'><thead class='thead-primary' style='position: sticky;  top: 0px;'><tr class='btn-reveal-trigger'><th class='py-2'>Sl No.</th><th>EMI Start Date</th><th style='text-align:right'>Amount</th><th>Remarks</th></tr></thead><tbody>";


        $.each(data, function (keyOne, valOne) {

            $("#btnSaveEMIPlan").show();
            if (valOne.SLNo > 0) {

                html += "<tr><td>" + valOne.SLNo + "</td><td>" + moment(valOne.EMIDate).format('DD/MM/YYYY') + "</td><td style='text-align:right'>" + parseFloat( valOne.Amount).toFixed(2) + "</td><td>" + valOne.Remarks + "</td></tr>";

            }
            //----

        });

        $tblcontainer.html(html);
        // $tblcontainer.find('table').dataTable({ paging: true });

    }
    function ResetButton() {
        EMIPlanInitialLoad();
    }
</script>
