
@model PerfectWebERP.Models.SalesReportModel.salelist
<style>
    .Custominvalid {
        display: none;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #FF6746;
    }

  
</style>
<div class="card ">

    <div class="card-header">


        <h4 class="card-title col-12">Sales Report<span class="badge light badge-success float-right" perfect-class="formTitle"></span></h4>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" meth
od="post" perfect-onFormSuccess="">
            <div class="">
                @Html.AntiForgeryToken()
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Report Name</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8 ">
                                <input type="hidden" id="Companyname" name="Companyname" class="form-control" value="@Model.Companyname" perfect-class="formGroupControl" perfect-css="input" />

                                <select class="form-control  Action Actionbill" id="ID_Report" name="ID_Report" data-id="ID_Report-error" perfect-class="formGroupControl" onchange="bindReportField(this)" perfect-ctype="select" perfect-css="select">
                                    <option value="0">Please select</option>
                                    <option value="1">Sales Register</option>
                                    <option value="2">Sales List Detailed</option>
                                    <option value="3">Sales List Non-Detailed</option>
                                    <option value="4">Holded List</option>
                                    <option value="5">Sales Ledger</option>
                                    <option value="14">Payment Method </option>
                                </select>
                                <div id="ID_Report-error" class="Custominvalid animated fadeInUp producterror" style="display: none;">Please Select Report Name</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 Divbilltype">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Bill Type</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control" id="FK_BillType" name="FK_BillType" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                    <option value="0">All</option>
                                    @if (!(Model.BillTypeListView is null))
                                    {
                                        foreach (var BillType in Model.BillTypeListView)
                                        {
                                            <option value="@BillType.BillTypeID">@BillType.BillType</option>
                                        }
                                    }
                                </select>

                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 Divbranch">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Branch</span>

                            </label>
                            <div class="col-sm-8">

                                <select class="form-control perfectValidate_string_nm" id="BranchID" name="BranchID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" onchange="clearbill(this)">

                                    <option value="0">All</option>


                                    @if (!(Model.BranchList is null))
                                    {
                                        foreach (var branchList in Model.BranchList)
                                        {
                                            if (branchList.BranchID == ViewBag.FK_Branch)
                                            {
                                                <option value="@branchList.BranchID" selected>@branchList.Branch</option> }
                                            else
                                            {
                                                <option value="@branchList.BranchID">@branchList.Branch</option>}

                                        }

                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 Divdep">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Department</span>

                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string_nm" id="DepId" name="DepId" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" onchange="clearbill(this)">
                                    <option value="0">All</option>
                                    @if (!(Model.deprtmnt is null))
                                    {
                                        foreach (var deprtmnt in Model.deprtmnt)
                                        {
                                            if (deprtmnt.DepId == ViewBag.FK_Department)
                                            {
                                                <option value="@deprtmnt.DepId" selected>@deprtmnt.Depname</option>
                                            }
                                            else
                                            {
                                                <option value="@deprtmnt.DepId">@deprtmnt.Depname</option>
                                            }

                                        }

                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 DivFromDate">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">From Date</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control  Action" id="FromDate" data-id="FromDate-error" name="FromDate" perfect-class="formGroupControl" max="2050-01-01" perfect-ctype="date" perfect-css="date" onchange="checkLimit(this)">
                                <div id="FromDate-error" class="Custominvalid animated fadeInUp producterror" style="display: none;">Please Select From Date</div>
                            </div>
                        </div>
                    </div>



                    <div class="col-sm-6 DivToDate">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">To Date</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="date" id="ToDate" class="form-control  Action" name="ToDate" data-id="ToDate-error" perfect-class="formGroupControl" perfect-ctype="date" max="2050-01-01" onchange="checkLimit(this)" perfect-css="date" />
                                <div id="ToDate-error" class="Custominvalid animated fadeInUp producterror" style="display: none;">Please Select To Date</div>
                                @*<input type="date" class="form-control perfectValidate_date ToDate" id="ToDate" data-id="ToDate-error" name="ToDate" perfect-class="formGroupControl" max="2050-01-01" perfect-ctype="date" perfect-css="date" onchange="checkLimit(this)">*@
                                <div class="invalid-feedback animated fadeInUp limit-check" style="display: block;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 DivBillNo">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Bill No</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="input-group col-sm-8">
                                <input type="text" class="form-control " data-id="BillNo-error" name="BillNo" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                <input type="hidden" name="Billid" class="form-control   Actionbill" data-id="Billid-error" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                <div class="input-group-append">
                                    <button id="addproduct-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,55,'Bill List',[])" Criterea1="BranchID" Criterea2="DepId" BindName="BillNo" BindVal="Billid"></button>
                                </div>
                                <div id="Billid-error" class="Custominvalid animated fadeInUp producterror" style="display: none;">Please Select Bill No</div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 DivPaym">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Payment Method</span>

                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string_nm" id="PaymentmethodID" name="PaymentmethodID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" onchange="clearbill(this)">
                                    <option value="0">All</option>
                                    @if (!(Model.PaymentmethodList is null))
                                    {
                                        foreach (var PayMlist in Model.PaymentmethodList)
                                        {
                                            <option value="@PayMlist.PaymentmethodID">@PayMlist.Paymentmethod</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 DivCategory">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Category</span>
                            </label>
                            <div class="col-sm-8 ">
                                <select class="form-control " id="FK_Category" name="FK_Category" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                    <option value="0">Please select</option>
                                    @if (!(Model.categorytyps is null))
                                    {
                                        foreach (var Action in Model.categorytyps)
                                        {
                                            <option value="@Action.ID_Category">@Action.CatName</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 DivProduct">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label"><span perfect-class="formGroupLabel">Product</span></label>
                            <div class="input-group col-sm-8">
                                <input type="text" class="form-control" name="ProductName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                <input type="hidden" name="ID_Product" class="form-control " perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                <input type="hidden" name="MRPs" class="form-control " perfect-ctype="hidden" perfect-css="input" />
                                <input type="hidden" name="SalePrice" class="form-control " perfect-ctype="hidden" perfect-css="input" />
                                <input type="hidden" name="StockId" class="form-control " perfect-ctype="hidden" perfect-css="input" />
                                <div class="input-group-append">
                                    <button id="addcountry-jq-searchButton3" name="prdbtn" class="btn btn-primary fa fa-search" type="button" onclick="GetCmnPopUpSearchValAssign(this, 32, 'Product Details', [], ['MRPs','SalePrice','StockId'])" BindName="ProductName" BindVal="ID_Product" Criterea1="BranchID" Criterea2="DepId" perfect-css="button"></button>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="col-sm-6 DivCriteri">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Grouping</span>
                                <span class="text-danger"></span>
                            </label>
                            <div class="col-sm-8 ">
                                <select class="form-control" id="Criteria" name="Criteria" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                    <option value="0">Please select</option>
                                    <option value="1">Bill Type</option>
                                    <option value="2">Product</option>
                                    <option value="3">Category</option>
                                    <option value="5">Department</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 DivCriteria1">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Grouping</span>
                                <span class="text-danger"></span>
                            </label>
                            <div class="col-sm-8 ">
                                <select class="form-control" id="Criteria1" name="Criteria1" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                    <option value="0">Please select</option>
                                    <option value="1">Bill Type</option>
                                    <option value="5">Department</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 DivCriteria2">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Grouping</span>
                                <span class="text-danger"></span>
                            </label>
                            <div class="col-sm-8 ">
                                <select class="form-control" id="Criteria2" name="Criteria2" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                    <option value="0">Please select</option>
                                    <option value="1">Bill Type</option>
                                    <option value="6">PaymentMethod</option>

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Report Format</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control" id="Rptype" name="Rptype" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">


                                    <option value="1" selected>PDF</option>
                                    <option value="2">Excel</option>

                                </select>
                            </div>
                        </div>
                    </div>

                </div>


            </div>
            <div class="card-footer text-right" perfect-class="formFooter">
                <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="getreport(this) "><i class="fa fa-refresh fa-spin loaderClass "></i>Show</button>
                <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this);" name="reset">Clear</button>
            </div>
        </form>
    </div>


</div>
<script>
    (function () {
        // jQuery('form').validate();//<-----  Validate/initialize our form on page load
        jQuery('select').selectpicker();
    })();
    $(document).ready(function () {


        bindReportField();
    });

    function clearbill(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        $thisForm.find('[name="BillNo"]').val('');
        $thisForm.find('[name="Billid"]').val('');
    }


    function bindReportField() {

        if ($("#ID_Report").val() == 1 || $("#ID_Report").val() == 4) {
            $('.Divbilltype').show();
            $('.Divbranch').show();
            $('.Divdep').show();
            $('.DivFromDate').show();
            $('.DivToDate').show();
            $('.DivBillNo').hide();
            $('.DivCategory').hide();
            $('.DivProduct').hide();
            $('.DivCriteri').hide();
            $('.DivCriteria1').hide(); 
            $('.DivPaym').hide();
        }
        else if ($("#ID_Report").val() == 2) {
            $('.Divbilltype').show();
            $('.Divbranch').show();
            $('.Divdep').show();
            $('.DivFromDate').show();
            $('.DivToDate').show();            
            $('.DivCategory').show();
            $('.DivProduct').show();
            $('.DivCriteri').show();
            $('.DivCriteria1').hide();
            $('.DivBillNo').hide();
            $('.DivPaym').hide();
        }
        else if ($("#ID_Report").val() == 3) {
           
            $('.Divbilltype').show();
            $('.Divbranch').show();
            $('.Divdep').show();
            $('.DivFromDate').show();
            $('.DivToDate').show();           
            $('.DivCriteria1').show();
            $('.DivBillNo').hide();
            $('.DivCategory').hide();
            $('.DivProduct').hide();
            $('.DivCriteri').hide();
            $('.DivPaym').hide();
           
        }
        else if ($("#ID_Report").val() == 5) {
           
            $('.DivBillNo').show();
            $('.DivCategory').hide();
            $('.DivProduct').hide();
            $('.DivCriteri').hide();
            $('.DivCriteria1').hide();
            $('.Divbilltype').hide();
            $('.Divbranch').show();
            $('.Divdep').show();
            $('.DivFromDate').hide();
            $('.DivToDate').hide();
            $('.DivPaym').hide();
        }
        else if ($("#ID_Report").val() == 14) {


            $('.Divbilltype').show();
            $('.Divbranch').show();
            $('.Divdep').show();
            $('.DivFromDate').show();
            $('.DivToDate').show();
            $('.DivCriteria1').show();
            $('.DivBillNo').hide();
            $('.DivCategory').hide();
            $('.DivProduct').hide();
            $('.DivCriteri').hide();
            $('.DivCriteria1').hide();
            $('.DivCriteria2').show();
            $('.DivPaym').show();
        }
        else {
            $('.Divbilltype').show();
            $('.Divbranch').show();
            $('.Divdep').show();
            $('.DivFromDate').show();
            $('.DivToDate').show();
            $('.DivBillNo').hide();
            $('.DivCategory').hide();
            $('.DivProduct').hide();
            $('.DivCriteri').hide();
            $('.DivCriteria1').hide();
            $('.DivPaym').hide();
        }

    }

    function ResetButton(ele)
    {


        let $thisForm = $(ele).closest('[perfect-class="form"]');

        $thisForm.find('[perfect-ctype="select"]').val(0).selectpicker('refresh');
        $thisForm.find('[perfect-ctype="input"]').val('');

        $thisForm.find('[perfect-ctype="date"]').val('');
        $thisForm.find('[perfect-ctype="hidden"]').val('');
        $thisForm.find('[name="FromDate"]').val(moment().format('YYYY-MM-DD'));
        $thisForm.find('[name="ToDate"]').val(moment().format('YYYY-MM-DD'));
        let branch = @ViewBag.FK_Branch;
        let dept = @ViewBag.FK_Department;

        $thisForm.find('[name="BranchID"]').val(branch).selectpicker('refresh');
        $thisForm.find('[name="DepId"]').val(dept).selectpicker('refresh');
        $thisForm.find('[name="Rptype"]').val(1).selectpicker('refresh');
        bindReportField()
        $thisForm.validate().resetForm();
    }

    function checkLimit(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        //invalid-feedback
        let Fromdate = $thisForm.find('[name="FromDate"]').val();
        let Todate = $thisForm.find('[name="ToDate"]').val();

        Fromdate = new Date(Fromdate);
        Fromdate.setHours(0, 0, 0, 0)

        Todate = new Date(Todate);
        Todate.setHours(0, 0, 0, 0)

        if (Todate < Fromdate) {

            console.log('inside limit check if')
            $thisForm.find('[name="ToDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('To Date should be greater than  From Date')
            return false;
        }
        else {

            console.log('inside limit check else')
            $thisForm.find('[name="ToDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('')
            return true;
        }


    }



    function ValidateAddrepdetails(Rptval) {
        var Error = 0;
        let $inp;
        if (Rptval == 1 || Rptval == 2 || Rptval == 3 || Rptval == 4 || Rptval == 14) { $inp = $(".Action");  }
      
        else if (Rptval == 5) { $inp = $(".Actionbill"); }
        else if (Rptval == 0) { $inp = $(".Action"); }
        let is_empty;
        $inp.each((i, el) => {


            if (!$('[name=' + $(el).attr('name') + ']').val() == undefined) {
                is_empty = false;

            }
            else {
                if ($('[name=' + $(el).attr('name') + ']').val() == 0 || $('[name=' + $(el).attr('name') + ']').val() == "") {
                    is_empty = true;
                }
                else {


                    is_empty = !$('[name=' + $(el).attr('name') + ']').val();
                }

            }
          let ErrorID = $(el).attr('data-id');

            if (ErrorID != undefined) {
                if (is_empty) {

                    $('#' + ErrorID).css('display', 'block');
                    Error++;

                }
                else if (!is_empty) {
                    $('#' + ErrorID).css('display', 'none');

                }
                el.classList.toggle("is-empty", is_empty);
            }
        });
   
        return Error;
    }





    ////Report generation
    function getreport(ele)
    {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        if (ValidateAddrepdetails($('#ID_Report').val()) <=0) {
            //  if (ValidateForm($('#ID_Report').val(), $thisForm) <= 0) {
            var dateval=true;
            if ($('#ID_Report').val() != 5) { dateval = checkLimit(ele) }
          
            if (dateval) {
                var Report_Id = $('#ID_Report').val();
                var BillNo = $('[name="BillNo"]').val();
                var Billid = $('[name="Billid"]').val();
                var Company = $thisForm.find('[name="Companyname"]').val();
                var billtype = $thisForm.find('[name="FK_BillType"]').val();
                var billtypename = $thisForm.find('[name="FK_BillType"] option:selected').text();

                var pmtype = $thisForm.find('[name="PaymentmethodID"]').val();
                var pmtypename = $thisForm.find('[name="PaymentmethodID"] option:selected').text();

                var Fromdate = $('#FromDate').val();
                var Todate = $('#ToDate').val();
                var Product = $thisForm.find('[name="ID_Product"]').val();

                var Branch = $('#BranchID').val();
                var Depid = $('#DepId').val();
                var Criteria;
                if (Report_Id == 3) {
                    Criteria = $('#Criteria1').val();
                }
                else {
                    Criteria = $('#Criteria').val();
                }
                if (Report_Id == 14) {
                    Criteria = $('#Criteria2').val();
                }
                var categorys = $('#FK_Category :selected').text();
                var Reportformat = $('#Rptype').val();
                var Category = $('#FK_Category').val();
                ////filter

                var product = $thisForm.find('[name="ProductName"]').val();
                var crtireanam;
                if (Report_Id == 3) {
                    
                    crtireanam = $thisForm.find('[name="Criteria1"] option:selected').text();
                }
                else {
                    crtireanam = $thisForm.find('[name="Criteria"] option:selected').text();
                }
                if (Report_Id == 14) {
                    crtireanam = $thisForm.find('[name="Criteria2"] option:selected').text();
                }
             
                var Branchname = $thisForm.find('[name="BranchID"] option:selected').text();
                var depname = $thisForm.find('[name="DepId"] option:selected').text();

                var Url = ('@Url.Action("GetSalesReport", "Report")?ReportMode=' + Report_Id +
                    '&FK_Product=' + Product +
                    '&FromDate=' + Fromdate +
                    '&ToDate=' + Todate +
                    '&FK_Branch=' + Branch +
                    '&FK_Department=' + Depid +
                    '&billtype=' + billtype +
                    '&BillNo=' + BillNo +
                    '&ID_Master=' + Billid +
                    '&pmtype=' + pmtype +
                    '&pmtypename=' + pmtypename +
                    '&depname=' + depname +
                    '&billtypename=' + billtypename +
                    '&Branchname=' + Branchname +
                    '&Prodname=' + product +
                    '&Critername=' + crtireanam +
                    '&Rptype=' + Reportformat +
                    '&Criteria=' + Criteria +
                    '&FK_Category=' + Category +
                    '&CompName=' + Company +
                    '&categorys=' + categorys);
                if (Reportformat == 1) {
                    popitup(Url);
                }
                else {
                    fireDownload(Url);
                }
                //}
            }
        }
    }

    function popitup(url)
    {
        newwindow = window.open(url, 'name', 'height=1000,width=1000');
        if (window.focus) { newwindow.focus() }
        return false;
    }

    function fireDownload(url)
    {
        window.location.assign(url);
    }
</script>
