@model PerfectWebERP.Models.StockReportModel.StockReportView

<style>
    .Custominvalid {
        display: none;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 80%;
        color: #FF6746;
    }
</style>
<div class="card ">
    <div class="card-header">
        <h4 class="card-title col-12">Stock Reports@*<span class="badge light badge-success float-right" perfect-class="formTitle">REPORT</span>*@</h4>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            <div class="">
                @*@Html.AntiForgeryToken()*@
                <div class="row">

                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Report Name</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8 ">
                                <input type="hidden" id="Companyname" name="Companyname" class="form-control" value="@Model.Companyname" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                <select class="form-control Action ActionDate" id="ID_Report" name="ID_Report" data-id="ID_Report-error" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" onchange="showandhidefield(this)">
                                    <option value="0">Please select</option>
                                    <option value="5">Current Stock List</option>
                                    <option value="6">Current Employee Stock List</option>
                                    <option value="7">Stock Register List</option>
                                    <option value="12">Movement List Non Detailed</option>
                                    <option value="11">Movement List Detailed</option>
                                    <option value="13">Stock Transfer List</option>
                                    <option value="15">Stock Conversion List</option>
                                </select>
                                <div id="ID_Report-error" class="Custominvalid animated fadeInUp producterror" style="display: none;">Please Select Report Name</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">

                    </div>
                    <div class="col-sm-6 DivFromDate">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">From Date</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control ActionDate" id="FromDate" data-id="FromDate-error" name="FromDate" perfect-class="formGroupControl" max="2050-01-01" perfect-ctype="date" perfect-css="date" onchange="checkLimit(this)">
                                <div id="FromDate-error" class="Custominvalid animated fadeInUp producterror" style="display: none;">Please Select From Date</div>
                                <div class="invalid-feedback animated fadeInUp limit-check" style="display: block;"></div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 DivToDate">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">To Date</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control ActionDate" id="ToDate" data-id="ToDate-error" name="ToDate" perfect-class="formGroupControl" max="2050-01-01" perfect-ctype="date" perfect-css="date" onchange="checkLimit(this)">
                                <div class="invalid-feedback animated fadeInUp limit-check" style="display: block;"></div>
                                <div id="ToDate-error" class="Custominvalid animated fadeInUp producterror" style="display: none;">Please Select To Date</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Branch</span>
                                <input type="hidden" name="FK_BranchMode" class="form-control" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string_nm" id="BranchID" name="BranchID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" data-live-search="true" onchange="onchangeBranchclears(this)">

                                    <option value="">Please Select</option>


                                    @if (!(Model.BranchList is null))
                                    {
                                        foreach (var branchList in Model.BranchList)
                                        {
                                            <option value="@branchList.BranchID">@branchList.BranchName</option>
                                        }

                                    }

                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 DivBranchTo">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">

                                <span perfect-class="formGroupLabel">Branch To</span>

                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string" id="BranchIDTo" name="BranchIDTo" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" data-live-search="true" onchange="onchangeBranchclearsTo(this)">

                                    <option value="">Please Select </option>

                                    @if (!(Model.BranchListTo is null))
                                    {
                                        foreach (var branchListto in Model.BranchListTo)
                                        {
                                            <option value="@branchListto.BranchIDTo">@branchListto.BranchNameTo</option>
                                        }

                                    }

                                </select>

                            </div>

                        </div>
                    </div>


                    <div class="col-sm-6 DivDepartment">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Department</span>

                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string_nm" id="DepartmentID" name="DepartmentID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" data-live-search="true" onchange="clearemployee(this)">

                                    <option value="">Please Select</option>

                                    @if (!(Model.DepartmentList is null))
                                    {
                                        foreach (var deprtmnt in Model.DepartmentList)
                                        {
                                            <option value="@deprtmnt.DepartmentID">@deprtmnt.DepartmentName</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 DivDepartmentTO">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">

                                <span perfect-class="formGroupLabel">Department To</span>

                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string" id="DepartmentIDTo" name="DepartmentIDTo" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" data-live-search="true" onchange="clearemployeeTo(this)">

                                    <option value="">Please Select </option>

                                    @if (!(Model.DepartmentListTo is null))
                                    {
                                        foreach (var departmentListto in Model.DepartmentListTo)
                                        {
                                            <option value="@departmentListto.DepartmentIDTo">@departmentListto.DepartmentNameTo</option>
                                        }

                                    }

                                </select>

                            </div>

                        </div>
                    </div>
                    @if (ViewBag.Manager || ViewBag.Admin)
                    {
                        <div class="col-sm-6 DivEmployeeName">
                            <div class="form-group row" perfect-class="formGroup">
                                <label class="col-sm-4 col-form-label rptfilterfields">
                                    <span perfect-class="formGroupLabel">Employee Name</span>

                                </label>
                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <input type="text" class="form-control rptfilters" name="Employee" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" placeholder="Select Employee" disabled />
                                        <input type="hidden" name="EmployeeID" class="form-control" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                        <div class="input-group-append">

                                            <button id="employeefromid" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchValAssign(this,149,'Employee List',[],['FK_Branch','FK_Department'])" Criterea1="DepartmentID" Criterea2="BranchID" BindName="Employee" BindVal="EmployeeID"></button>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    }



                    else
                    {
                        <div class="col-sm-6 DivEmployeeName">
                            <div class="form-group row" perfect-class="formGroup">
                                <label class="col-sm-4 col-form-label rptfilterfields">
                                    <span perfect-class="formGroupLabel">Employee Name</span>
                                </label>
                                <div class="col-sm-8">
                                    <div class="input-group">

                                        <input type="text" class="form-control rptfilters" name="Employee" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" placeholder="Select Employee" value='@ViewBag.Employee' disabled />
                                        <input type="hidden" name="EmployeeID" class="form-control" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" value='@ViewBag.FK_Employee' />

                                        <div class="input-group-append">
                                            <button id="employeefromid" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchValAssign(this,149,'Employee List',[],['FK_Branch','FK_Department'])" Criterea1="DepartmentID" Criterea2="BranchID" BindName="Employee" BindVal="EmployeeID"disabled></button>
                                            
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @*<div class="col-sm-6 DivEmployeeName">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">

                                <span perfect-class="formGroupLabel">Employee</span>

                            </label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control " name="Employee" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                    <input type="hidden" id="EmployeeID" name="EmployeeID" class="perfectValidate_numeric_nm" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                    <div class="input-group-append">
                                       
                                        <button id="employeefromid" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchValAssign(this,149,'Employee List',[],['FK_Branch','FK_Department'])" Criterea1="DepartmentID" Criterea2="BranchID" BindName="Employee" BindVal="EmployeeID"></button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>*@


                    <div class="col-sm-6 DivEmployeeNameTo">
                        <div class="form-group2 row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">

                                <span perfect-class="formGroupLabel">Employee To</span>

                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="EmployeeNameTo" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                    <input type="hidden" id="EmployeeIDTo" name="EmployeeIDTo" class="perfectValidate_numeric_nm" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                    <div class="input-group-append">

                                        <button id="addemployeestockto-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchValAssign(this,149,'Employee List',[],['FK_Branch','FK_Department'])" Criterea1="DepartmentIDTo" Criterea2="BranchIDTo" BindName="EmployeeNameTo" BindVal="EmployeeIDTo" onchange="checkemployeeid"></button>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                    <div class="col-sm-6 Divcategory">

                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Category</span>

                            </label>
                            <div class="col-sm-8 ">
                                <select class="form-control " id="CategoryID" name="CategoryID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" onchange="clearproducts(this)">
                                    <option value="">Please select</option>
                                    @if (!(Model.CategoryList is null))
                                    {
                                        foreach (var Action in Model.CategoryList)
                                        {
                                            <option value="@Action.CategoryID">@Action.CategoryName</option>
                                        }
                                    }

                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6 DivProduct">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Product</span>
                                @*<span class="text-danger">*</span>*@

                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="Product" id="Prodt" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                    <input type="hidden" id="ProductId" name="ProductID" class="form-control" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />


                                    <div class="input-group-append">
                                        @*<button id="" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="getproductdetails(this)"></button>*@
                                        <button id="addaccounthead-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchValAssign(this,29,'Product Details',[],[])" Criterea1="CategoryID" BindName="Product" BindVal="ProductID"></button>
                                    </div>

                                    <div class="invalid-feedback animated fadeInUp error" style="display: block;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 DivOldProduct">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Old Product</span>

                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="OldProduct" id="OldProdt" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                    <input type="hidden" id="OldProductId" name="OldProductID" class="form-control" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />


                                    <div class="input-group-append">
                                        <button id="addaccounthead-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchValAssign(this,29,'Product Details',[],[])" Criterea1="0" BindName="OldProduct" BindVal="OldProductID"></button>
                                    </div>

                                    <div class="invalid-feedback animated fadeInUp error" style="display: block;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 DivNewProduct">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">New Product</span>

                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="NewProduct" id="NewProdt" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                    <input type="hidden" id="NewProductId" name="NewProductID" class="form-control" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />


                                    <div class="input-group-append">
                                        <button id="addaccounthead-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchValAssign(this,29,'Product Details',[],[])" Criterea1="0" BindName="NewProduct" BindVal="NewProductID"></button>
                                    </div>

                                    <div class="invalid-feedback animated fadeInUp error" style="display: block;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 DivGrouping">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Grouping</span>

                            </label>
                            <div class="col-sm-8">

                                <select class="form-control" name="Criteria" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">

                                    <option value="">Please select</option>


                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Report Format</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_numeric" id="Reporttype" name="Reporttype" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">

                                    @*<option value="">Please Select</option>*@
                                    <option value="1" selected>PDF</option>
                                    <option value="2">Excel</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>


                </div>
            <div class="card-footer text-right" perfect-class="formFooter">
                <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="getstockreport(this)"><i class="fa fa-refresh fa-spin loaderClass "></i>Show</button>
                <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this)" name="reset">Clear</button>
            </div>
        </form>
    </div>


</div>

<script>
    (function () {
        // jQuery('form').validate();//<----- Validate/initialize our form on page load
        jQuery('select').selectpicker();
    })();


    $(document).ready(function () {

        showandhidefield(this);
        Getdepartmentdefault(this);
    });

       function fn_selectFieldlistgrouping(ele)
       {

           let $thisForm = $(ele).closest('[perfect-class="form"]');
           console.log('Mode1', $thisForm.find('[name="ModeNames"]'));
           var modes;

         if ($("#ID_Report").val() == 5) { modes = 37; }
         else if ($("#ID_Report").val() == 6) { modes = 38; }
         else if ($("#ID_Report").val() == 7) { modes = 37; }
         else if ($("#ID_Report").val() == 12) { modes = 42; }
         else if ($("#ID_Report").val() == '') { modes = 37; }
        let mode = { mode : modes }
           let $actionDropdown = $thisForm.find('[name="Criteria"]');
           $actionDropdown.empty();
           $actionDropdown.append($('<option/>', { value: '' }).text('Please select')).selectpicker('refresh');
           $.ajax({
            url: "@Url.Action("getModeCriteriaList", "StockReport")",
            type: "POST",
            dataType: "json",
               data: mode,
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            success: function (ajaxOutput) {
                if (ajaxOutput.length > 0) {
                    debugger
                    $.each(ajaxOutput, function (key, value) {
                        $actionDropdown.append($('<option/>', { value: value.ID_Mode }).text(value.ModeName)).selectpicker('refresh');
                    });
                    if ($actionDropdown.attr('perfect-onloadSelect')) {
                        $actionDropdown.val($actionDropdown.attr('perfect-onloadSelect')).selectpicker('refresh')
                    }
                }
                else {
                    $.each(ajaxOutput.Process.Message, function (key, value) {
                        NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                    });
                }
            }
        });


    }


    function showandhidefield(element) {
        let $thisForm = $(element).closest('[perfect-class="form"]');
        $thisForm.find('[name=DepartmentID]').val(0);
           let user = '@ViewBag.Admin';
        let manager = '@ViewBag.Manager';
        if (user == 'True' || manager == 'True') {
            $thisForm.find('[name="Employee"]').val('');
            $thisForm.find('[name="Employee_ID"]').val('');
        }
        else
        {
            $thisForm.find('[name="Employee"]').val('@ViewBag.Employee');
            $thisForm.find('[name="Employee_ID"]').val('@ViewBag.FK_Employee');
        }
        Getdepartmentdefault(element);
        fn_selectFieldlistgrouping(element)
        if ($("#ID_Report").val() == 5) {
            $("#FK_Department").val(0);
            $('.DivFromDate').hide();
            $('.DivToDate').hide();
            $('.DivDepartment').show();
            $('.DivEmployeeName').hide();
            $('.DivGrouping').show();
            $('.Divcategory').show();
            $('.DivBranchTo').hide();
            $('.DivDepartmentTO').hide();
            $('.DivEmployeeNameTo').hide();
            $('.DivOldProduct').hide();
            $('.DivNewProduct').hide();
            $('.DivProduct').hide();
        }
        else if ($("#ID_Report").val() == 6) {

            $('.DivFromDate').hide();
            $('.DivToDate').hide();
            $('.DivDepartment').hide();
            $('.DivEmployeeName').show();
            $('.DivGrouping').show();
            $('.Divcategory').show();
            $('.DivBranchTo').hide();
            $('.DivDepartmentTO').hide();
            $('.DivEmployeeNameTo').hide();
            $('.DivOldProduct').hide();
            $('.DivNewProduct').hide();
            $('.DivProduct').hide();
        }
        else if ($("#ID_Report").val() == 12) {

            $('.DivFromDate').show();
            $('.DivToDate').show();
            $('.DivDepartment').show();
            $('.DivEmployeeName').hide();
            $('.DivGrouping').show();
            $('.Divcategory').hide();
            $('.DivBranchTo').hide();
            $('.DivDepartmentTO').hide();
            $('.DivEmployeeNameTo').hide();
            $('.DivOldProduct').hide();
            $('.DivNewProduct').hide();
            $('.DivProduct').show();
        }
        else if ($("#ID_Report").val() == 11) {

            $('.DivFromDate').show();
            $('.DivToDate').show();
            $('.DivDepartment').show();
            $('.DivEmployeeName').hide();
            $('.DivGrouping').hide();
            $('.Divcategory').hide();
            $('.DivBranchTo').hide();
            $('.DivDepartmentTO').hide();
            $('.DivEmployeeNameTo').hide();
            $('.DivOldProduct').hide();
            $('.DivNewProduct').hide();
            $('.DivProduct').show();

        }
        else if ($("#ID_Report").val() == 13) {

            $('.DivFromDate').show();
            $('.DivToDate').show();
            $('.DivDepartment').show();
            $('.DivBranchTo').show();
            $('.DivDepartmentTO').show();
            $('.DivEmployeeNameTo').show();
            $('.DivEmployeeName').show();
            $('.DivGrouping').hide();
            $('.Divcategory').hide();
            $('.DivOldProduct').hide();
            $('.DivNewProduct').hide();
            $('.DivProduct').hide();
        }
        else if ($("#ID_Report").val() == 15) {

            $('.DivFromDate').show();
            $('.DivToDate').show();
            $('.DivDepartment').show();
            $('.DivBranchTo').hide();
            $('.DivDepartmentTO').hide();
            $('.DivEmployeeNameTo').hide();
            $('.DivEmployeeName').hide();
            $('.DivGrouping').hide();
            $('.Divcategory').hide();
            $('.DivProduct').hide();
            $('.DivOldProduct').show();
            $('.DivNewProduct').show();
        }
        else {

            $('.DivDepartment').show();
            $('.DivFromDate').show();
            $('.DivToDate').show();         
            $('.DivGrouping').show();
            $('.Divcategory').show();
            $('.DivEmployeeName').hide();
            $('.DivBranchTo').hide();
            $('.DivDepartmentTO').hide();
            $('.DivEmployeeNameTo').hide();
            $('.DivOldProduct').hide();
            $('.DivNewProduct').hide();
            $('.DivProduct').hide();
        }

        $thisForm.find('[name=Product]').closest('[perfect-class="formGroup"]').find('.error').text('');

    }




    function clearproducts(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        $thisForm.find('[name=ProductID]').val(0);
        $thisForm.find('[name=Product]').val('');
    }

    function onchangeBranchclears(ele) {

        let $thisForm = $(ele).closest('[perfect-class="form"]');
       
        $thisForm.find('[name=DepartmentName]').val('');
           let user = '@ViewBag.Admin';
        let manager = '@ViewBag.Manager';
        if (user == 'True' || manager == 'True') {
            $thisForm.find('[name="Employee"]').val('');
            $thisForm.find('[name="Employee_ID"]').val(0);
        }
        else
        {
            $thisForm.find('[name="Employee"]').val('@ViewBag.Employee');
            $thisForm.find('[name="Employee_ID"]').val('@ViewBag.FK_Employee');
        }
    
        //$thisForm.find('[name=EmployeeID]').val(0);
        //$thisForm.find('[name=Employee]').val('');
    }
    function onchangeBranchclearsTo(ele) {

        let $thisForm = $(ele).closest('[perfect-class="form"]');
        $thisForm.find('[name=DepartmentIDTo]').val(0);
        $thisForm.find('[name=DepartmentNameTo]').val('');
        $thisForm.find('[name=EmployeeIDTo]').val(0);
        $thisForm.find('[name=EmployeeNameTo]').val('');
    }
    function clearemployee(ele) {

        let $thisForm = $(ele).closest('[perfect-class="form"]');
          let user = '@ViewBag.Admin';
        let manager = '@ViewBag.Manager';
        if (user == 'True' || manager == 'True') {
            $thisForm.find('[name="Employee"]').val('');
            $thisForm.find('[name="Employee_ID"]').val(0);
        }
        else
        {
            $thisForm.find('[name="Employee"]').val('@ViewBag.Employee');
            $thisForm.find('[name="Employee_ID"]').val('@ViewBag.FK_Employee');
        }
       
    }
    function clearemployeeTo(ele) {

        let $thisForm = $(ele).closest('[perfect-class="form"]');
        $thisForm.find('[name=EmployeeIDTo]').val(0);
        $thisForm.find('[name=EmployeeNameTo]').val('');
    }

    //function checkLimit(ele) {

    //    let $thisForm = $(ele).closest('[perfect-class="form"]');

    //    let Fromdate = moment($thisForm.find('[name="FromDate"]').val(), "mm/dd/yyyy");
    //    let Todate = moment($thisForm.find('[name="ToDate"]').val(), "mm/dd/yyyy");

    //    if (Todate < Fromdate) {

    //        console.log('inside limit check if')
    //        $thisForm.find('[name="ToDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('From Date should be less than To Date')
    //    }
    //    else {

    //        console.log('inside limit check else')
    //        $thisForm.find('[name="ToDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('')
    //    }


    //}

    function checkLimit(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        //invalid-feedback
        let Fromdate = $thisForm.find('[name="FromDate"]').val();
        let Todate = $thisForm.find('[name="ToDate"]').val();
        let mindate = "1899/12/31";
        mindate = new Date(mindate);
        mindate.setHours(0, 0, 0, 0)
        
        Fromdate = new Date(Fromdate);
        Fromdate.setHours(0, 0, 0, 0)

        Todate = new Date(Todate);
        Todate.setHours(0, 0, 0, 0)
        debugger
        if (Todate < Fromdate) {

            console.log('inside limit check if')
            $thisForm.find('[name="ToDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('To Date should be greater than  From Date');
            return false;
        }
        else if (Todate < mindate ) {
            $thisForm.find('[name="ToDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('Enter a Valid Date');
            return false;
        }
        else if (Fromdate < mindate ) {
            $thisForm.find('[name="FromDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('Enter a Valid Date');
            return false;
        }
        else {

            console.log('inside limit check else')
            $thisForm.find('[name="ToDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('')
            $thisForm.find('[name="FromDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('');
            return true;
        }


    }


    function getstockreport(ele) {

        let $thisForm = $(ele).closest('[perfect-class="form"]');


        let isValid = true;
        let pdt = $thisForm.find('[name="ProductID"]').val();
        if ((($('#ID_Report').val() == 12) || ($('#ID_Report').val() == 11)) && (pdt=="")) {
            isValid = false;
            $thisForm.find('[name=Product]').closest('[perfect-class="formGroup"]').find('.error').text('Please Select Product');

        }
        else {
            isValid = true;
            $thisForm.find('[name=Product]').closest('[perfect-class="formGroup"]').find('.error').text('');

        }

        if (ValidateAddrepdetails($('#ID_Report').val()) <= 0 && isValid == true) {
            debugger
            var datval = true;
            if (($('#ID_Report').val() == 7) || ($('#ID_Report').val() == 11) || ($('#ID_Report').val() == 12) || ($('#ID_Report').val() == 13) || ($('#ID_Report').val() == 15)) {
                datval = checkLimit(ele);
                console.log('DATE',datval);
            }

            if (datval) {


                //if (ValidateForm($('#ID_Report').val(), $thisForm) <= 0) {
                //if ($thisForm.valid()){

                var Report_Id = $('#ID_Report').val();
                var Fromdate = $('#FromDate').val() == null ? null : $('#FromDate').val();

                var Todate = $('#ToDate').val();
                // var Employee = $thisForm.find('[name="FK_LgCollectedBy"]').val();
                var Branch = $('#BranchID').val();
                var Branchname = $('#BranchID :selected').text();
                var BranchTo = $('#BranchIDTo').val();
                var BranchnameTo = $('#BranchIDTo :selected').text();

                var Department = $('#DepartmentID').val();
                var Departmentname = $('#DepartmentID :selected').text();
                var DepartmentTo = $('#DepartmentIDTo').val();
                var DepartmentnameTo = $('#DepartmentIDTo :selected').text();


                var Category = $('#CategoryID').val();
                var Categoryname = $('#CategoryID :selected').text();
                var Mode = $('#Modes').val();
                var Modename = $('#Modes :selected').text();
                var Product = $thisForm.find('[name="ProductID"]').val();
                var product = $thisForm.find('[name="Product"]').val();

                var NewProductId = $thisForm.find('[name="NewProductID"]').val();
                var Newproduct = $thisForm.find('[name="NewProduct"]').val();

                var OldProductId = $thisForm.find('[name="OldProductID"]').val();
                var Oldproduct = $thisForm.find('[name="OldProduct"]').val();

                var Employee = $thisForm.find('[name="EmployeeID"]').val();
                var Employeename = $thisForm.find('[name="Employee"]').val();

                var EmployeeTo = $thisForm.find('[name="EmployeeIDTo"]').val();
                var EmployeenameTo = $thisForm.find('[name="EmployeeNameTo"]').val();

                var crtireanam = $thisForm.find('[name="Criteria"] option:selected').text();
                var Reportformat = $('#Reporttype').val();
                var Company = $thisForm.find('[name="Companyname"]').val();
                //  var Criteria = $('#Criteria').val();
                var Criteria = $thisForm.find('[name="Criteria"]').val();
                console.log('', $thisForm.find('[name="Criteria"]').val());

                var Url = ('@Url.Action("GetStockReport", "Report")?ReportMode=' + Report_Id +
                    '&FromDate=' + Fromdate +
                    '&ToDate=' + Todate +
                    '&FK_Branch=' + Branch +
                    '&FK_BranchTo=' + BranchTo +
                    '&CompName=' + Company +
                    '&Branchname=' + Branchname +
                    '&BranchnameTo=' + BranchnameTo +
                    '&Prodname=' + product +
                    '&FK_Category=' + Category +
                    '&Categoryname=' + Categoryname +
                    '&FK_Department=' + Department +
                    '&FK_DepartmentTo=' + DepartmentTo +
                    '&Departmentname=' + Departmentname +
                    '&DepartmentnameTo=' + DepartmentnameTo +
                    '&Rptype=' + Reportformat +
                    '&Modes=' + Mode +
                    '&Critername=' + crtireanam +
                    '&Criteria=' + Criteria +
                    '&Modename=' + Modename +
                    '&FK_Product=' + Product +
                    '&FK_Employee=' + Employee +
                    '&Employeename=' + Employeename +
                    '&FK_EmployeeTo=' + EmployeeTo +
                    '&EmployeenameTo=' + EmployeenameTo +
                    '&product=' + product +
                    '&FK_ProductNew=' + NewProductId +
                    '&FK_ProductOld=' + OldProductId +
                    '&ProductNew=' + Newproduct +
                    '&ProductOld=' + Oldproduct 
                );

                console.log('url', Url);
                popitup(Url);
            }

        }
    }

    function popitup(url) {
        newwindow = window.open(url, 'name', 'height=1000,width=1000');
        if (window.focus) { newwindow.focus() }
        return false;
    }
    function fireDownload(url) {
        window.location.assign(url);
    }

    function ResetButton(ele) {
        StockreportInitialLoadAddForm()

       
    }
    function Getdepartmentdefault() {
        let $thisForm = $('[perfect-class="form"]');
        $.ajax({
            url: '@Url.Action("GetEmployeeLeadDefault", "ServiceReport")',
            type: "Get",
            dataType: "json",
            contentType: "application/json",
            success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {

                if (ajaxOutput.Process.IsProcess) {
                    //var stateModel = createSelectList({ data: ajaxOutput.Data, hideColumn: ['EmpID'] });
                    $.each(ajaxOutput.Data, function (key, value) {

                        console.log('>_ Search button > list click', value);

                        $thisForm.find('[name=BranchID]').val(value.ID_Branch).selectpicker('refresh');
                        $thisForm.find('[name=DepartmentID]').val(value.FK_Department).selectpicker('refresh');
                        $thisForm.find('[name=FK_BranchMode]').val(value.FK_BranchMode);

                        let Mode = $thisForm.find('[name=FK_BranchMode]').val();
                        let user = '@ViewBag.Admin';
                     
                        console.log('user', user);
                        if (parseFloat(Mode) == 1 && user == 'True') {

                            $('#BranchID').prop('disabled', false);
                        }
                        else {
                            $('#BranchID').prop('disabled', true);
                        }


                    });




                }
                else {
                    $.each(ajaxOutput.Process.Message, function (key, value) {
                        NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                    });
                }

            },


        });
    }






    function ValidateAddrepdetails(Rptval) {

        var Error = 0;
        let $inp;
   
        debugger
        if (Rptval == 7 || Rptval == 11 || Rptval == 12 || Rptval == 13 || Rptval== 15) { $inp = $(".ActionDate"); }

        else { $inp = $(".Action"); }
        let is_empty;

        $inp.each((i, el) => {


            if (!$('[name=' + $(el).attr('name') + ']').val() == undefined) {
                is_empty = false;

            }
            else {
                if ($('[name=' + $(el).attr('name') + ']').val() == 0 || $('[name=' + $(el).attr('name') + ']').val() == "") {
                    is_empty = true;
                }
                else {


                    is_empty = !$('[name=' + $(el).attr('name') + ']').val();
                }

            }


            let ErrorID = $(el).attr('data-id');

            if (ErrorID != undefined) {
                if (is_empty) {

                    $('#' + ErrorID).css('display', 'block');
                    Error++;

                }
                else if (!is_empty) {
                    $('#' + ErrorID).css('display', 'none');

                }
                el.classList.toggle("is-empty", is_empty);
            }
        });

        return Error;
    }

</script>