@*----------------------------------------------------------------------
    Created By	: Amritha AK
    Created On	: 26/01/2022
    Purpose		: Company
    -------------------------------------------------------------------------
    Modification
    On			By					OMID/Remarks
    -------------------------------------------------------------------------
    -------------------------------------------------------------------------*@
@model PerfectWebERP.Models.CompanyModel.CompanyViewList
<style>
</style>

<div class="card ">

    <div class="card-header">
        <h4 class="card-title col-12">@ViewBag.PageTitle</h4>
        <span title="To View List" onclick="fn_showListView();"><svg id="Layer_1" class="layer" stroke="currentColor" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 122.88 122.54"><title>To View List</title><path class="viewlst" d="M4.69,0H46.22a4.71,4.71,0,0,1,4.69,4.69V46a4.69,4.69,0,0,1-4.69,4.69H4.69a4.65,4.65,0,0,1-3.31-1.38l-.09-.09A4.67,4.67,0,0,1,0,46V4.69A4.71,4.71,0,0,1,4.69,0ZM89.44,61.94a26.56,26.56,0,0,1,10.18,2l.07,0a26.61,26.61,0,0,1,15.25,32.16,26.18,26.18,0,0,1-2.7,6.11l10.3,11.24a1.27,1.27,0,0,1-.07,1.8l-7.57,6.9a1.27,1.27,0,0,1-1.79-.07l-9.86-10.85a26.36,26.36,0,0,1-6.1,2.74,26.87,26.87,0,0,1-7.71,1.13,26.51,26.51,0,0,1-10.17-2l-.07,0A26.64,26.64,0,0,1,64.85,78.37l0-.07A26.6,26.6,0,0,1,89.44,61.94Zm15,11.59a21.38,21.38,0,0,0-6.89-4.61l-.06,0a21.22,21.22,0,0,0-23.07,4.64l-.07.07a21.25,21.25,0,0,0-4.54,6.83l0,.06a21.32,21.32,0,0,0-1.58,8.06,21.26,21.26,0,0,0,29.35,19.62,21.54,21.54,0,0,0,6.89-4.61l.07-.07a21.09,21.09,0,0,0,4.54-6.83l0-.06a21.35,21.35,0,0,0,0-16.17,21.34,21.34,0,0,0-4.62-6.9ZM4.69,63.2H46.22a4.71,4.71,0,0,1,4.69,4.7v41.34a4.68,4.68,0,0,1-4.69,4.69H4.69A4.69,4.69,0,0,1,0,109.24V67.9a4.71,4.71,0,0,1,4.69-4.7ZM68.78,0h41.53A4.71,4.71,0,0,1,115,4.69V46a4.71,4.71,0,0,1-4.69,4.69H68.78A4.71,4.71,0,0,1,64.09,46V4.69a4.69,4.69,0,0,1,1.37-3.31l.1-.09A4.67,4.67,0,0,1,68.78,0Z"></path></svg></span>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
          
                @Html.AntiForgeryToken()
            <div class="row" id="target_div">

                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Code</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="hidden" name="CompanyID" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                            <input type="text" class="form-control perfectValidate_shortName " placeholder="" name="Code" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">

                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Register No</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control perfectValidate_specialChar " placeholder="" name="RegisterNo" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Name</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control perfectValidate_specialCharName" placeholder="" name="Name" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" onchange="generateShortName(this)"/>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Short Name</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control perfectValidate_shortName" placeholder="" name="ShortName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Organization</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group">

                                <input type="text" class="form-control " name="Organization" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                <input type="hidden" name="OrganizationID" class="perfectValidate_numeric" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                <div class="input-group-append">
                                    @*<button id="addorganization-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="getOrganization(this)"></button>*@
                                    <button id="addorganization-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,15,'Organization List',[])" Criterea1="0" Criterea2="0" BindName="Organization" BindVal="OrganizationID"></button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Contact Person</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control perfectValidate_specialCharName" placeholder="" name="ContactPerson" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Contact Person Mobile</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fa fa-phone bg-primary text-white"></span>
                                </div>
                                <input type="text" class="form-control perfectValidate_mobile " placeholder="" name="ContactPMobile" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Contact Person Email</span>

                        </label>
                        <div class="col-sm-8">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fa fa-envelope bg-primary text-white"></span>
                                </div>
                                <input type="text" class="form-control perfectValidate_email_nm " placeholder="" name="ContactPEmail" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Address1</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control perfectValidate_specialCharName" placeholder="" name="Address1" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Address2</span>

                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control perfectValidate_specialCharName_nm " placeholder="" name="Address2" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Address3</span>

                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control perfectValidate_specialCharName_nm " placeholder="" name="Address3" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">PinCode</span>
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="number" class="form-control " maxlength="10" placeholder="Type here and search" name="PinCode" perfect-class="formGroupControl perfectValidate_numeric_nm" perfect-ctype="input" perfect-css="input" min="0" />
                                @*<input type="hidden" name="PinCode" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input"  />*@
                                <div class="input-group-append">
                                    <button id="addpincode-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="searchbtn(this)"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Country</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" class="form-control " name="Country" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                <input type="hidden" name="CountryID" class="perfectValidate_numeric" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                <div class="input-group-append">
                                    @*<button id="addcountry-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="getCountry(this)"></button>*@
                                    <button id="addcountry-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,9,'Country List',['','','States','StatesID','DistrictID','District','AreaID','Area','PlaceID','Place','Post','PostID'])" Criterea1="0" Criterea2="0" BindName="Country" BindVal="CountryID"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">State</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" class="form-control " name="States" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                <input type="hidden" name="StatesID" class="perfectValidate_numeric" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                <div class="input-group-append">
                                    @*<button id="addstates-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="getStates(this)"></button>*@
                                    <button id="addstates-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,10,'State List',['CountryID','Country','DistrictID','District','AreaID','Area','PlaceID','Place','Post','PostID'])" Criterea1="CountryID" Criterea2="0" BindName="States" BindVal="StatesID"></button>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">District</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" class="form-control " name="District" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                <input type="hidden" name="DistrictID" class="perfectValidate_numeric" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                <div class="input-group-append">
                                    @*<button id="adddistrict-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="getDistrict(this)"></button>*@
                                    <button id="adddistrict-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,11,'District List',['StatesID','State','AreaID','Area','PlaceID','Place','Post','PostID'])" Criterea1="StatesID" Criterea2="0" BindName="District" BindVal="DistrictID"></button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Area</span>

                        </label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" class="form-control " name="Area" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                <input type="hidden" name="AreaID" class="perfectValidate_numeric_nm" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                <div class="input-group-append">
                                    @*<button id="addarea-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="getArea(this)"></button>*@
                                    <button id="addarea-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,14,'Area List',['DistrictID','District','PlaceID','Place','Post','PostID'])" Criterea1="DistrictID" Criterea2="0" BindName="Area" BindVal="AreaID"></button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Post</span>
                            @*<span class="text-danger">*</span>*@
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input type="text" class="form-control " name="Post" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                <input type="hidden" name="PostID" class="perfectValidate_numeric_nm" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                <div class="input-group-append">
                                    @*<button id="addpincode-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="getPost(this)"></button>*@
                                    <button id="addpincode-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,13,'Post List',['AreaID','Area','PlaceID','Place'])" Criterea1="AreaID" Criterea2="" BindName="Post" BindVal="PostID"></button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Place</span>
                            @*<span class="text-danger">*</span>*@
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group">
                                <input list="place" type="text" class="form-control " name="Place" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                <input type="hidden" name="PlaceID" class="perfectValidate_numeric_nm" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                <div class="input-group-append">

                                    @*<button id="addplace-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="getPlace(this)"></button>*@
                                    <button id="addplace-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,12,'Place List',['PostID','Post'])" Criterea1="PostID" Criterea2="0" BindName="Place" BindVal="PlaceID"></button>
                                </div>
                                @*<datalist id="place">
                            <option>place 1</option>
                            <option>place 1</option>
                        </datalist>*@
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Email</span>
                            @*<span class="text-danger">*</span>*@
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fa fa-envelope bg-primary text-white"></span>
                                </div>
                                <input type="text" class="form-control perfectValidate_email_nm" placeholder="" name="Email" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Web Site</span>

                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control perfectValidate_url_nm " placeholder="" name="WebSite" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Mobile</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fa fa-phone bg-primary text-white"></span>
                                </div>
                                <input type="text" class="form-control perfectValidate_mobile " placeholder="" name="Mobile" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Phone</span>

                        </label>
                        <div class="col-sm-8">
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <span class="input-group-text fa fa-phone bg-primary text-white"></span>
                                </div>
                                <input type="text" class="form-control perfectValidate_mobile_nm " placeholder="" name="Phone" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Fax</span>

                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control perfectValidate_fax_nm " placeholder="" name="Fax" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Start Date</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control perfectValidate_date" name="StartDate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date" max="2050-01-01" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Software Installation Date</span>
                            <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8">
                            <input type="date" class="form-control perfectValidate_date" name="Softinstalled" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date" max="2050-01-01" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Social Media Website1</span>

                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control perfectValidate_url_nm" placeholder="" name="SocialMediaWebsite1" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Social Media Website2</span>

                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control perfectValidate_url_nm" placeholder="" name="SocialMediaWebsite2" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">


                            <span perfect-class="formGroupLabel">Category</span>
                            <span class="text-danger">*</span>

                        </label>
                        <div class="col-sm-8">
                            <select class="form-control perfectValidate_numeric" id="CompCategory" name="CompCategory" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" data-live-search="true">

                                <option value="">Please Select </option>
                                @if (!(Model.Category is null))
                                {
                                    foreach (var category in Model.Category)
                                    {
                                        <option value="@category.ID_Mode">@category.ModeName</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">SMS ShortName</span>

                        </label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" placeholder="" name="SMSShortname" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" maxlength="100" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">
                        <label class="col-sm-4 col-form-label">
                            <span perfect-class="formGroupLabel">Sort Order</span>

                        </label>
                        <div class="col-sm-8">
                            <input type="number" class="form-control perfectValidate_numeric_nm" placeholder="" name="SortOrder" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" value="@Model.SortOrder" min="0" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group row" perfect-class="formGroup">

                        <div class="col-sm-8">
                            <button type="button" class="btn btn-rounded btn-success" onclick="ImageLoad(this)">
                                <span class="btn-icon-left text-success">
                                    <i class="fa fa-upload color-success"></i>
                                </span>Image Upload
                            </button>
                        </div>
                    </div>

                </div>
                <div class="col-sm-12" id="Image-form">

                </div>


            </div>
              
                    <div class="card-footer text-right" perfect-class="formFooter">
                    @if (ViewBag.PagedAccessRights.UsrrlMsEdt)
                    {
                        <button id="" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserUpdate d-none" name="update" perfect-css="button" onclick="fn_CompanyForm_update(this)"><i class="fa fa-refresh fa-spin loaderClass"></i>Update</button>
                    }
                    @if (ViewBag.PagedAccessRights.UsrrlMsAdd)
                    {
                        <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="fn_CompanyForm_add(this)"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                    }
                    <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this)" name="reset">Clear</button>

                </div>

         
        </form>
    </div>
</div>
<script src="~/Scripts/jqDOM/searchDOMCreation.js"></script>

<script>

    //on load functions
  
        (function () {
         //   jQuery('form').validate();//<-----  Validate/initialize our form on page load
            jQuery('select').selectpicker();
           
    })();
 
    var Subimg = "";
    function Getsubimg(dataimg) {
        debugger
            Subimg = dataimg;
        console.log('dataimg2',dataimg);
       
    }
    var $imgContainer = $('#Image-form');

    function ImageLoad(ele) {

        debugger
        $imgContainer.load('@Url.Action("LoadImageForm", "CommonPopupSearch", new { mode = 12 })', function () {
            getcase('Company');
            console.log('dataimg2Subimg', Subimg);
            if (Subimg != "") {
                $.each(Subimg, function (key, value) {
                    debugger
                    var Mode = value.ComImgMode;
                  
                    var imgal = value.ComImgValue;
                    console.log('imgal:', imgal);
                    if (Mode == 1) {
                        Getimgcntrl1(ele, "data:image/;base64," + imgal, Subimg, 'Header', Mode, value.ComImgName)

                    }
                    if (Mode == 2) {
                        Getimgcntrl1(ele, "data:image/;base64," + imgal, Subimg, 'Footer', Mode, value.ComImgName)

                    }
                    if (Mode == 3) {
                        Getimgcntrl1(ele, "data:image/;base64," + imgal, Subimg, 'WaterMark', Mode, value.ComImgName)

                    }
                    if (Mode == 6) {
                        Getimgcntrl1(ele, "data:image/;base64," + imgal, Subimg, 'Company Logo', Mode, value.ComImgName)

                    }
                });
            }      


        });
    }
    
        
     
 
  
    function ResetButton(ele) {
        $('.dataTable tr').removeClass("SelectForDelete");
        loadcompanyAddForm()
      
    }


    // Function to Add company

    var CompanyImage = [];
    function fn_CompanyForm_add(ele) {
        var MODE1;
        var MODE2;
        var MODE3;
        var imgbyte1=null;
        var imgbyte2=null;
        var imgbyte3=null;
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        if ($thisForm.valid()) {
            imgbyte1 = $("#img1").attr('src');
            imgbyte2 = $("#img2").attr('src');
            imgbyte3 = $("#img3").attr('src');
            CompanyImage = [];
            if (imgbyte1 != null) {
                MODE1 = { ComImgMode: 1, ComImg: imgbyte1 }; CompanyImage.push(MODE1);
            }
            if (imgbyte2 != null) {
                MODE2 = { ComImgMode: 2, ComImg: imgbyte2 }; CompanyImage.push(MODE2);
            }
            if (imgbyte3 != null) {
                MODE3 = { ComImgMode: 3, ComImg: imgbyte3 }; CompanyImage.push(MODE3);
            }

            //    $(ele).find('i').removeClass();

            //  console.log('> Add Company form IS valid', $thisForm.valid())

            var inputData = {//<---- Input Json : this is the variable we pass to controller
                __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                CompanyID: 0,
                Code: $thisForm.find('[name=Code]').val().trim(),
                Name: $thisForm.find('[name=Name]').val().trim(),
                ShortName: $thisForm.find('[name=ShortName]').val().trim(),
                ContactPerson: $thisForm.find('[name=ContactPerson]').val().trim(),
                ContactPMobile: $thisForm.find('[name=ContactPMobile]').val().trim(),
                ContactPEmail: $thisForm.find('[name=ContactPEmail]').val().trim(),
                RegisterNo: $thisForm.find('[name=RegisterNo]').val().trim(),
                Address1: $thisForm.find('[name=Address1]').val().trim(),
                Address2: $thisForm.find('[name=Address2]').val().trim(),
                Address3: $thisForm.find('[name=Address3]').val().trim(),
                Email: $thisForm.find('[name=Email]').val().trim(),
                WebSite: $thisForm.find('[name=WebSite]').val().trim(),
                Mobile: $thisForm.find('[name=Mobile]').val().trim(),
                Phone: $thisForm.find('[name=Phone]').val().trim(),
                Fax: $thisForm.find('[name=Fax]').val().trim(),
                StartDate: $thisForm.find('[name=StartDate]').val().trim(),
                Softinstalled: $thisForm.find('[name=Softinstalled]').val().trim(),
                SocialMediaWebsite1: $thisForm.find('[name=SocialMediaWebsite1]').val().trim(),
                SocialMediaWebsite2: $thisForm.find('[name=SocialMediaWebsite2]').val().trim(),
                SortOrder: $thisForm.find('[name=SortOrder]').val().trim(),
                OrganizationID: $thisForm.find('[name=OrganizationID]').val().trim(),
                CountryID: $thisForm.find('[name=CountryID]').val().trim(),
                StatesID: $thisForm.find('[name=StatesID]').val().trim(),
                DistrictID: $thisForm.find('[name=DistrictID]').val().trim(),
                AreaID: $thisForm.find('[name=AreaID]').val().trim(),
                PostID: $thisForm.find('[name=PostID]').val().trim(),
                PlaceID: $thisForm.find('[name=PlaceID]').val().trim(),
                SMSShortname: $thisForm.find('[name=SMSShortname]').val().trim(),
                
                TransMode: localStorage.getItem("FRM_TRANSMODE"),
                CompCategory: $thisForm.find('[name=CompCategory]').val().trim(),
                CompanyImageList: CompanyImage
            };

          

            console.log('> Add Company ajax input', inputData);

            $.ajax({
                url: "@Url.Action("AddNewCompanyDetails", "Company")",
                type: "POST",

                data: inputData,//<---- Input json : data passed to controller
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {

                    if (ajaxOutput.Process.IsProcess) {

                        $.each(ajaxOutput.Process.Message, function (key, value) {

                            NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                        });
                        $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                        $thisForm.find('[perfect-ctype="input"]').val('');
                        $thisForm.find('[perfect-ctype="digit"]').val('');
                        let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                        if (onSuccess) {
                            window[onSuccess]($thisForm);
                        }

                        //---------- Do stuff if success

                        console.log('> Add new Company success data', ajaxOutput);
                    }
                    else {
                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            //toastr.warning(value, "Error");
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                        });
                    }
                },
                complete: function () {
                    $(ele).prop('disabled', false);
                }

            });

        }

        }
    function searchbtn(ele) {

        console.log('Search function run')
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let searchPin = { Pincode: $thisForm.find('[name="PinCode"]').val() };
       $.ajax({
            url: '@Url.Action("GetPinCodedetails", "Organization")',
            type: "POST",
            data: searchPin ,//<---- Input json : data passed to controller
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded;charset=utf-8',
            success: function (ajaxOutput) {
                console.log('> Search button click success', ajaxOutput);

                if (ajaxOutput.Process.IsProcess) {

                    //$.each(successData.Process.Message, function (key, value) {
                    //    toastr.success(value, "Success");
                    //});
                    //var sss = createSelectList({ data: JSON.parse(data), hideColumn: ['id'] });
                    //var sss = createSelectList({ data: successData.Data, hideColumn: ['DistrictID'], settings: { size: 'modal-xl'} });
                    var sss = createSelectList({ data: ajaxOutput.Data, hideColumn: ["StatesID", "DistrictID", "CountryID", "PlaceID", "PostID", "AreaID"], settings: { size: "modal-lg" }, headingText: 'PinCode List'});
                    sss.then(function (ret) {
                        if (ret) {
                           $thisForm.find('[name="CountryID"]').val(ret['CountryID']);
                            $thisForm.find('[name="Country"]').val(ret['Country']);
                            $thisForm.find('[name="StatesID"]').val(ret['StatesID']);
                            $thisForm.find('[name="States"]').val(ret['States']);
                            $thisForm.find('[name="DistrictID"]').val(ret['DistrictID']);
                            $thisForm.find('[name="District"]').val(ret['District']);
                            $thisForm.find('[name="AreaID"]').val(ret['AreaID']);
                            $thisForm.find('[name="Area"]').val(ret['Area']);
                            $thisForm.find('[name="PlaceID"]').val(ret['PlaceID']);
                            $thisForm.find('[name="Place"]').val(ret['Place']);
                            $thisForm.find('[name="PostID"]').val(ret['PostID']);
                            $thisForm.find('[name="Post"]').val(ret['Post']);
                            $thisForm.find('[name="PinCode"]').val(ret['PinCode']);
                        }
                        else {
                            console.log(ret);
                        }
                    });

                }
                else {
                    $.each(ajaxOutput.Process.Message, function (key, value) {
                        //toastr.warning(value, "Error");
                        NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                    });
                }




            },
            complete: function () {

                //a.find('.dataTables_wrapper').css('width', '100%');
            }
        });

    }
    
    function getOrganization(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');

               //console.log("Input data",inputData)

                $.ajax({
                 url: '@Url.Action("GetOrganizationList", "Company")',//<----- Controller URL : url path in our controller eq: /Home/InsertSampleData or http://localhost:64212/Home/InsertSampleData
                    type: "GET",


                dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=utf-8",
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {
                       // console.log("Data", data);

                        if (ajaxOutput.Process.IsProcess) {
                            var organizationModel = createSelectList({ data: ajaxOutput.Data, hideColumn: ['OrganizationID'] });
                            organizationModel.then(function (ret) {
                                if (ret) {
                                    console.log('>_ Search button > list click', ret);
                                    $thisForm.find('[name=OrganizationID]').val(ret.OrganizationID);
                                    $thisForm.find('[name=Organization]').val(ret.Organization);
                                }
                                else {
                                    console.log(ret);
                                }
                            });
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }





                },


            });


    }
   

    function getCountry(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');

               //console.log("Input data",inputData)

                $.ajax({
                 url: '@Url.Action("GetCountryList", "Organization")',//<----- Controller URL : url path in our controller eq: /Home/InsertSampleData or http://localhost:64212/Home/InsertSampleData
                    type: "GET",


                dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=utf-8",
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {
                       // console.log("Data", data);

                        if (ajaxOutput.Process.IsProcess) {
                            var countryModel = createSelectList({ data: ajaxOutput.Data, hideColumn: ['CountryID'] });
                            countryModel.then(function (ret) {
                                if (ret) {
                                    console.log('>_ Search button > list click', ret);
                                    $thisForm.find('[name=CountryID]').val(ret.CountryID);
                                    $thisForm.find('[name=Country]').val(ret.Country);
                                    //clear other field
                                    $thisForm.find('[name=StatesID]').val('');
                                    $thisForm.find('[name=States]').val('');
                                    $thisForm.find('[name=DistrictID]').val('');
                                    $thisForm.find('[name=District]').val('');
                                    $thisForm.find('[name=AreaID]').val('');
                                    $thisForm.find('[name=Area]').val('');
                                    $thisForm.find('[name=PlaceID]').val('');
                                    $thisForm.find('[name=Place]').val('');
                                    $thisForm.find('[name=PostID]').val('');
                                    $thisForm.find('[name=Post]').val('');
                                }
                                else {
                                    console.log(ret);
                                }
                            });
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }





                },


            });


    }
    function getStates(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let countryid = {CountryID : $thisForm.find('[name=CountryID]').val() }
               //console.log("Input data",inputData)

                $.ajax({
                 url: '@Url.Action("GetStateList", "Organization")',//<----- Controller URL : url path in our controller eq: /Home/InsertSampleData or http://localhost:64212/Home/InsertSampleData
                type: "POST",
                  data: countryid ,
                  dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=utf-8",
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {
                       // console.log("Data", data);

                        if (ajaxOutput.Process.IsProcess) {
                            var stateModel = createSelectList({ data: ajaxOutput.Data, hideColumn: ['StatesID'] });
                            stateModel.then(function (ret) {
                                if (ret) {
                                    console.log('>_ Search button > list click', ret);
                                    $thisForm.find('[name=StatesID]').val(ret.StatesID);
                                    $thisForm.find('[name=States]').val(ret.States);

                                    $thisForm.find('[name=DistrictID]').val('');
                                    $thisForm.find('[name=District]').val('');
                                    $thisForm.find('[name=AreaID]').val('');
                                    $thisForm.find('[name=Area]').val('');
                                    $thisForm.find('[name=PlaceID]').val('');
                                    $thisForm.find('[name=Place]').val('');
                                    $thisForm.find('[name=PostID]').val('');
                                    $thisForm.find('[name=Post]').val('');
                                }
                                else {
                                    console.log(ret);
                                }
                            });
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }





                },


            });


    }

      function getDistrict(ele) {
          let $thisForm = $(ele).closest('[perfect-class="form"]');
          let statesid = { statesid: parseInt($thisForm.find('[name=StatesID]').val()) }
          console.log("Input data", statesid)

                $.ajax({
                 url: '@Url.Action("GetDistrictList", "Organization")',//<----- Controller URL : url path in our controller eq: /Home/InsertSampleData or http://localhost:64212/Home/InsertSampleData
                type: "POST",
                    data: statesid,
                  dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=utf-8",
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {
                       // console.log("Data", data);

                        if (ajaxOutput.Process.IsProcess) {
                            var districtModel = createSelectList({ data: ajaxOutput.Data, hideColumn: ['DistrictID'] });
                            districtModel.then(function (ret) {
                                if (ret) {
                                    console.log('>_ Search button > list click', ret);
                                    $thisForm.find('[name=DistrictID]').val(ret.DistrictID);
                                    $thisForm.find('[name=District]').val(ret.District);

                                    $thisForm.find('[name=AreaID]').val('');
                                    $thisForm.find('[name=Area]').val('');
                                    $thisForm.find('[name=PlaceID]').val('');
                                    $thisForm.find('[name=Place]').val('');
                                    $thisForm.find('[name=PostID]').val('');
                                    $thisForm.find('[name=Post]').val('');
                                }
                                else {
                                    console.log(ret);
                                }
                            });
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }





                },


            });


    }


      function getArea(ele) {
          let $thisForm = $(ele).closest('[perfect-class="form"]');
          let districtid = { districtid: parseInt($thisForm.find('[name=DistrictID]').val()) }
          console.log("Input data", districtid)

                $.ajax({
                 url: '@Url.Action("GetAreaList", "Organization")',//<----- Controller URL : url path in our controller eq: /Home/InsertSampleData or http://localhost:64212/Home/InsertSampleData
                type: "POST",
                    data: districtid,
                  dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=utf-8",
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {
                       // console.log("Data", data);

                        if (ajaxOutput.Process.IsProcess) {
                            var districtModel = createSelectList({ data: ajaxOutput.Data, hideColumn: ['AreaID'] });
                            districtModel.then(function (ret) {
                                if (ret) {
                                    console.log('>_ Search button > list click', ret);
                                    $thisForm.find('[name=AreaID]').val(ret.AreaID);
                                    $thisForm.find('[name=Area]').val(ret.Area);

                                    $thisForm.find('[name=PostID]').val('');
                                    $thisForm.find('[name=Post]').val('');
                                }
                                else {
                                    console.log(ret);
                                }
                            });
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }





                },


            });


    }
    function getPlace(ele) {
          let $thisForm = $(ele).closest('[perfect-class="form"]');
          let districtid = { districtid: parseInt($thisForm.find('[name=DistrictID]').val()) }
          console.log("Input data", districtid)

                $.ajax({
                 url: '@Url.Action("GetPlaceList", "Organization")',//<----- Controller URL : url path in our controller eq: /Home/InsertSampleData or http://localhost:64212/Home/InsertSampleData
                type: "POST",
                    data: districtid,
                  dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=utf-8",
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {
                       // console.log("Data", data);

                        if (ajaxOutput.Process.IsProcess) {
                            var districtModel = createSelectList({ data: ajaxOutput.Data, hideColumn: ['PlaceID'] });
                            districtModel.then(function (ret) {
                                if (ret) {
                                    console.log('>_ Search button > list click', ret);
                                    $thisForm.find('[name=PlaceID]').val(ret.PlaceID);
                                    $thisForm.find('[name=Place]').val(ret.Place);
                                    $thisForm.find('[name=PostID]').val('');
                                    $thisForm.find('[name=Post]').val('');
                                }
                                else
                                {
                                    console.log(ret);
                                }
                            });
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }
                },

            });

    }


    


    function getPost(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');

        let inputData = {
            __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
            DistrictID: parseInt($thisForm.find('[name=DistrictID]').val()),
            PlaceID: parseInt($thisForm.find('[name=PlaceID]').val())

        };

                $.ajax({
                 url: '@Url.Action("GetPostList", "Organization")',//<----- Controller URL : url path in our controller eq: /Home/InsertSampleData or http://localhost:64212/Home/InsertSampleData
                    type: "POST",
                    data: inputData,
                  dataType: "json",
                    contentType: "application/x-www-form-urlencoded;charset=utf-8",
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {
                       // console.log("Data", data);

                        if (ajaxOutput.Process.IsProcess) {
                            var postModel = createSelectList({ data: ajaxOutput.Data, hideColumn: ['PostID'] });
                              postModel.then(function (ret) {
                                if (ret) {
                                    console.log('>_ Search button > list click', ret);
                                    $thisForm.find('[name=PostID]').val(ret.PostID);
                                    $thisForm.find('[name=Post]').val(ret.Post);
                                    $thisForm.find('[name=PinCode]').val(ret.PinCode);
                                }
                                else {
                                    console.log(ret);
                                }
                            });
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }





                },


            });


    }



    function fn_CompanyForm_update(ele) {

        var MODE1;
        var MODE2;
        var MODE3;
        var imgbyte1 = null;
        var imgbyte2 = null;
        var imgbyte3 = null;
        let $thisForm = $(ele).closest('[perfect-class="form"]');
     
            imgbyte1 = $("#img1").attr('src');
            imgbyte2 = $("#img2").attr('src');
            imgbyte3 = $("#img3").attr('src');
            CompanyImage = [];
            if (imgbyte1 != null) {
                MODE1 = { ComImgMode: 1, ComImg: imgbyte1 }; CompanyImage.push(MODE1);
            }
            if (imgbyte2 != null) {
                MODE2 = { ComImgMode: 2, ComImg: imgbyte2 }; CompanyImage.push(MODE2);
            }
            if (imgbyte3 != null) {
                MODE3 = { ComImgMode: 3, ComImg: imgbyte3 }; CompanyImage.push(MODE3);
            }

       //<------Form element :  Our Form which contain our input elements ,saved in a variable for reusability
        console.log('form is valid', $thisForm.valid())
            if ($thisForm.valid()) {//<---------Validation :  To Check whether the form is vaild(ie; values in the form contrls are valid)
                $(ele).prop('disabled', true);

                let pdata = $thisForm.data('pData');

                console.log('pdata after view click',pdata)
                console.log('> Update Company form data saved', pdata);
                console.log('companyid', $thisForm.find('[name="CompanyID"]').val())
                let inputData = {

                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                    CompanyID: $thisForm.find('[name="CompanyID"]').val(),
                    
                    Code: $thisForm.find('[name=Code]').val().trim(),
                    Name: $thisForm.find('[name=Name]').val().trim(),
                    ShortName: $thisForm.find('[name=ShortName]').val().trim(),
                    ContactPerson: $thisForm.find('[name=ContactPerson]').val().trim(),
                    ContactPMobile: $thisForm.find('[name=ContactPMobile]').val().trim(),
                    ContactPEmail: $thisForm.find('[name=ContactPEmail]').val().trim(),
                    RegisterNo: $thisForm.find('[name=RegisterNo]').val().trim(),
                    Address1: $thisForm.find('[name=Address1]').val().trim(),
                    Address2: $thisForm.find('[name=Address2]').val().trim(),
                    Address3: $thisForm.find('[name=Address3]').val().trim(),
                    Email: $thisForm.find('[name=Email]').val().trim(),
                    WebSite: $thisForm.find('[name=WebSite]').val().trim(),
                    Mobile: $thisForm.find('[name=Mobile]').val().trim(),
                    Phone: $thisForm.find('[name=Phone]').val().trim(),
                    Fax: $thisForm.find('[name=Fax]').val().trim(),
                    StartDate: $thisForm.find('[name=StartDate]').val().trim(),
                    Softinstalled: $thisForm.find('[name=Softinstalled]').val().trim(),
                    SocialMediaWebsite1: $thisForm.find('[name=SocialMediaWebsite1]').val().trim(),
                    SocialMediaWebsite2: $thisForm.find('[name=SocialMediaWebsite2]').val().trim(),
                    SortOrder: $thisForm.find('[name=SortOrder]').val().trim(),
                    OrganizationID: $thisForm.find('[name=OrganizationID]').val().trim(),
                    CountryID: $thisForm.find('[name=CountryID]').val().trim(),
                    StatesID: $thisForm.find('[name=StatesID]').val().trim(),
                    DistrictID: $thisForm.find('[name=DistrictID]').val().trim(),
                    PostID: $thisForm.find('[name=PostID]').val().trim(),
                    AreaID: $thisForm.find('[name=AreaID]').val().trim(),
                    PlaceID: $thisForm.find('[name=PlaceID]').val().trim(),
                    SMSShortname: $thisForm.find('[name=SMSShortname]').val().trim(),
                    TransMode: localStorage.getItem("FRM_TRANSMODE"),
                    CompCategory: $thisForm.find('[name=CompCategory]').val().trim(),
                    CompanyImageList: CompanyImage
            };


           
             $.ajax({
                 url: "@Url.Action("UpdateCompanyDetails", "Company")",
                type: "POST",
                 // headers: { "token_key": "1234" },
                 data: inputData,//<---- Input json : data passed to controller
                dataType: "json",
                 contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                 success: function (ajaxOutput) { //<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {

                     if (ajaxOutput.Process.IsProcess) {

                         $.each(ajaxOutput.Process.Message, function (key, value) {
                             //toastr.success(value, "Success");
                             NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                         });


                         let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                         if (onSuccess) {
                             window[onSuccess](onSuccess);
                         }

                         //---------- Do stuff if success
                         //toastr.success("Inside success", "Confirmation Box in table");

                         console.log('> update new Company data', ajaxOutput);
                     }
                     else {
                         $.each(ajaxOutput.Process.Message, function (key, value) {
                             //toastr.warning(value, "Error");
                             NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                         });
                     }


                },
                complete: function () {
                    $(ele).prop('disabled', false);
                }

            });

        }

        }



    function generateShortName(ele) {
        let $form = $(ele).closest('[perfect-class="form"]');
        var fullName = $form.find('[name="Name"]').val();
        var shortName = generateShortNameFromFullName(fullName);
        $form.find('[name="ShortName"]').val(shortName);
    }

    $(document).ready(function () {

  var clientType = '@ViewBag.ClientType';

        // Show or hide the client-specific field based on the client type
        if (clientType === '1') {
            $('#addcompany-jq-addnewuser').css('visibility', 'hidden');
        }

        else {
           
            $('#addcompany-jq-addnewuser').css('visibility', 'visible');
                }
    });
   


</script>