@*----------------------------------------------------------------------
    Created By	: Amritha A K
    Created On	: 05/01/2024
    Purpose		: 
    -------------------------------------------------------------------------
    Modification
    On			By					OMID/Remarks
    -------------------------------------------------------------------------
    -------------------------------------------------------------------------*@

@model PerfectWebERP.Models.FeedbackquestionSettingsModel.FeedbackquestionSettingsModelview
<style>
</style>

<div class="card ">

    <div class="card-header">
        <h4 class="card-title col-12">@ViewBag.PageTitles</h4>
        <span title="To View List" onclick="fn_showListView();"><svg id="Layer_1" class="layer" stroke="currentColor" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 122.88 122.54"><title>To View List</title><path class="viewlst" d="M4.69,0H46.22a4.71,4.71,0,0,1,4.69,4.69V46a4.69,4.69,0,0,1-4.69,4.69H4.69a4.65,4.65,0,0,1-3.31-1.38l-.09-.09A4.67,4.67,0,0,1,0,46V4.69A4.71,4.71,0,0,1,4.69,0ZM89.44,61.94a26.56,26.56,0,0,1,10.18,2l.07,0a26.61,26.61,0,0,1,15.25,32.16,26.18,26.18,0,0,1-2.7,6.11l10.3,11.24a1.27,1.27,0,0,1-.07,1.8l-7.57,6.9a1.27,1.27,0,0,1-1.79-.07l-9.86-10.85a26.36,26.36,0,0,1-6.1,2.74,26.87,26.87,0,0,1-7.71,1.13,26.51,26.51,0,0,1-10.17-2l-.07,0A26.64,26.64,0,0,1,64.85,78.37l0-.07A26.6,26.6,0,0,1,89.44,61.94Zm15,11.59a21.38,21.38,0,0,0-6.89-4.61l-.06,0a21.22,21.22,0,0,0-23.07,4.64l-.07.07a21.25,21.25,0,0,0-4.54,6.83l0,.06a21.32,21.32,0,0,0-1.58,8.06,21.26,21.26,0,0,0,29.35,19.62,21.54,21.54,0,0,0,6.89-4.61l.07-.07a21.09,21.09,0,0,0,4.54-6.83l0-.06a21.35,21.35,0,0,0,0-16.17,21.34,21.34,0,0,0-4.62-6.9ZM4.69,63.2H46.22a4.71,4.71,0,0,1,4.69,4.7v41.34a4.68,4.68,0,0,1-4.69,4.69H4.69A4.69,4.69,0,0,1,0,109.24V67.9a4.71,4.71,0,0,1,4.69-4.7ZM68.78,0h41.53A4.71,4.71,0,0,1,115,4.69V46a4.71,4.71,0,0,1-4.69,4.69H68.78A4.71,4.71,0,0,1,64.09,46V4.69a4.69,4.69,0,0,1,1.37-3.31l.1-.09A4.67,4.67,0,0,1,68.78,0Z"></path></svg></span>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            <div class="">
                @Html.AntiForgeryToken()

                <div class="row">



                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">From Date</span>
                                <span class="text-danger">*</span>
                                <input type="hidden" name="ID_FeedbackQuestionSettings" class="form-control " perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                <input type="hidden" name="GroupID" class="form-control " perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control perfectValidate_date FromDate" id="FromDate" onchange="checkLimit(this)" data-id="FromDate-error" name="FromDate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">To Date</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control perfectValidate_date ToDate" id="ToDate" data-id="ToDate-error" name="ToDate" perfect-class="formGroupControl" max="2050-01-01" perfect-ctype="date" perfect-css="date" onchange="checkLimit(this)">
                                <div class="invalid-feedback animated fadeInUp limit-check" style="display: block;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Module</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string" name="Module" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" onchange="Bindpagelist(this)">
                                    <option value="">Please select</option>
                                    @if (!(Model.ModuleList is null))
                                    {
                                        foreach (var Modulelist in Model.ModuleList)
                                        {
                                            <option value="@Modulelist.ID_Mode">@Modulelist.ModeName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Page</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_string" name="Page" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                    <option value="">Please select</option>
                                    @if (!(Model.PageList is null))
                                    {
                                        foreach (var PageList in Model.PageList)
                                        {
                                            <option value="@PageList.ID_Mode">@PageList.ModeName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;
                        &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
                        &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
                        &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
                        <input type="checkbox" class="form-check-input" name="Active" perfect-class="formCheckInput" perfect-ctype="checkbox" perfect-css="checkbox">Active

                    </div>
                </div>

                &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;
                &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
                &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
                &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp;
                <div class="row">
                    <div class="col-sm-12">
                        <div class="daccordion__header">
                            <span class="accordion__header--text">Feed Back Question Details</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 " perfect-class="TempTableTaxGroupSettings">
                                <br />

                                <div class="row">

                                    <div class="col-sm-4">

                                        <div class="form-group row" perfect-class="formGroup">
                                            <label class="col-sm-4 col-form-label">
                                                <span perfect-class="formGroupLabel">Question</span>
                                                <span class="text-danger">*</span>
                                            </label>

                                            <div class="col-sm-7 PerError">
                                                <div class="input-group">

                                                    <input type="text" class="form-control" name="ProductName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" perfect-tempTable-TaxGroupSettings="ProductName" autocomplete="off" />
                                                    <input type="hidden" name="FK_Product" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-tempTable-TaxGroupSettings="FK_Product" perfect-css="input" autocomplete="off" />

                                                    <div class="input-group-append">
                                                        @{
                                                            <button id="prdbtn" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetQuestionsadd(this,0)"></button>
                                                        }

                                                    </div>
                                                    <div id="Questioninfo" class="tab-pane active">
                                                        <div class="card-body">

                                                            <div class="table-responsive-lg">
                                                                <table class="table table-hover table-responsive-lg table-striped  text-black" id="Questiontable">
                                                                    <thead class="bg-primary text-white">
                                                                        <tr>
                                                                        <tr>

                                                                            <th style="display:none"> </th>
                                                                            <th style="display:none"></th>
                                                                            <th>Sl No</th>
                                                                            <th>Question</th>
                                                                            <th>Question Mode</th>
                                                                            <th>Show In</th>
                                                                            <th>Feed Back Type</th>
                                                                            <th></th>

                                                                        </tr>


                                                                    </thead>
                                                                    <tbody id="QuestionTbody"></tbody>
                                                                </table>
                                                                <div class="modal-footer">



                                                                    <div class="modal fade bd-QuestionMoredetails-modal-sm" id="moreservicemodel" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                                                        <div class="modal-dialog modal-xl">
                                                                            <div class="modal-content">
                                                                                <div class="modal-header">
                                                                                    <h5 class="modal-title">Questions</h5>
                                                                                    <button type="button" class="close" data-dismiss="modal">
                                                                                        <span>x</span>
                                                                                    </button>
                                                                                </div>

                                                                                <div class="modal-body" perfect-class="formGroup" style="max-height: calc(100vh - 200px); overflow-y: auto;">

                                                                                    <div class="form-row" id="TopDetails">


                                                                                    </div>
                                                                                    <div class="form-row">
                                                                                        <div class="col-sm-12">
                                                                                            <div class="card">
                                                                                                <div class="card-body">
                                                                                                    <div class="table-responsive-lg">
                                                                                                        <table class="table table-hover table-responsive-lg table-striped  text-black" id="QuestionsMore">
                                                                                                            <thead class="bg-primary text-white">
                                                                                                                <tr>

                                                                                                                    <th style="display:none"> </th>
                                                                                                                    <th></th>

                                                                                                                    <th>Question</th>
                                                                                                                    <th>Question Mode</th>
                                                                                                                    <th>Show In</th>

                                                                                                                    <th>Feed Back Type</th>
                                                                                                                    <th></th>
                                                                                                                </tr>
                                                                                                            </thead>
                                                                                                            <tbody id="QuestionsTbodyMoredetails">
                                                                                                                <tr id="0">
                                                                                                                    <td colspan="4" style="text-align:center;">No Records...</td>
                                                                                                                </tr>
                                                                                                            </tbody>
                                                                                                        </table>

                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <!-- /# card -->
                                                                                        </div>

                                                                                    </div>

                                                                                    <div class="modal-footer">

                                                                                        <button type="button" id="btnSaveQuestionsMore" onclick="BindQuestions(this)" class="btn btn-primary">Apply</button>

                                                                                    </div>
                                                                                    <input type="hidden" name="ID_Questions" perfect-class="formGroupControl" />
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>



                                                                </div>
                                                            </div>
                                                        </div>
                                                        <input type="hidden" name="FK_FeedbackQtSettings" />
                                                    </div>
                                                </div>

                                                <span class="invalid-feedback animated fadeInUp d-block temptableError"></span>
                                            </div>


                                        </div>
                                    </div>


                                </div>




                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="card-footer text-right" perfect-class="formFooter">
                    @if (ViewBag.PagedAccessRights.UsrrlMsEdt)
                    {
                        <button id="" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserUpdate d-none" name="update" perfect-css="button" onclick="SaveFeedbackquestionSettings(this,'Update')"><i class="fa fa-refresh fa-spin  loaderClass"></i>Update</button>
                    }
                    @if (ViewBag.PagedAccessRights.UsrrlMsAdd)
                    {
                        <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="SaveFeedbackquestionSettings(this,'new')"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                    }
                    <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this)" name="reset">Clear</button>
                </div>*@

                <div class="card-footer text-right" perfect-class="formFooter">
                    @if (ViewBag.PagedAccessRights.UsrrlMsEdt)
                    {
                        <button id="" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserUpdate d-none" name="update" perfect-css="button" onclick="SaveFeedbackquestionSettings(this,'Update')"><i class="fa fa-refresh fa-spin loaderClass"></i>Update</button>
                    }

                    @if (ViewBag.PagedAccessRights.UsrrlMsAdd)
                    {
                        <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="SaveFeedbackquestionSettings (this,'new')"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                    }
                    <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton()" name="reset">Clear</button>
                </div>

            </div>
</form>
    </div>
</div>
<script src="~/Scripts/jqDOM/searchDOMCreation.js"></script>
<script>

    function ResetButton(ele) {

        fn_FeedbackquestionSettings_initialLoad();

    }

    function checkLimit(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');

        let Fromdate = $thisForm.find('[name="FromDate"]').val();
        let Todate = $thisForm.find('[name="ToDate"]').val();

        Fromdate = new Date(Fromdate);
        Fromdate.setHours(0, 0, 0, 0)

        Todate = new Date(Todate);
        Todate.setHours(0, 0, 0, 0)

        if (Todate < Fromdate) {
            console.log('inside limit check if')
            $thisForm.find('[name="ToDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('To Date should be greater than From Date')
            return false;
        }
        else {
            console.log('inside limit check else')
            $thisForm.find('[name="ToDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('')
            return true;
        }

    }
 
   

    function Bindpagelist(ele) {

        debugger
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let moduleid = $thisForm.find('[name="Module"]').val();
        let $actionDropdown = $thisForm.find('[name="Page"]');
            $actionDropdown.empty();
        $actionDropdown.append($('<option/>', { value: '' }).text('Please select')).selectpicker('refresh');
      
          
            $.ajax({
                url: "@Url.Action("FillPagelist", "FeedbackquestionSettings")",
                type: "POST",
                dataType: "json",
                data: JSON.stringify({ ModuleID: moduleid }),
                contentType: "application/json",
                success: function (ajaxOutput) {

                    if (ajaxOutput) {
                        $.each(ajaxOutput, function (key, value) {
                            $actionDropdown.append($('<option/>', { value: value.ID_Mode }).text(value.ModeName)).selectpicker('refresh');
                        });
                        if ($actionDropdown.attr('perfect-onloadSelect')) {
                            $actionDropdown.val($actionDropdown.attr('perfect-onloadSelect')).selectpicker('refresh')
                        }
                    }
                 
                    else {
                        $.each(ajaxOutput.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                        });
                    }
                }
            });
        }
    
    function SaveFeedbackquestionSettings(element, actionType) {
        debugger
        let $thisForm = $(element).closest('[perfect-class="form"]');
        var tablequestiondetailsrws = $("#QuestionTbody tr");

        let QuestionDetails = [];

        if (tablequestiondetailsrws.length > 0) {


            $('#QuestionTbody tr').each(function (index, ele) {
                
                let QuestionDetinfo = {};
               
                    QuestionDetinfo['FK_FeedBackQuestion'] = $(this).find('.jq_IDQuestion_ID_Question').text();
            
               

                console.log('Prinfo', QuestionDetinfo);
                QuestionDetails.push(QuestionDetinfo);




            });
        }
        if (tablequestiondetailsrws.length > 0) {
            if ($thisForm.valid()) {
                if (checkLimit(element)) {



                    let _ID_Feedback = 0;
                    let _ActionUrl = "";

                    if (actionType === "new") {

                        _ActionUrl = "@Url.Action("AddFeedbackquestionSettings", "FeedbackquestionSettings")";
                        _ID_Feedback = 0;
                    }
                    else {
                        _ID_Feedback = $thisForm.find('[name="GroupID"]').val();
                        _ActionUrl = "@Url.Action("UpdateFeedbackquestionSettings", "FeedbackquestionSettings")";

                    }


                    let inputData = {
                        __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                        ID_FeedbackQuestionSettings: _ID_Feedback,
                        EffectFrom: $thisForm.find('[name=FromDate]').val(),
                        EffectTo: $thisForm.find('[name=ToDate]').val(),
                        Module: $thisForm.find('[name=Module]').val(),

                        Page: $thisForm.find('[name=Page]').val(),
                        QuestionDetails: QuestionDetails,
                        Active: $thisForm.find('[name="Active"]').is(':Checked')? 1:0





                    };


                    $.ajax({
                        url: _ActionUrl,
                        type: "POST",
                        data: inputData,
                        dataType: "json",
                        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                        success: function (ajaxOutput) {
                            console.log(ajaxOutput, 'ajaxOutput ...>>ln808')
                            debugger
                            if (ajaxOutput.Process.IsProcess) {
                                $.each(ajaxOutput.Process.Message, function (key, value) {
                                    NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                                });
                                  
                             
                                fn_FeedbackquestionSettings_initialLoad();
                            }
                            else {
                                $.each(ajaxOutput.Process.Message, function (key, value) {
                                    NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                                  


                                });
                            }

                        },
                        complete: function () {
                            $(element).prop('disabled', false);
                        }
                    });


                }

                else {

                    NotificationMessage({ 'type': 'error', 'heading': 'info', 'message': 'To Date sholud be greater than or equal From Date' });
                }

            }
        }
        else {

            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': "Add Atleast one Question" });
            $(element).prop('disabled', false);
        }
    }

   
    
    var bindservicemodajaxout;
    function GetQuestionsadd(ele, id) {



         var $thisForm = $(ele).closest('[perfect-class="form"]');
       

        $.ajax({
            url: "@Url.Action("GetQuestionsAddDetails", "FeedbackquestionSettings")",
            type: "GET",
          
            dataType: "json",
            contentType: "application/json",
            success: function (ajaxOutput) {
              

                $ProductHtml = '';
              
                console.log("Listssas", ajaxOutput);
                bindservicemodajaxout = ajaxOutput;
                if (ajaxOutput != null) {


                    if (ajaxOutput != null) {

                        $('#QuestionsTbodyMoredetails').empty();
                     
                       

                        if (ajaxOutput) {
                            $.each(ajaxOutput, function (i, value) {

                               
                                let rowCount = (i + 1);


                                $ProductHtml += "<tr id=" + rowCount + ">";
                              
                            
                                $ProductHtml += "<td class='jq_Questiontable_ID_Question' Style='Display:none'>" + value.ID_Question + "</td>";
                                $ProductHtml += "<td class='jq_Questiontable_td' ><input id='chk1' type='checkbox'  value='" + value.Status + "' /></td>";
                               
                                $ProductHtml += "<td  class='jq_Questiontable_Question' type='text'>" + value.Question + "</td>";
                                $ProductHtml += "<td  class='jq_Questiontable_QuestionMode' type='text'>" + value.QuestionMode + "</td>";
                                $ProductHtml += "<td  class='jq_Questiontable_QuestionShowin' type='text'>" + value.ShowIn + "</td>";
                                $ProductHtml += "<td  class='jq_Questiontable_Questionfeedback' type='text'>" + value.FeedBackType + "</td>";
                              
                                $ProductHtml += "</tr>";
                            });
                          

                        }
                        else {
                            $ProductHtml += "<tr id='0'><td colspan='4' style'text-align:center'>No Records..</td></tr>";
                        }




                        $('#QuestionsTbodyMoredetails').append($ProductHtml);

                    }




                 
                    $('.bd-QuestionMoredetails-modal-sm').modal('show');
                }
                else {
                    $.each(ajaxOutput.Process.Message, function (key, value) {
                        NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                    });
                }
            },
            complete: function () {
                $(ele).prop('disabled', false);
            }
        });

    }
    function BindQuestions(ele) {

        var tablemoredetailsrws = $("#QuestionsTbodyMoredetails tr");

        var Questionarray = [];

        if (tablemoredetailsrws.length > 0) {

            let rowCountQuestionDetails = parseInt($('#QuestionTbody tr').length);
            $('#QuestionsTbodyMoredetails tr').each(function (index, ele) {
                if ($($(this).find("td:eq(1) input[type='checkbox']")[0]).is(":checked") == true) {
                    debugger

                    let checkbox1 = $(this).find("td:eq(1) input[type='checkbox']").is(":checked") == true ? "1" : "0";
                  
                    let ID_Question = $(this).find(".jq_Questiontable_ID_Question").text();
                    let Question = $(this).find("td:eq(2)") .text();
                    let Mode = $(this).find("td:eq(3)").text();
                    let Showin = $(this).find("td:eq(4)").text();
                    let Feedbacktype = $(this).find("td:eq(5) ").text();
                    let Delete = $(this).find("td:eq(0)").text();

                    var pushvalue = {
                        checkbox1: checkbox1, ID_Question: ID_Question, Question: Question, Mode: Mode,
                        Showin: Showin, Feedbacktype: Feedbacktype, Delete: Delete
                    }

                    Questionarray.push(pushvalue);

                }

            });


            console.log("Questionarray test", Questionarray)


            if (Questionarray.length > 0) {
                debugger

                ProductmoreHtml = '';

                let $dropdown;

                $.each(Questionarray, function (i, key) {

                    let isexit = 0;
                    $('#QuestionTbody tr').each(function (index, ele) {
                        if ($(ele).find('.norecord').text() != "") { $('#QuestionTbody').empty(); }
                        if ($(ele).find('.jq_IDQuestion_ID_Question').text() == key.ID_Question) {
                            isexit++;

                        }



                    });
                    let CheckBoxValue = key.checkbox1 == "1" ? "Checked" : "";


                    let CheckBox = "<input type='checkbox' value='' " + CheckBoxValue + ">";






                    if (isexit == 0) {
                        rowCountQuestionDetails++;

                     
                        ProductmoreHtml += "<tr id=" + rowCountQuestionDetails + "><td class='jq_IDQuestion_ID_Question' Style='Display:none'>" + key.ID_Question + "<td class='jq_QuestionDet_td'Style='Display:none'>" + CheckBox + "</td>" +
                            "<td class='jq_Questionslno_td'>" + rowCountQuestionDetails + "</td > " +
                            "<td class='jq_QuestionQuestion_td'>" + key.Question + "</td> " +
                            "<td class='jq_QuestionMode_td'>" + key.Mode + "</td> " +
                            "<td class='jq_QuestionShowin_td'>" + key.Showin + "</td>" +
                            "<td class='jq_Questionfedddback_td'>" + key.Feedbacktype + "</td > " +
                            "<td  class='jq_Questiondeletebutton_td' style='text-align:center;'><div class='d-flex'><a href='#' class='btn btnPerfectGrid shadow btn-xs sharp mr-1'onclick='RemoveQuestionsdetails(this)' title='Delete'><i class='fa fa-trash btnPerfectGridDelete'></i></a>";
                    }

                });


              


                $('#QuestionTbody').append(ProductmoreHtml);
                console.log('table',ProductmoreHtml);
                $('#Questiontable').show();

            }

            $('.bd-QuestionMoredetails-modal-sm').modal('hide');
        }
    }
   
    function RemoveQuestionsdetails(ele) {
        debugger
        let Questiontext = $(ele).closest("tr").find("td").eq(3).text().trim();
     
        let $tablecontainer = $(ele).closest('[perfect-tempTable]');
        if (confirm("Are you sure you want to delete Question" + ":" + Questiontext + "")) {
            var row = $(ele).closest('tr');

          
            // Removing the current row.
            $(ele).closest('tr').remove();
            var i = 0;
            $(".jq_Questionslno_td").each(function () {

                i++;
                $(this).text(i);
            })
        }
        else {
            return false;
        }
      //If removed all rows
        var rowcount = document.getElementById('QuestionTbody').rows.length;
        if (rowcount == 0) {
           
            $('#Questiontable').hide();
            let CheckListHTML = '';
            CheckListHTML += "<tr id='0'> <td style='text-align:center;' colspan='6'>No Records..</td> </tr>";
            $('#QuestionTbody').html(CheckListHTML);
            $("#QuestionTbody tr").remove();
           
        }


    }


    </script>
