

@model PerfectWebERP.Models.VehicleReportModel.VehicleReportView


<style>

    .tableFixHead {
        overflow: auto;
        height: 550px;
    }

        .tableFixHead thead tr {
            position: sticky;
            top: 0;
            z-index: 1;
        }

    table {
        border-collapse: collapse;
        width: 100%;
    }
</style>


<div class="card "> 

    <div class="card-header">
        <div class="col-xl-4">
            <h4 class="card-title col-12">@ViewBag.PageTitle</h4>
        </div>
        <div class="col-xl-4 text-right">
            <button id="refreshLeadMgt" type="button" class="btn  btn-primary btn-sm" name="Search" perfect-css="button" onclick="fn_vehicleRepo_initialLoad()" title="To Refresh"><i class="fa fa-refresh"></i></button>
            <button id="addcompany-jq-addnewuser" type="button" class="btn  btn-primary btn-sm" name="Search" perfect-css="button" onclick="fn_showFilter()" title="To Filter"><i class="fa fa-filter"></i></button>
        </div>

    </div>

    <div class="card-body jq_leadgeneration_body " style="min-height:250px">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            <div class="leadformSesction">
                @Html.AntiForgeryToken()
                <div class="row">

                    <div class="col-sm-4">
                        <input type="hidden" name="ID_EquipmentService" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Report Name</span>

                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <select class="form-control perfectValidate_string " name="FK_Mode" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                        <option value="">Please Select</option>
                                        <option value="1">Vehicle</option>
                                        <option value="2">Vehicle Opening</option>

                                    </select>

                                </div>
                                <div class="text-danger temptableError"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Purchase From Date</span>


                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control perfectValidate_date" name="FromDate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date" max="2050-01-01" onchange="datenchecklogdate(this)" />
                                <div class="invalid-feedback animated fadeInUp limit-check" style="display: block;"></div>


                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Purchase To Date</span>


                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control perfectValidate_date" name="ToDate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date" max="2050-01-01" onchange="datenchecklogdate(this)" />
                                <div class="invalid-feedback animated fadeInUp limit-check" style="display: block;"></div>


                            </div>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <input type="hidden" name="ID_Vehicle" class="" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Category</span>
                             
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control" placeholder="Please Select" name="FK_Category" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                    <option value="">Please select</option>
                                    @if (!(Model.CategoryList is null))
                                    {
                                        foreach (var category in Model.CategoryList)
                                        {
                                            <option value="@category.FK_Category">@category.CategoryName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="card-footer text-right" perfect-class="formFooter">
                    <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="geteqReport(this) "><i class="fa fa-refresh fa-spin loaderClass "></i>Show</button>
                    <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this);" name="reset">Clear</button>

                </div>
            </div>

            <div class="">
                <button type="button" class="btn btn-nt" id="exppdf" style="display:none;" float:left; onclick="generatePdf(this)" title="Download PDF"><i class="fa fa-file-pdf-o" aria-hidden="true" style="font-size:28px"></i></button>
            </div>


            <div class="table-responsive tableFixHead">
                <table id="VehicleList" class="table table-hover table-striped text-black" style="width:100%">
                    <thead class="thead-primary">
                        <tr>
                            <th>Sl No</th>
                            <th>Category</th>
                            <th>Manufacturer</th>
                            <th>Brand</th>
                            <th>Vehicle Number</th>
                            <th>Model</th>
                            <th>Supplier</th>
                            <th>Registration Date</th>
                            <th>Purchase Date</th>
                        </tr>
                    </thead>

                </table>


            </div>

        </form>
    </div>
</div>


<script src="~/Scripts/jspdf.min.js"></script>
<script src="~/Scripts/jspdf.plugin.autotable.min.js"></script>
<script src="~/Scripts/exportFile.js"></script>


<script src="~/Scripts/jqDOM/searchDOMCreation.js"></script>

<script>
    (function () {

        jQuery('select').selectpicker();
    })();


    $(document).ready(function () {

        initFunctions('form');



    });




    function datenchecklogdate(ele) {


        let $thisForm = $(ele).closest('[perfect-class="form"]');
        //invalid-feedback
        let Fromdate = $thisForm.find('[name="FromDate"]').val();
        let Todate = $thisForm.find('[name="ToDate"]').val();

        Fromdate = new Date(Fromdate);
        Fromdate.setHours(0, 0, 0, 0)

        Todate = new Date(Todate);
        Todate.setHours(0, 0, 0, 0)

        if (Todate < Fromdate) {

            //console.log('inside limit check if')
            $thisForm.find('[name="ToDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('Purchase To Date should be greater than Purchase From Date');
            return false;
        }
        else {

            //console.log('inside limit check else')
            $thisForm.find('[name="ToDate"]').closest('[perfect-class="formGroup"]').find('.limit-check').text('')
            return true;
        }

    }


    function ResetButton(ele) {
        fn_vehicleRepo_initialLoad();
    }
    var itemdata = 0;
    var tableData;

    function geteqReport(ele) {



        let $tbody;


        let $thisForm = $(ele).closest('[perfect-class="form"]');

      //  $("#EqSerList tr").remove();



        if ($thisForm.valid()) {

            var table = $('#VehicleList').DataTable({ searching: false, destroy: true, paging: false, ordering: false, info: false });
            table.clear().draw();

            if (datenchecklogdate(ele)) {

                var obj = {
                    TransMode: VehicleTransMode,
                    FromDate: $thisForm.find('[name="FromDate"]').val(),
                    ToDate: $thisForm.find('[name="ToDate"]').val(),
                    FK_Mode: $thisForm.find('[name="FK_Mode"]').val(),
                    FK_Category: $thisForm.find('[name="FK_Category"]').val(),



                }

                $.ajax({
                    url: "@Url.Action("GetVehicleReportList", "VehicleReport")",
                    type: "POST",
                    data: JSON.stringify(obj),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (dataOut) {

                        debugger
                        console.log('dtot',dataOut);
                        itemdata = dataOut.datares.Data; console.log('itemdata', itemdata);
                        if (itemdata == null || itemdata == "") {

                                let x = document.getElementById("exppdf");
                                x.style.display = "none";

                            } else {

                                let x = document.getElementById("exppdf");
                                x.style.display = "block";
                            }

                        if (dataOut.datares.Process.IsProcess) {
                            if (itemdata != null) {
                                tableData = $('#VehicleList').DataTable({
                                    pagination: "bootstrap",
                                    filter: true,
                                    data: dataOut.datares.Data,
                                    destroy: true,
                                    paging: false,
                                    info: false,
                                    searching: false,
                                    "columns": [
                                        { "data": null },
                                        { "data": "Category" },
                                        { "data": "Manufacturer" },
                                        { "data": "Brand" },
                                        { "data": "VehicleNo" },
                                        { "data": "Model"},
                                        { "data": "Supplier"},
                                        { "data": "RegDate"},
                                        { "data": "PurchaseDate"},

                                    ],
                                      //scrollY: 550,
                                      //scrollX: true,
                                    scrollCollapse: true,
                                    paging: false,
                                    fixedHeader: {
                                        header: true,
                                        //footer: true
                                    },
                                    //"order": [[7, "asc"]],
                                    "columnDefs": [
                                        { "orderable": false, "targets": [0, 1, 2, 3, 4, 5, 6, 7,8] }

                                        //{ "visible": false, "targets": 0 }
                                    ],

                                    "fnRowCallback": function (nRow, aData, iDisplayIndex) {
                                        $("td:first", nRow).html(iDisplayIndex + 1);
                                        return nRow;
                                    },
                                });
                            }
                            else {
                                //$('#EqSerList').dataTable({ searching: false, paging: false, ordering: false, info: false });
                            }

                        }
                        else {

                        }
                    },
                    complete: function () {
                    }
                });
                fn_showFilter();
            } else {
                $(ele).prop('disabled', false);
                NotificationMessage({ 'type': 'error', 'heading': 'Warning', 'message': 'Purchase To Date should be greater than Purchase From Date '})
            }
        }
    }




 function generatePdf(ele) {

        var cdata;
        var head;
        var body;
        var collen;
        var vfromdate;
        var vtodate;

        //test start
        let $thisForm = $(ele).closest('[perfect-class="form"]');
         $.ajax({
              url: '@Url.Action("GetCompanyDetails", "Home")',
              type: "GET",
              dataType: "json",
              contentType: "application/x-www-form-urlencoded;charset=utf-8",
                 success: function (ajaxOutput) {


                     cdata = ajaxOutput;

                },
             complete: function () {

                 head = [['Sl No', 'Category', 'Manufacturer', 'Brand', 'Vehicle Number', 'Model', 'Supplier', 'Registration Date','Purchase Date']];
                     body = [];
                     collen=":"
                     vfromdate;
                     vtodate;
                     vfromdate = $thisForm.find('[name="FromDate"]').val();
                    const dateObject = new Date(vfromdate);

                    // Extract the month, day, and year from the date object
                    const month = dateObject.getMonth() + 1;
                    const day = dateObject.getDate();
                    const year = dateObject.getFullYear();
                    // Create a new date string with the 'MM-DD-YYYY' format
                    vfromdate = `${day}/${month}/${year}`;
                    // Use the newDateString variable to display the date in the desired format
                    // Extract the month, day, and year from the date object

                    vtodate = $thisForm.find('[name=ToDate]').val();

                    const dateObjects = new Date(vtodate);
                    const months = dateObjects.getMonth() + 1;
                    const days = dateObjects.getDate();
                    const years = dateObjects.getFullYear();

                    vtodate = `${days}/${months}/${years}`;

                    var upperhead = {

                        columnStyles: { 0: { halign: 'left', textColor: "black", fontSize: 11, fillColor: false, } },
                        //margin: { top: 10, bottom:0 },

                        body: [
                            [
                                "From Date  :   " + vfromdate + "           To Date :   " + vtodate ]



                        ],

                    };


                // var aralenth = itemdata.length;
                 //var c = itemdata.slice(0, (aralenth - 1));
                 var bod = itemdata;

                 var ptableData = {
                     columns: [
                         { title: "Category", dataKey: "Category" },
                         { title: "Manufacturer", dataKey: "Manufacturer" },
                         { title: "Brand", dataKey: "Brand" },
                         { title: "Vehicle Number", dataKey: "VehicleNo" },
                         { title: "Model", dataKey: "Model" },
                         { title: "Supplier", dataKey: "Supplier" },
                         { title: "Registration Date", dataKey: "RegDate" },
                         { title: "Purchase Date", dataKey: "PurchaseDate" },

                     ],
                     rows: bod

                 };
                 let Rptname;
                 let Rptvalue = $thisForm.find('[name="FK_Mode"]').val();

                 if (Rptvalue == 1) {
                     Rptname = 'Vehicle'
                 }
                 else {
                     Rptname = 'Vehicle Opening' 
                 }

                 exportPdf(Rptname, head, cdata, upperhead, '', ptableData, '', 'Report', 'a4');



                }
         });

    }

    $("#exppdf").tooltip({ trigger: 'hover' });


    function formatDate(date) {

        var d = new Date(date),
            month = '' + (d.getMonth() + 1),
            day = '' + d.getDate(),
            year = d.getFullYear();

        if (month.length < 2)
            month = '0' + month;
        if (day.length < 2)
            day = '0' + day;

        return [day, month, year].join('-');
    }





</script>

