@*----------------------------------------------------------------------
    Created By	: Aiswarya
    Created On	:
    Purpose		: Add service list
    -------------------------------------------------------------------------
    Modification
    On			By					OMID/Remarks
    -------------------------------------------------------------------------
    -june last july 2022    Amritha AK

    ------------------------------------------------------------------------*@

@model PerfectWebERP.Models.ServiceListModel.ServiceListView
<style>
    .tab {
        margin-right: 2.5em
    }
</style>


<div class="card">

    <div class="card-header">
        <div class="col-sm-4">
            <h4 class="card-title col-12">Service Follow Up</h4>
           
        </div>
       
        <div class="col-sm-4 text-right">
            <button id="refreshServiceFollowUp" type="button" class="btn  btn-primary btn-sm" name="Search" perfect-css="button" onclick="fn_ServiceList_LoadForm()" title="To Refresh"><i class="fa fa-refresh"></i></button>
            <button id="addcompany-jq-addnewuser" type="button" class="btn  btn-primary btn-sm" name="Search" perfect-css="button" onclick="fn_showFilter()" title="To Filter"><i class="fa fa-filter"></i></button>
            &nbsp; &nbsp; &nbsp; <span title="To View List" onclick="fn_showListView();"><svg id="Layer_1" class="layer" stroke="currentColor" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 122.88 122.54"><title>To View List</title><path class="viewlst" d="M4.69,0H46.22a4.71,4.71,0,0,1,4.69,4.69V46a4.69,4.69,0,0,1-4.69,4.69H4.69a4.65,4.65,0,0,1-3.31-1.38l-.09-.09A4.67,4.67,0,0,1,0,46V4.69A4.71,4.71,0,0,1,4.69,0ZM89.44,61.94a26.56,26.56,0,0,1,10.18,2l.07,0a26.61,26.61,0,0,1,15.25,32.16,26.18,26.18,0,0,1-2.7,6.11l10.3,11.24a1.27,1.27,0,0,1-.07,1.8l-7.57,6.9a1.27,1.27,0,0,1-1.79-.07l-9.86-10.85a26.36,26.36,0,0,1-6.1,2.74,26.87,26.87,0,0,1-7.71,1.13,26.51,26.51,0,0,1-10.17-2l-.07,0A26.64,26.64,0,0,1,64.85,78.37l0-.07A26.6,26.6,0,0,1,89.44,61.94Zm15,11.59a21.38,21.38,0,0,0-6.89-4.61l-.06,0a21.22,21.22,0,0,0-23.07,4.64l-.07.07a21.25,21.25,0,0,0-4.54,6.83l0,.06a21.32,21.32,0,0,0-1.58,8.06,21.26,21.26,0,0,0,29.35,19.62,21.54,21.54,0,0,0,6.89-4.61l.07-.07a21.09,21.09,0,0,0,4.54-6.83l0-.06a21.35,21.35,0,0,0,0-16.17,21.34,21.34,0,0,0-4.62-6.9ZM4.69,63.2H46.22a4.71,4.71,0,0,1,4.69,4.7v41.34a4.68,4.68,0,0,1-4.69,4.69H4.69A4.69,4.69,0,0,1,0,109.24V67.9a4.71,4.71,0,0,1,4.69-4.7ZM68.78,0h41.53A4.71,4.71,0,0,1,115,4.69V46a4.71,4.71,0,0,1-4.69,4.69H68.78A4.71,4.71,0,0,1,64.09,46V4.69a4.69,4.69,0,0,1,1.37-3.31l.1-.09A4.67,4.67,0,0,1,68.78,0Z"></path></svg></span>
            <div class="col-sm-8 d-md-flex" style="display:none">
                <input class="form-control input-rounded mr-auto mb-md-0 mb-3" name="Content" type="text" style="display:none" placeholder="Search by Ticket, product or customer...">


            </div>

        </div>

    </div>

    <div class="card-body jq_searchservicefollowup_body">
        <form id="form" class="form-valide" perfect-class="form-Filter" action="#" method="post" perfect-onFormSuccess="">
            <div class="searchservicefollowupsection">
                @Html.AntiForgeryToken()
                <div class="row">

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Ticket Number</label>
                            <input type="text" name="Ticket" class="form-control" placeholder="">
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Product</label>
                            <div class="input-group">
                                <input type="text" class="form-control" name="Product" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                <input type="hidden" name="ProductID" class="form-control" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                <div class="input-group-append">
                                    <button id="addproduct-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,18,'Product List',[])" form="form-Filter" Criterea1="0" Criterea2="0" BindName="Product" BindVal="ProductID"></button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>From Date</label>
                            <input type="date" class="form-control perfectValidate_date" name="fromdate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>To Date</label>
                            <input type="date" class="form-control perfectValidate_date" name="todate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label>Customer</label>
                            <input type="text" name="Customer" class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label> Status</label>

                            <select class="form-control" name="CurrentStatus">
                                @*<option value="">Please Select </option>*@

                                @if (!(Model.StatusModeList is null))
                                {
                                    foreach (var statusList in Model.StatusModeList)
                                    {
                                        <option value="@statusList.ID_Mode">@statusList.ModeName</option>
                                    }

                                }
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="form-group">


                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">


                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">


                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">


                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="form-group">


                        </div>
                    </div>

                    @*<div class="col-sm-2">

                        &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;   &nbsp;
                        <button type="button" onclick="SearchUsingKeyWord(this,1)" class="btn btn-primary">Search</button>



                        &nbsp;
                        <button type="button" id="clear" class="btn btn-light1" perfect-css="button" onclick="Cleardetails(this)">Clear</button>



                    </div>*@
                    <div class="col-sm-1">
                        <input type="hidden" name="filt" />
                        <input type="hidden" name="md" />
                        <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary btn-sm " href="#profile" name="Search" perfect-css="button" onclick="SearchUsingKeyWord(this,1)"><i class="fa fa-refresh fa-spin loaderClass "></i>Search</button>
                    </div>
                    <div class="col-sm-1">

                        <button id="addcompany-jq-filterclear" type="button" class="btn btn-light btn-sm " name="Clearfilter" perfect-css="button" onclick="Cleardetails(this)"><i class="fa fa-refresh fa-spin loaderClass "></i>Clear</button>
                    </div>

                </div>
                <hr />

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-4">

                    </div>
                    <div class="col-sm-4">
                      
                    </div>
                    <div class="col-sm-4">

                    </div>
                </div>
               
            </div>
            <div class="row">

                <div class="table-responsive col-md-12" name="home" id="home"></div>

            </div>
        </form>
    </div>





</div>









<script>

    $(document).ready(function () {

        let $thisForm = $(this).find('[perfect-class="form-Filter"]');
        $thisForm.closest('.jq_searchservicefollowup_body').find('.searchservicefollowupsection').addClass('d-none');
       SearchUsingKeyWord(this,0);
    });



    function fn_showFilter() {

        $formContainer.find('.jq_searchservicefollowup_body').find('.searchservicefollowupsection').toggleClass('d-none');
        $('.bd-example-modal-sm').modal('show');
    }

    /////////////////////////////

    var tableOptions2 = {



        onlyShowColumn: ['SlNo', 'Ticket', 'TicketDate', 'AssignedDate', 'Customer', 'Mobile', 'Priority', 'CurrentStatus', 'DueDays'],      
        hideColumn: ["ID_CustomerServiceRegister", "ID_ServiceFollowUp", "PriorityCode", "StatusCode", "ID_Master", "TransMode","ID_CustomerserviceregisterProductDetails"],
        trackInfo: { "Ticket": "Click to more information" },
       rowClickAction: ticketview,

        renameHeader: { "SlNo": "SL NO.", "Ticket": "Ticket No", "TicketDate": "Ticket Date", "AssignedDate":"Assigned Date", "Customer": "Customer","Mobile": "Mobile",  "Priority": "Priority", "CurrentStatus": "Status", "DueDays": "Due Days" },

        status: ["CurrentStatus"],
       priority: ["Priority"],

    };


    var tabledata;
    function SearchUsingKeyWord(ele,Mod) {

        // let $thisForm = $(ele).closest('.Search-Control');
        let $thisForm;
        if (Mod == 0) {
            $thisForm = $(ele).find('[perfect-class="form-Filter"]');
        }
        else {
            $thisForm = $(ele).closest('[perfect-class="form-Filter"]');
        }
        let $ids = $thisForm.find('[name=home]');
        console.log('$ids', $ids);
        var InputData = {
            //'Status': $('[name=Complaintstatus]').val(),
            'Status': $('[name=CurrentStatus]').val(),
            'FK_Product': $('[name=ProductID]').val(),
            'TicketNumber': $('[name=Ticket]').val(),
            'FromDate': $('[name=fromdate]').val(),
            'ToDate': $('[name=todate]').val(),
            'Customer': $('[name=Customer]').val(),
            'pageSize': 15,
            'pageIndex': 0,


        }
        console.log(InputData);

          let pageUrl = '@Url.Action("GetSearchResult", "ServiceList")';
            $.ajax({
                url:pageUrl,
                type: "POST",
                data: InputData,
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (ajaxOutput) {


                          if (ajaxOutput.Process.IsProcess) {
                              console.log('place', ajaxOutput);


                              $ids.empty().append($('<div/>', { class: "col-md-12 table_temp_class" }).html(pft_table_createtable(ajaxOutput.Data, tableOptions2)))



                              let $table = $ids.find('table');

                              $table.dataTable({
                                  "serverSide": true,//no change
                                  "processing": true,//-- process text when clicked
                                  //"lengthChange": false,
                                  "lengthMenu": [10, 15, 20, 25, 50, 100],//---drop down page size
                                  "searching": false,//--no change
                                  "ordering": false,//--sorting
                                  "deferLoading": ajaxOutput.totalrecord,//<----to total number of record from db
                                  "displayStart": ajaxOutput.pageIndex * ajaxOutput.pageSize,//<----starting record
                                  "pageLength": ajaxOutput.pageSize,//<----page size
                                  "recordsFiltered": ajaxOutput.pageSize,//<---page size

                                  "ajax": returnajaxPagination({
                                      apiurl: pageUrl, pageSize: ajaxOutput.pageSize,
                                     // 'Status': $('[name=CurrentStatus]').val(),
                                      'Status': $('[name=CurrentStatus]').val(),
                                      'FK_Product': $('[name=ProductID]').val(),
                                      'TicketNumber': $('[name=Ticket]').val(),
                                      'FromDate': $('[name=fromdate]').val(),
                                      'ToDate': $('[name=todate]').val(),
                                      'Customer': $('[name=Customer]').val(),
                                      'pageSize': 15,
                                      'pageIndex': 0,

                                  }, tableOptions2, $table)
                              });

                          }
                else {
                              if (ajaxOutput.Process.Status = "NoData") {



                                  $ids.empty().append($('<div/>', { class: "col-md-12 table_temp_class" }).html(pft_table_createtable(ajaxOutput.Data, tableOptions2)))
                        // $sidemenu.find('table').dataTable({ paging: true });
                                  console.log('ajaxOutput.Data', ajaxOutput.Data);

                        let $table = $ids.find('table');
                        $table.dataTable({
                            "serverSide": true,//no change
                            "processing": true,//-- process text when clicked
                           // "lengthChange": false,
                            "lengthMenu": [],//---drop down page size
                            "searching": false,//--no change
                            "ordering": false,//--sorting
                            "deferLoading": ajaxOutput.totalrecord,//<----to total number of record from db
                            "displayStart": ajaxOutput.pageIndex * ajaxOutput.pageSize,//<----starting record
                            "pageLength": ajaxOutput.pageSize,//<----page size
                            "recordsFiltered": ajaxOutput.pageSize,//<---page size


                            "ajax": returnajaxPagination({
                                apiurl: pageUrl, pageSize: ajaxOutput.pageSize,
                                // 'Status': $('[name=CurrentStatus]').val(),
                                'Status': $('[name=CurrentStatus]').val(),
                                'FK_Product': $('[name=ProductID]').val(),
                                'TicketNumber': $('[name=Ticket]').val(),
                                'FromDate': $('[name=fromdate]').val(),
                                'ToDate': $('[name=todate]').val(),
                                'Customer': $('[name=Customer]').val(),
                                'pageSize': 15,
                                'pageIndex': 0,
                            }, tableOptions2, $table)
                        });
                    }
                    else {
                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                        });
                    }
                }



            },
            complete: function () {


            }
        });
    }
    function returnajaxPagination(ajaxInfo, tableOptions, tableid) {
        //{ apiurl, pageSize }
        return {
            url: ajaxInfo.apiurl,
            type: "post",
            data: function () {
                var info = tableid.DataTable().page.info();
                console.log('RETURN AJAX', info)
                //return { <antiforgery>:<antiforgery>, length: ajaxInfo.pageSize, page: info.page }
                let input = {
                    pageSize: info.length, pageIndex: info.page,

                    //Status: ajaxInfo.CurrentStatus,
                    Status: ajaxInfo.CurrentStatus,
                    FK_Product: ajaxInfo.ProductID,
                    FromDate: ajaxInfo.fromdate,
                    ToDate: ajaxInfo.todate,
                    TicketNumber: ajaxInfo.Ticket,
                    Customer: ajaxInfo.Customer
                };

                return input
            },
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            success: function (dtajaxOutput) {
                // $sideMenuOptions.body.html(pft_table_createtable(dtajaxOutput.Data, tableOptions));
                let table = tableid.DataTable();
                table.destroy();
                pft_table_newTableBody(tableid, dtajaxOutput.Data, tableOptions);

                tableid.dataTable({
                    "serverSide": true,
                    "processing": true,
                    //"lengthChange": false,
                    "lengthMenu": [10, 15, 20, 25, 50, 100],
                    "searching": false,
                    "ordering": false,
                    "deferLoading": dtajaxOutput.totalrecord,
                    "displayStart": dtajaxOutput.pageIndex * dtajaxOutput.pageSize,
                    "pageLength": dtajaxOutput.pageSize,
                    "recordsFiltered": dtajaxOutput.pageSize,
                    "ajax": returnajaxPagination(ajaxInfo, tableOptions, tableid)
                })

            },

        }
    }


    function ticketview() {
         
            let row = $(this).closest('tr');
           
        let Saveddata = row.data('pData'); 
        
        window.open("@Url.Action("ServiceListCustomer1", "ServiceList")" + '?ID=' + Saveddata.ID_Customerserviceregister + '&ServiceID=' + 0 + '&ID_CustomerserviceregisterProductDetails=' + Saveddata.ID_CustomerserviceregisterProductDetails+'&mgrp='+'@ViewBag.TransMode','_self');
          
        }


    function Cleardetails(ele) {

       // $thisForm = $(ele).find('[perfect-class="form-Filter"]');
        let $container = $(ele).closest('[perfect-class="form-Filter"]');
        $container.find('[name=Product]').val('')
        $container.find('[name=ProductID]').val('0');
        $container.find('[name=fromdate]').val('');
        $container.find('[name=todate]').val('');
        $container.find('[name=CurrentStatus]').val('0');
        $('select[name=CurrentStatus]').val('0');
        $container.find('[name=Customer]').val('');
        $container.find('[name=Ticket]').val('');
        SearchUsingKeyWord(ele, 1);

    }










    function RemoveEmptyRow(ID) {
        let val = $('#' + ID).find('tr:first').attr('id');
        if (val == 0) {
            $('#' + ID).empty();
        }
    }

    function CheckNumber(n) {

        if (n % 2 == 0) {
            return 1;
        } else if (Math.abs(n % 2) == 1) {
            return 0;
        }

    }





    function ConvertJsonDate(Jsondate) {
        var date = "";
        if (Jsondate != "" && Jsondate != null && Jsondate != undefined) {
            var dateString = Jsondate.substr(6);
            var currentTime = new Date(parseInt(dateString));
            var month = currentTime.getMonth() + 1;
            if (month <= 9) {
                month = "0" + month;
            }
            var day = currentTime.getDate();
            if (day <= 9) {
                day = "0" + day;
            }
            var year = currentTime.getFullYear();
            date = day + "-" + month + "-" + year;


        }
        return date;
    }




</script>
<script src="~/Scripts/jqDOM/tableDOMCreation.js"></script>