<!--HTML Section-->

@model PerfectWebERP.Models.CustomerModel.CustomerFormViewModel



<div class="card ">

    <div class="card-header">
        <h4 class="card-title col-12">Customer <span class="badge light badge-success float-right" perfect-class="formTitle">ADD</span></h4>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            <div class="">
                @Html.AntiForgeryToken()
                <div class="row">

                    <div class="col-sm-6">

                        <!-- branch-->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Branch</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_numeric" name="BranchID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" perfect-selectButton="Add Branch" perfect-selectButtonAction="">
                                    <option value="">Please select</option>
                                    <option value="1">Test data</option>
                                </select>
                            </div>
                        </div>
                        <!-- branch-->
                    </div>
                    <div class="col-sm-6">
                        <!-- Customer type -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Customer Type</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_numeric" name="CustomerTypeID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" perfect-selectButton="Add Customer Type" perfect-selectButtonAction="">
                                    <option value="">Please select</option>
                                    <option value="1">Test data</option>
                                </select>
                            </div>
                        </div>
                        <!-- Customer type -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Customer ID-->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Customer ID</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8 ">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fa fa-user bg-primary text-white"></span>
                                    </div>
                                    <input type="number" class="form-control perfectValidate_numeric" placeholder="" name="CustomerNumber" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                                </div>
                            </div>
                        </div>
                        <!-- Customer ID-->
                    </div>
                    <div class="col-sm-6">
                        <!-- Lead number -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Lead No</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control perfectValidate_numeric " placeholder="" name="LeadGenerateID" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                            </div>
                        </div>
                        <!-- lead number -->
                    </div>
                    <div class="col-sm-6">
                        <!-- name-->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Name</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control perfectValidate_name" placeholder="" name="CustomerName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                            </div>
                        </div>
                        <!-- name-->
                    </div>
                    <div class="col-sm-6">
                        <!-- Address 1 -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Address 1</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control perfectValidate_name" placeholder="" name="CustomerAddress1" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                            </div>
                        </div>
                        <!-- Address 1 -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Address-->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Address 2</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control perfectValidate_name_nm" placeholder="" name="CustomerAddress2" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                            </div>
                        </div>
                        <!-- address-->
                    </div>
                    <div class="col-sm-6">
                        <!-- Location -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Location</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_numeric" name="CustomerLocation" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" perfect-selectButton="Add Location" perfect-selectButtonAction="">
                                    <option value="">Please select</option>
                                    <option value="1">Test data</option>
                                </select>
                            </div>
                        </div>
                        <!-- Location -->
                    </div>
                    <div class="col-sm-6">
                        <!-- country-->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Country</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_numeric" name="CountryID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" perfect-selectButton="Add Country" perfect-selectButtonAction="">
                                    <option value="">Please select</option>
                                    <option value="1">Test data</option>
                                </select>
                            </div>
                        </div>
                        <!-- country-->
                    </div>
                    <div class="col-sm-6">
                        <!-- State -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">State</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_numeric" name="StateID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" perfect-selectButton="Add State" perfect-selectButtonAction="fn_customerForm_loadState">
                                    <option value="">Please select</option>
                                    @if (!(Model.StateList is null))
                                    {
                                        foreach (var stateList in Model.StateList)
                                        {
                                            <option value="@stateList.StateID">@stateList.State</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <!-- State -->
                    </div>
                    <div class="col-sm-6">
                        <!-- District -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">District</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_numeric" name="DistrictID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" perfect-selectButton="Add District" perfect-selectButtonAction="">
                                    <option value="">Please select</option>
                                    <option value="1">Test data</option>
                                </select>
                            </div>
                        </div>
                        <!-- District -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Post -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Post</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_numeric" name="PostID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" perfect-selectButton="Add Country" perfect-selectButtonAction="" data-live-search="true">
                                    <option value="">Please select</option>
                                    <option value="1">Test data</option>
                                </select>
                            </div>
                        </div>
                        <!-- Post -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Mobile -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Mobile</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8 ">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fa fa-phone bg-primary text-white"></span>
                                    </div>
                                    <input type="number" class="form-control perfectValidate_mobile " placeholder="" name="CustomerMobile" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                                </div>
                            </div>
                        </div>
                        <!-- Mobile -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Phone number -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Phone</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8 ">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fa fa-phone bg-primary text-white"></span>
                                    </div>
                                    <input type="number" class="form-control perfectValidate_mobile " placeholder="" name="CustomerPhone" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                                </div>
                            </div>
                        </div>
                        <!-- Phone number -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Email -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Email</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8 ">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fa fa-envelope bg-primary text-white"></span>
                                    </div>
                                    <input type="email" class="form-control perfectValidate_email" placeholder="" name="CustomerEmail" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                                </div>
                            </div>
                        </div>
                        <!-- Email -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Website -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Website</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8 ">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fa fa-link bg-primary text-white"></span>
                                    </div>
                                    <input type="url" class="form-control perfectValidate_url" placeholder="" name="CustomerWebsite" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                                </div>
                            </div>
                        </div>
                        <!-- website -->
                    </div>
                    <div class="col-sm-6">
                        <!-- GST number -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">GSTIN No</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8 ">
                                <div class="input-group mb-2">
                                    @*<div class="input-group-prepend">
                                            <span class="input-group-text fa fa-phone bg-primary text-white"></span>
                                        </div>*@
                                    <input type="number" class="form-control perfectValidate_gstinno" placeholder="" name="CustomerGSTINNo" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                                </div>
                            </div>
                        </div>
                        <!-- GST number -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Canvas mode -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Canvas Mode</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_numeric" name="CustomerCanvasMode" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                    <option value="">Please select</option>
                                    <option value="1">Test data</option>
                                </select>
                            </div>
                        </div>
                        <!-- Canvas mode  -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Canvased by -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Canvased by</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_numeric" name="CustomerCanvasBy" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" perfect-selectButton="Add District" perfect-selectButtonAction="">
                                    <option value="">Please select</option>
                                    <option value="1">Test data</option>
                                </select>
                            </div>
                        </div>
                        <!-- Canvased by -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Customer Category -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Customer Category</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <select class="form-control perfectValidate_numeric" name="CategoryID" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select">
                                    <option value="">Please select</option>
                                    <option value="1">Test data</option>
                                </select>
                            </div>
                        </div>
                        <!-- Customer Category -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Contact person name -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Contact Person Name</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control perfectValidate_name " placeholder="" name="CustomerContactPerson" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                            </div>
                        </div>
                        <!-- Contact person name -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Contact person phone -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Contact Person Phone</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8 ">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fa fa-phone bg-primary text-white"></span>
                                    </div>
                                    <input type="number" class="form-control perfectValidate_mobile " placeholder="" name="CustomerContactMobile" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                                </div>
                            </div>
                        </div>
                        <!-- Contact person phone -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Contact person email -->
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Contact Person Email</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8 ">
                                <div class="input-group mb-2">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text fa fa-envelope bg-primary text-white"></span>
                                    </div>
                                    <input type="email" class="form-control perfectValidate_email" placeholder="" name="CustomerContactEmail" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                                </div>
                            </div>
                        </div>
                        <!-- Contact person email -->


                    </div>



                </div>


            </div>
            <div class="card-footer text-right" perfect-class="formFooter">
                @*@if (ViewBag.PageAccess.HasUpdateRight
        {)*@
                <button id="" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserUpdate d-none" name="update" perfect-css="button" onclick="fn_customerForm_update(this)"><i class="fa fa-refresh fa-spin  loaderClass"></i>Update</button>
                @*}
        @if (ViewBag.PageAccess.HasAddRight)*@
                @*{*@
                <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="fn_customerForm_add(this)"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                @*}*@
                <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this)" name="reset">Clear</button>
            </div>
        </form>
    </div>


</div>




<!--Script section-->
@*@if (ViewBag.PageAccess.HasUpdateRight)
{*@
    <script type="text/javascript">
 // Function to Update Customer
    function fn_customerForm_update(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');

        if ($thisForm.valid()) {
            let savedData = $thisForm.data('pData');

            console.log('save',savedData)
            $(ele).prop('disabled', true);

            let inputData = {
                __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                'CustomerID': savedData.CustomerID,
                'BranchID': $thisForm.find('[name="BranchID"]').val().trim(),
                'CustomerTypeID': $thisForm.find('[name="CustomerTypeID"]').val().trim(),
                'CustomerNumber': $thisForm.find('[name="CustomerNumber"]').val().trim(),
                'LeadGenerateID': $thisForm.find('[name="LeadGenerateID"]').val().trim(),
                'CustomerName': $thisForm.find('[name="CustomerName"]').val().trim(),
                'CustomerAddress1': $thisForm.find('[name="CustomerAddress1"]').val().trim(),
                'CustomerAddress2': $thisForm.find('[name="CustomerAddress2"]').val().trim(),
                'CustomerLocation': $thisForm.find('[name="CustomerLocation"]').val().trim(),
                'CountryID': $thisForm.find('[name="CountryID"]').val().trim(),
                'StateID': $thisForm.find('[name="StateID"]').val().trim(),
                'DistrictID': $thisForm.find('[name="DistrictID"]').val().trim(),
                'PostID': $thisForm.find('[name="PostID"]').val().trim(),
                'CustomerMobile': $thisForm.find('[name="CustomerMobile"]').val().trim(),
                'CustomerPhone': $thisForm.find('[name="CustomerPhone"]').val().trim(),
                'CustomerEmail': $thisForm.find('[name="CustomerEmail"]').val().trim(),
                'CustomerWebsite': $thisForm.find('[name="CustomerWebsite"]').val().trim(),
                'CustomerGSTINNo': $thisForm.find('[name="CustomerGSTINNo"]').val().trim(),
                'CustomerCanvasMode': $thisForm.find('[name="CustomerCanvasMode"]').val().trim(),
                'CustomerCanvasBy': $thisForm.find('[name="CustomerCanvasBy"]').val().trim(),
                'CategoryID': $thisForm.find('[name="CategoryID"]').val().trim(),
                'CustomerContactPerson': $thisForm.find('[name="CustomerContactPerson"]').val().trim(),
                'CustomerContactMobile': $thisForm.find('[name="CustomerContactMobile"]').val().trim(),
                'CustomerContactEmail': $thisForm.find('[name="CustomerContactEmail"]').val().trim()
            };

            $.ajax({
                 url: "@Url.Action("UpdateCustomer", "Home")",
                type: "POST",
                 data: inputData,
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                 success: function (ajaxOutput) {

                     if (ajaxOutput.Process.IsProcess) {

                         $.each(ajaxOutput.Process.Message, function (key, value) {
                             NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                         });

                         // Get the value set in form's perfect-onFormSuccess attribute
                         let onSuccess = $thisForm.attr('perfect-onFormSuccess');

                         if (onSuccess) {
                             window[onSuccess]();
                         }
                     }
                     else {
                         $.each(ajaxOutput.Process.Message, function (key, value) {
                             NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                         });
                     }
                },
                complete: function () {
                    $(ele).prop('disabled', false);
                }

            });


        }

    }
    </script>

@*}
@if (ViewBag.PageAccess.HasAddRight)
{*@
    <script type="text/javascript">
        function fn_customerForm_add(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        if ($thisForm.valid()) {


            //disable button to avoid multiple clicks
            $(ele).prop('disabled', true);

            let inputData = {
                __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                'CustomerID': 0,
                'BranchID': $thisForm.find('[name="BranchID"]').val().trim(),
                'CustomerTypeID': $thisForm.find('[name="CustomerTypeID"]').val().trim(),
                'CustomerNumber': $thisForm.find('[name="CustomerNumber"]').val().trim(),
                'LeadGenerateID': $thisForm.find('[name="LeadGenerateID"]').val().trim(),
                'CustomerName': $thisForm.find('[name="CustomerName"]').val().trim(),
                'CustomerAddress1': $thisForm.find('[name="CustomerAddress1"]').val().trim(),
                'CustomerAddress2': $thisForm.find('[name="CustomerAddress2"]').val().trim(),
                'CustomerLocation': $thisForm.find('[name="CustomerLocation"]').val().trim(),
                'CountryID': $thisForm.find('[name="CountryID"]').val().trim(),
                'StateID': $thisForm.find('[name="StateID"]').val().trim(),
                'DistrictID': $thisForm.find('[name="DistrictID"]').val().trim(),
                'PostID': $thisForm.find('[name="PostID"]').val().trim(),
                'CustomerMobile': $thisForm.find('[name="CustomerMobile"]').val().trim(),
                'CustomerPhone': $thisForm.find('[name="CustomerPhone"]').val().trim(),
                'CustomerEmail': $thisForm.find('[name="CustomerEmail"]').val().trim(),
                'CustomerWebsite': $thisForm.find('[name="CustomerWebsite"]').val().trim(),
                'CustomerGSTINNo': $thisForm.find('[name="CustomerGSTINNo"]').val().trim(),
                'CustomerCanvasMode': $thisForm.find('[name="CustomerCanvasMode"]').val().trim(),
                'CustomerCanvasBy': $thisForm.find('[name="CustomerCanvasBy"]').val().trim(),
                'CategoryID': $thisForm.find('[name="CategoryID"]').val().trim(),
                'CustomerContactPerson': $thisForm.find('[name="CustomerContactPerson"]').val().trim(),
                'CustomerContactMobile': $thisForm.find('[name="CustomerContactMobile"]').val().trim(),
                'CustomerContactEmail': $thisForm.find('[name="CustomerContactEmail"]').val().trim()
            };

            $.ajax({
                 url: "@Url.Action("AddNewCustomer", "Customer")",
                type: "POST",
                data: inputData,
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                 success: function (ajaxOutput) {

                     if (ajaxOutput.Process.IsProcess) {

                         $.each(ajaxOutput.Process.Message, function (key, value) {
                             NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                         });

                         $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                         $thisForm.find('[perfect-ctype="input"]').val('');
                         $thisForm.find('[perfect-ctype="date"]').val('');

                         // Get the value set in form's perfect-onFormSuccess attribute
                         let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                         if (onSuccess) {
                             window[onSuccess]($thisForm);
                         }
                     }
                     else {
                         $.each(ajaxOutput.Process.Message, function (key, value) {
                             NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                         });
                     }
                },
                complete: function () {
                    $(ele).prop('disabled', false);
                }

            });
        }
    }
    </script>

@*}*@


<script type="text/javascript">
    // Function to Add function
    @*function fn_customerForm_add(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        if ($thisForm.valid()) {


            //disable button to avoid multiple clicks
            $(ele).prop('disabled', true);

            let inputData = {
                __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                'CustomerID': 0,
                'BranchID': $thisForm.find('[name="BranchID"]').val().trim(),
                'CustomerTypeID': $thisForm.find('[name="CustomerTypeID"]').val().trim(),
                'CustomerNumber': $thisForm.find('[name="CustomerNumber"]').val().trim(),
                'LeadGenerateID': $thisForm.find('[name="LeadGenerateID"]').val().trim(),
                'CustomerName': $thisForm.find('[name="CustomerName"]').val().trim(),
                'CustomerAddress1': $thisForm.find('[name="CustomerAddress1"]').val().trim(),
                'CustomerAddress2': $thisForm.find('[name="CustomerAddress2"]').val().trim(),
                'CustomerLocation': $thisForm.find('[name="CustomerLocation"]').val().trim(),
                'CountryID': $thisForm.find('[name="CountryID"]').val().trim(),
                'StateID': $thisForm.find('[name="StateID"]').val().trim(),
                'DistrictID': $thisForm.find('[name="DistrictID"]').val().trim(),
                'PostID': $thisForm.find('[name="PostID"]').val().trim(),
                'CustomerMobile': $thisForm.find('[name="CustomerMobile"]').val().trim(),
                'CustomerPhone': $thisForm.find('[name="CustomerPhone"]').val().trim(),
                'CustomerEmail': $thisForm.find('[name="CustomerEmail"]').val().trim(),
                'CustomerWebsite': $thisForm.find('[name="CustomerWebsite"]').val().trim(),
                'CustomerGSTINNo': $thisForm.find('[name="CustomerGSTINNo"]').val().trim(),
                'CustomerCanvasMode': $thisForm.find('[name="CustomerCanvasMode"]').val().trim(),
                'CustomerCanvasBy': $thisForm.find('[name="CustomerCanvasBy"]').val().trim(),
                'CategoryID': $thisForm.find('[name="CategoryID"]').val().trim(),
                'CustomerContactPerson': $thisForm.find('[name="CustomerContactPerson"]').val().trim(),
                'CustomerContactMobile': $thisForm.find('[name="CustomerContactMobile"]').val().trim(),
                'CustomerContactEmail': $thisForm.find('[name="CustomerContactEmail"]').val().trim()
            };

            $.ajax({
                 url: "@Url.Action("AddNewCustomer", "Customer")",
                type: "POST",
                data: inputData,
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                 success: function (ajaxOutput) {

                     if (ajaxOutput.Process.IsProcess) {

                         $.each(ajaxOutput.Process.Message, function (key, value) {
                             NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                         });

                         $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                         $thisForm.find('[perfect-ctype="input"]').val('');
                         $thisForm.find('[perfect-ctype="date"]').val('');

                         // Get the value set in form's perfect-onFormSuccess attribute
                         let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                         if (onSuccess) {
                             window[onSuccess]($thisForm);
                         }
                     }
                     else {
                         $.each(ajaxOutput.Process.Message, function (key, value) {
                             NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                         });
                     }
                },
                complete: function () {
                    $(ele).prop('disabled', false);
                }

            });
        }
    }*@


    // Function to Update Customer
    function fn_customerForm_update(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');

        if ($thisForm.valid()) {
            let savedData = $thisForm.data('pData');

            console.log('save',savedData)
            $(ele).prop('disabled', true);

            let inputData = {
                __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                'CustomerID': savedData.CustomerID,
                'BranchID': $thisForm.find('[name="BranchID"]').val().trim(),
                'CustomerTypeID': $thisForm.find('[name="CustomerTypeID"]').val().trim(),
                'CustomerNumber': $thisForm.find('[name="CustomerNumber"]').val().trim(),
                'LeadGenerateID': $thisForm.find('[name="LeadGenerateID"]').val().trim(),
                'CustomerName': $thisForm.find('[name="CustomerName"]').val().trim(),
                'CustomerAddress1': $thisForm.find('[name="CustomerAddress1"]').val().trim(),
                'CustomerAddress2': $thisForm.find('[name="CustomerAddress2"]').val().trim(),
                'CustomerLocation': $thisForm.find('[name="CustomerLocation"]').val().trim(),
                'CountryID': $thisForm.find('[name="CountryID"]').val().trim(),
                'StateID': $thisForm.find('[name="StateID"]').val().trim(),
                'DistrictID': $thisForm.find('[name="DistrictID"]').val().trim(),
                'PostID': $thisForm.find('[name="PostID"]').val().trim(),
                'CustomerMobile': $thisForm.find('[name="CustomerMobile"]').val().trim(),
                'CustomerPhone': $thisForm.find('[name="CustomerPhone"]').val().trim(),
                'CustomerEmail': $thisForm.find('[name="CustomerEmail"]').val().trim(),
                'CustomerWebsite': $thisForm.find('[name="CustomerWebsite"]').val().trim(),
                'CustomerGSTINNo': $thisForm.find('[name="CustomerGSTINNo"]').val().trim(),
                'CustomerCanvasMode': $thisForm.find('[name="CustomerCanvasMode"]').val().trim(),
                'CustomerCanvasBy': $thisForm.find('[name="CustomerCanvasBy"]').val().trim(),
                'CategoryID': $thisForm.find('[name="CategoryID"]').val().trim(),
                'CustomerContactPerson': $thisForm.find('[name="CustomerContactPerson"]').val().trim(),
                'CustomerContactMobile': $thisForm.find('[name="CustomerContactMobile"]').val().trim(),
                'CustomerContactEmail': $thisForm.find('[name="CustomerContactEmail"]').val().trim()
            };

            $.ajax({
                 url: "@Url.Action("UpdateCustomer", "Home")",
                type: "POST",
                 data: inputData,
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                 success: function (ajaxOutput) {

                     if (ajaxOutput.Process.IsProcess) {

                         $.each(ajaxOutput.Process.Message, function (key, value) {
                             NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                         });

                         // Get the value set in form's perfect-onFormSuccess attribute
                         let onSuccess = $thisForm.attr('perfect-onFormSuccess');

                         if (onSuccess) {
                             window[onSuccess]();
                         }
                     }
                     else {
                         $.each(ajaxOutput.Process.Message, function (key, value) {
                             NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                         });
                     }
                },
                complete: function () {
                    $(ele).prop('disabled', false);
                }

            });


        }

    }

    function fn_customerForm_loadState(ele) {

        let $select = $(ele);

        let $tempModel = createSearchModalDOM().modal;

        $tempModel.find('.modal-title').addClass("d-none");
        $tempModel.show
        $tempModel.find('.modal-dialog').addClass('modal-xl')

        @*$tempModel.find('.modal-body').load('@Url.Action("GetCustomerForm", "Home")', function () {
            perfectCRMvalidation.init($(this).find('[perfect-class="form]'));
            initFunctions($(this));

        });*@



        $tempModel.find('.modal-body').load('@Url.Action("LoadStateForm", "State")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');
            $thisForm.attr('perfect-onFormSuccess', 'fn_customerForm_loadState_success');
               // initFunctions($thisForm);

        });


    }

    function fn_customerForm_loadState_success(ele) {

        $(ele).closest('.modal').modal('hide');

    }

</script>
