
<style>
    .tableFixHead {
        overflow: auto;
        height: 242px;
    }

        .tableFixHead thead tr {
            position: sticky;
            top: 0;
            z-index: 1;
        }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
    }

    th {
        background: var(--perfect-primary);
    }

    .empjobNewQty {
        text-align: right;
        width: 100%;
    }
</style>

@model PerfectWebERP.Models.JobCardAssignModel.JobCardAssignDetailsView
<style>
    .table-responsive-sm {
        max-width: 1200.98px
    }

    .form-group2 {
        margin-bottom: 0.1rem;
        margin-left: 1px;
    }
</style>
 
 
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" id="jq_ServiceIndex_formContainer">
            <div class="card ">

                @*<div class="card-header">
                        <h4 class="card-title">Job Card No :<span class="col-sm-4 col-form-label" perfect-class="formGroupLabel">@Model.JobCardNo</span></h4>
                    </div>*@

                <div class="card-body px-2">
                    <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">


                        <div class="col-md-12 jq_service_commonForm_div">

                            @Html.AntiForgeryToken()

                            <input type="hidden" id="hdnmdlJobCardStartDate" value="@Model.StartDate" />
                           <input type="hidden" id="hdnmdlID_JobCardAssign" value="@Model.ID_JobCardAssign" />
                            <input type="hidden" id="hdnmdlID_JobCardAssign" value="@Model.ID_JobCardAssign" />
                            <input type="hidden" id="hdnmdlID_JobCard" value="@Model.ID_JobCard" />
                            <input type="hidden" id="hdnmdlID_JobCardDetails" value="@Model.ID_JobCardDetails" />
                            <input type="hidden" id="hdnmdlFK_Product" value="@Model.FK_Product" />
                            <input type="hidden" id="hdnmdlFK_ProjectStages" value="@Model.FK_ProjectStages" />
                            <input type="hidden" id="hdnmdlErrCode" value="@Model.ErrCode" />
                            <input type="hidden" id="hdnmdlErrMsg" value="@Model.ErrMsg" />
                            <input type="hidden" id="hdnmdlAssgnStrtDt" value="@Model.JcaStartDate" />
                            <input type="hidden" id="hdnmdlReturnJob" value="@Model.ReturnJob.ToString()" />

                            <div class="col-sm-12 border p-3" style="border-color:black">
                                <div class="row">
                                    <div class="col-sm-6">
                                    </div>
                                    <div class="col-sm-6">
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">

                                        <div class="profile-personal-info">
                                            <h4 class='text-primary mb-4'>Job Card Details</h4>
                                            <div style="display:flex">
                                                <div class="col-sm-6">
                                                    <div class="form-group2 row" perfect-class="formGroup">
                                                        <label class="col-sm-4 col-form-label">
                                                            <span perfect-class="formGroupLabel" class="font-weight-bold">Job Card Number:</span>

                                                        </label>
                                                        <div class="col-sm-8">
                                                            <label class="col-sm-8 col-form-label" perfect-class="formGroupControl" name="mdlJobCardNo" perfect-ctype="input" perfect-css="input">@Model.JobCardNo</label>

                                                        </div>

                                                    </div>

                                                    <div class="form-group2 row" perfect-class="formGroup">
                                                        <label class="col-sm-4 col-form-label">
                                                            <span perfect-class="formGroupLabel" class="font-weight-bold">Job Card Details:</span>

                                                        </label>
                                                        <div class="col-sm-8">
                                                            <label class="col-sm-8 col-form-label" type="date" perfect-class="formGroupControl" name="mdlJobCardDetails" perfect-ctype="input" perfect-css="input">@Model.JobCardDetails</label>

                                                        </div>

                                                    </div>
                                                    <div class="form-group2 row" perfect-class="formGroup">
                                                        <label class="col-sm-4 col-form-label">
                                                            <span perfect-class="formGroupLabel" class="font-weight-bold">Stage:</span>

                                                        </label>
                                                        <div class="col-sm-8">
                                                            <label class="col-sm-8 col-form-label" type="text" perfect-class="formGroupControl" name="ProductStage" perfect-ctype="input" perfect-css="input">@Model.Stage</label>

                                                        </div>

                                                    </div>

                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group2 row" perfect-class="formGroup">
                                                        <label class="col-sm-4 col-form-label">
                                                            <span perfect-class="formGroupLabel" class="font-weight-bold">Start Date:</span>

                                                        </label>
                                                        <div class="col-sm-8">
                                                            <label class="col-sm-8 col-form-label" perfect-class="formGroupControl" id="mdlStartDate"  name="mdlStartDate" perfect-ctype="input" perfect-css="input" value="@Convert.ToDateTime(Model.StartDate).ToString("dd/MM/yyyy")">@Convert.ToDateTime(Model.StartDate).ToString("dd/MM/yyyy")</label>

                                                        </div>

                                                    </div>
                                                    <div class="form-group2 row" perfect-class="formGroup">
                                                        <label class="col-sm-4 col-form-label">
                                                            <span perfect-class="formGroupLabel" class="font-weight-bold">Target Date:</span>

                                                        </label>
                                                        <div class="col-sm-8">
                                                            @if (@Model.TargetDate != null)
                                                            {
                                                                <label class="col-sm-8 col-form-label" perfect-class="formGroupControl" name="mdlTargetDate" perfect-ctype="input" perfect-css="input">@Convert.ToDateTime(Model.TargetDate).ToString("dd/MM/yyyy")</label>
                                                            }
                                                        </div>

                                                    </div>



                                                    <div class="form-group2 row" perfect-class="formGroup">
                                                        <label class="col-sm-4 col-form-label">
                                                            <span perfect-class="formGroupLabel" class="font-weight-bold">Production Quantity:</span>

                                                        </label>
                                                        <div class="col-sm-8">
                                                            <label class="col-sm-8 col-form-label" type="text" perfect-class="formGroupControl" id="TotalJobs" name="TotalJobs" perfect-ctype="input" perfect-css="input">@Model.Quantity</label>

                                                        </div>

                                                    </div>





                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <div class="form-group2 row" perfect-class="formGroup">

                                                    <label class="col-sm-2 col-form-label">
                                                        <span perfect-class="formGroupLabel" class="font-weight-bold">Product:</span>

                                                    </label>
                                                    <div class="col-sm-10">
                                                        <label class="col-sm-12 col-form-label" type="date" perfect-class="formGroupControl" name="ProductName" perfect-ctype="input" perfect-css="input">@Model.ProductName</label>

                                                    </div>

                                                </div>
                                            </div>

                                            <div style="display:flex">




                                            </div>
                                        </div>


                                    </div>


                                    <div class="col-sm-12">

                                        <div class="profile-personal-info">
                                            <h4 class='text-primary mb-4'>Assign Details</h4>
                                            <div style="display:flex">
                                                <div class="row col-sm-12">

                                                    <div class="col-sm-6">

                                                        <div class="form-group2 row" perfect-class="formGroup">


                                                            <label class="col-sm-4 col-form-label">
                                                                <span perfect-class="formGroupLabel" class="font-weight-bold">Start Date:</span>
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            <div class="col-sm-8">
                                                                @if (@Model.JcaStartDate != null)
                                                                {
                                                                    <input type="date" class=" col-sm-9  form-control" id="AssignStartDate" name="AssignStartDate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date" value="@Convert.ToDateTime(Model.JcaStartDate).ToString("yyyy-MM-dd")" />
                                                                }
                                                                else
                                                                { <input type="date" class=" col-sm-9  form-control" id="AssignStartDate" name="AssignStartDate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date" value="" />

                                                                }<div class="text-danger temptableError AssignStartDateErr"> </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <div class="form-group2 row" perfect-class="formGroup">
                                                            <label class="col-sm-4 col-form-label">
                                                                <span perfect-class="formGroupLabel" class="font-weight-bold">Start Time:</span>
                                                                <span class="text-danger">*</span>
                                                            </label>
                                                            @*<div class="col-sm-8">

                                                                    <input type="text" class=" col-sm-6  form-control timePicker" id="AssignStartTime" name="AssignStartTime" perfect-class="formGroupControl" value="@Model.JcaStartTime" perfect-ctype="input" perfect-css="input" />
                                                                    <div class="text-danger temptableError AssignStartTimeErr"> </div>
                                                                </div>*@
                                                            <div class="col-sm-8 input-group  date" id="timePicker">
                                                                <input type="text" class="col-sm-9 form-control timePicker" placeholder="hh:mm am/pm" id="AssignStartTime" name="AssignStartTime" value="@Model.JcaStartTime">
                                                                <div class="text-danger temptableError AssignStartTimeErr"> </div>
                                                                @*<span class="input-group-addon"><i class="fa fa-clock-o" aria-hidden="true" style="font-size:34px;"></i></span>*@
                                                            </div>
                                                        </div>





                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>







                                    <div class="col-sm-12">
                                        <div class="profile-personal-info  table-responsive" style="padding-top: 1%;">


                                            @*<h4 class='text-primary mb-4'>Employee Details</h4>*@
                                            <div style="max-height:355px;overflow-y:auto">
                                                <table class="table table-hover table-striped   text-black" id="AttendedProductServices">
                                                    <thead class="bg-primary text-white">
                                                        <tr>
                                                        <tr>
                                                            @*<th></th>*@
                                                            <th style="display:none">EmployeeID </th>
                                                            <th>Employee Code</th>
                                                            <th>Employee</th>
                                                            <th style="text-align:right">Current Jobs</th>
                                                            <th style="text-align:right;width:15%;">Quantity</th>

                                                        </tr>


                                                    </thead>
                                                    <tbody id="AttendedProductServiceTbody">
                                                        @if (Model.EmployeeAssign != null)
                                                        {
                                                            foreach (var itm in Model.EmployeeAssign)
                                                            {
                                                                <tr>
                                                                    <td style="display:none"><input type="text" class="empId" value="@itm.FK_Employee" /> </td>
                                                                    <td>@itm.EmployeeCode</td>
                                                                    <td>@itm.Employee</td>
                                                                    <td style="text-align:right;width:30%"><label class="empCurrentjobs">@itm.JcadPendingJobs</label></td>
                                                                    <td><input type="text" perfect-class="formGroupControl" class="form-control perfectValidate_number  empjobNewQty" value="@itm.JcadProduceQuantity" maxlength="10" oninput="IntegerCheck(this, 0);" /></td>
                                                                </tr>
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr id="0">
                                                                <td colspan="4" style="text-align:center;">No Records...</td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>






                                </div>


                            </div>
                        </div>
                    </form>


                    @*</form>*@
                </div>

            </div>

        </div>
    </div>
</div>
<script src="~/Assets/TimePicker/js/jquery.timepicker.min.js"></script>

<script>
    $(document).ready(function () {
        //var date = new Date();
        //var hours = date.getHours();
        //var minutes = date.getMinutes();
        //var ampm = hours >= 12 ? 'PM' : 'AM';
        //hours = hours % 12;
        //hours = hours ? hours : 12; // the hour '0' should be '12'
        //minutes = minutes < 10 ? '0' + minutes : minutes;
        //var strTime = hours + ':' + minutes + ' ' + ampm;
        //console.log(strTime);
        //$("#AssignStartTime").val(strTime);


        var today = new Date();
        var minDate = today.setDate(today.getDate() + 1);



        var firstOpen = true;
        var time;
        var hdnmdlID_JobCardAssign = $("#hdnmdlID_JobCardAssign").val();
       
        if (hdnmdlID_JobCardAssign == "" || hdnmdlID_JobCardAssign==0) {
            $("#AssignStartTime").val(moment().format('hh:mm a'));
           
        }  
        $('#timePicker').datetimepicker({
            useCurrent: false,
            format: "hh:mm A"
        }).on('dp.show', function () {
            if (firstOpen) {
                time = moment().startOf('day');
                firstOpen = false;
            } else {
                time = "01:00 PM";
            }
          
            $(this).data('DateTimePicker').date(time);
        });


     


        //$("#AssignStartTime").datetimepicker({
        //    format: 'DD/MM/YYYY hh:mm A'
        //});
    })
    function IntegerCheck(ele, range) {

        let input = $(ele);
        ele.value = ele.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
        let t = ele.value;
        ele.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), range)) : t;
        input.on('keydown', function () {
            if (ele.value.includes('.')) {

            }
            var key = event.keyCode || event.charCode;
            if (key == 8 || key == 46) { }
            else {
                if (ele.value.length == 11) {
                    ele.value = ele.value + '.';
                }
            }



        });



    }
    $(".empjobNewQty").keyup(function () {
        CheckTotal(this);

    });

    function CheckTotal(ele) {
        var newqty = 0; $(ele).prop("title", "");
        $('.empjobNewQty').prop("style", "border-color:#343434");
        $("#TotalJobs").prop("style", "color:#343434");
        $('.empjobNewQty').each(function () {
            var qty = parseFloat($(this).val() == "" ? "0" : $(this).val());

            if (qty > 0) {
                $(this).prop("style", "border-color:red");
                $(this).prop("title", "Total Quantity should not exceed Production Quantity");
            }
            newqty = newqty + qty;

        })
        var totJobs = $("#TotalJobs").text() == "" ? "0" : $("#TotalJobs").text();
        if (totJobs < newqty) {

            $("#TotalJobs").prop("style", "color:red");

        } else {
            $(".empjobNewQty").prop("style", "border-color:#343434");
            $(".empjobNewQty").prop("title", "");
        }
    }
    $('.empjobNewQty').focus(function () {

        $(this).select();
    })
    function EmployeeInformation(FK_Employee, NewQty, CurrentJobs) {

        this.FK_Employee = FK_Employee;
        this.JcadProduceQuantity = NewQty;
        this.JcadPendingJobs = CurrentJobs;


    };
    //$("#AssignStartTime").keypress(function (e) {

    //    if ($(this).val().match(/^(0?[1-9]|1[0-2]):[0-5][0-9]\s*[aApP][mM]\s*$/)) {

    //    } else {
    //        e.preventDefault();
    //    }
    //});

    function myFunction(ele) {
        try {

            $(".AssignStartTimeErr").text("");
            debugger;
            var time = $("#AssignStartTime").val().trim().split(":");

            if (time[0].length > 2) {
                time[0] = time[0].substr(0, 2);
            }
            var hours = parseInt(time[0]);
            if (isNaN(hours)) {
                hours = "12";
            }
            var minute = time[1].split(" ");
            if (minute[0].length > 2) {
                minute[0] = minute[0].substr(0, 2);
            }
            if (parseInt(minute[0]) > 60) {
                minute[0] = parseInt(minute[0]) - 60;
                hours = hours + 1;
            }
            var minutes = parseInt(minute[0]);


            if (isNaN(minutes)) {
                minutes = "00";

            }

            ampm = minute[1].trim().toUpperCase();
            if (ampm != "AM" && ampm != "PM") {
                ampm = "AM";
            }
            if (hours > 12) {
                ampm = "PM";
            } else {
                if (minute[1].trim() == "") {
                    ampm = "AM";
                }

            }

            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            if (minutes.toString().length < 2) {
                minutes = minutes < 10 ? '0' + minutes : minutes;
            }

            var strTime = hours + ':' + minutes + ' ' + ampm;

            $("#AssignStartTime").val(strTime);


        } catch (ex) {
            $(".AssignStartTimeErr").text("Enter Valid Start Time");
        }
    }


</script>
