<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Perfect: WebTemplate" />
    <meta property="og:title" content="Perfect: WebTemplate" />
    <meta property="og:description" content="Perfect: WebTemplate" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no">
    <title>ProdSuite</title>


    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/login-logo.png">

    @*@Styles.Render("~/Content/css")*@
    <a href="~/Views/Shared/_LayoutOpeningStock.cshtml">~/Views/Shared/_LayoutOpeningStock.cshtml</a>
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/icons/font-awesome-old/css/font-awesome.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/icons/material-design-iconic-font/css/materialdesignicons.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/icons/themify-icons/css/themify-icons.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/icons/line-awesome/css/line-awesome.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/icons/avasta/css/style.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/icons/flaticon/flaticon.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/vendor/aos/css/aos.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/vendor/perfect-scrollbar/css/perfect-scrollbar.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/vendor/metismenu/css/metisMenu.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/css/style.css")" />
    <link href="~/Assets/css/style.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/css/search.css")" />


   
    @*<link rel="stylesheet" href="css/search.css">*@

    @* --- External plugin css referance  --- *@
    @Styles.Render("~/Content/externalPluginCSS")
    @Styles.Render("~/Content/datatablePluginCSS")


    @Styles.Render("~/Content/perfectERPTemplateCSS")
    @* --- Css created --- *@
    @Styles.Render("~/Content/perfectERP/css")

    @Scripts.Render("~/bundles/modernizr")<!--Default thing-->

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="sk-three-bounce">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        @*<div class="nav-header">
                <a href="index.html" class="brand-logo">

                    <img src="~/assets/images/logo-full.png" class="logo-lg">
                    <img src="~/assets/images/logo.png" class="logo-sm d-none ">
                </a>
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="line"></span><span class="line"></span><span class="line"></span>
                    </div>
                </div>
            </div>*@
        <!--**********************************
            Nav header end
        ***********************************-->
        @* ---------- Side menu ------- *@
        @*<div class="dz-demo-panel" id="jq-sidemenu">
            <div class="bg-close"></div>

            <a class="dz-demo-trigger" data-toggle="tooltip" data-placement="right" data-original-title="" href="javascript:void(0)">

                <svg stroke="currentColor" class="layer" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="26" width="26" xmlns="http://www.w3.org/2000/svg">
                    <polygon points="12 2 2 7 12 12 22 7 12 2"></polygon>
                    <polyline points="2 17 12 22 22 17"></polyline>
                    <polyline points="2 12 12 17 22 12"></polyline>
                </svg>
                <svg class="close" stroke="#e94560" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round" stroke-linejoin="round" height="26" width="26" xmlns="http://www.w3.org/2000/svg"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>
                @*<span>Demos</span>*@
        @*</a>
                <div class="dz-demo-inner">
                    <div class="dz-demo-header jq-sidemenu-title"><h4></h4></div>
                    <div class="dz-demo-content text-center row jq-sidemenu-body d-block">

                    </div>
                </div>
            </div>*@
        @* ---------- Side menu ------- *@
        <!--**********************************
            Chat box start
        ***********************************-->
        <div class="chatbox">
            <div class="chatbox-close"></div>
            <div class="custom-tab-1">


            </div>


        </div>
        <!--**********************************
            Chat box End
        ***********************************-->
        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">
            <div class="header-content">
                <nav class="navbar navbar-expand">
                    <div class="collapse navbar-collapse justify-content-between">
                        <div class="header-left">
                            <div class="dashboard_bar">
                                <img src="~/Assets/images/logo2.png" class="client-logo">
                            </div>
                        </div>

                        <ul class="navbar-nav header-right">
                            <li class="nav-item">



                                <!-- partial:index.partial.html -->
                                <div id="app" class="flex">
                                    <div class="ml-auto">

                                        <div class="search" v-bind:class="{'search-open' : searchOpen == true}">
                                            <div class="flex">
                                                <div class="flex">
                                                    <div class="dropdown">
                                                        <button class="dropbtn search-btn" v-on:click="toggleOpen"><i class="fa fa-search" onclick="myFunction();" aria-hidden="true"></i></button>
                                                        <div id="myDropdown" class="dropdown-content">
                                                            <input v-if="searchOpen" v-focus.lazy="true" role="button" autocomplete="off" id="myInput" data-toggle="dropdown" onkeypress="Search(this)" type="text" placeholder="Type to search" autofocus v-on:blur="toggleClose" class="search-input dropdown-toggle">

                                                            <div class="row">
                                                                <div class="col-md-4">
                                                                    <div class="timeline-panel">
                                                                        <ul id="MenuName" class=" SearchboxIcon-menu SearchboxIcon-menu1 scrollable-menu" role="menu">
                                                                            <li id="commonsearchContainer" class="">
                                                                            </li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>

                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                                <!-- partial -->


                            </li>

                            <li class="nav-item dropdown notification_dropdown">
                                <a class="nav-link  ai-icon" onclick="Hide();" href="#" role="button" data-toggle="dropdown">
                                    <i class="fa fa-th" aria-hidden="true"></i>

                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div id="DZ_W_Notification1" class="widget-media dz-scroll p-3 ">
                                        <ul class="timeline">

                                            <li>


                                                <div class="row">


                                                    <div class="col">
                                                        <div class="timeline-panel">
                                                            @Html.Action("LoadQuickMenu", "Home")
                                                            @*<a href="#">
                                                                    <div class="media mr-2 media-primary">
                                                                        <i class="fa fa-home"></i>
                                                                    </div>
                                                                </a>

                                                                <a href="#">
                                                                    <div class="media mr-2 media-primary">
                                                                        <i class="fa  fa-tachometer"></i>
                                                                    </div>arch
                                                                </a>


                                                                <a href="#">
                                                                    <div class="media mr-2 media-primary">
                                                                        <i class="fa fa-file-text"></i>
                                                                    </div>
                                                                </a>

                                                                <a href="#">
                                                                    <div class="media mr-2 media-primary">
                                                                        <i class="fa fa-cog"></i>
                                                                    </div>
                                                                </a>

                                                                <a href="#">
                                                                    <div class="media mr-2 media-primary">
                                                                        <i class="fa fa-home"></i>
                                                                    </div>
                                                                </a>

                                                                <a href="#">
                                                                    <div class="media mr-2 media-primary">
                                                                        <i class="fa fa-home"></i>
                                                                    </div>
                                                                </a>*@

                                                        </div>
                                                    </div>



                                                    @*<div class="col">
                                                            <div class="timeline-panel">

                                                                <a href="#">
                                                                    <div class="media mr-2 media-primary">
                                                                        <i class="fa fa-home"></i>
                                                                    </div>
                                                                </a>

                                                                <a href="#">
                                                                    <div class="media mr-2 media-primary">
                                                                        <i class="fa fa-home"></i>
                                                                    </div>
                                                                </a>


                                                                <a href="#">
                                                                    <div class="media mr-2 media-primary">
                                                                        <i class="fa fa-home"></i>
                                                                    </div>
                                                                </a>

                                                                <a href="#">
                                                                    <div class="media mr-2 media-primary">
                                                                        <i class="fa fa-home"></i>
                                                                    </div>
                                                                </a>

                                                                <a href="#">
                                                                    <div class="media mr-2 media-primary">
                                                                        <i class="fa fa-home"></i>
                                                                    </div>
                                                                </a>

                                                                <a href="#">
                                                                    <div class="media mr-2 media-primary">
                                                                        <i class="fa fa-home"></i>
                                                                    </div>
                                                                </a>

                                                            </div>
                                                        </div>*@






                                                </div>




                                            </li>




                                        </ul>
                                    </div>
                                    <a class="all-notification" href="#">See all Quick Links<i class="ti-arrow-right"></i></a>
                                </div>
                            </li>
                            <li class="nav-item dropdown header-profile">
                                <a class="nav-link" href="#" role="button" data-toggle="dropdown">

                                    <img src="~/Assets/images/profile/17.jpg" width="20" alt="" />
                                </a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a href="#" class="dropdown-item ai-icon" onclick="ShowProfile();">
                                        <svg id="icon-user1" xmlns="http://www.w3.org/2000/svg" class="text-primary" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                                        <span class="ml-2">Profile </span>
                                    </a>
                                    <a href="email-inbox.html" class="dropdown-item ai-icon">
                                        <svg id="icon-inbox" xmlns="http://www.w3.org/2000/svg" class="text-success" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                                        <span class="ml-2">Inbox </span>
                                    </a>
                                    <a href="@Url.Action("LogOut","Security")" class="dropdown-item ai-icon">
                                        <svg id="icon-logout" xmlns="http://www.w3.org/2000/svg" class="text-danger" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path><polyline points="16 17 21 12 16 7"></polyline><line x1="21" y1="12" x2="9" y2="12"></line></svg>
                                        <span class="ml-2">Logout </span>
                                    </a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->
        <!--**********************************
            Sidebar start
        ***********************************-->
        <!---Profile Modal---->

        <div class="modal fade show" id="modalGrid" style="display:none; padding-right: 17px;" aria-modal="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    @*<div class="modal-header">
                            <h5 class="modal-title"></h5>
                            <button type="button" class="close" data-dismiss="modal">
                                <span>×</span>
                            </button>
                        </div>*@
                    <div class="modal-body">
                        @Html.Action("UserProfile", "Home")
                    </div>
                    <div class="modal-footer">

                        <button type="button" class="close" data-dismiss="modal">
                            <span style="font-size:15px">Close</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <!---End---->

        <div class="deznav">
            <div class="deznav-scroll">
                <ul class="metismenu" id="menu">


                    <li></li>



                    @Html.Action("LoadMenuGroup", "Home")
                 
                </ul>


            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">
            <!-- row -->
            @*<div class="container-fluid">*@

            @RenderBody()

            @*</div>*@
        </div>


        <!--**********************************
            Content body end
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p> ©Copyright @@  <a href="#" target="_blank">Perfect Software Solution Pvt. Ltd</a> 2021</p>
            </div>
        </div>
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->
    @* -------- Script Section *@

    @* 2 referance in perfectERPTemplateJS *@
    @*
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    *@

    @Scripts.Render("~/bundles/perfectERPTemplateJS")

    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="~/Assets/vendor/jquery-validation/jquery.validate.min.js"></script>*@


    @* --- external plugin js referance --- *@
    @Scripts.Render("~/bundles/externalPlugin")
    @Scripts.Render("~/bundles/datatablePlugin")
    @* --- global plugin created --- *@
    @Scripts.Render("~/bundles/perfectERP/js")

    @RenderSection("scripts", required: false)
    @RenderSection("sidebar", required: false)


    <script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
    <script src="~/Scripts/deznav-init.js"></script>
    <script src="~/Scripts/demo.js"></script>
    <script src="~/signalr/hubs"></script>
    @*<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue-focus/2.1.0/vue-focus.js'></script>
    <script src="~/Scripts/search.js"></script>*@

    <style>


        .SearchboxIcon-menu {
            width: 100%;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 1000;
            d float: left;
            min-width: 10rem;
            padding: 0.5rem 0;
            margin: 0.125rem 0 0;
            font-size: 0.875rem;
            color: #7e7e7e;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
        }


        .scrollable-menu {
            height: auto;
            max-height: 200px;
            max-width: 300px;
            overflow-x: hidden;
        }

        .SearchboxIcon-menu1 {
            position: absolute;
            top: 20px;
            max-width: 250px;
            width: 250px;
            padding: 10px;
        }
    </style>



    <script>


            function toTitleCase(str) {
                return str.replace(/(?:^|\s)\w/g, function (match) {
                    return match.toUpperCase();
                });
            }
            function myFunction() {

                document.getElementById("myDropdown").classList.toggle("show");
         $('#commonsearchContainer').empty();
          $('#commonsearchContainer').closest('ul').addClass('d-none');
            }

            function filterFunction() {
                var input, filter, ul, li, a, i;
                input = document.getElementById("myInput");
                filter = input.value.toUpperCase();
                div = document.getElementById("myDropdown");
                a = div.getElementsByTagName("a");
                for (i = 0; i < a.length; i++) {
                    txtValue = a[i].textContent || a[i].innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        a[i].style.display = "";
                    } else {
                        a[i].style.display = "none";
                    }
                }
            }

        @*function getTransMode() {
            return '@ViewBag.transMode';
        }*@
          const _transMode = '@ViewBag.transMode';

        var $menuSeach = $('#perfect-Menulist-main');


        //----------

        function ShowProfile() {
            $('#modalGrid').modal('show');
        }


        $(document).ready(function () {
        Hide();
           let menugrp = '@ViewBag.MenuGroupID';
            let submenu ='@ViewBag.SubMenuGroupID';
            //$('#perfect-Menulist-main').find('ul li').removeClass('mm-active');
           // $('#perfect-Menulist-main').find('[perfect-navmenuid="' + menugrp + '"]').addClass("mm-show").parent().addClass("mm-active");
            //alert($('#menusub').find('li').length);

            var curmen = "";
            if (submenu != 0 && submenu != null) {
                $('#menu').find('li').each(function () {

                     let $this = $(this);

                    curmen = $(this).find('a').attr('perfect-navmenuid');
                    if (curmen != null) {
                        if (menugrp.trim() == curmen.trim()) {

                            $(this).find('#submenu').each(function () {
                                let cursubmen = $(this).find('a').attr('perfect-navmenuid');
                                if (cursubmen.trim() == submenu.trim()) {
                                    //$this.addClass("mm-active");
                                    $(this).addClass("mm-show").parent().addClass("mm-active");
                                    return false;
                                }
                                else {
                                    $(this).removeClass("mm-show").parent().removeClass("mm-active");
                                }

                            })
                        }
                        else {
                            $(this).removeClass("mm-active");
                        }
                    }

                    //if( $('#menusub li:has(ul)'))
                    // {
                    //    let cursubmen = $this.find('a').attr('perfect-navsubmenuid');
                    //    if (cursubmen == menugrp) {
                    //        $('#menusub').find('li').each(function () {
                    //            //$this.addClass("mm-active");
                    //            //.addClass("mm-show")
                    //        });
                    //    } else {
                    //        $this.removeClass('mm-active');
                    //    }
                    // }


                    // console.log("cunr:" + curmen + "dd" + menugrp)


                    //if(curmen == menugrp) {
                    //     //$this.addClass("mm-active");
                    //     //.addClass("mm-show")
                    // } else {
                    //     $this.removeClass('mm-active');
                    // }

                });

            }

        });

        const _perfectCurrentPage = '@ViewBag.page';
        @*@Url.Action("MenuList", "Home", new { m = menuGroup.MenuGroupID })*@

        function gotoURL(ele) {

           console.log('funciton clicked ,Current page :' + _perfectCurrentPage);

            let menuID = parseInt($(ele).attr('perfect-navmenuid'));
            let $menuContainer = $('#perfect-Menulist-main');

            //let pageURL = $(ele).attr('perfect-navmenu')+'?m='+ menuID;

            //$(ele).closest('ul').find('li').removeClass('mm-active');

            $('#menu').find('li').removeClass('mm-active');

            if (_perfectCurrentPage == "MenuList") {
                console.log('insode menu page and clicked menu page');

                if (menuID==0) {
                    console.log('insode menu page and clicked dashboard');
                    window.location.href = '@Url.Action("MenuList", "Home")' + '?m=' + menuID;
                    $(ele).addClass("mm-show").parent().addClass("mm-active");
                }
                else {
                    console.log('insode menu page and clicked menu');

                    $menuContainer.load('@Url.Action("LoadMenuList", "Home")' + '?menuID=' + menuID + '&&subid=0');
                    $(ele).addClass("mm-show").parent().addClass("mm-active");
                }

            }
            else {
                console.log('Not in menu page and clicked the menu');


                window.location.href = '@Url.Action("MenuList", "Home")' + '?m=' + menuID;
            }
        }
         function gotoURLSub(ele) {

            console.log('funciton clicked ,Current page :' + _perfectCurrentPage);

            let menuID = parseInt($(ele).attr('perfect-navmenuid'));
            let menuIDSub = parseInt($(ele).attr('perfect-navsubmenuid'));
            let $menuContainer = $('#perfect-Menulist-main');

            //let pageURL = $(ele).attr('perfect-navmenu')+'?m='+ menuID;

            //$(ele).closest('ul').find('li').removeClass('mm-active');


            $('#menu').find('li').removeClass('mm-active');
            $('#menu').find('li').removeClass("mm-show").parent().removeClass("mm-active");
            if (_perfectCurrentPage == "MenuList") {
                console.log('insode menu page and clicked menu page');
                if (menuID==0) {
                    console.log('insode menu page and clicked dashboard');
                    window.location.href = '@Url.Action("MenuList", "Home")' + '?m=' + menuID + '';
                    $(ele).addClass("mm-show").parent().addClass("mm-active");
                }
                else {
                    console.log('inside menu page and clicked menu');

                    $menuContainer.load('@Url.Action("LoadMenuListV", "Home")' + '?menuID=' + menuID + '&&SubList=' + menuIDSub);
                    $(ele).addClass("mm-show").parent().addClass("mm-active");
                }

            }
            else {
                console.log('Not in menu page and clicked the menu');


                window.location.href = '@Url.Action("MenuList", "Home")' + '?m=' + menuID + '&&s=' + menuIDSub;
            }
        }
        function Search(ele) {
            let menuName = $("#myInput").val();

        if(menuName!='')
        {

        $('#commonsearchContainer').load('@Url.Action("LoadPage", "Home")' + '?menuName=' + menuName);

        $('#commonsearchContainer').closest('ul').removeClass('d-none');
        }

        }


       function   Hide()
        {

        $('#commonsearchContainer').empty();
       $('#commonsearchContainer').closest('ul').addClass('d-none');


        document.getElementById("myDropdown").classList.toggle("hide");
        }
        const $sideMenuOptions = {
            menu: $('#jq-sidemenu'),
            title: $('#jq-sidemenu').find('.jq-sidemenu-title'),
            body: $('#jq-sidemenu').find('.jq-sidemenu-body'),
            open: function () {
                $('#jq-sidemenu').addClass('show');
            },
            close: function () {
                $('#jq-sidemenu').removeClass('show');
            },
        }


        //const $sidemenu = $('#jq-sidemenu');
        //const $sideMenu_title = $sidemenu.find('.sidemenu-title');
        //const $sideMenu_body = $sidemenu.find('.jq-sidemenu-body');;

        $(function () {
            let name = "perf1";

            // Reference the auto-generated proxy for the hub.
            var chat = $.connection.notificationHub;

            //This function receive message from server
            // Create a function that the hub can call back to display messages.
            chat.client.addNewMessageToPage = function (name, message) {

                // Add the message to the page.
                //  $('#pft_sideMenu2').append('<div>'+htmlEncode(message)+'</div>');
            };

            $.connection.hub.start().done(function () {
                $('#test').click(function () {
                    // Call the Send method on the hub.
                    chat.server.send(name, $('#test2').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });
        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

        function test(a) {

            $('.subcat' + a).removeClass('d-none')
        }


    </script>

    <script type="text/javascript">


        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })

    </script>
    <script>
        var tableCommonOptions = {

            onlyShowColumn: [],
            hideColumn: ['SlNo', 'ID_FIELD', 'TotalCount'],
            rowClickAction: fn_common_bind,
            serialNo: false,
        };


        var fnPagemode;
        var $fnthisform;
        var fnele;
        var fncrt1;
        var fncrt2;
        var fncrt3;
        var fncrt4;
        var fntempmodal;
        var bindnam;
        var bindval;
        var fHeadingText;
        let $ftempModel;
        var fclear;
        function GetCmnPopUpSearchVal(ele, Pagemode, HeadingText, clr = []) {
            //Criterea1 = "FK_Departement", Criterea2 = "0", BindName = "FK_Employee", BindVal = "AssignEmp"

            fnPagemode = Pagemode;
            fHeadingText = HeadingText;
            let $cthisForm = $(ele).closest('[perfect-class="form"]');
            $fnthisform = $cthisForm;

            let infoname;
            let valid = true;
            let crt1 = 0;
            let crt2 = 0;
            let crt3 = 0;
            let crt4 = 0;
            let crt1nam = $(ele).attr('Criterea1');
            let crt2nam = $(ele).attr('Criterea2');
            let crt3nam = $(ele).attr('Criterea3');
            let crt4nam = $(ele).attr('Criterea4');
            let cbindnam = $(ele).attr('BindName');
            let cbindval = $(ele).attr('BindVal');
            console.log("crt1nam", crt1nam)
            bindnam = cbindnam;
            bindval = cbindval;

            //[0.checking validation,1.Validation name ,>2 is clearing]
            let clear = (clr) ? clr : [];
            fclear = clear;
            if (clear.length > 0) {

                clear.forEach(function (key, i) {
                    if (i == 0) {

                        if (crt1nam == key) {

                            if (input == 'select') {
                                if ($cthisForm.find('[name=' + key + ']  option:selected').val() == '') { valid = false; }
                            }
                            else {
                                if ($cthisForm.find('[name=' + key + '] ').val() == '') { valid = false; }
                            }
                        }


                    }
                    else if (i == 1) {
                        console.log("2", key)

                        infoname = key;

                    }

                });
            }
            if (crt1nam == undefined) { }
            else if (crt1nam != 0) {
                if ($cthisForm.find('[name=' + crt1nam + ']').val() != 0) {
                    crt1 = $cthisForm.find('[name=' + crt1nam + ']').val();
                }
            }
            if (crt2nam == undefined) { }
            else if (crt2nam != 0) {
                if ($cthisForm.find('[name=' + crt2nam + ']').val() != 0) {
                    crt2 = $cthisForm.find('[name=' + crt2nam + ']').val();
                }
            }
            if (crt3nam == undefined) { }
            else if (crt3nam != 0) {
                if ($cthisForm.find('[name=' + crt3nam + ']').val() != 0) {
                    crt3 = $cthisForm.find('[name=' + crt3nam + ']').val();
                }
            }
            if (crt4nam == undefined) { }
            else if (crt4nam != 0) {
                if ($cthisForm.find('[name=' + crt4nam + ']').val() != 0) {
                    crt4 = $cthisForm.find('[name=' + crt4nam + ']').val();
                }
            }
            fncrt1 = crt1;
            fncrt2 = crt2;
            fncrt3 = crt3;
            fncrt4 = crt4;
            let $cthisFormtext = $(ele).closest('.testSearchBox');

            let SearchName = $cthisFormtext.find('input').val();
            if (SearchName == undefined) {
                SearchName = '';
            }
            console.log("GH", SearchName)
            console.log("Pagemode", Pagemode)
            console.log("Critrea1", crt1)
            console.log("Critrea2", crt2)
            console.log("SearchName", SearchName)
            console.log("HeadingText", HeadingText)

            let obj = {

                Pagemode: Pagemode,
                Critrea1: crt1,
                Critrea2: crt2,
                Critrea3: crt3,
                Critrea4: crt4,
                PageSize: 10,
                PageIndex: 0,
                Name: SearchName
            };
            if (valid) {
                let pageUrl = '@Url.Action("GetCmnPopList", "CommonPopupSearch")'
                    //"/CommonPopupSearch/GetCmnPopList";
                $.ajax({
                    url: pageUrl,
                    type: "POST",
                    data: obj,
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    success: function (ajaxOutput) {


                        if (ajaxOutput.Process.IsProcess) {

                            let table = JSON.parse(ajaxOutput.Data).dtable;
                            console.log('table', table)

                            let $tempModel = createSearchModalDOM().modal;
                            $tempModel.find('.modal-title')
                                .addClass('text-primary')
                                .text(HeadingText);

                            $tempModel.show();
                            $ftempModel = $tempModel;
                            $tempModel.find('.modal-body')
                                .addClass('text-black').html(pft_table_createtable(table, tableCommonOptions))
                            let $ctempModel = $tempModel.find('.modal-body')
                            $ctempModel.empty().append('<div class="d-flex justify-content-end mb-2 position absolute"><div class="col-md-6 position-absolute top-1 z-index"> <div class="input-group testSearchBox"><input type="text" class="form-control " name="SearchName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input"  /><div class="input-group-append"> <button id="addcmn-jq-searchButton6" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="getOnclickDetails(this)"></button></div></div></div></div>', $('<div/>', { class: "col-md-12 table_temp_class" }).html(pft_table_createtable(table, tableCommonOptions)))
                            fntempmodal = $tempModel;
                            let $table = $tempModel.find('table');
                            $table.dataTable({
                                "serverSide": true,//no change
                                "processing": true,//-- process text when clicked
                                //  "lengthChange": false,
                                "lengthMenu": [10, 15, 20, 25, 50, 100],//---drop down page size
                                "searching": false,//--no change
                                "ordering": false,//--sorting
                                "deferLoading": table[0].TotalCount,//<----to total number of record from db
                                "displayStart": ajaxOutput.PageIndex * ajaxOutput.PageSize,//<----starting record
                                "pageLength": ajaxOutput.PageSize,//<----page size
                                "recordsFiltered": ajaxOutput.PageSize,//<---page size

                                "ajax": returncmnpopupajaxPagination({ apiurl: pageUrl, PageSize: ajaxOutput.PageSize, Critrea1: ajaxOutput.Critrea1, Critrea2: ajaxOutput.Critrea2, Critrea3: ajaxOutput.Critrea3, Critrea4: ajaxOutput.Critrea4,Pagemode: Pagemode }, tableCommonOptions, $table)
                            });

                        }

                        else {

                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });

                        }
                    },
                    complete: function () {

                    }
                });
            }
            else {
                NotificationMessage({ 'message': 'Please select ' + infoname });
            }
        }
        function returncmnpopupajaxPagination(ajaxInfo, tableCommonOptions, tableid) {
            //{ apiurl, PageSize }
            return {
                url: ajaxInfo.apiurl,
                type: "post",
                data: function () {
                    var info = tableid.DataTable().page.info();
                    console.log('RETURN AJAX', info)
                    //return { <antiforgery>:<antiforgery>, length: ajaxInfo.PageSize, page: info.page }
                    let input = { PageSize: info.length, PageIndex: info.page, Critrea1: ajaxInfo.Critrea1, Critrea2: ajaxInfo.Critrea2, Critrea3: ajaxInfo.Critrea3, Critrea4: ajaxInfo.Critrea4, Pagemode: ajaxInfo.Pagemode };
                    console.log('input', input)
                    if (ajaxInfo.searchkey) {
                        input["Name"] = ajaxInfo.searchkey;
                    }
                    return input
                },
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (dtajaxOutput) {
                    let tabled = JSON.parse(dtajaxOutput.Data).dtable;
                    let table = tableid.DataTable();
                    table.destroy();
                    pft_table_newTableBody(tableid, tabled, tableCommonOptions);

                    tableid.dataTable({
                        "serverSide": true,
                        "processing": true,
                        //"lengthChange": false,
                        "lengthMenu": [10, 15, 20, 25, 50, 100],
                        "searching": false,
                        "ordering": false,
                        "deferLoading": tabled[0].TotalCount,
                        "displayStart": dtajaxOutput.PageIndex * dtajaxOutput.PageSize,
                        "pageLength": dtajaxOutput.PageSize,
                        "recordsFiltered": dtajaxOutput.PageSize,
                        "ajax": returncmnpopupajaxPagination(ajaxInfo, tableCommonOptions, tableid)
                    })

                },

            }
        }




        function fn_common_bind() {

            var $crow = $(this).closest('tr');
            console.log("fnPagemode", fnPagemode)
            let FSaveddata = $crow.data('pData');
            console.log('FSaveddata', FSaveddata)
            let obj = {

                Pagemode: fnPagemode,
                Critrea1: fncrt1,
                Critrea2: fncrt2,
                Critrea3: fncrt3,
                Critrea4: fncrt4,
                PageSize: 10,
                PageIndex: 0,
                Name: '',
                ID: FSaveddata.ID_FIELD
            };

            $.ajax({

                url:  '@Url.Action("GetCmnPopListGet", "CommonPopupSearch")',
                type: "POST",
                data: obj,
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (fajaxOutput) {


                    if (fajaxOutput.Process.IsProcess) {
                        let ftable = JSON.parse(fajaxOutput.Data).dtable;
                        console.log('>_ Inside fn rowclicksuccess', ftable)
                        $(fntempmodal).closest('.modal').modal('hide');

                        console.log('Inside load');



                        $fnthisform.find('[name=' + bindnam + ']').val(ftable[0].Name),
                            $fnthisform.find('[name=' + bindval + ']').val(ftable[0].ID_FIELD)

                        if (fclear.length > 0) {

                            fclear.forEach(function (key, i) {
                                if (i > 1) {

                                    console.log("3", key)
                                    $fnthisform.find('[name=' + key + ']').val('');
                                }
                            });
                        }
                        // console.log('value', fnthisform.find('[name=' + bindval + ']').val());
                    }
                    else {

                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                        });
                    }
                },

            });



        }


        function getOnclickDetails(ele) {
            //Criterea1 = "FK_Departement", Criterea2 = "0", BindName = "FK_Employee", BindVal = "AssignEmp"

            let $cthisFormtext = $(ele).closest('.testSearchBox');
            let SearchName = $cthisFormtext.find('input').val();
            console.log("GH", SearchName)


            let obj = {

                Pagemode: fnPagemode,
                Critrea1: fncrt1,
                Critrea2: fncrt2,
                Critrea3: fncrt3,
                Critrea4: fncrt4,
                PageSize: 10,
                PageIndex: 0,
                Name: SearchName,

            };

            let pageUrl = '@Url.Action("GetCmnPopList", "CommonPopupSearch")'

            $.ajax({
                url: pageUrl,
                type: "POST",
                data: obj,
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (ajaxOutput) {


                    if (ajaxOutput.Process.IsProcess) {
                        let table = JSON.parse(ajaxOutput.Data).dtable;
                        $ftempModel.find('.modal-body')
                            .addClass('text-black').html(pft_table_createtable(table, tableCommonOptions))
                        let $fctempModel = $ftempModel.find('.modal-body')
                        $fctempModel.empty().append('<div class="d-flex justify-content-end mb-2 position absolute"><div class="col-md-6 position-absolute top-1 z-index"> <div class="input-group testSearchBox"><input type="text" class="form-control " name="SearchName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input"  /><div class="input-group-append"> <button id="addcmn-jq-searchButton6" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="getOnclickDetails(this)"></button></div></div></div></div>', $('<div/>', { class: "col-md-12 table_temp_class" }).html(pft_table_createtable(table, tableCommonOptions)))

                        let $table = $fctempModel.find('table');
                        $table.dataTable({
                            "serverSide": true,//no change
                            "processing": true,//-- process text when clicked
                            //  "lengthChange": false,
                            "lengthMenu": [10, 15, 20, 25, 50, 100],//---drop down page size
                            "searching": false,//--no change
                            "ordering": false,//--sorting
                            "deferLoading": table[0].TotalCount,//<----to total number of record from db
                            "displayStart": ajaxOutput.PageIndex * ajaxOutput.PageSize,//<----starting record
                            "pageLength": ajaxOutput.PageSize,//<----page size
                            "recordsFiltered": ajaxOutput.PageSize,//<---page size

                            "ajax": returncmnpopupajaxPagination({ apiurl: pageUrl, PageSize: ajaxOutput.PageSize, Critrea1: ajaxOutput.Critrea1, Critrea2: ajaxOutput.Critrea2, Critrea3: ajaxOutput.Critrea3, Critrea4: ajaxOutput.Critrea4,Pagemode: fnPagemode }, tableCommonOptions, $table)
                        });

                    }

                    else {
                        if (ajaxOutput.Process.Status = "NoData") {

                            let $fctempModel = $ftempModel.find('.modal-body')

                            $fctempModel.empty().append('<div class="d-flex justify-content-end mb-2"><div class="col-md-6 position-absolute top-1 z-index"> <div class="input-group testSearchBox"><input type="text" class="form-control " name="SearchName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input"  /><div class="input-group-append"><button id="addcmn-jq-searchButton6" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="getOnclickDetails(this)"></button></div></div></div></div>', $('<div/>', { class: "col-md-12 table_temp_class" }).html(pft_table_createtable(ajaxOutput.Data, tableCommonOptions)))
                            // $sidemenu.find('table').dataTable({ paging: true });


                            let $table = $fctempModel.find('table');
                            $table.dataTable({
                                "serverSide": true,//no change
                                "processing": true,//-- process text when clicked
                                //"lengthChange": false,
                                "lengthMenu": [],//---drop down page size
                                "searching": false,//--no change
                                "ordering": false,//--sorting
                                "deferLoading": 0,//<----to total number of record from db
                                "displayStart": ajaxOutput.PageIndex * ajaxOutput.PageSize,//<----starting record
                                "pageLength": ajaxOutput.PageSize,//<----page size
                                "recordsFiltered": ajaxOutput.PageSize,//<---page size
                                "ajax": returncmnpopupajaxPagination({ apiurl: pageUrl, PageSize: ajaxOutput.PageSize, Critrea1: ajaxOutput.Critrea1, Critrea2: ajaxOutput.Critrea2, Critrea3: ajaxOutput.Critrea3, Critrea4: ajaxOutput.Critrea4, Pagemode: fnPagemode }, tableCommonOptions, $table)
                            });
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }
                    }




                },
                complete: function () {

                }
            });
        }


        function AddCountry(ele) {

            let $thisForm = $(ele).closest('[perfect-class="form"]');//<------Form element :  Our Form which contain our input elements ,saved in a variable for reusability

            console.log('> Add country form IS valid', $thisForm.valid())
            if ($thisForm.valid()) {//<---------Validation :  To Check whether the form is vaild(ie; values in the form contrls are valid)

                $(ele).prop('disabled', true);


                var inputData = {//<---- Input Json : this is the variable we pass to controller

                    CountryName: $thisForm.find('[name="CountryName"]').val().trim(),
                    CountryCode: $thisForm.find('[name="CountryCode"]').val().trim(),
                    CountryShortName: $thisForm.find('[name="CountryShortName"]').val().trim(),
                    Sort: $thisForm.find('[name=Sort]').val().trim()
                };


                console.log('> Add country ajax input', inputData);

                $.ajax({
                    url:'@Url.Action("AddNewCountryDetails", "Country")',

                    type: "POST",
                    // headers: { "token_key": "1234" },
                    data: JSON.stringify(inputData),//<---- Input json : data passed to controller
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {

                        if (data.Process.IsProcess) {

                            $.each(data.Process.Message, function (key, value) {
                                //toastr.success(value, "Success");
                                NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                            });
                        }
                        else {
                            $.each(data.Process.Message, function (key, value) {
                                //toastr.warning(value, "Error");
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }




                        // $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                        $thisForm.find('[perfect-ctype="input"]').val('');
                        $thisForm.find('[perfect-ctype="digit"]').val('');
                        // $thisForm.find('[perfect-ctype="date"]').val('');


                        let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                        if (onSuccess) {
                            window[onSuccess]($thisForm);
                        }

                        //---------- Do stuff if success

                        console.log('> Add new country success data', data);

                    },
                    complete: function () {
                        $(ele).prop('disabled', false);
                    }

                });

            }

        }


        //FUNCTION ADD STATE
        function AddState(ele) {


            let $thisForm = $(ele).closest('[perfect-class="form"]');//<------Form element :  Our Form which contain our input elements ,saved in a variable for reusability


            //$(ele).find('i').removeClass();

            console.log('> Add State form IS valid', $thisForm.valid())
            if ($thisForm.valid()) {//<---------Validation :  To Check whether the form is vaild(ie; values in the form contrls are valid)

                $(ele).prop('disabled', true); // avoiding form submit the double click


                var inputData = {//<---- Input Json : this is the variable we pass to controller
                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                    State: $thisForm.find('[name=State]').val().trim(),
                    ShortName: $thisForm.find('[name=ShortName]').val().trim(),
                    GSTINCode: $thisForm.find('[name=GSTINCode]').val().trim(),
                    CountryID: $thisForm.find('[name=CountryID]').val().trim(),
                    SortOrder: $thisForm.find('[name=SortOrder]').val().trim()
                };


                console.log('> Add State ajax input', inputData);


                $.ajax({
                    url:'@Url.Action("AddNewStateDetails", "State")',

                    type: "POST",

                    data: inputData,//<---- Input json : data passed to controller
                    dataType: "json",
                    contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {

                        if (ajaxOutput.Process.IsProcess) {

                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                //toastr.success(value, "Success");
                                NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                            });
                            $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                            $thisForm.find('[perfect-ctype="input"]').val('');
                            $thisForm.find('[perfect-ctype="number"]').val('');



                            let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                            if (onSuccess) {
                                window[onSuccess]($thisForm);
                            }

                            //---------- Do stuff if success

                            console.log('> Add new State success data', ajaxOutput);
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                //toastr.warning(value, "Error");
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }
                    },
                    complete: function () {
                        $(ele).prop('disabled', false);
                    }

                });

            }

        }


        //FUNCTION ADD DISTRICT

        function AddDistrict(ele) {


            let $thisForm = $(ele).closest('[perfect-class="form"]');//<------Form element :  Our Form which contain our input elements ,saved in a variable for reusability


            //$(ele).find('i').removeClass();

            console.log('> Add District form IS valid', $thisForm.valid())
            if ($thisForm.valid()) {//<---------Validation :  To Check whether the form is vaild(ie; values in the form contrls are valid)

                $(ele).prop('disabled', true); // avoiding form submit the double click


                var inputData = {//<---- Input Json : this is the variable we pass to controller
                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                    ID: 0,
                    DistrictName: $thisForm.find('[name=DistrictName]').val().trim(),
                    DistrictShortName: $thisForm.find('[name=DistrictShortName]').val().trim(),
                    StatesID: $thisForm.find('[name=StatesID]').val().trim(),
                    SortOrder: $thisForm.find('[name=SortOrder]').val().trim()
                };


                console.log('> Add District ajax input', inputData);

                $.ajax({
                    url:'@Url.Action("AddNewDistrictDetails", "District")',

                    type: "POST",

                    data: inputData,//<---- Input json : data passed to controller
                    dataType: "json",
                    contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {

                        if (ajaxOutput.Process.IsProcess) {

                            $.each(ajaxOutput.Process.Message, function (key, value) {

                                NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                            });
                            $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                            $thisForm.find('[perfect-ctype="input"]').val('');
                            $thisForm.find('[perfect-ctype="digit"]').val('');



                            let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                            if (onSuccess) {
                                window[onSuccess]($thisForm);
                            }

                            //---------- Do stuff if success

                            console.log('> Add new District success data', ajaxOutput);
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                //toastr.warning(value, "Error");
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }
                    },
                    complete: function () {
                        $(ele).prop('disabled', false);
                    }

                });

            }

        }

        //ADD Place

        @*function AddPlace(ele) {


            let $thisForm = $(ele).closest('[perfect-class="form"]');//<------Form element :  Our Form which contain our input elements ,saved in a variable for reusability



            console.log('> Add place form IS valid', $thisForm.valid())
            if ($thisForm.valid()) {//<---------Validation :  To Check whether the form is vaild(ie; values in the form contrls are valid)

                $(ele).prop('disabled', true);

                var inputData = {//<---- Input Json : this is the variable we pass to controller
                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(), //antiForgery
                    Place: $thisForm.find('[name=Place]').val().trim(),
                    DistrictID: $thisForm.find('[name=DistrictID]').val().trim(),
                    ShortName: $thisForm.find('[name=ShortName]').val().trim(),
                    SortOrder: $thisForm.find('[name=SortOrder]').val().trim(),

                };


                //console.log('> Add place ajax input',inputData);

                $.ajax({
                    url:'@Url.Action("AddNewPlace", "Place")',

                    type: "POST",
                    // headers: { "token_key": "1234" },
                    data: inputData,//<---- Input json : data passed to controller
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                    success: function (data) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {

                        if (data.Process.IsProcess) {

                            $.each(data.Process.Message, function (key, value) {
                                //toastr.success(value, "Success");
                                NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                            });
                            $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                            $thisForm.find('[perfect-ctype="input"]').val('');
                            $thisForm.find('[perfect-ctype="date"]').val('');


                            let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                            if (onSuccess) {

                                window[onSuccess]($thisForm);

                                //loadPlaceList();

                            }

                            //---------- Do stuff if success

                            console.log('> Add new place success data', data);
                        }
                        else {
                            $.each(data.Process.Message, function (key, value) {
                                //toastr.warning(value, "Error");
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }



                    },
                    complete: function () {
                        $(ele).prop('disabled', false);
                    }

                });

            }

        }*@
        //Post
         function AddPost(ele) {

            let $thisForm = $(ele).closest('[perfect-class="form"]');
            console.log('> Add Post form IS valid', $thisForm.valid())

            if ($thisForm.valid()) {

                $(ele).prop('disabled', true);

                var inputData = {

                    PostName: $thisForm.find('[name=PostName]').val().trim(),
                    PostShortName: $thisForm.find('[name=PostShortName]').val().trim(),
                    PostCode: $thisForm.find('[name=PostCode]').val().trim(),
                    SortOrder: $thisForm.find('[name=SortOrder]').val().trim(),
                    AreaID: $thisForm.find('[name=AreaID]').val().trim(),

                }


                 $.ajax({
                 url: "@Url.Action("AddPost", "Post")",
                type: "POST",

                 data: inputData,
                dataType: "json",
                     contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                     success: function (ajaxOutput) {

                         if (ajaxOutput.Process.IsProcess) {

                             $.each(ajaxOutput.Process.Message, function (key, value) {

                             NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                         });
                         $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                         $thisForm.find('[perfect-ctype="input"]').val('');
                         $thisForm.find('[perfect-ctype="date"]').val('');


                         let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                         if (onSuccess) {
                             window[onSuccess]($thisForm);


                         }

                         //---------- Do stuff if success
                         //loadPostList();
                        // console.log('> Add new post success data', data);
                     }
                     else {
                             $.each(ajaxOutput.Process.Message, function (key, value) {
                             //toastr.warning(value, "Error");
                             NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                         });
                     }
                     },
                     complete: function () {
                         $(ele).prop('disabled', false);
                     }

                 });



            }


        }




        //ADD DESIGNATION
        function fn_DesignationForm_add(ele) {
            let $thisForm = $(ele).closest('[perfect-class="form"]');
            if ($thisForm.valid()) {


                //disable button to avoid multiple clicks
                $(ele).prop('disabled', true);

                let inputData = {
                    'DesignationID': 0,
                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(), //antiForgery

                    'Designation': $thisForm.find('[name="Designation"]').val().trim(),
                    'ShortName': $thisForm.find('[name="ShortName"]').val().trim(),
                    'EmployeeLevelID': $thisForm.find('[name="EmployeeLevelID"]').val().trim(),
                    'SortOrder': $thisForm.find('[name="SortOrder"]').val().trim(),


                };
                // Console.log(inputData)
                $.ajax({


                     url:'@Url.Action("AddNewDesignation", "Designation")',
                    type: "POST",
                    data: inputData, //Antiforgery removed stringyfy
                    dataType: "json",
                    contentType: "application/x-www-form-urlencoded; charset=utf-8", //antiforgery
                    success: function (ajaxOutput) {

                        if (ajaxOutput.Process.IsProcess) {

                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                            });

                            $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                            $thisForm.find('[perfect-ctype="input"]').val('');
                            $thisForm.find('[perfect-ctype="date"]').val('');

                            // Get the value set in form's perfect-onFormSuccess attribute
                            let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                            if (onSuccess) {
                                window[onSuccess]($thisForm);
                            }
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }
                    },
                    complete: function () {
                        $(ele).prop('disabled', false);
                    }

                });
            }
        }

        //ADD DEPARTMENT

        function fn_DepartmentForm_add(ele) {
            let $thisForm = $(ele).closest('[perfect-class="form"]');
            if ($thisForm.valid()) {


                //disable button to avoid multiple clicks
                $(ele).prop('disabled', true);

                let inputData = {
                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                    'DepartmentID': 0,


                    'DepartmentName': $thisForm.find('[name="DepartmentName"]').val().trim(),
                    'DepartmentShortName': $thisForm.find('[name="DepartmentShortName"]').val().trim(),
                    'SortOrder': $thisForm.find('[name="SortOrder"]').val().trim(),

                };

                $.ajax({
                    url:'@Url.Action("AddNewDepartment", "Department")',

                    type: "POST",
                    data: inputData,
                    dataType: "json",
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    success: function (ajaxOutput) {

                        if (ajaxOutput.Process.IsProcess) {

                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                            });

                            $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                            $thisForm.find('[perfect-ctype="input"]').val('');
                            $thisForm.find('[perfect-ctype="date"]').val('');

                            // Get the value set in form's perfect-onFormSuccess attribute
                            let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                            if (onSuccess) {
                                window[onSuccess]($thisForm);
                            }
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }
                    },
                    complete: function () {
                        $(ele).prop('disabled', false);
                    }

                });
            }
        }

        function AddCategory(ele) {


            let $thisForm = $(ele).closest('[perfect-class="form"]');//<------Form element :  Our Form which contain our input elements ,saved in a variable for reusability


            //$(ele).find('i').removeClass();

            if ($thisForm.valid()) {//<---------Validation :  To Check whether the form is vaild(ie; values in the form contrls are valid)

                $(ele).prop('disabled', true); // avoiding form submit the double click


                var inputData = {//<---- Input Json : this is the variable we pass to controller
                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),

                    Category: $thisForm.find('[name=CategoryName]').val().trim(),
                    ShortName: $thisForm.find('[name=ShortName]').val().trim(),
                    Mode: $thisForm.find('[name=ModeID]').val().trim(),
                    AccountHeadID: $thisForm.find('[name=AccountHeadID]').val().trim(),
                    Project: $thisForm.find('[name="Project"][value=Project]').is(":checked"),
                    AccountHeadSubID: $thisForm.find('[name=AccountHeadSubID]').val().trim(),
                    SortOrder: $thisForm.find('[name=SortOrder]').val().trim()
                };




                $.ajax({
                    url:'@Url.Action("AddNewCategoryDetails", "Category")',

                    //  url: "AddNewCategoryDetails", "Category",
                    type: "POST",

                    data: inputData,//<---- Input json : data passed to controller
                    dataType: "json",
                    contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {

                        if (ajaxOutput.Process.IsProcess) {

                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                            });
                            $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                            $thisForm.find('[perfect-ctype="input"]').val('');
                            $thisForm.find('[perfect-ctype="number"]').val('');



                            let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                            if (onSuccess) {
                                window[onSuccess]();
                            }

                            //---------- Do stuff if success

                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                //toastr.warning(value, "Error");
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }
                    },
                    complete: function () {
                        $(ele).prop('disabled', false);
                    }

                });

            }

        }

    </script>
</body>


</html>