@model PerfectWebERP.Models.ServiceListModel.ServiceListModelDetailsData
<div class="col-sm-12 LoadDetailsList">
    <div class="profile-personal-info">

        @if (Model.TransMode == "INSL")
        {
            <h4 class='text-primary mb-4'>
                Sales Product
            </h4>
        }
        else if (Model.TransMode == "LFLG")
        {
            <h4 class='text-primary mb-4'>
                Lead History
            </h4>
        }
        else if (Model.TransMode == "INSO")
        {
            <h4 class='text-primary mb-4'>
                Sales Order Product
            </h4>
        }
        else if (Model.TransMode == "PRCR")
        {
            <h4 class='text-primary mb-4'>
                Project
            </h4>
        }
        else if (Model.TransMode == "CUSV")
        {
            <h4 class='text-primary mb-4'>
                Service History
            </h4>
        }
    </div>
    <div class="card-body">









        @if (Model.DtList != null)
        {
            <div class="table-responsive">
                <table class="table  table-striped" id="List">
                    <thead class="thead-primary">
                        <tr>
                            @if (Model.DtList.Rows.Count > 0)
                            {
                                for (int i = 0; i < Model.DtList.Columns.Count; i++)
                                {
                                    if (Model.DtList.Columns[i].ColumnName == "ID_LeadGenerateProduct" || Model.DtList.Columns[i].ColumnName == "Module" || Model.DtList.Columns[i].ColumnName == "TransMode" || Model.DtList.Columns[i].ColumnName == "MasterID" || (Model.TransMode == "LFLG" && Model.DtList.Columns[i].ColumnName == "Product"))
                                    {
                                        <th style="display:none">@Model.DtList.Columns[i].ColumnName </th>
                                    }
                                    else
                                    {
                                        if (Model.TransMode == "INSL" && (Model.DtList.Columns[i].ColumnName != "SLNo" && Model.DtList.Columns[i].ColumnName != "Product"))
                                        {
                                        <th style="text-align:right">@Model.DtList.Columns[i].ColumnName </th>
                                        }
                                        else
                                        {
                                            <th>@Model.DtList.Columns[i].ColumnName </th>

                                            }

                                        }

                                    }
                                }
                            </tr>


                    </thead>
                    <tbody class="Listbody" id="Listbody">
                        @if (Model.DtList.Rows.Count > 0)
                        {
                            long k = 0;
                            for (int i = 0; i < Model.DtList.Rows.Count; i++)
                            {
                                if (Model.TransMode == "LFLG")
                                {
                                    if (k == 0)
                                    {
                                        <tr><td colspan="@Model.DtList.Columns.Count.ToString()"> @Model.DtList.Rows[i]["Product"].ToString()</td></tr>
                                        k++;
                                    }
                                    else if (@Model.DtList.Rows[i]["Product"].ToString() != @Model.DtList.Rows[i - 1]["Product"].ToString())
                                    {
                                        <tr><td colspan="@Model.DtList.Columns.Count.ToString()">@Model.DtList.Rows[i]["Product"].ToString()</td></tr>
                                    }

                                }
                                        <tr>
                                            @for (int j = 0; j < Model.DtList.Columns.Count; j++)
                                            {
                                                if (Model.DtList.Columns[j].ColumnName == "ID_LeadGenerateProduct" || Model.DtList.Columns[j].ColumnName == "Module" || Model.DtList.Columns[j].ColumnName == "TransMode" || Model.DtList.Columns[j].ColumnName == "MasterID" || (Model.TransMode == "LFLG" && Model.DtList.Columns[j].ColumnName == "Product"))
                                                {
                                                    <td style="display:none">@Model.DtList.Rows[i][j].ToString()  </td>
                                                }
                                                else
                                                {
                                                    if (Model.TransMode == "INSL" && (Model.DtList.Columns[j].ColumnName != "SLNo" && Model.DtList.Columns[j].ColumnName != "Product"))
                                                    {
                                                        <td style="text-align:right">@Model.DtList.Rows[i][j].ToString() </td>
                                                    }
                                                    else
                                                    {
                                                        <td>@Model.DtList.Rows[i][j].ToString() </td>
                                                    }

                                                }
                                            }
                                        </tr>

                            }
                        }
                        else
                        {
                            @*<tr id="0">
                                    <td colspan="@Model.DtList.Columns.Count.ToString()" style="text-align:center;">No Records...</td>
                                </tr>*@
                        }
                    </tbody>

                </table>
            </div>
        }






        @if (Model.DtProjectList1 != null)
        {
            <div class="profile-personal-info">


                <h4 class='text-primary mb-4'></h4>

            </div>



            <div class="table-responsive">
                <table class="table  table-striped" id="List">
                    <thead class="thead-primary">
                        <tr>
                            @if (Model.DtProjectList1.Rows.Count > 0)
                            {
                                for (int i = 0; i < Model.DtProjectList1.Columns.Count; i++)
                                {
                                    if (Model.DtProjectList1.Columns[i].ColumnName == "Module" || Model.DtProjectList1.Columns[i].ColumnName == "TransMode" || Model.DtProjectList1.Columns[i].ColumnName == "MasterID")
                                    {
                                        <th style="display:none">@Model.DtProjectList1.Columns[i].ColumnName </th>
                                    }
                                    else
                                    {
                                        <th>@Model.DtProjectList1.Columns[i].ColumnName </th>

                                    }

                                }
                            }
                        </tr>


                    </thead>
                    <tbody class="Listbody" id="Listbody">
                        @if (Model.DtProjectList1.Rows.Count > 0)
                        {
                            for (int i = 0; i < Model.DtProjectList1.Rows.Count; i++)
                            {

                                <tr>
                                    @for (int j = 0; j < Model.DtProjectList1.Columns.Count; j++)
                                    {
                                        if (Model.DtProjectList1.Columns[j].ColumnName == "Module" || Model.DtProjectList1.Columns[j].ColumnName == "TransMode" || Model.DtProjectList1.Columns[j].ColumnName == "MasterID")
                                        {
                                            <td style="display:none">@Model.DtProjectList1.Rows[i][j].ToString()  </td>
                                        }
                                        else
                                        {
                                            <td>@Model.DtProjectList1.Rows[i][j].ToString() </td>

                                        }
                                    }
                                </tr>

                            }
                        }
                        else
                        {
                            @*<tr id="0">
                                    <td colspan="@Model.DtProjectList1.Columns.Count.ToString()" style="text-align:center;">No Records...</td>
                                </tr>*@
                        }
                    </tbody>

                </table>
            </div>
        }







        @if (Model.DtProjectList2 != null)
        {
            <div class="profile-personal-info">


                <h4 class='text-primary mb-4'></h4>

            </div>


            <div class="table-responsive">
                <table class="table  table-striped" id="List">
                    <thead class="thead-primary">
                        <tr>
                            @if (Model.DtProjectList2.Rows.Count > 0)
                            {
                                for (int i = 0; i < Model.DtProjectList2.Columns.Count; i++)
                                {

                                    if (Model.DtProjectList2.Columns[i].ColumnName == "Module" || Model.DtProjectList2.Columns[i].ColumnName == "TransMode" || Model.DtProjectList2.Columns[i].ColumnName == "MasterID")
                                    {
                                        <th style="display:none">@Model.DtProjectList2.Columns[i].ColumnName </th>
                                    }
                                    else
                                    {
                                        if (Model.TransMode == "PRCR" && (Model.DtProjectList2.Columns[i].ColumnName != "SLNo" && Model.DtProjectList2.Columns[i].ColumnName != "Product"))
                                        {
                                            <th style="text-align:right">@Model.DtProjectList2.Columns[i].ColumnName </th>
                                        }
                                        else
                                        {
                                            <th>@Model.DtProjectList2.Columns[i].ColumnName </th>
                                        }

                                    }

                                }
                            }
                        </tr>


                    </thead>
                    <tbody class="Listbody" id="Listbody">

                        @if (Model.DtProjectList2.Rows.Count > 0)
                        {

                            for (int i = 0; i < Model.DtProjectList2.Rows.Count; i++)
                            {


                        <tr>
                            @for (int j = 0; j < Model.DtProjectList2.Columns.Count; j++)
                            {
                                if (Model.DtProjectList2.Columns[j].ColumnName == "Module" || Model.DtProjectList2.Columns[j].ColumnName == "TransMode" || Model.DtProjectList2.Columns[j].ColumnName == "MasterID")
                                {
                                    <td style="display:none">@Model.DtProjectList2.Rows[i][j].ToString()  </td>
                                }
                                else
                                {
                                    if (Model.TransMode == "PRCR" && (Model.DtProjectList2.Columns[j].ColumnName != "SLNo" && Model.DtProjectList2.Columns[j].ColumnName != "Product"))
                                    {
                                        <td style="text-align:right">@Model.DtProjectList2.Rows[i][j].ToString() </td>
                                    }
                                    else
                                    {
                                        <td>@Model.DtProjectList2.Rows[i][j].ToString() </td>

                                    }
                                }
                            }
                        </tr>


                            }
                        }
                        else
                        {
                            @*<tr id="0">
                                    <td colspan="@Model.DtProjectList2.Columns.Count.ToString()" style="text-align:center;">No Records...</td>
                                </tr>*@
                        }
                    </tbody>

                </table>
            </div>

        }





        @if (Model.DtProjectList3 != null)
        {
            <div class="profile-personal-info">


                <h4 class='text-primary mb-4'></h4>

            </div>
            <div class="table-responsive">
                <table class="table  table-striped" id="List">
                    <thead class="thead-primary">
                        <tr>
                            @if (Model.DtProjectList3.Rows.Count > 0)
                            {
                                for (int i = 0; i < Model.DtProjectList3.Columns.Count; i++)
                                {
                                    if (Model.DtProjectList3.Columns[i].ColumnName == "Module" || Model.DtProjectList3.Columns[i].ColumnName == "TransMode" || Model.DtProjectList3.Columns[i].ColumnName == "MasterID")
                                    {
                                        <th style="display:none">@Model.DtProjectList3.Columns[i].ColumnName </th>
                                    }
                                    else
                                    {
                                        if (Model.TransMode == "PRCR" && (Model.DtProjectList3.Columns[i].ColumnName != "SLNo" && Model.DtProjectList3.Columns[i].ColumnName != "Bill Date"))
                                        {
                                            <th style="text-align:right">@Model.DtProjectList3.Columns[i].ColumnName </th>
                                        }
                                        else
                                        {


                                            <th>@Model.DtProjectList3.Columns[i].ColumnName </th>
                                        }
                                    }

                                }
                            }
                        </tr>


                    </thead>
                    <tbody class="Listbody" id="Listbody">
                        @if (Model.DtProjectList3.Rows.Count > 0)
                        {
                            for (int i = 0; i < Model.DtProjectList3.Rows.Count; i++)
                            {
                        <tr>
                            @for (int j = 0; j < Model.DtProjectList3.Columns.Count; j++)
                            {
                                if (Model.DtProjectList3.Columns[i].ColumnName == "ID_LeadGenerateProduct" || Model.DtProjectList3.Columns[j].ColumnName == "Module" || Model.DtProjectList3.Columns[j].ColumnName == "TransMode" || Model.DtProjectList3.Columns[j].ColumnName == "MasterID")
                                {
                                    <td style="display:none">@Model.DtProjectList3.Rows[i][j].ToString()  </td>
                                }
                                else
                                {
                                    if (Model.TransMode == "PRCR" && (Model.DtProjectList3.Columns[j].ColumnName != "SLNo" && Model.DtProjectList3.Columns[j].ColumnName != "Bill Date"))
                                    {
                                        <td style="text-align:right">@Model.DtProjectList3.Rows[i][j].ToString() </td>
                                    }
                                    else
                                    {
                                        <td>@Model.DtProjectList3.Rows[i][j].ToString() </td>
                                    }
                                    

                                }
                            }
                        </tr>

                            }
                        }
                        else
                        {
                            @*<tr id="0">
                                    <td colspan="@Convert.ToInt32(Model.DtProjectList3.Columns.Count)" style="text-align:center;">No Records...</td>
                                </tr>*@
                        }
                    </tbody>

                </table>
            </div>
        }


    </div>
</div>
@if (Model.TransMode == "CUSV")
{
    <div class="col-sm-12">

        <style>
            section {
                /*padding: 100px 0;*/
            }

            .timelineTrack {
                position: relative;
            }

                .timelineTrack::before {
                    content: '';
                    background: #b8c9cb;
                    width: 5px;
                    height: 95%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
                }

            .timelineTrack-item {
                width: 100%;
                margin-bottom: 70px;
            }

                .timelineTrack-item:nth-child(even) .timelineTrack-content {
                    float: right;
                    /*padding: 40px 30px 10px 30px;*/
                }

                    .timelineTrack-item:nth-child(even) .timelineTrack-content .date {
                        /*right: auto;
                                        left: 0;*/
                        float: left;
                    }

                    .timelineTrack-item:nth-child(even) .timelineTrack-content::after {
                        content: '';
                        position: absolute;
                        border-style: solid;
                        width: 0;
                        height: 0;
                        top: 30px;
                        left: -15px;
                        border-width: 10px 15px 10px 0;
                        border-color: transparent #f5f5f5 transparent transparent;
                    }

                .timelineTrack-item::after {
                    content: '';
                    display: block;
                    clear: both;
                }

            .timelineTrack-content {
                position: relative;
                width: 45%;
                padding: 10px 30px;
                border-radius: 4px;
                background: #f5f5f5;
                box-shadow: 10px 20px 44px 20px rgba(0, 0, 0, .3);
            }

                .timelineTrack-content::after {
                    content: '';
                    position: absolute;
                    border-style: solid;
                    width: 0;
                    height: 0;
                    top: 30px;
                    right: -15px;
                    border-width: 10px 0 10px 15px;
                    border-color: transparent transparent transparent #f5f5f5;
                }

            .timelineTrack-img {
                width: 30px;
                height: 30px;
                background: #7fbabf;
                border-radius: 50%;
                position: absolute;
                left: 50%;
                margin-top: 25px;
                margin-left: -15px;
            }

            a:hover, a:active, a:focus {
                /*background: #32408f;*/
                color: #fff;
                text-decoration: none;
            }

            .timelineTrack-card {
                padding: 0 !important;
            }

                .timelineTrack-card p {
                    padding: 0 20px;
                }

                .timelineTrack-card a {
                    margin-left: 20px;
                }

            .timelineTrack-item .timelineTrack-img-header {
                /*background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .4)), url('https://picsum.photos/1000/800/?random') center center no-repeat;*/
                background-size: cover;
            }

            .timelineTrack-img-header {
                height: 200px;
                position: relative;
                margin-bottom: 20px;
            }

                .timelineTrack-img-header h2 {
                    color: #fff;
                    position: absolute;
                    bottom: 5px;
                    left: 20px;
                }

            blockquote {
                margin-top: 30px;
                color: #757575;
                border-left-color: #3f51b5;
                padding: 0 20px;
            }

            .date {
                background: #2e666a;
                display: inline-block;
                color: #fff;
                padding: 6px;
                position: absolute;
                top: 0;
                right: 0;
            }
        </style>


        <section class="timelineTrack" style="max-height: 300px;overflow: auto;">
            <div class="container">

                @if (Model.TimeLineData != null)
                {
                    foreach (var list in Model.TimeLineData)
                    {
                        <div class="timelineTrack-item">
                            <div class="timelineTrack-img"></div>
                            <div class="timelineTrack-content @((list.SLNo % 2) == 0 ? "js--fadeInRight" : "js--fadeInLeft")">
                                <h5 style="color:var(--perfect-primary);">@list.Title1</h5>
                                <div class="date">@list.Title2</div>
                                <address>
                                    @Html.Raw((String)list.Description)
                                </address>
                                @if (list.MoreData.Length > 0)
                                {
                                    <a class="bnt-more" href="javascript:void(0)" data-toggle="modal" data-target="#modalPssTrackMoreInfo@(list.SLNo)">More</a>
                                    <div class="modal fade" id="modalPssTrackMoreInfo@(list.SLNo)" data-backdrop="static" data-keyboard="false" tabindex="1001" style="margin-top: 72px;">
                                        <div class="modal-dialog modal-lg" role="dialog">
                                            <div class="modal-content">
                                                <div class="modal-header border-0">
                                                    <h5 class="modal-title">More Details</h5>
                                                    <button type="button" class="close" aria-label="Close" data-index="@(list.SLNo)" onclick="fn_closeModal(this)">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body" perfect-class="formGroup" style="max-height: calc(100vh - 200px); overflow-y: auto;padding: 1rem;">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <address>
                                                                @Html.Raw((String)list.MoreData)
                                                            </address>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <a class="bnt-more" href="javascript:void(0)">&nbsp;</a>
                                }
                                @*<address class="float-right">Enter By/On :  @Html.Raw((String)list.EntrBy) / @Html.Raw((String)list.EntrOn)</address>*@
                            </div>
                        </div>
                    }
                }

            </div>
        </section>

    </div>
}