@model PerfectWebERP.Models.AuthorizationLevelModel.AuthorizationActionVM

            <div class="card">
                <div class="card-header">
                    <h4 class="card-title col-12">Authorization</h4>
                    <span title="Go Back" onclick="fn_AuthorizationList_ModuleLoad()">
                        <svg height="20px" width="20px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                             viewBox="0 0 38.273 38.273" xml:space="preserve">
                                <g>
                                                        <path class="viewlst" d="M20.621,10.484V5.84c0-0.808-0.458-1.548-1.181-1.909c-0.722-0.359-1.589-0.279-2.236,0.206
		                                l-9.486,7.147c-0.677,0.292-1.117,0.67-1.401,1.058l-5.468,4.119C0.312,16.866-0.003,17.501,0,18.173
		                                c0.002,0.673,0.322,1.305,0.862,1.706l16.355,12.133c0.646,0.48,1.51,0.554,2.23,0.191c0.72-0.362,1.174-1.1,1.174-1.905v-5.517
		                                c0.013,0,0.025,0,0.038,0c3.842,0,10.687,1.089,13.366,8.386c0.311,0.846,1.116,1.397,2.001,1.397c0.079,0,0.157-0.004,0.236-0.013
		                                c0.975-0.108,1.751-0.868,1.88-1.84c0.052-0.394,1.208-9.682-4.461-16.23C30.621,12.948,26.235,10.935,20.621,10.484z
		                                 M20.659,20.515c-1.443,0-2.379,0.132-2.482,0.146c-1.046,0.154-1.822,1.053-1.822,2.111v3.287l-10.66-7.907l3.555-2.678
		                                c0.136-0.104,0.259-0.222,0.365-0.351c0.155-0.068,0.301-0.152,0.437-0.254l6.303-4.75v2.401c0,1.168,0.939,2.119,2.108,2.134
		                                c5.345,0.063,9.374,1.61,11.975,4.6c1.442,1.658,2.314,3.602,2.835,5.469C28.923,21.038,23.424,20.515,20.659,20.515z" />
                                </g>
                        </svg>
                    </span>
                </div>
                <div class="card-body jq_Authorization_body">

                    <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
                        <div class="modal fade" perfect-class="formGroupModalAuthorizationReject" id="formGroupModalAuthorizationReject" data-keyboard="false" data-backdrop="false">
                            <div class="modal-dialog modal-dialog-centered modal-md" role="dialog">
                                <div class="modal-content">
                                    <div class="modal-header border-0">
                                        <h5 class="modal-title">Reject Reason</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" perfect-class="formGroup" style="max-height: calc(100vh - 200px); overflow-y: auto;padding: 1rem;">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group row" perfect-class="formGroup">
                                                    <label class="col-sm-4 col-form-label">
                                                        <span perfect-class="formGroupLabel">Reason</span>
                                                    </label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <select class="form-control perfectValidate_string" id="FK_Reason" name="FK_Reason" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" onchange="fn_fillParentMenu(this)" data-live-search="true">
                                                                @if (!(Model.Reason is null))
                                                                {
                                                                    foreach (var reason in Model.Reason)
                                                                    {
                                                                        <option value="@reason.ReasonID">@reason.Reason</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group row" perfect-class="formGroup">
                                                    <label class="col-sm-4 col-form-label">Remarks</label>
                                                    <div class="col-sm-8">
                                                        <textarea class="form-control " name="RejectReason" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-footer text-right" perfect-class="formFooter">
                                            <button class="btn btn-primary light" type="button" data-toggle="tooltip" data-placement="top" data-html="true" title="Add" onclick="fn_RejectAction(this)">Submit</button>
                                            <button class="btn btn-light1" type="button" data-toggle="tooltip" data-placement="top" data-html="true" data-dismiss="modal">Cancel</button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="modal fade" perfect-class="formGroupModalAuthorizationCorrection" id="formGroupModalAuthorizationCorrection" data-keyboard="false" data-backdrop="false">
                            <div class="modal-dialog modal-dialog-centered modal-md" role="dialog">
                                <div class="modal-content">
                                    <div class="modal-header border-0">
                                        <h5 class="modal-title">Correction Reason</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body" perfect-class="formGroup" style="max-height: calc(100vh - 200px); overflow-y: auto;padding: 1rem;">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group row" perfect-class="formGroup">
                                                    <label class="col-sm-4 col-form-label">
                                                        <span perfect-class="formGroupLabel">Reason</span>
                                                    </label>
                                                    <div class="col-sm-8">
                                                        <div class="input-group">
                                                            <select class="form-control perfectValidate_string" id="FK_CorrectionReason" name="FK_CorrectionReason" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" onchange="fn_fillParentMenu(this)" data-live-search="true">
                                                                @if (!(Model.Reason is null))
                                                                {
                                                                    foreach (var reason in Model.Reason)
                                                                    {
                                                                        <option value="@reason.ReasonID">@reason.Reason</option>
                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="row">
                                            <div class="col-sm-12">
                                                <div class="form-group row" perfect-class="formGroup">
                                                    <label class="col-sm-4 col-form-label">Remarks</label>
                                                    <div class="col-sm-8">
                                                        <textarea class="form-control " name="CorrectionReason" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="card-footer text-right" perfect-class="formFooter">
                                            <button class="btn btn-primary light" type="button" data-toggle="tooltip" data-placement="top" data-html="true" title="Add" onclick="fn_CorrectionAction(this)">Submit</button>
                                            <button class="btn btn-light1" type="button" data-toggle="tooltip" data-placement="top" data-html="true" data-dismiss="modal">Cancel</button>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="">
                            @Html.AntiForgeryToken()
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <address>
                                            @Html.Raw((String)ViewBag.TransactionDetails)
                                        </address>
                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">
                                        <address>
                                            @Html.Raw((String)ViewBag.PartyDetails)
                                        </address>
                                    </div>
                                </div>
                                <div class="row">
                                    @{ if (@ViewBag.SubDetails)
                                        {
                                            <div class="col-sm-12">
                                                <div class="panel panel-default">
                                                    <div class="panel-heading">
                                                        <h6 class="panel-title">@ViewBag.SubTitle</h6>
                                                    </div>
                                                    <div class="panel-body">
                                                        <div class="table-responsive" id="AuthActionForm">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-sm-4">
                                        <address>
                                            @Html.Raw((String)ViewBag.FooterLeft)
                                        </address>
                                    </div>
                                    <div class="col-sm-4">

                                    </div>
                                    <div class="col-sm-4">
                                        <address>
                                            @Html.Raw((String)ViewBag.FooterRight)
                                        </address>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="card-footer text-right" perfect-class="formFooter">
                                            @if (ViewBag.ActiveCorrectionOption)
                                            {
                                                <button id="" type="button" class="btn btn-info mr-3" name="Correction" perfect-css="button" onclick="fn_correctionData()"><i class="fa fa-refresh fa-spin loaderClass"></i>Correction</button>
                                            }
                                            <button id="" type="button" class="btn btn-success mr-3" name="Approve" perfect-css="button" onclick="fn_approveData()"><i class="fa fa-refresh fa-spin loaderClass"></i>Approve</button>
                                            <button id="" type="button" class="btn btn-danger mr-3" name="Reject" perfect-css="button" onclick="fn_rejectData()"><i class="fa fa-refresh fa-spin loaderClass"></i>Reject</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <script type="text/javascript">                
                $(document).ready(function () {       
                    initFunctions('form');
                });
               
                if ('@ViewBag.SubDetails') {                    
                    let table = JSON.parse('@Html.Raw((String)(ViewBag.ListData))').dtable;
                    var arrayhidecolumn = []
                    var tableCommonOptions = {
                        onlyShowColumn: [],
                        hideColumn: arrayhidecolumn,
                        serialNo: false,
                    };
                    $("#AuthActionForm").html(CreateTableCommonGrid(table, tableCommonOptions, 'AuthListData'));                     
                   
                }
        
                
        function fn_approveData() {
            let inputData = {
                __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                'AuthID': '@Html.Raw((String)(ViewBag.authID))',
                'SkipPrev':'@Html.Raw((int)(ViewBag.Skip))'
            };
            $.ajax({
                url: '@Url.Action("Approved", "AuthorizationLevel")',
                type: "POST",
                data: inputData,
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (ajaxOutput) {
                    if (ajaxOutput.Process.IsProcess) {
                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': 'Successfully Approved' });
                            fn_AuthorizationList_ModuleLoad();
                        });
                    }
                    else {
                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                        });
                    }
                },
                complete: function () {
                }
            });
    }
     

    function fn_rejectData() {       
        $('#formGroupModalAuthorizationReject').modal('show');
    }
    function fn_RejectAction(element) {
        let $thisForm = $(element).closest('[perfect-class="form"]');
        let reason = $thisForm.find('[name="RejectReason"]').val();
        if (reason.length > 0 && reason.length != null) {
            $('#formGroupModalAuthorizationReject').modal('hide');
             let inputData = {
                __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                 'AuthID': '@Html.Raw((String)(ViewBag.authID))',
                 'RejectReson': $thisForm.find('[name="RejectReason"]').val(),
                 'FK_Reason': $thisForm.find('[name="FK_Reason"]').val(),
                 'SkipPrev':'@Html.Raw((int)(ViewBag.Skip))'
            };
            $.ajax({
                url: '@Url.Action("RejectAction", "AuthorizationLevel")',
                type: "POST",
                data: inputData,
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (ajaxOutput) {
                    if (ajaxOutput.Process.IsProcess) {
                        fn_AuthorizationList_ModuleLoad();
                    }
                    else {
                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                        });
                    }
                },
                complete: function () {
                }
            });
        }
        else {
            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': 'Please enter reason' });
        }
                }
                function fn_correctionData()
                {
                    $('#formGroupModalAuthorizationCorrection').modal('show');   
                }
                function fn_CorrectionAction(element)
                {
                    let $thisForm = $(element).closest('[perfect-class="form"]');
                                let reason = $thisForm.find('[name="CorrectionReason"]').val();
                    if (reason.length > 0 && reason.length != null) {
                        $('#formGroupModalAuthorizationCorrection').modal('hide');
                         let inputData = {
                            __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                             'AuthID': '@Html.Raw((String)(ViewBag.authID))',
                             'CorrectionReson': $thisForm.find('[name="CorrectionReason"]').val(),
                             'FK_Reason': $thisForm.find('[name="FK_CorrectionReason"]').val(),
                             'SkipPrev':'@Html.Raw((int)(ViewBag.Skip))'
                        };
                        $.ajax({
                            url: '@Url.Action("Correction", "AuthorizationLevel")',
                            type: "POST",
                            data: inputData,
                            dataType: "json",
                            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                            success: function (ajaxOutput) {
                                if (ajaxOutput.Process.IsProcess) {
                                    fn_AuthorizationList_ModuleLoad();
                                }
                                else {
                                    $.each(ajaxOutput.Process.Message, function (key, value) {
                                        NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                                    });
                                }
                            },
                            complete: function () {
                            }
                        });
                    }
                    else {
                        NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': 'Please enter remarks' });
                    }
                }
  function fn_AuthorizationList_ModuleLoad() {      
            $formContainer.load('@Url.Action("LoadAuthorizationList", "AuthorizationLevel")?Module='+'@Html.Raw((String)(ViewBag.module))', function () {
            let $thisForm = $(this).find('[perfect-class="form"]');
            initFunctions($thisForm);
            });
            }
            </script>



