
<div>
    <section class="timelineTrack">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">

            <div class="">
                @Html.AntiForgeryToken()
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            <address>
                                @Html.Raw((String)ViewBag.CustomerDetails)
                            </address>
                        </div>
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">
                            <address>
                                @Html.Raw((String)ViewBag.BillDetails)
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        @{ if (@ViewBag.ProductDetails)
                            {
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">@ViewBag.ProductDetailsTitle</h6>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive" id="ProductActionForm">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                    <br />
                    <div class="row">
                        <div class="col-sm-4">
                            <address>
                                @Html.Raw((String)ViewBag.LoanDetails)
                            </address>
                        </div>
                        <div class="col-sm-4">

                        </div>
                        <div class="col-sm-4">
                            <address>
                                @Html.Raw((String)ViewBag.FooterRight)
                            </address>
                        </div>
                    </div>
                    <div class="row">
                        @{ if (@ViewBag.TransactionDetails)
                            {
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h6 class="panel-title">@ViewBag.TransactionDetailsTitle</h6>
                                        </div>
                                        <div class="panel-body">
                                            <div class="table-responsive" id="TransactionActionForm">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    </div>
                </div>
            </div>
        </form>
        </section>
    </div>
        <script type="text/javascript">

    $(document).ready(function () {
        initFunctions('form');
    });

    if ('@ViewBag.ProductDetails') {

        let table = JSON.parse('@Html.Raw((String)(ViewBag.ProductData))').dtable;
        var arrayhidecolumn = []
        let tableCommonOptionsLedgerProductDetails = {
            onlyShowColumn: [],
            hideColumn: arrayhidecolumn,
            serialNo: false,
        };
        $("#ProductActionForm").html(CreateTableCommonGrid(table, tableCommonOptionsLedgerProductDetails, 'ProductData'));
    }

    if ('@ViewBag.TransactionDetails') {
        let table = JSON.parse('@Html.Raw((String)(ViewBag.TransactionData))').dtable;
        var arrayhidecolumn = []
        let tableCommonOptionsLedgerTransactionDetails = {
            onlyShowColumn: [],
            hideColumn: arrayhidecolumn,
            serialNo: false,
        };
        $("#TransactionActionForm").html(CreateTableCommonGrid(table, tableCommonOptionsLedgerTransactionDetails, 'TransData'));
    }

    function closeLedgerinfo() {
        $("#modalPssLedgerInfo").modal('hide');
        $('#modalPssLedgerInfo form')[0].reset();
    }

        </script>




