@model PerfectWebERP.Models.ShortageMarkingModel.ShortageMarkingView
<div class="card ">
    <div class="card-header">
        <h4 class="card-title col-12" id="Caption">@ViewBag.PageTitle</h4>
        <span title="To View List" onclick="fn_showListView();"><svg id="Layer_1" class="layer" stroke="currentColor" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" height="20" width="20" viewBox="0 0 122.88 122.54"><title>To View List</title><path class="viewlst" d="M4.69,0H46.22a4.71,4.71,0,0,1,4.69,4.69V46a4.69,4.69,0,0,1-4.69,4.69H4.69a4.65,4.65,0,0,1-3.31-1.38l-.09-.09A4.67,4.67,0,0,1,0,46V4.69A4.71,4.71,0,0,1,4.69,0ZM89.44,61.94a26.56,26.56,0,0,1,10.18,2l.07,0a26.61,26.61,0,0,1,15.25,32.16,26.18,26.18,0,0,1-2.7,6.11l10.3,11.24a1.27,1.27,0,0,1-.07,1.8l-7.57,6.9a1.27,1.27,0,0,1-1.79-.07l-9.86-10.85a26.36,26.36,0,0,1-6.1,2.74,26.87,26.87,0,0,1-7.71,1.13,26.51,26.51,0,0,1-10.17-2l-.07,0A26.64,26.64,0,0,1,64.85,78.37l0-.07A26.6,26.6,0,0,1,89.44,61.94Zm15,11.59a21.38,21.38,0,0,0-6.89-4.61l-.06,0a21.22,21.22,0,0,0-23.07,4.64l-.07.07a21.25,21.25,0,0,0-4.54,6.83l0,.06a21.32,21.32,0,0,0-1.58,8.06,21.26,21.26,0,0,0,29.35,19.62,21.54,21.54,0,0,0,6.89-4.61l.07-.07a21.09,21.09,0,0,0,4.54-6.83l0-.06a21.35,21.35,0,0,0,0-16.17,21.34,21.34,0,0,0-4.62-6.9ZM4.69,63.2H46.22a4.71,4.71,0,0,1,4.69,4.7v41.34a4.68,4.68,0,0,1-4.69,4.69H4.69A4.69,4.69,0,0,1,0,109.24V67.9a4.71,4.71,0,0,1,4.69-4.7ZM68.78,0h41.53A4.71,4.71,0,0,1,115,4.69V46a4.71,4.71,0,0,1-4.69,4.69H68.78A4.71,4.71,0,0,1,64.09,46V4.69a4.69,4.69,0,0,1,1.37-3.31l.1-.09A4.67,4.67,0,0,1,68.78,0Z"></path></svg></span>
    </div>
    <div class="card-body">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            <div class="">
                @Html.AntiForgeryToken()
                <div class="row">

                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Supplier</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control " name="SuppName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                    <input type="hidden" class="form-control perfectValidate_string" name="SuppID" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                    <input type="hidden" name="ID_Shortage" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                    <input type="hidden" name="FK_BranchCodeUser" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />

                                    <div class="input-group-append">
                                        <button id="SupplierButton" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchValAssign(this,20,'Supplier List',['','','ShPdProduct','FK_Stock','ShPdProductID','InvoiceNo','PurchaseID'],['SupplierID','SupplierName','CustomeName'],ShortageMarkingTransMode)" Criterea1="FK_BranchCodeUser" BindName="SuppName" BindVal="SuppID"  Function="2"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Purchase</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" class="form-control " name="InvoiceNo" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                    <input type="hidden" class="form-control perfectValidate_string" name="PurchaseID" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                    <input type="hidden" name="FK_Branch" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" value="@ViewBag.FK_Branch" />
                                    <div class="input-group-append">
                                        <button id="PurchaseButton" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchValAssign(this, 134, 'Purchase List', ['','','ShPdProduct','ShPdProductID','FK_Stock'], ['PurchaseID', 'InvoiceNos', 'InvoiceDates','SuppName','SuppID'])" Criterea1="FK_Branch" Criterea2="SuppID" Criterea3="0" BindName="InvoiceNo" BindVal="PurchaseID" Function="4"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel">Receive Date</span>
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="date" class="form-control perfectValidate_date" name="TransDate" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date" max="2050-01-01" />
                                <input type="date" class="form-control " name="InvoiceDates" perfect-class="formGroupControl" perfect-ctype="date" perfect-css="date" style="display:none" />
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="daccordion__header">
                            <span class="accordion__header--text">Product Details</span>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group row" perfect-class="formGroup">
                                    <label class="col-sm-4 col-form-label">
                                        <span perfect-class="formGroupLabel">Product</span>
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-8">
                                        <div class="input-group">
                                            <input type="text" class="form-control" perfect-tempTable-Shortage="ShPdProduct" name="ShPdProduct" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                            <input type="hidden" class="form-control" perfect-tempTable-Shortage="ShPdProductID" name="ShPdProductID" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                            <input type="hidden" class="form-control" perfect-tempTable-Shortage="FK_Stock" name="FK_Stock" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />
                                            @*<input type="hidden" class="form-control" perfect-tempTable-Shortage="FK_Unit" name="FK_Unit" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" />*@
                                            <div class="input-group-append">
                                                <button id="ProductButton" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="CheckSupplierPurchase(this)" Criterea1="SuppID" Criterea2="PurchaseID" BindName="ShPdProduct" BindVal="ShPdProductID" Function="1"></button>
                                            </div>
                                            <div class="text-danger temptableError"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group row" perfect-class="formGroup">
                                    <label class="col-sm-4 col-form-label">
                                        <span perfect-class="formGroupLabel">Unit</span>
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-8">
                                        <select class="form-control" perfect-tempTable-Shortage="ShPdUnit" name="ShPdUnit" perfect-class="formGroupControl" perfect-ctype="select" perfect-css="select" disabled>
                                            <option value="">Please Select </option>
                                            @*<option value="1">Test</option>*@
                                            @if (!(Model.UnitList is null))
                                            {
                                                foreach (var unit in Model.UnitList)
                                                {
                                                    <option value="@unit.ID_Unit" UnitCountS="@unit.UnitCount">@unit.UnitName</option>
                                                }
                                            }

                                        </select>
                                    </div>
                                </div>
                                <span class="temptableError"></span>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group row" perfect-class="formGroup">
                                    <label class="col-sm-4 col-form-label">
                                        Quantity&nbsp;
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" id="ShPdQty" perfect-tempTable-Shortage="ShPdQty" name="ShPdQty" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" min="0" maxlength="13" readonly />
                                        <div class="text-danger temptableError"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group row" perfect-class="formGroup">
                                    <label class="col-sm-4 col-form-label">
                                        Shortage Qty&nbsp;
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" id="ShPdShortQty" perfect-tempTable-Shortage="ShPdShortQty" name="ShPdShortQty" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" min="0" maxlength="13" readonly />
                                        <div class="text-danger temptableError"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group row" perfect-class="formGroup">
                                    <label class="col-sm-4 col-form-label">
                                        ActQty&nbsp;
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" id="ShPdActQty" perfect-tempTable-Shortage="ShPdActQty" name="ShPdActQty" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" min="0" maxlength="13" readonly />
                                        <div class="text-danger temptableError"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group row" perfect-class="formGroup">
                                    <label class="col-sm-4 col-form-label">
                                        Rate&nbsp;
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" id="ShPdRate" perfect-tempTable-Shortage="ShPdRate" name="ShPdRate" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" min="0" maxlength="13" readonly />
                                        <div class="text-danger temptableError"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group row" perfect-class="formGroup">
                                    <label class="col-sm-4 col-form-label">
                                        Tax&nbsp;
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" id="ShPdTax" perfect-tempTable-Shortage="ShPdTax" name="ShPdTax" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" min="0" maxlength="13" readonly />
                                        <div class="text-danger temptableError"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group row" perfect-class="formGroup">
                                    <label class="col-sm-4 col-form-label">
                                        Total Amount&nbsp;
                                        <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control text-right" id="ShPdNet" perfect-tempTable-Shortage="ShPdNet" name="ShPdNet" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" min="0" maxlength="13" readonly />
                                        <div class="text-danger temptableError"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="form-group row" perfect-class="formGroup">
                                    <label class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group row" perfect-class="formGroup">
                                    <label class="col-sm-4 col-form-label"></label>
                                    <div class="col-sm-8">
                                        <button type="button" id="purtupsave" class="btn btn-primary1" onclick="fn_AddShortageProducts(this,'Shortage',['FK_Stock'],ShortageOptionsTempOut)" data-placement="top" data-html="true" title="Add Product Details"><i class="fa fa-plus" aria-hidden="true"></i></button>
                                        <button type="button" id="resetpdt" class="btn btn-light1" perfect-css="button" onclick="productclear(this,'Shortage')" name="reset" title="Reset"><i class="fa fa-refresh" aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                <span perfect-class="formGroupLabel"></span>
                            </label>
                            <div class="col-sm-12">
                                <input type="hidden" name="customerIndex" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="hidden" perfect-tempTable-Shortage="Sl No" value="" />
                                <div class="table-responsive tableFixHead" perfect-tempTable="Shortage" id="Shortagedetailshead" perfect-tempTable-lastindex="0" perfect-tempTable-action="0"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />
                <div class="row">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-sm-4">
                        @*<div class="form-group row" perfect-class="formGroup">
                                <label class="col-sm-4 col-form-label">
                                    Total Tax&nbsp;
                                    <span class="text-danger">*</span>
                                </label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control text-right" id="TotalTax" name="TotalTax" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" min="0" maxlength="13" readonly />

                                </div>
                            </div>*@
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group row" perfect-class="formGroup">
                            <label class="col-sm-4 col-form-label">
                                Net Amount&nbsp;
                                <span class="text-danger">*</span>
                            </label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control text-right" id="NetAmount" name="NetAmount" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" min="0" maxlength="13" readonly />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer text-right" perfect-class="formFooter">
                <button id="pupdate" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserUpdate d-none" name="update" perfect-css="button" onclick="fn_PurchaseForm_update(this)"><i class="fa fa-refresh fa-spin loaderClass"></i>Update</button>
                <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="fn_ShortageForm_Update(this)"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                <button type="button" id="mainresetbutton" class="btn btn-light" perfect-css="button" onclick="ResetButtons(this)" name="reset">Clear</button>
            </div>
        </form>
    </div>
</div>
<script>
    $(document).ready(function () {
        let $thisForm = $('[perfect-class="form"]');
        $thisForm.find('[name="FK_BranchCodeUser"]').val('@ViewBag.FK_BranchCodeUser');
    });
    function ResetButtons(ele) {
        fn_ShortageMarking_initialload();
    }
    function CheckSupplierPurchase(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');

        let Purchase=$thisForm.find('[name=PurchaseID]').val();
        let Supplier = $thisForm.find('[name=SuppID]').val();

        if ((Purchase != 0 || Purchase != '') && Supplier != 0 && Supplier != '') {
            GetCmnPopUpSearchValAssign(ele, 135, 'Product List', ['', ''], ['FK_Stock', 'FK_Unit', 'ShPdQty', 'ShPdShortQty', 'ShPdActQty', 'ShPdRate', 'ShPdTax', 'ShPdNet'])
        }
        else {
            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': "Please Select Supplier & Purchase" });
        }
    }

    function getfunction(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let $tempArr = $thisForm.data('popValueData');
        $thisForm.find('[name="ShPdUnit"]').val($tempArr.FK_Unit).selectpicker("refresh");
    }
    function getfunctionAssign(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        $thisForm.find('[perfect-tempTable-Shortage]').val('').selectpicker('refresh');
        $thisForm.find('[perfect-tempTable-Shortage]').val('');

        let $tblcontainer = $thisForm.find('[perfect-tempTable="Shortage"]');
        $tblcontainer.empty();
    }
    function getfunctionAssignchnage(ele) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        $thisForm.find('[perfect-tempTable-Shortage]').val('').selectpicker('refresh');
        $thisForm.find('[perfect-tempTable-Shortage]').val('');

        let $tblcontainer = $thisForm.find('[perfect-tempTable="Shortage"]');
        $tblcontainer.empty();

        var date = $thisForm.find('[name=InvoiceDates]').val();
        document.getElementsByName("TransDate")[0].setAttribute('min', date);

        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName("TransDate")[0].setAttribute('max', today);

    }
    function productclear(ele, tableKey) {
        let $thisForm = $(ele).closest('[perfect-class="form"]');

        $thisForm.find('[perfect-tempTable-Shortage]').val('').selectpicker('refresh');
        $thisForm.find('[perfect-tempTable-Shortage]').val('');
        let $tblcontainer = $thisForm.find('[perfect-tempTable="' + tableKey + '"]');
        $tblcontainer.attr('perfect-tempTable-action', 0);
    }
    var ShortageOptionsTempOut = {
        iconButton: {
            buttons: [
                {
                    icon: "fa fa-pencil btnPerfectGridEdit",
                    action: function () {
                        let savedData = $(this).closest('tr').data('pData')

                        let $tablecontainer = $(this).closest('[perfect-tempTable]');
                        let tableKey = $tablecontainer.attr('perfect-tempTable');
                        let $thisForm = $tablecontainer.closest('[perfect-class="form"]');
                        //index attribute name in table row
                        let indexname = tableKey + 'index';

                        //index number in table row
                        let rindex = $(this).closest('tr').attr(indexname);

                        $tablecontainer.attr('perfect-tempTable-action', rindex);

                        console.log('Editclick', savedData);
                        //filling data in available inputs
                        $thisForm.find('[perfect-tempTable-' + tableKey + ']').each(function () {
                            let $thisNode = $(this);
                            let pf_name = $thisNode.attr('name');
                            if ($thisNode.is('select')) {
                                $thisNode.val(savedData[pf_name]).selectpicker('refresh');
                            }
                            else if ($thisNode.is('input')) {
                                let inputType = $thisNode.attr('type').toLocaleLowerCase();
                                if ($thisNode.attr('type').toLocaleLowerCase() == 'checkbox') {

                                    $thisNode.prop('checked', savedData[pf_name]);
                                }
                                else {

                                    $thisNode.val(savedData[pf_name]);
                                }
                            }
                            else {
                                $thisNode.val(savedData[pf_name]);
                            }
                        });

                    }
                },
                {
                    icon: "fa fa-trash btnPerfectGridDelete",
                    action: function () {
                        let savedData = $(this).closest('tr').data('pData')
                        let $tablecontainer = $(this).closest('[perfect-tempTable]');
                        let $thistbl = $(this).closest('table');
                        let table = $thistbl.DataTable();
                        table.destroy();
                        if ($(this).closest('tbody').find('tr').length > 1) {
                            $(this).closest('tr').remove();
                            pft_table_slreset($thistbl);
                        }
                        else {
                            $thistbl.remove();
                        }
                        fn_calculatetotal(this);
                        $("#resetpdt").click();
                    }
                },
            ]
        },
        rowAttribute: [],
        onlyShowColumn: ['ShPdProduct', 'ShPdUnit_d', 'ShPdQty', 'ShPdShortQty', 'ShPdActQty', 'ShPdRate', 'ShPdTax','ShPdNet'],
        renameHeader: { 'ShPdProduct': 'Product',/* 'ShPdUnit': 'Unit',*/ 'ShPdQty': 'Qty', 'ShPdShortQty': 'Shortage', 'ShPdActQty': 'ActQty', 'ShPdRate': 'Rate', 'ShPdTax': 'Tax', 'ShPdNet': 'Total Amount' },
        hideColumn: ['FK_Stock', 'ShPdProductID', 'ShPdUnit'],
        serialNo: true,
    }
    function fn_AddShortageProducts(ele, tkey, uniq = [], tableOptionsTempOut) {

       
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let tableKey = tkey;
        let $tblcontainer = $thisForm.find('[perfect-tempTable="' + tableKey + '"]');

        let insertData = {};
        let tableOptionsTemp = tableOptionsTempOut;

        let unique = (uniq) ? uniq : [];

        let isValid = true;
        let errorClass = '.temptableError';
        //make index
        if ($thisForm.find('[perfect-tempTable-' + tableKey + '="ShPdProduct"]').val() == 0 || $thisForm.find('[perfect-tempTable-' + tableKey + '="ShPdProduct"]').val() == "") {
          
            isValid = false;
            $thisForm.find('[perfect-tempTable-' + tableKey + '="ShPdProduct"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please Select Product Name');
        }
        else {
            $thisForm.find('[perfect-tempTable-' + tableKey + '="ShPdProduct"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
        }
        
        let lastIndex = ($tblcontainer.attr('perfect-tempTable-lastindex')) ? parseInt($tblcontainer.attr('perfect-tempTable-lastindex')) : 0;
        let thisactionIndex = ($tblcontainer.attr('perfect-tempTable-action')) ? parseInt($tblcontainer.attr('perfect-tempTable-action')) : 0;
        let indexname = tkey + 'index';
        tableOptionsTemp.rowAttribute.push(indexname);
        tableOptionsTemp.hideColumn.push(indexname);

        let updateCond = '';
        let isNew = true;

        if (thisactionIndex > 0) {
            //means update
            insertData[indexname] = thisactionIndex;
            updateCond = '[' + indexname + '="' + thisactionIndex + '"]';
            isNew = false;
        }
        else {
            //insert
            insertData[indexname] = lastIndex + 1;
            $tblcontainer.attr('perfect-tempTable-lastindex', lastIndex + 1);
            isNew = true;
        }


        if (unique.length > 0) {
            //getting previous data
            let prevData = [];
            $tblcontainer.find('table > tbody').find('tr').each(function () {
                if (isNew) {
                    prevData.push($(this).data('pData'));
                }
                else {
                    if (parseInt($(this).attr(indexname)) != thisactionIndex) {
                        prevData.push($(this).data('pData'));
                    }
                }
            })


            unique.forEach(function (key, i) {
                debugger;
                let $thisEle = $thisForm.find('[perfect-tempTable-' + tableKey + '="' + key + '"]');
                // let headerEleName = $thisForm.find('[name="lblProName"]').text();
                let atname = $thisEle.attr('name');
                let cvalue;

                if ($thisEle.length != 0) {
                    let $errorElement;
                    //*existency customized only for sales page
                    let errmessage = "";
                    if (key == "FK_Stock") {
                        errmessage = "Product Already exists"
                        $errorElement = $thisEle.closest('[perfect-class="formGroup"]').find(errorClass);
                    }
                    else {
                        errmessage = key + " Already exists"
                    }
                    //*existency customized only for sales page

                    //getting current value in cval
                    if ($thisEle.is('select')) {
                        cvalue = $thisEle.val();

                    }
                    else if ($thisEle.is('input')) {

                        let inputEleType = $thisEle.attr('type').toLocaleLowerCase();
                        if (inputEleType == 'checkbox') { cvalue = $thisEle.is(':checked'); }
                        else if (inputEleType == 'hidden') {
                            cvalue = $thisEle.val(); console.log('cvalue ->', cvalue);


                        }
                        else { cvalue = $thisEle.val(); }
                    }
                    else { cvalue = $thisEle.val(); }



                    //searching in previous data
                    if (prevData.find(a => a[atname] == cvalue)) {
                        // console.log('Search =>' + cvalue + '| attr :' + atname)
                        $errorElement.text(errmessage);
                        isValid = false;
                    }
                }
            });

        }



        if (isValid) {

            // this section make table column data
            $thisForm.find('[perfect-tempTable-' + tableKey + ']').each(function () {
                let $this = $(this);
                let headerName = $this.attr('perfect-tempTable-' + tableKey);
                let nameAttr = $this.attr('name');

                if ($this.is('select')) {
                    switch (headerName) {
                        case "ShPdUnit":
                            headerName = "Unit";
                            break;
                        default:
                            break
                    }
                    tableOptionsTemp.renameHeader[nameAttr + '_d'] = headerName;
                    tableOptionsTemp.hideColumn.push(nameAttr)
                    if ($this.val() != null) {
                        let selectText = ($this.val().length == 0) ? '' : $this.children(":selected").text();
                        insertData[nameAttr + '_d'] = selectText;
                    }
                    else {
                        let selectText = ($this.val() == null) ? '' : $this.children(":selected").text();
                        insertData[nameAttr + '_d'] = selectText;
                    }
                    insertData[nameAttr] = $this.val();

                    $this.val('').selectpicker('refresh');
                }


                else if ($this.is('input')) {

                    insertData[nameAttr] = $this.val();

                    if (nameAttr == "prodtid") { }
                    else if (nameAttr == "stkid") { }
                    else {
                        $this.val('');
                    }
                }
                else {
                    insertData[nameAttr] = $this.val();

                    $this.val('');
                }

            });

            if (isNew) {

                if ($tblcontainer.find('table').length == 0) {

                    $tblcontainer.append(pft_table_createtable([insertData], tableOptionsTemp));
                }
                else {
                    let table = $tblcontainer.find('table').DataTable()
                    table.destroy()
                    pft_table_addTableRow($tblcontainer.find('table'), insertData, tableOptionsTemp);
                }
                fn_calculatetotal(this);
            }
            else {

                let table = $tblcontainer.find('table').DataTable()
                table.destroy()

                pft_table_replaceTableRow($tblcontainer.find('table'), updateCond, insertData, tableOptionsTemp);
                fn_calculatetotal(this);
            }

            $tblcontainer.attr('perfect-tempTable-action', 0);
        }
    }

    function fn_calculatetotal(ele) {
        debugger
        let $thisForm = $(ele).closest('[perfect-class="form"]');
        let Net = 0;
        let Tax = 0;
        $('#Shortagedetailshead').find('tbody tr').each(function (index, ele) {
            Net = Net + parseFloat($(ele).find('.ShPdNet').text() == "" ? "0" : $(ele).find('.ShPdNet').text());
            Tax = Tax + parseFloat($(ele).find('.ShPdTax').text() == "" ? "0" : $(ele).find('.ShPdTax').text());
        });

        $('[name=NetAmount]').val(Number(Net).toFixed(2));
    }


    function fn_ShortageForm_Update(ele) {

        let $thisForm = $(ele).closest('[perfect-class="form"]');

        var date = $thisForm.find('[name=InvoiceDates]').val();
        document.getElementsByName("TransDate")[0].setAttribute('min', date);

        var today = new Date().toISOString().split('T')[0];
        document.getElementsByName("TransDate")[0].setAttribute('max', today);
        debugger
        if ($thisForm.valid()){

            let ProductDetails = [];
            $thisForm.find('[perfect-tempTable="Shortage"]').find('tbody').find('tr').each(function () {
                ProductDetails.push($(this).data('pData'));
            })

            console.log('save', ProductDetails)

            if (ProductDetails.length > 0) {
                //disable button to avoid multiple clicks
                $(ele).prop('disabled', true);
                let inputData = {

                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                    'ShortageID': 0,
                    'TransMode': ShortageMarkingTransMode,
                    'FK_Supplier': $thisForm.find('[name="SuppID"]').val(),
                    'FK_Purchase': $thisForm.find('[name="PurchaseID"]').val(),
                    'ShTransDate': $thisForm.find('[name="TransDate"]').val(),
                    'ShortageProductDetails': ProductDetails,
                    'ShNetAmount': $thisForm.find('[name="NetAmount"]').val(),
                    'LastID': LastID_ShortageMarking
                };
                clearSessionValue(LastIDSessionKey);
                $.ajax({
                    url: "@Url.Action("AddShortageDetails", "ShortageMarking")",
                    type: "POST",
                    data: inputData,
                    dataType: "json",
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    success: function (ajaxOutput) {

                        if (ajaxOutput.Process.IsProcess) {

                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                            });

                            $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                            $thisForm.find('[perfect-ctype="input"]').val('');
                            $thisForm.find('[perfect-ctype="date"]').val('');

                            // Get the value set in form's perfect-onFormSuccess attribute
                            let onSuccess = $thisForm.attr('perfect-onFormSuccess')

                            if (onSuccess) {
                                window[onSuccess]();
                            }
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }
                    },
                    complete: function () {
                        $(ele).prop('disabled', false);
                    }

                });
            }
            else {
                $(ele).prop('disabled', false);
                let message = "Add Atleast One Product to List"
                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': message });
            }
        }
    }

</script>