@model PerfectWebERP.Models.CommonModel.MainMenuList


<style>
    .menulistCard:hover {
        transform: scale(1.1);
    }
</style>
@if (!(Model.MainMenu is null))
{

    <div class="d-sm-flex align-items-center mb-3 mt-sm-0 mt-2">

        <h4 class="text-black fs-20 mr-auto text-primary">
            @Model.HeaderName
        </h4>
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-5 ">
        @foreach (var sideData in Model.MainMenu)
        {
            <div class="col">
                <div class="card text-center menulistCard widget-icon">
                    <a href="@sideData.MenuListLink">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-4">
                                    <div class="profile-image">
                                        <i class="@sideData.MenuIconImage"></i>
                                    </div>
                                </div>
                                <div class="col-8 ">
                                    <span class="v-align">
                                        <h6 class="fs-16 mb-1">@sideData.MenuListName</h6>
                                    </span>
                                </div>
                            </div>
                            <div class="profile-image">
                            </div>
                        </div>
                    </a>
                </div>
            </div>


        }
    </div>
}


 @*data-TKey="@sideData.TransKey" data-TMode="@sideData.TransMode" onclick="fn_getTransMode(this)"*@








