@*@model  List<PerfectWebERP.Models.CommonModel.MenuGroup>

    @helper CreateMenuGroup(PerfectWebERP.Models.CommonModel.MenuGroup menuGroup)
    {
        if (menuGroup.MenuGroupVisible)
        {
            if (menuGroup.SubModule != null)
            {
                <li class="">
                    <a href='#' class="has-arrow perfect-sidenav-menu Menu" perfect-navmenuid="@menuGroup.MenuGroupID" aria-expanded="true">
                        <i class="@menuGroup.MenuIconImage"></i>
                        <span class="nav-text">@menuGroup.MenuGroupName</span>
                    </a>
                    <ul class="metismenu SubMenu" id="submenu">
                        @foreach (var submodule in menuGroup.SubModule)
                        {
                            <li class="">
                                <a href='#' class="has-arrow perfect-sidenav-menu" perfect-navmenuid="@menuGroup.MenuGroupID" perfect-navsubmenuid="@submodule.MenuGroupSubID" aria-expanded="false" onclick="gotoURLSub(this)">
                                    <i class="@submodule.MenuIconImage"></i>
                                    <span class="nav-text">@submodule.MenuGroupSubName</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="">
                    <a href='#' class="has-arrow perfect-sidenav-menu Menu" perfect-navmenuid="@menuGroup.MenuGroupID" aria-expanded="false" onclick="gotoURL(this)">
                        <i class="@menuGroup.MenuIconImage"></i>
                        <span class="nav-text">@menuGroup.MenuGroupName</span>
                    </a>
                </li>
            }
        }
    }

    @foreach (var menu in Model)
    {
        @CreateMenuGroup(menu);
    }*@


@model  PerfectWebERP.Models.CommonModel.SideMenuList
<li class="">
    <a href='#' class="has-arrow perfect-sidenav-menu Menu" perfect-navmenuid="0" aria-expanded="false" onclick="gotoURL(this)">
        <i class="fa fa-tachometer"></i>
        <span class="nav-text">Dashboard</span>
    </a>
</li>
@if (!(Model.SideMenu is null))
{
    foreach (var menu in Model.SideMenu)
    {       
        <li class="">
            <a href='#' class="has-arrow perfect-sidenav-menu Menu" perfect-navmenuid="@menu.MenuGroupID" aria-expanded="false" onclick="gotoURL(this)">
                <i class="@menu.MenuIconImage"></i>
                <span class="nav-text">@menu.MenuGroupName</span>
            </a>
        </li>
    }
}


