
@model PerfectWebERP.Models.ProductionStatusModel.ProductionStatusDetailsView
<style>
   
    .tableFixHead {
        overflow: auto;
        height: 400px;
        /*height:auto;*/
    }

    .tableFixHead thead tr {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px 16px;
    }

    th {
        background: var(--perfect-primary);
    }
</style>

 
<div class="card" id="followupPartial">

     
    <div class="" name="Followup_Action_LoadDiv" >

        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">

            @Html.AntiForgeryToken()
            <div class="col-sm-12">
                <div class="default-tab">
                    @*<input type="hidden" id="hdnmdlID_JobCardFollowUp" name="hdnmdlID_JobCardFollowUp" value="0" />
                    <input type="hidden" id="hdnmdlFK_JobCardAssign" name="hdnmdlFK_JobCardAssign" />
                    <input type="hidden" id="hdnmdlID_JobCardAssignDetails" name="hdnmdlID_JobCardAssignDetails" />
                    <input type="hidden" id="hdnmdlFK_Product" name="hdnmdlFK_Product" />
                    <input type="hidden" id="hdnmdlFK_ProjectStages" name="hdnmdlFK_ProjectStages" />
                    <input type="hidden" id="hdnmdlErrCode" name="hdnmdlErrCode" />
                    <input type="hidden" id="hdnmdlErrMsg" name="hdnmdlErrMsg" />
                    <input type="hidden" id="hdnmdlFK_Employee" name="hdnmdlFK_Employee" />*@




                    <div id="History" class="tab-pane">
                        <br />

                        <div class="row">
                            <div class="col-sm-12">

                                <div class="profile-personal-info">
                                    <h4 class='text-primary mb-4'>Job Card Assign Details</h4>
                                    <div style="display:flex">

                                        <div class="col-sm-4">
                                            <div class="form-group2 row" perfect-class="formGroup">
                                                <label class="col-sm-3 col-form-label">
                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">Job Card No:</span>

                                                </label>
                                                <div class="col-sm-8">
                                                    <label class="col-sm-8 col-form-label" perfect-class="formGroupControl" name="mdlJobCardNo" perfect-ctype="input" perfect-css="input"></label>

                                                </div>

                                            </div>

                                            <div class="form-group2 row" perfect-class="formGroup">
                                                <label class="col-sm-3 col-form-label">
                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">Details:</span>

                                                </label>
                                                <div class="col-sm-8">
                                                    <label class="col-sm-8 col-form-label" type="date" perfect-class="formGroupControl" name="mdlJobCardDetails" perfect-ctype="input" perfect-css="input"></label>

                                                </div>

                                            </div>



                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group2 row" perfect-class="formGroup">
                                                <label class="col-sm-3 col-form-label">
                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">Start Date:</span>

                                                </label>
                                                <div class="col-sm-8">
                                                    <label class="col-sm-8 col-form-label" perfect-class="formGroupControl" id="mdlStartDate" name="mdlStartDate" perfect-ctype="input" perfect-css="input"></label>

                                                </div>

                                            </div>
                                            <div class="form-group2 row" perfect-class="formGroup">
                                                <label class="col-sm-3 col-form-label">
                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">Target Date:</span>
                                                </label>
                                                <div class="col-sm-8">

                                                    <label class="col-sm-8 col-form-label" perfect-class="formGroupControl" name="mdlTargetDate" perfect-ctype="input" perfect-css="input"></label>

                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group2 row" perfect-class="formGroup">
                                                <label class="col-sm-3 col-form-label">
                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">Stage:</span>

                                                </label>
                                                <div class="col-sm-8">
                                                    <label class="col-sm-8 col-form-label" type="text" perfect-class="formGroupControl" name="ProductStage" perfect-ctype="input" perfect-css="input"></label>

                                                </div>

                                            </div> <div class="form-group2 row" perfect-class="formGroup">
                                                <label class="col-sm-3 col-form-label">
                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">Quantity:</span>

                                                </label>
                                                <div class="col-sm-8">
                                                    <label class="col-sm-8 col-form-label" type="text" perfect-class="formGroupControl" id="AssignedQty" name="AssignedQty" perfect-ctype="input" perfect-css="input"></label>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group2 row" perfect-class="formGroup">
                                            <label class="col-sm-1 col-form-label">
                                                <span perfect-class="formGroupLabel" class="font-weight-bold">Product:</span>

                                            </label>
                                            <div class="col-sm-11">
                                                <label class="col-sm-12 col-form-label" type="date" perfect-class="formGroupControl" name="ProductName" perfect-ctype="input" perfect-css="input"></label>

                                            </div>
                                        </div>
                                    </div>









                                </div>
                            </div>

                            <div class="col-sm-12 ProdStatusDtls">
                                <div id="jq_ServiceIndex_formContainer">
                                    <div class="card ">

                                        <div class="card-body px-2">
                                            @*<form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">*@


                                            <div class=" jq_service_commonForm_div">

                                                @Html.AntiForgeryToken()

                                                <input type="hidden" id="hdnmdlID_JobCardFollowUp" name="hdnmdlID_JobCardFollowUp" value="" />
                                                <input type="hidden" id="hdnmdlFK_JobCardAssign" name="hdnmdlFK_JobCardAssign" value="" />
                                                <input type="hidden" id="hdnmdlID_JobCardAssignDetails" name="hdnmdlID_JobCardAssignDetails" value="" />
                                                <input type="hidden" id="hdnmdlFK_Product" name="hdnmdlFK_Product" value="" />
                                                <input type="hidden" id="hdnmdlFK_ProjectStages" name="hdnmdlFK_ProjectStages" value="" />
                                                <input type="hidden" id="hdnmdlErrCode" name="hdnmdlErrCode" value="" />
                                                <input type="hidden" id="hdnmdlErrMsg" name="hdnmdlErrMsg" value="" />
                                                <input type="hidden" id="hdnmdlFK_Employee" name="hdnmdlFK_Employee" value="" />
                                                <input type="hidden" id="hdnmdlReturnStage" name="hdnmdlReturnStage" value="" />


                                                <div class="profile-personal-info">
                                                    <h4 class='text-primary mb-4'>Status Marking</h4>
                                                    <div style="display:flex">
                                                        <div class="col-sm-3">
                                                            <div class="form-group2 row" perfect-class="formGroup">
                                                                <label class="col-sm-4 col-form-label">
                                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">Completed</span>
                                                                    <span class="text-danger"></span>
                                                                </label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="PrdnQty form-control perfectValidate_number" value="@Model.JcfCompletedQty" maxlength="12" oninput="decimalpnt(this, 'Quantity', 3);" @*oninput="IntegerCheck(this, 0);"*@ id="Completed" name="Completed" style="text-align: right;" />
                                                                    <div class="text-danger temptableError"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group2 row" perfect-class="formGroup">
                                                                <label class="col-sm-4 col-form-label">
                                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">Damaged</span>
                                                                    <span class="text-danger"></span>
                                                                </label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="PrdnQty form-control perfectValidate_number" value="@Model.JcfDamagedQty" maxlength="12" oninput="decimalpnt(this, 'Quantity', 3);" @*oninput="IntegerCheck(this, 0);"*@ id="Damaged" name="Damaged" style="text-align: right;" />
                                                                    <div class="text-danger temptableError"> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3" id="divRetrn">
                                                            <div class="form-group2 row" perfect-class="formGroup">
                                                                <label class="col-sm-4 col-form-label">
                                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">Returned</span>
                                                                    <span class="text-danger"></span>
                                                                </label>
                                                                <div class="col-sm-8">
                                                                    <input type="text" class="PrdnQty form-control perfectValidate_number" value="@Model.JcfReturnedQty" maxlength="12" oninput="decimalpnt(this, 'Quantity', 3);" @*oninput="IntegerCheck(this, 0);"*@ id="Returned" name="Returned" style="text-align: right;" />
                                                                    <div class="text-danger temptableError"> </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <div class="form-group2 row" perfect-class="formGroup" id="divStage" style="display:none">
                                                                <label class="col-sm-4 col-form-label">
                                                                    <span perfect-class="formGroupLabel" class="font-weight-bold" name="lblStageName">Stage</span>
                                                                    <span class="text-danger">*</span>
                                                                </label>
                                                                <div class="col-sm-8">
                                                                    <div class="input-group">
                                                                        <input type="text" class="form-control" perfect-tempTable-Stage="StageName" name="StageName" id="StageName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" readonly="readonly" value="@Model.Stage" />
                                                                        <input type="hidden" id="FK_ReturnProjectStage" name="FK_ReturnProjectStage" perfect-tempTable-Stage="FK_ReturnProjectStage" perfect-class="formGroupControl" perfect-ctype="hidden" perfect-css="input" value="@Model.FK_ReturnProjectStage" />

                                                                        <div class="input-group-append">
                                                                            <button id="addproduct-jq-searchButton3" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,105,'Stage List',['FK_ReturnProjectStage'],ProductionStatusTransMode)" Criterea1="hdnmdlFK_Product" Criterea2="hdnmdlFK_ProjectStages" BindName="StageName" BindVal="FK_ReturnProjectStage"></button>
                                                                        </div>
                                                                    </div><div class="text-danger temptableError"></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                            </div>
                                            @*</form>*@

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-sm-12">

                                <div class="card-body">
                                    <div class="profile-personal-info">
                                        <h4 class='text-primary mb-4'>Materials Used</h4>
                                    </div>



                                    <div class="table-responsive tableFixHead">

                                        <table class="table  table-striped" id="Product">
                                            <thead class="thead-primary">
                                                <tr>

                                                    <th>SlNo.</th>
                                                    <th style="display:none">ID_Product</th>
                                                    <th style="display:none">ID_Stock</th>
                                                    <th>Product</th>
                                                    <th>Batch No.</th>
                                                    <th style="display:none">MRP</th>
                                                    <th style="display:none">Sal.Price</th>
                                                    <th>Purch.Rate</th>
                                                    <th>Exp.Date</th>
                                                    <th>Current Stock</th>
                                                    <th>Required Quantity</th>
                                                    <th>Used Quantity</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <tbody class="Productbody" id="ProductTbody">
                                                <tr id="0">
                                                    <td colspan="8" style="text-align:center;">No Records...</td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td></td>
                                                    <td style="display:none"></td>
                                                    <td style="display:none"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="display:none"></td>
                                                    <td style="display:none"></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                    <td style="text-align:right;">
                                                        <input type="hidden" name="FK_InputMtrl" />
                                                        <input type="hidden" name="FK_Stock" />
                                                        <input type="hidden" name="BatchNo" />
                                                        <input type="hidden" name="FK_Department" value="@Model.FK_Department" />
                                                        <input type="hidden" name="FK_Branch" value="@Model.FK_Branch" />
                                                        <button id="btnaddnewProduct" class="btn btn-primary fa fa-plus" type="button" perfect-css="button" onclick="GetCmnPopUpSearchVal(this,111,'Product List','','')" Criterea1="FK_Department" Criterea2="FK_Branch" BindName="FK_InputMtrl" BindVal="FK_Stock" Function="1"></button>
                                                    </td>
                                                    <td></td>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--Confirm Modal-->
                            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Confirmation</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span>×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <div id="ConfirmBody">
                                                <table class="table  table-striped" id="ProductConfirm">
                                                    <thead class="thead-primary" id="ProductConfirmhead">
                                                        <tr>

                                                            <th>SlNo.</th>
                                                            <th style="display:none">ID_Product</th>
                                                            <th style="display:none">ID_Stock</th>
                                                            <th>Product</th>
                                                            <th style="text-align:right">Required Quantity</th>
                                                            <th style="text-align:right">Used Quantity</th>
                                                            <th style="text-align:center"></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="ProductConfirmbody" id="ProductConfirmbody">
                                                        <tr id="0">
                                                            <td colspan="6" style="text-align:center;">No Records...</td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td></td>
                                                            <td style="display:none"></td>
                                                            <td style="display:none"></td>
                                                            <td style="text-align:center;font-weight:bold">Total</td>
                                                            <td id="ReqQty" style="text-align:right;font-weight:bold"></td>
                                                            <td id="UsedQty" style="text-align:right;font-weight:bold"></td>
                                                            <td></td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                                <label class="col-sm-12 col-form-label">
                                                    <span perfect-class="formGroupLabel" class="font-weight-bold">
                                                        Difference between Required and Used Quantity. Do you wan't to continue?
                                                    </span>
                                                </label>
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" onclick="SaveProductionStatusMarkingConfirm(this)" class="btn btn-primary">Yes</button>
                                            <button type="button" class="btn btn-danger light" data-dismiss="modal">No</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--No Stock Modal-->
                            <div class="modal fade NoStockModal" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Message</h5>
                                            <button type="button" class="close" data-dismiss="modal">
                                                <span>×</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">

                                            <div id="NostockBody">
                                                <label class="col-sm-12 col-form-label">
                                                    <span perfect-class="formGroupLabel" id="NoStockLabel" class="font-weight-bold">
                                                       
                                                    </span>
                                                </label>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>


            </div>
            <div class="card-footer text-right" perfect-class="formFooter">
                <button id="" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserUpdate d-none" name="update" perfect-css="button" onclick="CreateConfirmationBody(this)"><i class="fa fa-refresh fa-spin loaderClass"></i>Update</button>
                <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="CreateConfirmationBody(this)"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                <button id="resett" type="button" class="btn btn-light" perfect-css="button" onclick="ResetButton(this)" name="reset">Clear</button>
            </div>
        </form>
    </div>
</div>

<script src="~/Scripts/jqDOM/searchDOMCreation.js"></script>
<script type="text/javascript">
      $('.clsUsedQty').click(function () {
     
        $(this).select();
    })
  function ResetButton(ele)
    {
        var  ID_JobCardFollowUp= $("#hdnmdlID_JobCardFollowUp").val().trim()==""?"0":$("#hdnmdlID_JobCardFollowUp").val().trim();
        if(ID_JobCardFollowUp!=0)
        {
              fn_LoadJobAssignDetails();
        }
        else
        {fn_ProductionStatusIndex_initialLoad();
          // $(".PrdnQty").val("0");
           // $(".clsUsedQty").val("0");
        }
    }
function getfunction(ele) {

        let $thisForm = $(ele).closest('tr');
        let FK_Stock = $thisForm.find('[name="FK_Stock"]').val();
        let FK_Product = $thisForm.find('[name="FK_InputMtrl"]').val();

        let InputData = {
            FK_Stock: FK_Stock,
            FK_Product:FK_Product
        };
           $.ajax({
                    url: "@Url.Action("FillNewInputMaterial", "ProductionStatus")",
                    type: "Get",
                    data:InputData,
                    dataType: "json",
                    contentType: "application/json",
                    success: function (ajaxOutput) 
                    {
                        if (ajaxOutput.StockDetails!=null)
                        {
                            var _ProductHtml =  "";
                            var rowCount = $('#ProductTbody tr').length + 1; var _ProductId = 0, _StockId = 0; var _cntinue = true; var id = 0; var usedQtyId = "";
                            $.each(ajaxOutput.StockDetails, function (i, value)
                            {
                                $('#ProductTbody tr').each(function(){
                                    _ProductId=parseInt($(this).find('.clsID_Product').text());
                                    _StockId=parseInt($(this).find('.clsID_Stock').text());
 
  
                                    if(_ProductId==value.ID_Product&&_StockId==value.ID_Stock )
                                    {
                                        _cntinue=false;
                                    }

                                });
                                if(_cntinue)
                                {
                                    let stocklabel = ""
                                    if (value.ID_Stock == 0) {
                                        stocklabel = "No Stock";
                                    }
                                    usedQtyId = "clsUsedQty" + id;                                  
                                    _ProductHtml += "<tr id=" + rowCount + ">";
                                    _ProductHtml += "<td>" + rowCount+ "</td>";
                                    _ProductHtml += "<td style='display:none' class='clsID_Product'>" + value.ID_Product + "</td>";
                                    _ProductHtml += "<td style='display:none' class='clsID_Stock'>" + value.ID_Stock + "</td>";
                                    _ProductHtml += "<td  class='clsProduct'>" + value.Product + "</td>";
                                    _ProductHtml += "<td>" + value.BatchNo + "</td>";
                                    _ProductHtml += "<td style='display:none'>" + value.MRP + "</td>";
                                    _ProductHtml += "<td style='display:none'>" + value.SalPrice + "</td>";
                                    _ProductHtml += "<td style='text-align:right'>" + value.PurRate + "</td>";
                                    _ProductHtml += "<td>" + value.ExpiryDate+ "</td>";
                                    _ProductHtml += "<td style='text-align:right'>" + value.CurrentQuantity + "</td>";
                                    _ProductHtml += "<td style='text-align:right' class='clsReqQty'>" + value.Quantity + "</td>";
                                    _ProductHtml += "<td style='width:25%;'><input type='text' id= '" + usedQtyId + "' class='form-control clsUsedQty'  oninput='DecmalCheck(this,3);'   value='" + value.Quantity + "' /><input type='hidden' class='form-control clshdnUsedQty' value='" + value.Quantity + "'  /> </td>";
                                    _ProductHtml += "<td style='text-align:left;color:#fc0303' class='clsStockStatus'>" + stocklabel + "</td>";
                                    _ProductHtml += "</tr>";
                                    var len = $('#ProductTbody').find('tr').length;  
                                    if (len > 0) {
                                        $('#ProductTbody').find('tr:last').after(_ProductHtml);
                                    }
                                    else {
                                        $('#ProductTbody').html(_ProductHtml);
                                    }
                                    id++;
                           }
                           else
                           { 
                               NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': "Details Already Exists!!" });
                           }     
                           });
                                                                             
                        }                             
                    },
                    complete: function () {
                    }
                });
    }
    function SaveProductionStatusMarking(ele) {


        var FK_Employee = $("#hdnmdlFK_Employee").val().trim() == "" ? "0" : $("#hdnmdlFK_Employee").val(), totentrqty = 0; var ProdStatus = "";
        var _continue = true;
        var totQty = $("#AssignedQty").text() == "" ? "0" : $("#AssignedQty").text();
        var Returned = $("#Returned").val().trim() == "" ? 0 : parseFloat($("#Returned").val().trim());
        var Completd = $("#Completed").val().trim() == "" ? 0 : parseFloat($("#Completed").val().trim());
        var Damaged = $("#Damaged").val().trim() == "" ? 0 : parseFloat($("#Damaged").val().trim());
        var FK_ProjectStages = $("#hdnmdlFK_ProjectStages").val().trim() == "" ? "0" : $("#hdnmdlFK_ProjectStages").val().trim();
        var FK_ReturnProjectStage = $("#FK_ReturnProjectStage").val().trim() == "" ? "0" : $("#FK_ReturnProjectStage").val().trim();

        $('.PrdnQty').removeAttr("style");
        var _valid = false;

        totentrqty = Returned + Damaged + Completd;

        if (totentrqty > 0) {
            if (totentrqty > totQty) {
                _continue = false;
                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': "Total Quantity should not exceed Assigned Quantity" });


            }
            if (_continue) {
                if (Returned > 0) {
                    if (FK_ReturnProjectStage == 0) {
                        _continue = false;
                        NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': "Please Select Stage" });
                    }

                } else {
                    FK_ReturnProjectStage = 0;
                }
            }
            if (_continue) {
                var JobCardFollowUpProductDetailList = []; var JcfdQuantity = 0;
                $('#ProductTbody tr').each(function () {

                    JcfdQuantity = parseInt($(this).find('.clsUsedQty').val().trim());

                    if (JcfdQuantity > 0) {
                        var FollowUpProductDetails = {
                            FK_Product: $(this).find('.clsID_Product').text().trim(),
                            FK_Stock: $(this).find('.clsID_Stock').text().trim(),
                            JcfdQuantity: JcfdQuantity
                        };
                        JobCardFollowUpProductDetailList.push(FollowUpProductDetails);
                    }
                });

                var inputData = {//<---- Input Json : this is the variable we pass to controller
                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                    ID_JobCardFollowUp: $("#hdnmdlID_JobCardFollowUp").val().trim(),
                    FK_JobCardAssign: $("#hdnmdlFK_JobCardAssign").val().trim(),
                    FK_Employee: FK_Employee,
                    JcfCompletedQty: Completd,
                    JcfDamagedQty: Damaged,
                    JcfReturnedQty: Returned,
                    FK_ProjectStages: FK_ProjectStages,
                    FK_ReturnProjectStage: FK_ReturnProjectStage,
                    TransMode: ProductionStatusTransMode,
                    JobCardFollowUpProductDetailList: JobCardFollowUpProductDetailList
                };

                let $thisForm = $(ele).closest('[perfect-class="form"]');


                $.ajax({
                    url: "@Url.Action("SaveProductionStatus", "ProductionStatus")",
                    type: "POST",
                    data: inputData,//<---- Input json : data passed to controller
                    dataType: "json",
                    contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {
                        if (ajaxOutput.Process.IsProcess) {
                            var _cntinue = true;
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                if (ajaxOutput.Process.code == 0) {
                                    _cntinue = false;
                                    NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                                } else {
                                    NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                                }
                            });
                            if (_cntinue) {
                                fn_ProductionStatusIndex_initialLoad();
                                $("#modalProdStatusDtls").modal('hide');
                                $("#modalProdStatusDtls").modal({ backdrop: false });
                                $('.modal-backdrop').remove();

                                let onSuccess = $thisForm.attr('perfect-onFormSuccess');

                                if (onSuccess) {

                                    window[onSuccess]();
                                }

                            }






                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) {

                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            });
                        }
                    },
                    complete: function () {
                        $(ele).prop('disabled', false);
                    }

                });



            }

        } else {
            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': "Please enter Completed / Damaged / Return Quantity " });

        }

    }
</script>
<script>
    $(document).ready(function () {
        var Returned = $("#Returned").val().trim() == "" ? 0 : parseFloat($("#Returned").val().trim());
        if (Returned > 0) {
            $("#divStage").show();
        } else {
            $("#StageName").val("");
            $("#FK_ProductionStage").val("0");

        }

    })
    function IntegerCheck(ele, range) {

        let input = $(ele);
        ele.value = ele.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
        let t = ele.value;
        ele.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), range)) : t;
        input.on('keydown', function () {
            if (ele.value.includes('.')) {
            }
            var key = event.keyCode || event.charCode;
            if (key == 8 || key == 46) { }
            else {
                if (ele.value.length == 11) {
                    ele.value = ele.value + '.';
                }
            }
        });
    }
    $(".PrdnQty").keyup(function () {
        CheckTotal(this);

    });

    function CheckTotal(ele) {
        $("#divStage").hide();
        var entrdqty = 0; $(ele).prop("title", "");
        //$('.PrdnQty').prop("style", "border-color:#B1B1B1");
          $('.PrdnQty').removeAttr("style");

        $("#AssignedQty").prop("style", "color:#343434");
        $('.PrdnQty').each(function () {
            entrdqty = entrdqty + parseFloat($(this).val().trim() == "" ? "0" : $(this).val());

        })
        var totQty = $("#AssignedQty").text() == "" ? "0" : $("#AssignedQty").text();
        if (totQty < entrdqty) {

            $('.PrdnQty').each(function () {
                if ($(this).val().trim() == "") {
                    //$(this).prop("style", "border-color:#B1B1B1");
                    $(this).prop("title", "");
                }
                else if (parseFloat($(this).val().trim()) == 0) {
                    //$(this).prop("style", "border-color:#B1B1B1");
                    $(this).prop("title", "");
                } else {
                    $(this).prop("style", "border-color:red");
                    $(this).prop("title", "Total Quantity should not exceed Assigned Quantity");
                }


            });

            $("#AssignedQty").prop("style", "color:red");

        }
        else {
            var Returned = $("#Returned").val().trim() == "" ? 0 : parseFloat($("#Returned").val().trim());
            if (Returned > 0) {
                $("#divStage").show();
            } else {
                $("#StageName").val("");
                $("#FK_ProductionStage").val("0");

            }
        }
    }

    $('.PrdnQty').focus(function () {

        $(this).select();
    })

    $('.PrdnQty').change(function () {
        var Completed = parseFloat( $("#Completed").val().trim() == "" ? "0" : $("#Completed").val().trim());
        var Damaged = parseFloat($("#Damaged").val().trim() == "" ? "0" : $("#Damaged").val().trim());
        var Returned = parseFloat($("#Returned").val().trim() == "" ? "0" : $("#Returned").val().trim());
        var Qty = Completed + Damaged + Returned;
        var UsedQty = 0;
        $(".clsUsedQty").each(function () {
            UsedQty = parseFloat($(this).parent().find(".clshdnUsedQty").val().trim() == "" ? "0" : $(this).parent().find(".clshdnUsedQty").val().trim());
            if (UsedQty > 0) {
                $(this).val(UsedQty * Qty);
            }
        });
    });


    function SaveProductionStatusMarkingConfirm(ele) {


        var FK_Employee = $("#hdnmdlFK_Employee").val().trim() == "" ? "0" : $("#hdnmdlFK_Employee").val(), totentrqty = 0; var ProdStatus = "";
        var _continue = true;
        var totQty = $("#AssignedQty").text() == "" ? "0" : $("#AssignedQty").text();
        var Returned = $("#Returned").val().trim() == "" ? 0 : parseFloat($("#Returned").val().trim());
        var Completd = $("#Completed").val().trim() == "" ? 0 : parseFloat($("#Completed").val().trim());
        var Damaged = $("#Damaged").val().trim() == "" ? 0 : parseFloat($("#Damaged").val().trim());
        var FK_ProjectStages = $("#hdnmdlFK_ProjectStages").val().trim() == "" ? "0" : $("#hdnmdlFK_ProjectStages").val().trim();
        var FK_ReturnProjectStage = $("#FK_ReturnProjectStage").val().trim() == "" ? "0" : $("#FK_ReturnProjectStage").val().trim();

        var JobCardFollowUpProductDetailList = []; var JcfdQuantity = 0;
        $('#ProductTbody tr').each(function () {

            JcfdQuantity = parseInt($(this).find('.clsUsedQty').val().trim());

            if (JcfdQuantity > 0) {
                var FollowUpProductDetails = {
                    FK_Product: $(this).find('.clsID_Product').text().trim(),
                    FK_Stock: $(this).find('.clsID_Stock').text().trim(),
                    JcfdQuantity: JcfdQuantity
                };
                JobCardFollowUpProductDetailList.push(FollowUpProductDetails);
            }
        });

        var inputData = {//<---- Input Json : this is the variable we pass to controller
            __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
            ID_JobCardFollowUp: $("#hdnmdlID_JobCardFollowUp").val().trim(),
            FK_JobCardAssign: $("#hdnmdlFK_JobCardAssign").val().trim(),
            FK_Employee: FK_Employee,
            JcfCompletedQty: Completd,
            JcfDamagedQty: Damaged,
            JcfReturnedQty: Returned,
            FK_ProjectStages: FK_ProjectStages,
            FK_ReturnProjectStage: FK_ReturnProjectStage,
            TransMode: ProductionStatusTransMode,
            JobCardFollowUpProductDetailList: JobCardFollowUpProductDetailList
        };

        let $thisForm = $(ele).closest('[perfect-class="form"]');


        $.ajax({
            url: "@Url.Action("SaveProductionStatus", "ProductionStatus")",
            type: "POST",
            data: inputData,//<---- Input json : data passed to controller
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded;charset=utf-8',
            success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {
                if (ajaxOutput.Process.IsProcess) {
                    var _cntinue = true;
                    $.each(ajaxOutput.Process.Message, function (key, value) {
                        if (ajaxOutput.Process.code == 0) {
                            _cntinue = false;
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                        } else {
                            NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                        }
                    });
                    if (_cntinue) {
                        fn_ProductionStatusIndex_initialLoad();
                        $("#modalProdStatusDtls").modal('hide');
                        $("#modalProdStatusDtls").modal({ backdrop: false });
                        $('.modal-backdrop').remove();

                        let onSuccess = $thisForm.attr('perfect-onFormSuccess');

                        if (onSuccess) {

                            window[onSuccess]();
                        }

                    }

                }
                else {
                    $.each(ajaxOutput.Process.Message, function (key, value) {

                        NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                    });
                }
            },
            complete: function () {
                $(ele).prop('disabled', false);
            }

        });

    }
    function CreateConfirmationBody(ele) {


        var FK_Employee = $("#hdnmdlFK_Employee").val().trim() == "" ? "0" : $("#hdnmdlFK_Employee").val(), totentrqty = 0; var ProdStatus = "";
        var _continue = true;
        var totQty = $("#AssignedQty").text() == "" ? "0" : $("#AssignedQty").text();
        var Returned = $("#Returned").val().trim() == "" ? 0 : parseFloat($("#Returned").val().trim());
        var Completd = $("#Completed").val().trim() == "" ? 0 : parseFloat($("#Completed").val().trim());
        var Damaged = $("#Damaged").val().trim() == "" ? 0 : parseFloat($("#Damaged").val().trim());
        var FK_ProjectStages = $("#hdnmdlFK_ProjectStages").val().trim() == "" ? "0" : $("#hdnmdlFK_ProjectStages").val().trim();
        var FK_ReturnProjectStage = $("#FK_ReturnProjectStage").val().trim() == "" ? "0" : $("#FK_ReturnProjectStage").val().trim();

        $('.PrdnQty').removeAttr("style");
        var _valid = false;

        totentrqty = Returned + Damaged + Completd;

        if (totentrqty > 0) {
            if (totentrqty > totQty) {
                _continue = false;
                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': "Total Quantity should not exceed Assigned Quantity" });


            }
            if (_continue) {
                if (Returned > 0) {
                    if (FK_ReturnProjectStage == 0) {
                        _continue = false;
                        NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': "Please Select Stage" });
                    }

                } else {
                    FK_ReturnProjectStage = 0;
                }
            }
            if (_continue) {      
                var Validpdt = true;
                $('#ProductTbody tr').each(function () {
                    debugger
                    let JcfdQuantity = parseFloat($(this).find('.clsUsedQty').val().trim() == "" ? 0 : $(this).find('.clsUsedQty').val().trim());
                    let JcfdReqQuantity = parseInt($(this).find('.clsReqQty').text().trim() == "" ? "0" : $(this).find('.clsReqQty').text().trim());
                    let Product = $(this).find('.clsProduct').text().trim();
                    let ID_Stock = parseInt($(this).find('.clsID_Stock').text().trim());

                    if (ID_Stock == 0 && JcfdQuantity>0) {
                        $('#NoStockLabel').text(`No Stock Available for ${Product}`);
                        NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': `No Stock Available for ${Product}`});
                        //$('.NoStockModal').modal('show');
                        Validpdt = false;
                        return false;
                    }

                });
                if (Validpdt) {
                    var isvalid = true;
                    //invalid-feedback
                    var JobCardFollowUpProductDetailList = [];
                    var JcfdQuantity = 0;
                    var JcfdReqQuantity = 0;
                    var Product = 0;
                    var Qty = 0;
                    var QtyRequired = 0;
                    let quantities = {};
                    let reqquantities = {};
                    let products = {};
                    debugger
                    // First, iterate over each row to calculate the total quantities and collect the product information.
                    $('#ProductTbody tr').each(function () {
                        debugger
                        let JcfdQuantity = parseFloat($(this).find('.clsUsedQty').val().trim() == "" ? 0 : $(this).find('.clsUsedQty').val().trim());
                        let JcfdReqQuantity = parseFloat($(this).find('.clsReqQty').text().trim() == "" ? "0" : $(this).find('.clsReqQty').text().trim());
                        let ID_Product = parseFloat($(this).find('.clsID_Product').text().trim());

                        if (!quantities[ID_Product]) {
                            quantities[ID_Product] = 0;
                            reqquantities[ID_Product] = 0;
                            products[ID_Product] = {
                                ID_Product: ID_Product,
                                ID_Stock: $(this).find('.clsID_Stock').text().trim(),
                                Product: $(this).find('.clsProduct').text().trim(),
                                ReqQuantity: parseFloat( $(this).find('.clsReqQty').text().trim()),
                                QuantityEdit: parseFloat(isNaN($(this).find('.clsUsedQty').val().trim()) ? 0 : $(this).find('.clsUsedQty').val().trim())
                            };
                        }
                        Qty += parseFloat(JcfdQuantity);
                        QtyRequired += parseFloat(JcfdReqQuantity);
                        quantities[ID_Product] += JcfdQuantity;
                        reqquantities[ID_Product] += JcfdReqQuantity;

                    });

                    debugger
                    if (parseFloat(Qty) !== parseFloat(QtyRequired)) {
                        isvalid = false;
                       
                    }
                    else {
                        $.each(products, function (ID_Product, product) {
                            if (quantities[ID_Product] != reqquantities[ID_Product]) {
                                isvalid = false;
                            }

                        });
                    }
                    if (isvalid == false) {
                        debugger
                        let rowCount = 0;
                        let $ConfirmBody = '';
                        console.log('products>>>>>>', products)
                        $.each(products, function (ID_Product, product) {
                            rowCount++;
                            let check = 'fa fa-check';
                            let color = 'color:#0aab30';
                            let iconHtml = `<i class="${check}" style="${color}"></i>`;
                            if (parseFloat(reqquantities[ID_Product]) == parseFloat(quantities[ID_Product])) {
                                check = 'fa fa-check';
                                color = 'color:#0aab30';
                                iconHtml = `<i class="${check}" style="${color}"></i>`;

                            }
                            else if (parseFloat(reqquantities[ID_Product]) != parseFloat(quantities[ID_Product])) {
                                check = 'fa fa-times';
                                color = 'color:#fc0303';
                                iconHtml = `<i class="${check}" style="${color}"></i>`;
                            }

                            let usedQtyId = 'usedQty' + rowCount;
                            $ConfirmBody += "<tr id=" + rowCount + ">";
                            $ConfirmBody += "<td>" + rowCount + "</td>";
                            $ConfirmBody += "<td style='display:none' class='clsID_Product'>" + product.ID_Product + "</td>";
                            $ConfirmBody += "<td style='display:none' class='clsID_Stock'>" + product.ID_Stock + "</td>";
                            $ConfirmBody += "<td class='usedproduct'>" + product.Product + "</td>";
                            $ConfirmBody += "<td style='text-align:right;width:35%;' class='reqdqty'>" + reqquantities[ID_Product] + "</td>";
                            $ConfirmBody += "<td style='width:35%;text-align:right' class='usedqty'>" + quantities[ID_Product] + "</td>";
                            $ConfirmBody += "<td style='width:35%;text-align:right' class='check'>" + iconHtml + "</i></td>";
                            $ConfirmBody += "</tr>";
                        });
                        $("#UsedQty").text(Qty);
                        $("#ReqQty").text(QtyRequired);
                        $('#ProductConfirmbody').empty();
                        $('#ProductConfirmbody').append($ConfirmBody);
                        $('.bd-example-modal-lg').modal('show');
                        //$('#ProductConfirmhead').modal('show');
                    }
                    else {
                        SaveProductionStatusMarkingConfirm(ele);
                    }
                }
            }

        } else {
            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': "Please enter Completed / Damaged / Return Quantity " });

        }

    }

    function DecmalCheck(ele, range) {
        var id = $(ele).attr('id');  
 
      

            let input = $('#' + id);

        ele.value = ele.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');
     
        let t = ele.value; 
            ele.value = (t.indexOf(".") >= 0) ? (t.substr(0, t.indexOf(".")) + t.substr(t.indexOf("."), range)) : t;

            $(document).on('keydown', '#' + id, function (event) {

                if (ele.value.includes('.')) {

                }
                else if (ele.value === '.' && (event.key === '.' || event.keyCode === 190)) {
                    ele.value = '0.00'; // Change the value to '0.00' if only a dot is entered
                    // Prevent the dot from being entered in the input field
                }
                var key = event.keyCode || event.charCode;
                if (key == 8 || key == 46) { }
                else {
                    if (ele.value.indexOf('.') < 0 && ele.value.indexOf('.') !== 9 && ele.value.length > 8) {
                        ele.value = ele.value + '.';
                    }
                }

            });     

    };

</script>