@model  List<PerfectWebERP.Models.CommonModel.MenuList>


@helper CreateQuickNode(PerfectWebERP.Models.CommonModel.MenuList menuList)
{
                  
                    if (menuList.MenuListVisible)
                    {
                     
                        <a href="@menuList.MenuListLink">
                            <div class="media mr-2 media-primary">
                                <i class="@menuList.MenuIconImage"></i>
                            </div>
                        </a>
                    }
}



@*<div class="container-fluid">
    <div class="row">
        <div class="col-xl-12">*@
@*<div class="d-sm-flex align-items-center mb-3 mt-sm-0 mt-2">
        <h4 class="text-black fs-20 mr-auto text-primary">Quick Access</h4>
        <nav>
            <ul class="pagination pagination-circle">
                <li class="page-item page-indicator">
                    <a class="page-link perfect-quick-menu-list-prevbtn " href="#">
                        <i class="la la-angle-left"></i>
                    </a>
                </li>




                <li class="page-item page-indicator">
                    <a class="page-link perfect-quick-menu-list-nextbtn" href="#">
                        <i class="la la-angle-right"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>*@
@*<div >*@



@foreach (var sideData in Model)
{


                        @*<div class="col">
                            <div class="timeline-panel">*@

                                @CreateQuickNode(sideData)

}

        @*</div>*@







                                @*</div>
            </div>
        </div>*@

                                @*<div class="widget-stat card">
            <div class="card-body p-4">
                <div class="media ai-icon">
                    <span class="mr-3  text-primary">
                        <img src="@menuList.MenuIcon" />

                    </span>
                    <div class="media-body">
                        <h6 class="fs-16 text-black font-w600"> @menuList.MenuListName</h6>
                        <a href="@menuList.MenuListLink"><span class="text-primary font-w500 ml-0">@menuList.MenuListName</span></a>
                    </div>
                </div>
            </div>
        </div>*@
