@model  List<PerfectWebERP.Models.ViewModel.SideMenu>

@helper CreateNode(PerfectWebERP.Models.ViewModel.SideMenu sideMenu)
{
    if (sideMenu.HasURL)
    {
        <li>
            <a href="@sideMenu.PageURL" class="@(String.IsNullOrWhiteSpace(@sideMenu.Icon) ? "" : "ai-icon")" aria-expanded="false">
                @if (String.IsNullOrWhiteSpace(@sideMenu.Icon))
                {
                    @sideMenu.Name
                }
                else
                {
                    <i class="@sideMenu.Icon"></i>
                    <span class="nav-text">@sideMenu.Name</span>
                }

            </a>
        </li>
    }
    else
    {
        <li>
            <a class="has-arrow @(String.IsNullOrWhiteSpace(@sideMenu.Icon) ? "" : "ai-icon")" href="javascript:void()" aria-expanded="false">

                @if (String.IsNullOrWhiteSpace(@sideMenu.Icon))
                {
                    @sideMenu.Name
                }
                else
                {
                    <i class="@sideMenu.Icon"></i>
                    <span class="nav-text">@sideMenu.Name</span>
                }
            </a>
            <ul aria-expanded="false">
                @foreach (var rowOne in sideMenu.SubMenu)
                {
                    @CreateNode(rowOne)
                }

            </ul>
        </li>
    }
}


@foreach (var sideData in Model)
{
    @CreateNode(sideData)
}
