@model  List<PerfectWebERP.Models.ProfileModel.ProfileDetails>

<style>
    .photo-content .cover-photo {
        background: url('../../Assets/images/logo-full.png');
        background-size: cover;
        background-position: center;
        min-height: 250px;
        width: 100%;
    }

    .profile .profile-photo {
        margin-top: 0px !important;
    }

    .profilebackground {
        background: linear-gradient(39deg, #eef1f1 10%, #f8f6f2 50%, #e1fdff 120%) !important;

    }
    .profilenambackground {
        /*background: linear-gradient(39deg, #e1fdff 10%, #f8f6f2 50%, #eef1f1 120%) !important;*/
    }
    a {
        color: #2aa2ad;
    }

        a:hover, a:focus, a.active {
            color:red;
            text-decoration: none;
        }

    .img-fluid {
        width: 230px;
        height: 230px;
        border-radius: 230px;
        background-color: #ffffff !important;
        box-shadow: -10px 1px 12px 0 #0000001f !important;
        border: 1px solid #dadce0 !important;
    }

</style>


@helper CreateQuickNode(PerfectWebERP.Models.ProfileModel.ProfileDetails ProfileList)
{
    if (!String.IsNullOrEmpty(ProfileList.EmpName))
    {
<div class="row">
    <div class="col-sm-4 profilenambackground">

        <div>
            <div class="">
                <div class="">

                    @{
                        string userimage = Html.Action("UserImage", "Home").ToString();
                        if (userimage == "" || userimage == null)
                        { <img src="~/Assets/images/profile/17.jpg" class="img-fluid" alt="" />
                        }

                        else
                        {
                            <img src="@Html.Action("UserImage", "Home")" class="img-fluid" alt="">

                        }
                    }

                </div>
                <div class="profile-details">
                    <div class="profile-name px-3 pt-2" style="text-align:center">
                        <h4 class="text-primary mb-0 " style="font-weight:bold">@ProfileList.EmpName &nbsp;&nbsp;@ProfileList.LEmployeeName</h4>
               
                        <p style="font-size:large">@ProfileList.DesName</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-sm-8 profilebackground">
        <div class="card profilebackground">
            <div class="card-body">
                <div class="profile-tab">
                    <div class="custom-tab-1">
                        <ul class="nav nav-tabs">

                            <li class="nav-item">
                                <a href="#about-me" data-toggle="tab" class="nav-link active">Personal Information</a>
                            </li>
                            @*<li class="nav-item">
                                    <a href="#profile-settings" data-toggle="tab" class="nav-link">Settings</a>
                                </li>*@
                        </ul>
                        <div class="tab-content">
                            <div id="about-me" class="tab-pane fade active show">
                                <div class="profile-personal-info">
                                    <br /><br />
                                    <div class="row mb-2">
                                        <div class="col-sm-4">
                                            <h5 class="f-w-500">
                                                Name <span class="pull-right">:</span>
                                            </h5>
                                        </div>
                                        <div class="col-sm-8">
                                            <span>@ProfileList.EmpName &nbsp;&nbsp;@ProfileList.LEmployeeName</span>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-sm-4">
                                            <h5 class="f-w-500">
                                                Employee Code <span class="pull-right">:</span>
                                            </h5>
                                        </div>
                                        <div class="col-sm-8">
                                            <span>@ProfileList.EmpCode</span>
                                        </div>
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-sm-4">
                                            <h5 class="f-w-500">
                                                Mobile <span class="pull-right">:</span>
                                            </h5>
                                        </div>
                                        <div class="col-sm-8">
                                            <span>@ProfileList.EmpEmrgContactNum</span>
                                        </div>
                                    </div>
                                    @*<div class="row mb-2">
            <div class="col-sm-4">
                <h5 class="f-w-500">Designation <span class="pull-right">:</span></h5>
            </div>
            <div class="col-sm-8">
                <span>@ProfileList.DesName (@ProfileList.EmptyName)</span>
            </div>
        </div>*@
                                    <div class="row mb-2">
                                        <div class="col-sm-4">
                                            <h5 class="f-w-500">Department <span class="pull-right">:</span></h5>
                                        </div>
                                        <div class="col-sm-8">
                                            <span>@ProfileList.DeptName </span>
                                        </div>
                                    </div>

                                    <div class="row mb-2">
                                        <div class="col-sm-4">
                                            <h5 class="f-w-500">Address <span class="pull-right">:</span></h5>
                                        </div>
                                        <div class="col-sm-8">
                                            <span>
                                                @ProfileList.Address
                                            </span>
                                        </div>
                                    </div>

                                    @*<div class="row mb-2">
                                        <div class="col-sm-4">
                                            <h5 class="f-w-500">Last login <span class="pull-right">:</span></h5>
                                        </div>
                                        <div class="col-sm-8">
                                            <span>
                                                @ProfileList.LastonlineDate &nbsp; @ProfileList.LastOnlineTime
                                            </span>
                                        </div>
                                    </div>*@
                                    <div class="row mb-2">
                                        <div class="col-sm-4">
                                            <h5 class="f-w-500"> <span class="pull-right"></span></h5>
                                        </div>

                                    </div>
                                    <div class="row mb-2">
                                    
                                    </div>
                                    <div class="row mb-2">
                                        <div class="col-4">
                                            
                                        </div>
                                        <div class="col-8">
                                            <span>
                                                <a href="@Url.Action("UserChangepasswordindex","UserChangepassword")" style="text-align:left;font-weight: 500;">Change Password</a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                </div>
                            <div id="profile-settings" class="tab-pane fade">
                                <div class="pt-3">
                                    <div class="settings-form">
                                        <h4 class="text-primary">Account Setting</h4>
                                        <form>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>Email</label>
                                                    <input type="email" placeholder="Email" class="form-control">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label>Password</label>
                                                    <input type="password" placeholder="Password" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>Address</label>
                                                <input type="text" placeholder="1234 Main St" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                <label>Address 2</label>
                                                <input type="text" placeholder="Apartment, studio, or floor" class="form-control">
                                            </div>
                                            <div class="form-row">
                                                <div class="form-group col-md-6">
                                                    <label>City</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group col-md-4">
                                                    <label>State</label>
                                                    <select class="form-control" id="inputState">
                                                        <option selected="">Choose...</option>
                                                        <option>Option 1</option>
                                                        <option>Option 2</option>
                                                        <option>Option 3</option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-2">
                                                    <label>Zip</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" id="gridCheck">
                                                    <label class="custom-control-label" for="gridCheck"> Check me out</label>
                                                </div>
                                            </div>
                                            <button class="btn btn-primary" type="submit">
                                                Sign
                                                in
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

   
</div>
   
    }

}


@foreach (var sideData in Model)
{

    @CreateQuickNode(sideData)

}
