
@{
    ViewBag.Title = "Customer Type";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    @Html.AntiForgeryToken()  @*//antiforgery token*@


    <div class="row">
        <div class="col-lg-12" id="jq_customerType_formContainer">

        </div>
    </div>


</div>

@section scripts{

<script type="text/javascript">

        //--- Form
        const $formContainer = $('#jq_customerType_formContainer');
        //--- Common table settings for this page
        var tableOptions = {
            dropdown: {
                buttons: [


                
               @if (ViewBag.PagedAccessRights.UsrrlTyView) {
        <text> { displayName: "View", action: fn_customerType_loadCustomerTypeUpdateForm },</text>
    }

                    { type: "divider" },
     @if (ViewBag.PagedAccessRights.UsrrlTyDel)
             {
                 <text> { displayName: "Delete", action: fn_customerType_deleteCustomerType },</text>

              }
                  
                ],
                class: "btn btn-success light sharp"
            },
            onlyShowColumn: ["SlNo","CustomerTypeName", "ShortName"],
            hideColumn: [],

            rowClickAction: fn_customerType_loadCustomerTypeUpdateForm,
           //serialNo: true,

            renameHeader: { "SlNo": "Sl No", "CustomerTypeName": "Name", "CuscattyShortName": "ShortName", "CustyDefault": "Default" }

        };



        // Initial load functions
        $(document).ready(function () {

            fn_customerType_initialload();
        });

        var validationMessage = {
            'CustomerTypeName': {
                'required': 'Please Enter a Name',
                'maxlength': jQuery.validator.format(' Name should be less than {0} characters'),
                'stringonly': 'Special characters are not allowed in  Name'

            },
            'ShortName': {
                'required': 'Please Enter a Short Name',
                'maxlength': jQuery.validator.format(' Name should be less than {0} characters'),
                'alphanumeric': 'Special characters are not allowed in short name'
            },

            'SectorID': {
                'required': 'Please Select a Sector',
                'digits': 'Invalid Sector selected'
            },
            'CategoryID': {
                'required': 'Please Select a Category',
                'digits': 'Invalid Category selected'
            },

        };

    function fn_customerType_initialload() {
             @if (ViewBag.PagedAccessRights.UsrrlTyView)
              {
                 <text>  fn_customerType_loadCustomerType(this); </text>
              }
           
            fn_customerType_loadCustomerTypeAddForm();
        }

        // Fucntion to load CustomerList



    function fn_customerType_loadCustomerType(ele) {
        let $sidemenu = $sideMenuOptions.body;
       
       // let $thisForm = $(ele).closest('.Search-Control');

        let $thisForm = $(ele).closest('.testSearchBox');
        let SearchName = $thisForm.find('input').val();
        console.log("GH",SearchName)
        $sideMenuOptions.title.find('h4').text('Customer Type List');
          let pageUrl = '@Url.Action("GetCustomerTypeList", "CustomerType")';
            $.ajax({
                url:pageUrl,
                type: "POST",
                data: { pageSize: 15, pageIndex: 0, Name: SearchName },
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (ajaxOutput) {


                          if (ajaxOutput.Process.IsProcess) {
                              console.log('CustomerType', ajaxOutput);
                              $sidemenu.find('.jq_sidemenu_title').text("CustomerType");

                              $sidemenu.empty().append('<div class="d-flex justify-content-end mb-2 position-relative"><div class="col-md-6 position-absolute top-1 z-index"> <div class="input-group testSearchBox"><input type="text" class="form-control " name="SearchName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input"  /><div class="input-group-append"><button id="addcountry-jq-searchButton6" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="fn_customerType_loadCustomerType(this)"></button></div></div></div></div>', $('<div/>', {class:"col-md-12 table_temp_class"}).html(pft_table_createtable(ajaxOutput.Data, tableOptions)))
                             // $sidemenu.find('table').dataTable({ paging: true });


                              let $table = $sidemenu.find('table');
                              $table.dataTable({
                                  "serverSide": true,//no change
                                  "processing": true,//-- process text when clicked
                                  //"lengthChange": false,
                                  "lengthMenu": [10, 15, 20, 25, 50, 100],//---drop down page size
                                  "searching": false,//--no change
                                  "ordering": false,//--sorting
                                  "deferLoading": ajaxOutput.totalrecord,//<----to total number of record from db
                                  "displayStart": ajaxOutput.pageIndex * ajaxOutput.pageSize,//<----starting record
                                  "pageLength": ajaxOutput.pageSize,//<----page size
                                  "recordsFiltered": ajaxOutput.pageSize,//<---page size

                                  "ajax": returnajaxPagination({ apiurl: pageUrl, pageSize: ajaxOutput.pageSize, searchkey: SearchName }, tableOptions, $table)
                              });

                          }
                else {
                              if (ajaxOutput.Process.Status = "NoData") {
                                 
                                  $sidemenu.find('.jq_sidemenu_title').text("CustomerType");

                                  $sidemenu.empty().append('<div class="d-flex justify-content-end mb-2"><div class="col-md-6 position-absolute top-1 z-index"> <div class="input-group testSearchBox"><input type="text" class="form-control " name="SearchName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input"  /><div class="input-group-append"><button id="addcountry-jq-searchButton6" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="fn_customerType_loadCustomerType(this)"></button></div></div></div></div>', $('<div/>', { class: "col-md-12 table_temp_class" }).html(pft_table_createtable(ajaxOutput.Data, tableOptions)))
                        // $sidemenu.find('table').dataTable({ paging: true });


                        let $table = $sidemenu.find('table');
                        $table.dataTable({
                            "serverSide": true,//no change
                            "processing": true,//-- process text when clicked
                           // "lengthChange": false,
                           "lengthMenu": [],//---drop down page size
                            "searching": false,//--no change
                            "ordering": false,//--sorting
                            "deferLoading": ajaxOutput.totalrecord,//<----to total number of record from db
                            "displayStart": ajaxOutput.pageIndex * ajaxOutput.pageSize,//<----starting record
                            "pageLength": ajaxOutput.pageSize,//<----page size
                            "recordsFiltered": ajaxOutput.pageSize,//<---page size

                            "ajax": returnajaxPagination({ apiurl: pageUrl, pageSize: ajaxOutput.pageSize }, tableOptions, $table)
                        });
                    }
                    else {
                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                        });
                    }
                }




            },
            complete: function () {

            }
        });
    }
    function returnajaxPagination(ajaxInfo, tableOptions, tableid) {
        //{ apiurl, pageSize }
        return {
            url: ajaxInfo.apiurl,
            type: "post",
            data: function () {
                var info = tableid.DataTable().page.info();
                console.log('RETURN AJAX', info)
                //return { <antiforgery>:<antiforgery>, length: ajaxInfo.pageSize, page: info.page }
                let input = { pageSize: info.length, pageIndex: info.page };
                if (ajaxInfo.searchkey) {
                    input["Name"] = ajaxInfo.searchkey;
                }
                return input
            },
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            success: function (dtajaxOutput) {
                // $sideMenuOptions.body.html(pft_table_createtable(dtajaxOutput.Data, tableOptions));
                let table = tableid.DataTable();
                table.destroy();
                pft_table_newTableBody(tableid, dtajaxOutput.Data, tableOptions);

                tableid.dataTable({
                    "serverSide": true,
                    "processing": true,
                    //"lengthChange": false,
                    "lengthMenu": [10, 15, 20, 25, 50, 100],
                    "searching": false,
                    "ordering": false,
                    "deferLoading": dtajaxOutput.totalrecord,
                    "displayStart": dtajaxOutput.pageIndex * dtajaxOutput.pageSize,
                    "pageLength": dtajaxOutput.pageSize,
                    "recordsFiltered": dtajaxOutput.pageSize,
                    "ajax": returnajaxPagination(ajaxInfo, tableOptions, tableid)
                })

            },

        }
    }
     


        // Fucntion to load Customer ADD form
        function fn_customerType_loadCustomerTypeAddForm() {


            $formContainer.load('@Url.Action("LoadCustomerTypeForm", "CustomerType")', function () {
                let $thisForm = $(this).find('[perfect-class="form"]');

                // ... Custom validation message
                $thisForm.validate({ messages: validationMessage });
                // ... Custom validation message
                $thisForm.attr('perfect-onFormSuccess', 'fn_customerType_initialload');

                initFunctions($thisForm);
            });

        };
        // Function to load customer Update from
        function fn_customerType_loadCustomerTypeUpdateForm() {

            let $thisRow = $(this).closest('tr');
            let saveddata = $thisRow.data('pData');
            $('.dataTable tr').removeClass("SelectForDelete");
            $(this).closest('tr').addClass('SelectForDelete');
            console.log('View click', saveddata)
            let inputData = {
               __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(), //antiforgery token
                CustomerTypeID: saveddata.CustomerTypeID
            };

            $.ajax({
                url: "@Url.Action("GetCustomerTypeInfo", "CustomerType")",
                type: "POST",
                data: inputData,
                // dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",  //antiforgery token
                success: function (ajaxOutput) {

                    if (ajaxOutput.Process.IsProcess) {
                        //process is success
                        $formContainer.load('@Url.Action("LoadCustomerTypeForm", "CustomerType")', function () {

                            let $thisForm = $(this).find('[perfect-class="form"]');

                            $(this).find('[perfect-class=formTitle]').text('update : ' + ajaxOutput.Data[0].CustomerTypeName)
                            console.log('Inside load');
                            // ... Custom validation message
                            $thisForm.validate({ messages: validationMessage });
                // ... Custom validation message
                            //initFunctions($thisForm);

                            $thisForm.data({ pData: ajaxOutput.Data[0] });

                            // Fill fields
                            $thisForm.find('[name="CustomerTypeName"]').val(ajaxOutput.Data[0]['CustomerTypeName']);
                            $thisForm.find('[name="Priority"]').val(ajaxOutput.Data[0]['Priority']);
                            $thisForm.find('[name="ShortName"]').val(ajaxOutput.Data[0]['ShortName']);
                            $thisForm.find('[name="SortOrder"]').val(ajaxOutput.Data[0]['SortOrder']);
                            $thisForm.find('[name="SectorID"]').val(ajaxOutput.Data[0]['SectorID']).selectpicker('refresh');
                            $thisForm.find('[name="CategoryID"]').val(ajaxOutput.Data[0]['CategoryID']).selectpicker('refresh');
                            $thisForm.find('[name=CusTypeDefault]').prop('checked', ajaxOutput.Data[0].CustyDefault);
                            // stuff to do after filling data
                            $sideMenuOptions.close();//<---  Close side menu
                            $thisForm.find('button[name=add]').addClass('d-none');//<--- hide add cunsomer button
                            $thisForm.find('button[name=update]').removeClass('d-none');//<--- show update cunsomer button

                            $thisForm.attr('perfect-onFormSuccess', 'fn_customerType_initialload');

                        });
                    }
                    else {
                        //Error occured
                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                            $('.dataTable tr').removeClass("SelectForDelete");
                        });
                    }
                }
            });
    };

        // Function to delete customer
        function fn_customerType_deleteCustomerType() {
             let $row = $(this).closest('tr');

            let Saveddata = $row.data('pData');

            $('.dataTable tr').removeClass("SelectForDelete");
            $(this).closest('tr').addClass('SelectForDelete');

            let inputData = {
                __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(), //antiforgery token
                CustomerTypeID: Saveddata['CustomerTypeID']
            };
            //console.log('Delete function', Saveddata)


            $.ajax({
                   url: "@Url.Action("GetCustomerReasonList", "Customer")",
                   type: "GET",
                  // data: inputReason,
                   contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                   success: function (ajaxReasonOutput) {
                       if (ajaxReasonOutput.Process.IsProcess) {

                           //let confirmationDialogBoxOption = { heading: "Confirm Delete?", body: "Do you want to remove " + Saveddata.Place + " ?", cancel: "No", confirm: "Yes", reason: ajaxReasonOutput.Data };
                           //let confirmationDialogBoxOption = { body: "Do you want to remove  ?", cancel: "No", confirm: "Yes", reason: ajaxReasonOutput.Data };
                           let confirmationDialogBoxOption = { heading: "Are you Sure?", body: "Do you want to remove    " + Saveddata.CustomerTypeName + " ?", cancel: "No", confirm: "Yes", reason: ajaxReasonOutput.Data };
                          // var confirmBoxObj = ConfirmDialog(confirmationDialogBoxOption);
                           var res = ConfirmDialog(confirmationDialogBoxOption);
                            res.then(function (ret) {
                                if (ret) {

                                    let inputData = {
                                        __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(), //antiforgery token
                                        CustomerTypeID : Saveddata.CustomerTypeID,
                                        ReasonID: ret
                                    };

                                    $.ajax({
                                        url: "@Url.Action("DeleteCustomerType", "CustomerType")",
                                        type: "POST",
                                        data: inputData, //antiforgery token removed json.stringify
                                        contentType: "application/x-www-form-urlencoded; charset=utf-8",//antiforgery token changed json->x-www-form-urlencode...
                                        success: function (data) {

                                            if (data.Process.IsProcess) {
                                                let table = $row.closest('table').DataTable()
                                                table.row($row).remove().draw();
                                                $.each(data.Process.Message, function (key, value) {
                                                    //toastr.success(value, "Success");
                                                    NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': 'Deleted Successfully' });
                                                });
                                                $('.dataTable tr').removeClass("SelectForDelete");
                                            }
                                            else {
                                                $.each(data.Process.Message, function (key, value) {
                                                    // toastr.warning(value, "Error");
                                                    NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                                                    $('.dataTable tr').removeClass("SelectForDelete");
                                                });
                                            }
                                            //row.remove();
                                            //$(row).closest('table').reload()


                                        }
                                    });
                                }
                                else {
                                    //toastr.warning("Clicked no in comfirmation box", "Confirmation Box in table");
                                    NotificationMessage({ 'message': 'No option selected' });
                                }
                            });

                       }
                }

            });

        };









</script>
}