
@model  PerfectWebERP.Models.SubsciptionModel.SubscriptionView
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Perfect: WebTemplate" />
    <meta property="og:title" content="Perfect: WebTemplate" />
    <meta property="og:description" content="Perfect: WebTemplate" />
    <meta property="og:image" content="page-error-404.html" />
    <meta name="format-detection" content="telephone=no">
    <title>Perfect Software Solution</title>
    <!-- Favicon icon -->
    <link rel="icon" type="Assets/image/png" sizes="16x16" href="~/Assets/images/favicon.png">

    <!-- Form step -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/vendor/jquery-smartwizard/dist/css/smart_wizard.min1.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/css/style.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/css/custom.min.css")" />
    @Scripts.Render("~/bundles/jquery")
    <style>
        .lower-letters {
            text-transform: lowercase;
        }

        ::placeholder { /* Standard syntax */
            text-transform: none;
        }
        .modal-body {
            padding: 0px 1.875rem 1.875rem 1.875rem;
           
        }
        .bullet-list li{
            list-style: disc;
           
        }
            
    </style>
</head>

<body class="h-100 bg-white">

    <div class="authincation">
        <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">
            
                <div class="full-width">
                    <div class="authincation-screen">
                        <div class="left-side" id="SmartWizard_Form">
                            <div class="authincation-content">
                                <div class="auth-form">
                                    <div><div class="text-center mb-7">
    <a href="#"><img src="~/Assets/images/Persuite-logo.svg" alt="logo" class="img-ps"></a>
</div></div>
                                    <div>
                                        <div id="smartwizard" class="form-wizard order-create ">
                                            <ul class="nav nav-wizard">
                                                <li>
                                                    <a class="nav-link " href="#Details">
                                                        <span>01</span>
                                                        <p class="mb-0">Details</p>
                                                    </a>

                                                </li>
                                                <li>
                                                    <a class="nav-link" href="#Password">
                                                        <span>02</span>
                                                        <p class="mb-0">Password</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="#Preferences">
                                                        <span>03</span>
                                                        <p class="mb-0">Preferences</p>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a class="nav-link" href="#Subsciption">
                                                        <span>04</span>
                                                        <p class="mb-0">Subscription</p>
                                                    </a>
                                                </li>
                                            </ul>
                                            @Html.AntiForgeryToken()

                                            <div class="tab-content">

                                                <div id="Details" class="tab-pane" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-lg-6 mb-2 ">
                                                            <div class="form-group psw__error" perfect-class="formGroup">
                                                                <div>
                                                                    <label class="text-label">First Name<span class="text-danger">*</span></label>

                                                                    <input type="text" name="FirstName" id="FirstName" placeholder="Enter First Name" maxlength="150" class="form-control validate" required>
                                                                    <div class="text-danger temptableError position-absolute"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6 mb-2">

                                                            <div class="form-group psw__error" perfect-class="formGroup">
                                                                <div>
                                                                    <label class="text-label">Last Name<span class="text-danger">*</span></label>

                                                                    <input type="text" name="lastName" id="lastName" placeholder="Enter Last Name" maxlength="150" class="form-control validate" required>
                                                                    <div class="text-danger temptableError position-absolute"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 mb-2">
                                                            <div class="form-group psw__error" perfect-class="formGroup">
                                                                <label class="text-label">Business Email<span class="text-danger">*</span></label>
                                                                <input type="text" class="form-control validate" maxlength="50" placeholder="Enter Email" id="email" name="email" onchange="checkEmailExistence(this)" aria-describedby="inputGroupPrepend2" required>
                                                                <div class="text-danger temptableError position-absolute"></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 mb-2">
                                                            <div class="form-group psw__error" perfect-class="formGroup">
                                                                <label class="text-label">Phone Number<span class="text-danger">*</span></label>
                                                                <div class="row">
                                                                    <div class="col-3 col-sm-2 col-xs-2">
                                                                        <input type="text" name="phNumber" class="form-control perfectValidate_numeric" placeholder="+91" value="+91" required readonly>
                                                                    </div>

                                                                    <div class="col-9 col-sm-10 col-xs-10">
                                                                        <input type="text" name="phoneNumber" minlength="10" placeholder="Enter Phone Number" maxlength="10" id="phoneNumber" onchange="checkPhoneExistence(this)" class="form-control perfectValidate_numeric validate" required>
                                                                        <div class="text-danger temptableError position-absolute"></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-12 mb-3">
                                                            <div class="form-group psw__error" perfect-class="formGroup">
                                                                <label class="text-label">Company Name<span class="text-danger">*</span></label>
                                                                <input type="text" name="companyname" id="companyname" placeholder="Enter Company Name" maxlength="150" class="form-control validate" required>
                                                                <div class="text-danger temptableError position-absolute"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div id="Password" class="tab-pane" role="tabpanel">
                                                    <div class="row">
                                                        <div class="col-lg-12 mb-2">
                                                            <div class="form-group psw__error" perfect-class="formGroup">
                                                                <label class="text-label">User Code<span class="text-danger">*</span></label>
                                                                <input type="text" name="UserName" id="UserName" placeholder="Enter User Code" onchange="checkExistence(this);" maxlength="10" class="form-control validate lower-letters" required>
                                                                <div class="text-danger temptableError position-absolute"></div>
                                                                @*<div id="val-username-error" class="invalid-feedback animated fadeInUp" style="display: block;"> <img src="~/Assets/images/valid.svg" alt="al-username-error" class=""> This username is already taken. Please try with another username</div>*@
                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12 mb-2">

                                                            <div class="form-group position-relative psw__error" perfect-class="formGroup">
                                                                <label class="text-label">Enter Password<span class="text-danger">*</span></label>
                                                                <input class="form-control valid validate" type="password" maxlength="16" name="enterPW" placeholder="Enter Password" id="enterPW" required>
                                                                <div class="input-group-append show-pass">
                                                                    <span class="input-group-text">
                                                                        <i id="eye" class="fa fa-eye-slash"></i>
                                                                    </span>
                                                                </div>
                                                                <div class="text-danger temptableError position-absolute"></div>
                                                                <!-- <i class="fa fa-eye"></i> -->
                                                            </div>


                                                            <div class="row">
                                                                <div class="col-sm-12 mb-4">
                                                                    <span><i id="length" class="fa fa-check-circle unchecked" aria-hidden="true"> </i> Minimum 8 Characters Long </span><br>
                                                                    <span><i id="uppercase" class="fa fa-check-circle unchecked" aria-hidden="true"></i> Include at least 1 uppercase letter </span><br>
                                                                    <span><i id="number" class="fa fa-check-circle unchecked" aria-hidden="true"></i> Include at least one number </span> <br>
                                                                    <span><i id="specialChar" class="fa fa-check-circle unchecked" aria-hidden="true"></i> Include at least 1 special character  </span>

                                                                </div>



                                                            </div>
                                                        </div>

                                                        <div class="col-lg-12 mb-2">
                                                            <div class="form-group position-relative psw__error" perfect-class="formGroup">
                                                                <label class="text-label">Re-Enter Password<span class="text-danger">*</span></label>
                                                                <input class="form-control valid validate" type="password" placeholder="Re-Enter Password" maxlength="16" name="ReenterPW" id="ReenterPW" required>
                                                                <div class="input-group-append show-pass">
                                                                    <span class="input-group-text">
                                                                        <i id="eyeReenter" class="fa fa-eye-slash"></i>
                                                                    </span>
                                                                </div>
                                                                <div class="text-danger temptableError position-absolute"></div>
                                                                <!-- <i class="fa fa-eye"></i> -->
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div id="Preferences" class="tab-pane" role="tabpanel">
                                                    <div class="row">

                                                        <div class="col-12 col-sm-12 mb-2">
                                                            <div class="form-group" perfect-class="formGroup" perfect-ctype="select" perfect-css="select">
                                                                <label>Language</label>
                                                                <select class="form-control selectpicker" id="Language" readonly>
                                                                    <option selected="">English</option>

                                                                </select>

                                                            </div>
                                                        </div>



                                                        <div class="col-12 col-sm-12 mb-2">
                                                            <div class="form-group" perfect-class="formGroup" perfect-ctype="select" perfect-css="select">
                                                                <label>Currency</label>
                                                                <select class="form-control selectpicker" id="Currency" readonly>
                                                                    <option selected="">INR (₹)</option>
                                                                </select>


                                                            </div>
                                                        </div>

                                                        <div class="col-12 col-sm-12 mb-2">
                                                            <div class="form-row d-flex justify-content-between mt-4 mb-2">
                                                                <div class="form-group" perfect-class="formGroup">
                                                                    <div class="custom-control custom-checkbox ml-1 ">
                                                                        <input type="checkbox" class="custom-control-input" id="TermsCondition" name="TermsCondition">
                                                                        <label class="custom-control-label" for="TermsCondition">I agree to all the </label> <a class="link-underline-dark"onclick="Showtermsandconditions(this)">Terms & Conditions</a>
                                                                        <div class="text-danger temptableError"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal fade" perfect-class="formGroupModalTermsandconditionsDetails" id="formGroupModalTermsandconditionsDetails">
                                                                    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                                                        <div class="modal-content  rounded-0">
                                                                            <div class="modal-header border-0">
                                                                                <h5 class="modal-title">Terms And Conditions</h5>
                                                                                <button type="button" class="close" data-dismiss="modal">
                                                                                    <span>&times;</span>
                                                                                </button>
                                                                            </div>
                                                                            <div class="modal-body" perfect-class="formGroup">
                                                                                <div class="col-sm-12">
                                                                                    <div class="form-group row" perfect-class="formGroup" style="margin-top:1.5rem;">
                                                                                        <h4 class="card-title"></h4>
                                                                                        <p>
                                                                                            Welcome to <strong>PERSUITE ERP SOFTWARE! Our PERSUITE CRM application</strong> is designed to streamline your customer relationship management processes, enhance sales efficiency, and provide in-depth data analysis to help grow your business. These terms and conditions govern your use of the service, ensuring a clear understanding of the rights and responsibilities of both you and Perfect Software Solutions.
                                                                                            <br><br>
                                                                                            By accessing or using our <strong>PERSUITE CRM</strong> application, you acknowledge that you have read, understood, and agree to be bound by these terms and conditions. If you do not agree to these terms, you must not use the service. Continued use of the service after any updates or modifications to these terms constitutes your acceptance of those changes.
                                                                                            <br><br>
                                                                                            To create an account with <strong>PERSUITE CRM</strong> App, you must complete the registration form with accurate information, including your name, email address, and business details. By registering, you agree to keep your information up-to-date and to use the account solely for managing your customer relationships and sales processes as intended by the service.
                                                                                            <br><br>
                                                                                            You are responsible for maintaining the confidentiality of your account credentials, including your username and password. Do not share your login details with anyone. Any activities conducted through your account are your responsibility, and Perfect Software Solutions will not be liable for any unauthorized access or actions taken under your account. Failure to maintain account security may result in the suspension or termination of your account.
                                                                                            <br><br>
                                                                                            <strong>When using PERSUITE CRM, you must not engage in any of the following prohibited activities:</strong>
                                                                                            <ul class="bullet-list">
                                                                                                <li>Using the service for any illegal activities, including fraud or distribution of illegal content.</li>
                                                                                                <li>Attempting to gain unauthorized access to any part of the service, including other users' accounts, or the underlying infrastructure.</li>
                                                                                                <li>Engaging in spamming, distributing malware, or conducting activities that disrupt the normal operation of the service or harm other users. Violation of these rules may result in the immediate termination of your account and potential legal action.</li>
                                                                                            </ul>
                                                                                            <br>
                                                                                            <strong>We offer the following subscription plans for PERSUITE CRM:</strong>

                                                                                            <ul class="bullet-list">
                                                                                                <li><strong>Basic Plan:</strong> Priced at 21000 per year, 3 users with standard customer support.</li>
                                                                                                <li><strong>Enterprise Plan:</strong> Custom pricing based on your needs, includes unlimited users, advanced integrations, and dedicated account management.</li>
                                                                                            </ul>
                                                                                            <br>
                                                                                            <strong>Billing and Payment Information:</strong>
                                                                                            <ul class="bullet-list">
                                                                                                <li> <strong>Billing Cycles:</strong>Subscriptions are billed on an annual basis, depending on your selection at the time of subscription. Your billing cycle begins on the date of subscription and renews on the same date each period.</li>
                                                                                                <li><strong>Payment Methods:</strong> The payment should be made only through Demand Draft or A/c Payee Cheque on behalf of Perfect Software Solutions (Colt) Pvt. Ltd., Calicut. PERFECT will not be responsible in the case of Cash payment. Any delay in payment may lead to the freezing of support and service for the software, which could gradually affect its functionality or operation.</li>
                                                                                                <li><strong>Late Payments:</strong> If payment is not received within 7 days of the due date, the user will be blocked.</li>
                                                                                            </ul>
                                                                                            <br>

                                                                                            <strong>Uptime Guarantee:</strong> We guarantee that PERSUITE CRM will be available 99.9% of the time each year. If you experience downtime, please report it immediately via our support email at Contact@Perfectlimited.Com or through our online support portal. Our team will respond within one hour to acknowledge the issue and provide regular updates until it is resolved. In the event of downtime exceeding our guarantee, you may be eligible for service credits as outlined in our Service Level Agreement (SLA).
                                                                                            <br><br>
                                                                                            <strong>Maintenance and Updates:</strong> We will notify users at least 48 hours in advance via email. Maintenance is necessary to ensure the smooth operation and security of the service. We regularly update PERSUITE CRM to introduce new features, enhancements, and bug fixes. While most updates will not disrupt service, significant updates may require short periods of downtime, for which we will provide prior notice.
                                                                                            <br><br>
                                                                                            <strong>Support:</strong> Our support team is here to assist you with any issues or questions you may have regarding PerSuite. Support is available via the following methods:
                                                                                            <ul class="bullet-list">
                                                                                                <li><strong>Support ticket System:</strong><a href="http://www.prism.perfectlimited.com">www.prism.perfectlimited.com</a> with a response time of up to 24 hours for general inquiries.</li>
                                                                                                <li><strong>Phone:</strong> +91 8800664551, available Monday to Saturday, 9:00 AM to 6:00 PM IST.</li>
                                                                                            </ul>
                                                                                            Response times may vary based on the nature of the issue. Critical issues, such as service outages, will be addressed within one hour.
                                                                                            <br><br>
                                                                                            Termination by User: Users may terminate their account at any time if they are no longer satisfied with the service or no longer need it. To terminate your account, please provide a written notice to Contact@Perfectlimited.Com or follow the instructions in your account settings. A notice period of 30 days is required before the termination takes effect.
                                                                                            <br><br>
                                                                                            <strong>Effect of Termination: Upon termination of your account:</strong>
                                                                                            <ul class="bullet-list">
                                                                                                <li><strong>  Data Handling:</strong> Your data will be retained for 30 days, during which you can request a copy. After this period, your data will be permanently deleted.</li>
                                                                                                <li><strong>  Access to the Service:</strong> You will immediately lose access to the service and any associated features. Any ongoing tasks or data processes will be halted.</li>
                                                                                                <li><strong>  Outstanding Payments:</strong> You are responsible for any outstanding payments up to the termination date. Any unpaid amounts will be due immediately upon termination.</li>
                                                                                            </ul>
                                                                                            <br>

                                                                                            <strong>Right to Modify:</strong>Perfect Software Solutions reserves the right to modify these terms and conditions at any time. Any changes will be made at our discretion to adapt to legal requirements, business needs, or improvements to the service.
                                                                                            <br><br>
                                                                                            <strong> Notification:</strong> We will notify you of any changes to these terms and conditions by sending an email to the address associated with your account. You will receive this notification at least 30 days before the changes take effect.
                                                                                            <br><br>
                                                                                            <strong>Continued Use:</strong> Your continued use of PerSuite after the effective date of any modifications to these terms and conditions constitutes your acceptance of the new terms. If you do not agree to the updated terms, you may terminate your account before the changes take effect by following the termination procedure outlined in these terms.
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>




                                                </div>

                                                <div id="Subsciption" class="tab-pane" role="tabpanel">
                                                    <div class="row justify-content-md-center ">
                                                        <div class="col-lg-12 col-sm-12 col-12 text-center">
                                                            <h1 class="text-primary text-center">Start your 30 days free trial</h1>
                                                            <p>Get in touch with our marketing team to learn more about our subscription options.</p>

                                                            <div class="row justify-content-md-center ">
                                                                <div class="col col-lg-5 col-md-6 col-sm-12 col-xs-12 ">
                                                                    <button type="button" class="btn btn-primary  text-center rounded" id="getstart" onclick="Showthankyou(this)">GET STARTED</button>
                                                                </div>
                                                            </div>



                                                        </div>






                                                    </div>



                                                    <div class="list-g">
                                                        <div class="list-m  mb-8">
                                                            <ul class="list-group">
                                                                <li class="list-group-item "><i class="fa fa-check-circle text-primary" aria-hidden="true"></i> Lead Generation </li>
                                                                <li class="list-group-item"><i class="fa fa-check-circle text-primary" aria-hidden="true"></i> Lead Followup </li>
                                                                <li class="list-group-item"><i class="fa fa-check-circle text-primary" aria-hidden="true"></i> Mobile App </li>
                                                               
                                                            </ul>
                                                        </div>

                                                        <div class="list-m  mb-8">
                                                            <ul class="list-group">
                                                             
                                                                <li class="list-group-item"><i class="fa fa-check-circle text-primary" aria-hidden="true"></i> Dash Board </li>
                                                                <li class="list-group-item"><i class="fa fa-check-circle text-primary" aria-hidden="true"></i> Reports </li>
                                                                <li class="list-group-item"><i class="fa fa-check-circle text-primary" aria-hidden="true"></i> Walk-in Customer </li>
                                                                
                                                            </ul>
                                                        </div>
                                                    </div>



                                                </div>




                                            </div>
                                        </div>
                                    </div>

                                        <div class="toolbar toolbar-bottom text-center mt-4 ">
                                            <div class="row row-cols-2">
                                                <div class="col"> <button class="btn btn-primary btn-outline-primary w-100 img-left" type="button" onclick="previousButton(this,1)" id="SmartWizard_Previous"><img src="~/Assets/images/Back.svg" alt="back" class="text-left">Back</button></div>
                                                <div class="col">  <button class="btn btn-primary w-100 img-right" type="button" onclick="nextButton(this,'1')" id="SmartWizard_Next"><img src="~/Assets/images/next.svg" alt="back" class="text-left">Next</button></div>
                                            </div>
                                        </div>
                                   


                                </div>




                            </div>
                        </div>





                        <div class="left-side  d-none " id="SmartWizard_thankyou">
                            <div class="authincation-content">

                                <div class="auth-form1">
                                    <div>
                                        <div class="text-center mb-7">
                                            <a href="#"><img src="~/Assets/images/Persuite-logo.svg" alt="logo" class="img-ps"></a>
                                        </div>
                                    </div>




                                    <div  class="w-100">
                                        <div class=" thanks text-center mb-7 " id="thankyoudone">
                                            <div class="animated  zoomIn fast ">
                                                <a href="#"><img src="~/Assets/images/thank-img.svg" alt="logo" class="thank-img "></a>
                                            </div>

                                            <h1 class="text-primary text-center mt-4">Thank You for <br>Signing Up</h1>
                                            <h3 class=" mt-4">Email containing a verification link has been sent<br> to your email address. Please click on the link to <br>activate your account. </h3>
                                        </div>

                                        <div class=" thanks text-center mb-7 " id="thankyoufail">
                                            <h1 class="text-primary mt-4">Registration Failed</h1>
                                            <h3 class=" mt-4" id="MessageError"></h3>
                                        </div>
                                    </div>

                                    <div></div>


                                </div>
                            </div>

                        </div>



                        <div class="left-side d-none" id="SmartWizard_loader">
                            <div class="d-flex justify-content-center align-items-center d-none text-primary center-screen" style="height: 100%;">
                                <div class="spinner-grow" role="status">
                                    <span class="visually-hidden"></span>
                                </div>
                            </div>
                        </div>


                        <div class="right-side">
                            <div class="subscription-right text-center">



                                <img src="~/Assets/images/subscription-img.svg" alt="subscription-img " class="subscription-img img-fluid">
                              
                                <span class="d-block p-2 ">
                                    <h1 class="text-white mb-4">
                                        Maximize Business Transformation, See Results!
                                    </h1>
                                    <p class="text-white">
                                        A unified software hub that empowers businesses to effortlessly handle infinite duties.Experience the power of automation, streamlined workflows, and a centralized system that empowers you to make informed decisions and achieve long-term success.

                                    </p>

                                </span>

                                <!--  <div class="fixed-bottom">
    <div class="footer  ">
    <div class="copyright">
    <p>Copyright © Designed &amp; Developed by <a href="" target="_blank"><img src="Content/images/companylogo1.png"></a> 2024</p>
    </div>
    </div>
    </div> -->
                            </div>
                        </div>



                     

                    </div>
                </div>
            

        </form>

    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <style>

        .checked {
            color: #498200;
        }

        .unchecked {
            color: #4C4A53;
        }
    </style>
    @Scripts.Render("~/bundles/perfectERPTemplateJS")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/perfectERP/js")
    <!-- Required vendors -->
    <script src="~/Assets/js/jquery-2.1.4.min"></script>
    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Assets/vendor/global/global.min.js"></script>

    <script src="~/Assets/vendor/global/global.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>


    <!-- Form Steps -->
    <script src="~/Assets/vendor/jquery-smartwizard/dist/js/jquery.smartWizard1.js"></script>
    <script src="~/Assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Scripts/jqDOM/customClassValidations.js"></script>
    <script src="~/Assets/vendor/toastr/js/toastr.min.js"></script>
    <script src="~/Scripts/jqDOM/searchDOMCreation.js"></script>
    <script src="~/Scripts/jqDOM/customClassValidations.js"></script>
    <script>
      
        var errorClass = '.temptableError';
        async function validate(ele) {

            var emailRegex = /^(?![.])[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}(?<![.])$/;
            const _mobile = /^[\+]?[0-9]*$/;

            let isValid = true;
            let $thisForm = $(ele).closest('[perfect-class="form"]');
            var minLength = 10;
            var inputLength = $thisForm.find('[name="phoneNumber"]').val().length;
            //var EmailValid = await checkEmailExistence(ele);

            if ($thisForm.find('[name="FirstName"]').val().length == 0 || $thisForm.find('[name="FirstName"]').val().length == null) {

                isValid = false;
                $thisForm.find('[name ="FirstName"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter First Name');
            }
            else {
                $thisForm.find('[name ="FirstName"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
            }


            if ($thisForm.find('[name="lastName"]').val().length == 0 || $thisForm.find('[name="lastName"]').val().length == null) {

                isValid = false;
                $thisForm.find('[name ="lastName"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter Last Name');

            }
            else {
                $thisForm.find('[name ="lastName"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
            }
            if ($thisForm.find('[name="companyname"]').val().length == 0 || $thisForm.find('[name="companyname"]').val().length == null) {

                isValid = false;
                $thisForm.find('[name ="companyname"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter Company Name');

            }
            else {
                $thisForm.find('[name ="companyname"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
            }

            if ($thisForm.find('[name="email"]').val().length == 0 || $thisForm.find('[name="email"]').val().length == null) {

                isValid = false;
                $thisForm.find('[name ="email"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter Email');

            }
            //else {
            //    $thisForm.find('[name ="email"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
            //}

            else if (!emailRegex.test($thisForm.find('[name="email"]').val())) {

                isValid = false;
                $thisForm.find('[name ="email"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Invalid Email Address');

            }
            else if (!await checkEmailExistence(ele)) {
                isValid = false;
                $thisForm.find('[name ="email"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Email Address is Already Registered');
            }
            else {               
                //$thisForm.find('[name ="email"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
            }

            if ($thisForm.find('[name="phoneNumber"]').val().length == 0 || $thisForm.find('[name="phoneNumber"]').val().length == null) {
                isValid = false;
                $thisForm.find('[name ="phoneNumber"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter Phone Number');

            }
            else if (!_mobile.test($thisForm.find('[name="phoneNumber"]').val())) {
                isValid = false;
                $thisForm.find('[name ="phoneNumber"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Invalid Phone Number');


            }
            else if (!_mobile.test($thisForm.find('[name="phoneNumber"]').val())) {
                isValid = false;
                $thisForm.find('[name ="phoneNumber"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Invalid Phone Number');


            }
            else if (inputLength < minLength) {

                isValid = false;
                $thisForm.find('[name="phoneNumber"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Invalid Phone Number');

            }
            else if (!await checkPhoneExistence(ele)) {
                isValid = false;
                $thisForm.find('[name ="phoneNumber"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Phone Number is Already Registered');
            }

            else {

                $thisForm.find('[name="phoneNumber"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
            }


            return isValid
        }

      

        async function validateNext(ele) {
            
            let isValid = true;
            let $thisForm = $(ele).closest('[perfect-class="form"]');
            var password = $thisForm.find('[name ="enterPW"]').val();
            var lengthValid = password.length >= 8;
            var uppercaseValid = /[A-Z]/.test(password);
            var numberValid = /\d/.test(password);

            var specialCharValid = /[~!'@@'#$%^&*()_\-`\\[\]{};':"<>?,.\/]+/.test(password);
            
            var minLength = 6;
            
           // console.log("ValidationExist", ValidationExist)
            var allValid = lengthValid && uppercaseValid && numberValid && specialCharValid;
            const speciaCharREGX = /^([\\/()\[\]a-zA-Z0-9_,.\-\s\+]+)$/;
            
            if ($thisForm.find('[name="UserName"]').val().length == 0 || $thisForm.find('[name="UserName"]').val().length == null) {
                
                isValid = false;
                $thisForm.find('[name ="UserName"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter User Code');
            }
            else if ($thisForm.find('[name="UserName"]').val().length < minLength) {
                isValid = false;
                $thisForm.find('[name="UserName"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter at least 6 characters');
            }
           else if (!speciaCharREGX.test($thisForm.find('[name="UserName"]').val())) {
                isValid = false;
                $thisForm.find('[name ="UserName"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Special Characters are not Allowed');
            }
            else if (!await checkExistence($thisForm)) {
                
                isValid = false;
                $thisForm.find('[name="UserName"]').closest('[perfect-class="formGroup"]').find(errorClass).text('User Code Already Exist');
                
            }
            else {
                $thisForm.find('[name="UserName"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
                console.log("in empty")
            }
            
            if ($thisForm.find('[name="enterPW"]').val().length == 0 || $thisForm.find('[name="enterPW"]').val().length == null) {

                isValid = false;
                $thisForm.find('[name ="enterPW"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter Password');
            }
            else if (!allValid)
            {
                isValid = false;
                $thisForm.find('[name ="enterPW"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Password Must Meet the Following Criteria');
            }
            else {
                $thisForm.find('[name ="enterPW"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
            }
            if ($thisForm.find('[name="ReenterPW"]').val().length == 0 || $thisForm.find('[name="ReenterPW"]').val().length == null) {

                isValid = false;
                $thisForm.find('[name ="ReenterPW"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please Re-Enter Password');
            }
           else  if ($thisForm.find('[name="enterPW"]').val().trim() != $thisForm.find('[name="ReenterPW"]').val().trim()) {
                isValid = false;
                $thisForm.find('[name ="ReenterPW"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Password and Re-Enter Password does not match');
            }
            else {
                $thisForm.find('[name ="ReenterPW"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
            }
           
           
            
            return isValid
        }
        function validateNextTerms(ele) {

            let isValid = true;
            let $thisForm = $(ele).closest('[perfect-class="form"]');
            if ($('#TermsCondition').prop('checked')) {
                $thisForm.find('[name ="TermsCondition"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
            }
            else {
                $thisForm.find('[name ="TermsCondition"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please Accept Terms and Condition');
                isValid = false;
            }
           
            return isValid
        }

        async function nextButton(ele, value) {
            
            //$('#SubscriptionForm').validate();
            //let SubscriptionForm = $('#SubscriptionForm');
            //if (SubscriptionForm.valid()) {
            //
            //}
            

           // $thisForm.validate({ messages: validationMessage });
            let $thisForm = $(ele).closest('[perfect-class="form"]');
            
            if (value == 1) {
                if (await validate(ele)) {

                    $('#smartwizard').smartWizard("next");
                }
            }
            if (value == 2) {
                console.log("validateNext(ele)", validateNext(ele));
                if (await validateNext(ele)) {

                    $('#smartwizard').smartWizard("next");
                }
            }
            if (value == 3) {
                if (validateNextTerms(ele)) {

                    $('#smartwizard').smartWizard("next");
                }
            }

        }

        function previousButton(ele, val) {
            let $thisForm = $(ele).closest('[perfect-class="form"]');
            if (val == 1) {
                $('#smartwizard').smartWizard("prev");
                $('#SmartWizard_Next').attr('onclick', "nextButton(this,'1')");
                 window.location.href = '@Url.Action("Login", "Security")';
            }
            
            if (val == 2) {
                $('#smartwizard').smartWizard("prev");

            }

        }

        $("#smartwizard").on("leaveStep", function (e, anchorObject, currentStepIndex, nextStepIndex, stepDirection) {

            // return confirm("Do you want to leave the step " + currentStepIndex + "?");
            let $thisForm = $(this).closest('[perfect-class="form"]');
            if (nextStepIndex == 3) {

                $('#SmartWizard_Next').attr('onclick', "nextButton(this,'3')");
                $('#SmartWizard_Next').addClass('d-none');
                $('#SmartWizard_Previous').addClass('d-none');
               
                
            }
            else if (nextStepIndex == 1) {
                $('#SmartWizard_Next').attr('onclick', "nextButton(this,'2')");
                $('#SmartWizard_Previous').attr('onclick', "previousButton(this,'2')");
              //  $('#SmartWizard_Previous').attr('onclick', "previousButton(this,'2')");
             //   $('#SmartWizard_Previous').attr('onclick', "nextButton(this,'2')");
              
                $('#SmartWizard_Next').removeClass('d-none');
                $('#SmartWizard_Previous').removeClass('d-none');
            }
            else if (nextStepIndex == 2) {
                $('#SmartWizard_Next').attr('onclick', "nextButton(this,'3')");
                $('#SmartWizard_Previous').attr('onclick', "previousButton(this,'2')");
                //  $('#SmartWizard_Previous').attr('onclick', "previousButton(this,'2')");
                //   $('#SmartWizard_Previous').attr('onclick', "nextButton(this,'2')");
                $('#SmartWizard_Next').removeClass('d-none');
                $('#SmartWizard_Previous').removeClass('d-none');
                
            }
                else {


                $('#SmartWizard_Next').attr('onclick', "nextButton(this,'1')");
                $('#SmartWizard_Previous').attr('onclick', "previousButton(this,'1')");
              //  $('#SmartWizard_Previous').attr('onclick', "previousButton(this,'2')");
             //   $('#SmartWizard_Previous').attr('onclick', "nextButton(this,'2')");
                $('#SmartWizard_Next').removeClass('d-none');
                $('#SmartWizard_Previous').removeClass('d-none');
               
            }

        });

        function Showthankyou(ele) {
            
            $("#getstart").prop('disabled', true);
            let $thisForm = $(ele).closest('[perfect-class="form"]');
            SaveSubscriptionData($thisForm)
               
            


        }
       

        function checkExistence(ele) {
            console.log("Alert>>>>");

            let $thisForm = $(ele).closest('[perfect-class="form"]');
            let inputData = {
                __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                'UserName': $thisForm.find('[name="UserName"]').val().toLowerCase(),
                'Mode': 1,
            };

            return new Promise((resolve, reject) => {
                $.ajax({
                    url: "@Url.Action("ValidateUserName", "Subscription")",
                    type: "POST",
                    data: inputData,
                    dataType: "json",
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    success: function (ajaxOutput) {
                        console.log("ajaxOutput>>>>>>>>>>>", ajaxOutput);
                        if (ajaxOutput.Process.IsProcess) {
                            $thisForm.find('[name="UserName"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
                            resolve(true);
                            ExistUsername = true;
                        } else {
                            $thisForm.find('[name="UserName"]').closest('[perfect-class="formGroup"]').find(errorClass).text('User Code Already Exist');
                            resolve(false);
                            ExistUsername = false;
                        }
                    },
                    error: function (error) {
                        reject(error);
                    },
                    complete: function () {
                        $(ele).prop('disabled', false);
                    }
                });
            });
        }


        function SaveSubscriptionData(ele) {
            let $thisForm = $(ele).closest('[perfect-class="form"]');
            console.log($thisForm.find('[name="FirstName"]').val(), 'Fisr');
            let inputData = {

                __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                'Mode': 3,
                'FirstName': $thisForm.find('[name="FirstName"]').val(),
                'lastName': $thisForm.find('[name="lastName"]').val(),
                'email': $thisForm.find('[name="email"]').val(),
                'phoneNumber': $thisForm.find('[name="phoneNumber"]').val(),
                'UserName': $thisForm.find('[name="UserName"]').val().toLowerCase(),
                'enterPW': $thisForm.find('[name="enterPW"]').val(),
                'ReenterPW': $thisForm.find('[name="ReenterPW"]').val(),
                'companyname': $thisForm.find('[name="companyname"]').val(),
                'Currency': $thisForm.find('[name="Currency"]').val(),
                'Language': $thisForm.find('[name="Language"]').val(),
                'TermsCondition': $thisForm.find('[name="TermsCondition"]').prop('checked'),
            }
            $.ajax({
                url: "@Url.Action("SaveSubscriptionDetails", "Subscription")",
                type: "POST",
                data: inputData,
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (ajaxOutput) {
                    console.log(ajaxOutput, 'ajaxOutput')
                    console.log(ajaxOutput.Process, 'ajaxOutput2')
                    console.log(ajaxOutput.Process.Data.length, 'ajaxOutput3')
                    if (ajaxOutput.Process.Data.length > 0) {
                        if (ajaxOutput.Process.Data[0].ErrCode == "-2") {
                            $('#SmartWizard_Form').addClass('d-none');
                            $('#SmartWizard_loader').removeClass('d-none');
                            setInterval(function () {
                                $('#SmartWizard_thankyou').removeClass('d-none');
                                $('#SmartWizard_loader').addClass('d-none');
                                $("#MessageError").text(ajaxOutput.Process.Data[0].ErrMsg);
                                $("#thankyoufail").show();
                                $("#thankyoudone").hide();
                            }, 1100);
                            setTimeout(function () {
                                var urlToRedirect = '@Url.Action("Login", "Security")';
                                window.location.href = urlToRedirect;
                            }, 6000);
                        }
                        else if (ajaxOutput.Process.Data[0].ErrCode == "-7") {
                            $('#SmartWizard_Form').addClass('d-none');
                            $('#SmartWizard_loader').removeClass('d-none');
                            setInterval(function () {
                                $('#SmartWizard_thankyou').removeClass('d-none');
                                $('#SmartWizard_loader').addClass('d-none');
                                $("#MessageError").text(ajaxOutput.Process.Data[0].ErrMsg);
                                $("#thankyoufail").show();
                                $("#thankyoudone").hide();
                            }, 1100);
                            setTimeout(function () {
                                var urlToRedirect = '@Url.Action("Login", "Security")';
                                window.location.href = urlToRedirect;
                            }, 6000);
                        }
                        else if (ajaxOutput.Process.Data[0].ErrCode == "-8") {
                            $('#SmartWizard_Form').addClass('d-none');
                            $('#SmartWizard_loader').removeClass('d-none');
                            setInterval(function () {
                                $('#SmartWizard_thankyou').removeClass('d-none');
                                $('#SmartWizard_loader').addClass('d-none');
                                $("#MessageError").text(ajaxOutput.Process.Data[0].ErrMsg);
                                $("#thankyoufail").show();
                                $("#thankyoudone").hide();
                            }, 1100);
                            setTimeout(function () {
                                var urlToRedirect = '@Url.Action("Login", "Security")';
                                window.location.href = urlToRedirect;
                            }, 6000);
                        }
                        else {
                            $('#SmartWizard_Form').addClass('d-none');
                            $('#SmartWizard_loader').removeClass('d-none');
                            setInterval(function () {
                                $('#SmartWizard_thankyou').removeClass('d-none');
                                $('#SmartWizard_loader').addClass('d-none');
                                $("#MessageError").text('');
                                $("#thankyoufail").hide();
                                $("#thankyoudone").show();
                            }, 1100);
                            setTimeout(function () {
                                var urlToRedirect = '@Url.Action("Login", "Security")';
                                window.location.href = urlToRedirect;
                            }, 6000);
                        }

                    }

                },
                complete: function () {
                    $(ele).prop('disabled', false);
                    $("#getstart").prop('disabled', false);
                }
            });
        }
        $(function () {
            $('select').selectpicker();
        });


    </script>
    @*<script src="~/Scripts/custom.min.js"></script>*@
    <script src="~/Scripts/deznav-init.js"></script>
    <script src="~/Scripts/demo.js"></script>
    @*<script src="Scripts/styleSwitcher.js"></script>*@



    <script>
        var ExistEmail = true;
        var ExistUsername = true;
        var ExistPhone = true;
        $(document).ready(function () {
            let $thisForm = $(this).find('[perfect-class="form"]');
            $thisForm.find("input[type='text']").on('input', function () {
                var trimmedValue = $(this).val().replace(/^\s+/, '');
                $(this).val(trimmedValue);
               
            }); 
            $('#UserName').on('keypress', function (event) {
                if (event.which === 32) {
                    event.preventDefault();                    
                }
            });
            $('#enterPW').on('keypress', function (event) {
                if (event.which === 32) {
                    event.preventDefault();
                }
            });
            $('#ReenterPW').on('keypress', function (event) {
                if (event.which === 32) {
                    event.preventDefault();
                }
            });
            $('#email').on('keypress', function (event) {
                if (event.which === 32) {
                    event.preventDefault();
                }
            });
            $('#enterPW').on('paste', function (event) {
                event.preventDefault();
                var pastedText = event.originalEvent.clipboardData.getData('text');
                var sanitizedText = pastedText.replace(/\s+/g, '');
                var currentText = $(this).val();
                var newText = currentText + sanitizedText;
                $(this).val(newText);
            });
            $('#ReenterPW').on('paste', function (event) {
                event.preventDefault();
                var pastedText = event.originalEvent.clipboardData.getData('text');
                var sanitizedText = pastedText.replace(/\s+/g, '');
                var currentText = $(this).val();
                var newText = currentText + sanitizedText;
                $(this).val(newText);
            });
            $('#email').on('paste', function (event) {
                event.preventDefault();
                var pastedText = event.originalEvent.clipboardData.getData('text');
                var sanitizedText = pastedText.replace(/\s+/g, '');
                var currentText = $(this).val();
                var newText = currentText + sanitizedText;
                $(this).val(newText);
            });
            $('#UserName').on('paste', function (event) {
                event.preventDefault();
                var pastedText = event.originalEvent.clipboardData.getData('text');
                var sanitizedText = pastedText.replace(/\s+/g, '');
                var currentText = $(this).val();
                var newText = currentText + sanitizedText;
                $(this).val(newText);
            });
          
            $('#TermsCondition').change(function () {
                if ($(this).prop('checked')) {
                    $thisForm.find('[name="TermsCondition"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
                }
                else {
                    $thisForm.find('[name="TermsCondition"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Please Accept Terms and Condition');
                }
            });
            
            
            $('#email').on('input blur',  function () {
                
                var email = $(this).val();
                var emailRegex = /^(?![.])[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}(?<![.])$/;                
                if (email === '') {
                    // Show error message if first name is empty
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter Email');
                }
                else if (!emailRegex.test(email)) {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('Invalid Email Address');
                    
                }
                else if (!/*await checkEmailExistence(this)*/ExistEmail ) {
                    
                    $thisForm.find('[name ="email"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Email Address is Already Registered');
                }
                else {
                   
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('');
                    
                }
            });
            $('#FirstName,lastName').on('keypress', function (event) {
                var charCode = event.which;
                // Allow backspace, delete, tab, escape, enter, and other navigation keys
                if (charCode == 8 || charCode == 46 || charCode == 9 || charCode == 27 || charCode == 13 ||
                    (charCode >= 37 && charCode <= 40)) {
                    return;
                }
                // Ensure the input is a letter (A-Z or a-z)
                var char = String.fromCharCode(charCode);
                if (!(/[a-zA-Z]/.test(char))) {
                    event.preventDefault();
                }
            });
           
            $('#FirstName').on('input blur', function () {
                var firstName = $(this).val().trim();
                $(this).val(firstName.replace(/[^a-zA-Z]/g, ''));
                if (firstName === '') {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter First Name');
                }
             
                else {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('');
                }
            });
            $('#lastName').on('input blur', function () {
                
                var lastName = $(this).val();
                $(this).val(lastName.replace(/[^a-zA-Z]/g, ''));
                if (lastName === '') {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter Last Name');
                }
              
                else {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('');
                    
                }
            });

           

            $('#UserName').on('input blur', function () {
                
                var UserName = $(this).val();
                var inputLength = $(this).val().length;
                var minLength = 6;
                const speciaCharREGX = /^([\\/()\[\]a-zA-Z0-9_,.\-\s\+]+)$/;
                if (UserName === '') {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter User Code');
                }
                else if (!speciaCharREGX.test(UserName)) {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('Special Characters are not Allowed');
                    event.preventDefault();

                }
                else if (inputLength < minLength) {
                    event.preventDefault();
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter at least 6 Characters');
                }
                else if (!ExistUsername/*!await checkExistence(this)*/) {                    
                    $thisForm.find('[name="UserName"]').closest('[perfect-class="formGroup"]').find(errorClass).text('User Code Already Exist');
                }
                else {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('');
                    
                }
            });
            $('#phoneNumber').on('keydown', function (e) {
                
                if ($.inArray(e.keyCode, [46, 8, 9, 27, 13]) !== -1 ||
                    (e.ctrlKey === true && (e.keyCode === 65 || e.keyCode === 67 || e.keyCode === 86 || e.keyCode === 88)) ||
                    
                    (e.keyCode >= 35 && e.keyCode <= 39)) {
                    
                    return;
                }
                
                if ((e.shiftKey || (e.keyCode < 48 || e.keyCode > 57)) && (e.keyCode < 96 || e.keyCode > 105)) {
                    e.preventDefault();
                }
            });
            $('#enterPW,#ReenterPW').on('cut copy paste', function (e) {
                e.preventDefault();
                
            });
           
            $('#phoneNumber').on('input', function () {
                // Sanitize input value
                var sanitizedValue = $(this).val().replace(/[^0-9]/g, '');
                $(this).val(sanitizedValue);
            });
            $("#phoneNumber").on('input blur', function () {
                var minLength = 10;
                var inputLength = $(this).val().length;
                if ($(this).val() === '') {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter Phone Number');
                }
               else if (inputLength < minLength) {
                    $thisForm.find('[name ="phoneNumber"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Enter Valid Mobile Number');
                    event.preventDefault();
                }
                else if (!ExistPhone) {

                    $thisForm.find('[name ="phoneNumber"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Phone Number is Already Registered');
                }
                else {
                    $thisForm.find('[name ="phoneNumber"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
                }
            });

            var allowedChars = /^[a-zA-Z0-9\s(),./\\+\-]*$/;
            $('#companyname').on('keypress', function (e) {
                var char = String.fromCharCode(e.which);
                if (!allowedChars.test(char)) {
                    e.preventDefault();
                }
            });

            // Event to handle paste and other input events
            $('#companyname').on('input blur', function () {
                var name = $(this).val();
                var companynameValue = $(this).val().replace(/[^a-zA-Z0-9\s(),./\\+\-]/g, '');
                $(this).val(companynameValue);
                if ($(this).val() === '') {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter Company Name');
                }
                else {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('');
                }
            });

            $('#enterPW').on('input blur', function(){
        var password = $(this).val();
        var lengthValid = password.length >= 8;
        var uppercaseValid = /[A-Z]/.test(password);
        var numberValid = /\d/.test(password);
               // var specialCharValid = /[!@@#$%^&*]/.test(password);
               // var specialCharValid = /[!`@@`#\$%\^&\*]/.test(password);
                var specialCharValid = /[~!'@@'#$%^&*()_\-`\\[\]{};':"<>?,.\/]+/.test(password);
                if (uppercaseValid) {

                    $('#uppercase').removeClass('unchecked').addClass('checked');
                   // $('#uppercase').removeClass('fa-circle-thin').addClass('fa-check-circle');
                } else {
                    $('#uppercase').removeClass('checked').addClass('unchecked');
                   // $('#uppercase').removeClass('fa-check-circle').addClass('fa-circle-thin');
                }
                if (lengthValid) {
                    $('#length').removeClass('unchecked').addClass('checked');
                 
                } else {
                    $('#length').removeClass('checked').addClass('unchecked');
                  
                }
                if (numberValid) {
                    $('#number').removeClass('unchecked').addClass('checked');

                } else {
                    $('#number').removeClass('checked').addClass('unchecked');

                }
                if (specialCharValid) {
                    $('#specialChar').removeClass('unchecked').addClass('checked');

                } else {
                    $('#specialChar').removeClass('checked').addClass('unchecked');

                }
                var allValid = lengthValid && uppercaseValid && numberValid && specialCharValid;
                if ($(this).val() === '') {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('Please Enter Password');
                }
                else if (!allValid)
                {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('Password Must Meet the Following Criteria');
                }
                else {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('');
                }

     

    });

            $('#ReenterPW').on('input blur', function () {
                var ReenterPW = $(this).val();
                if ($(this).val() === '') {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('Please Re-Enter Password');
                }
                else if ($(this).val().trim() != $thisForm.find('[name="enterPW"]').val().trim()) {
                    
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('Password and Re-Enter Password does not Match');
                }
                else {
                    $(this).closest('[perfect-class="formGroup"]').find(errorClass).text('');
                }
            });
          
            
            $('#smartwizard').smartWizard({ enableUrlHash: false });
            $('#smartwizard').smartWizard("goToStep", 0);
        });

        function checkEmailExistence(ele) {
            console.log("Email>>>>");

            let $thisForm = $(ele).closest('[perfect-class="form"]');
            var emailRegex = /^(?![.])[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}(?<![.])$/;
            if (emailRegex.test($thisForm.find('[name="email"]').val())) {
                let inputData = {
                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                    'Mode': 2,
                    'FirstName': $thisForm.find('[name="FirstName"]').val(),
                    'lastName': $thisForm.find('[name="lastName"]').val(),
                    'email': $thisForm.find('[name="email"]').val(),
                    'UserName': $thisForm.find('[name="UserName"]').val().toLowerCase(),
                    'companyname': $thisForm.find('[name="companyname"]').val(),
                    'phoneNumber': $thisForm.find('[name="phoneNumber"]').val(),
                    'ReenterPW': $thisForm.find('[name="ReenterPW"]').val(),
                };

                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: "@Url.Action("ValidateUserName", "Subscription")",
                        type: "POST",
                        data: inputData,
                        dataType: "json",
                        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                        success: function (ajaxOutput) {
                            console.log("ajaxOutput>>>>>>>>>>>", ajaxOutput);
                            if (ajaxOutput.Process.IsProcess) {
                                $thisForm.find('[name="email"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
                                resolve(true);
                                ExistEmail = true;
                            } else {
                                $thisForm.find('[name="email"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Email Address is Already Registered');
                                resolve(false);
                                ExistEmail = false;
                            }
                        },
                        error: function (error) {
                            reject(error);
                        },
                        complete: function () {
                            $(ele).prop('disabled', false);
                        }
                    });
                });
            }
            else {
                $thisForm.find('[name="email"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Invalid Email address');
                resolve(false);
            }

        }
        function checkPhoneExistence(ele) {
            console.log("Phone>>>>");

            let $thisForm = $(ele).closest('[perfect-class="form"]');
            const _mobile = /^[\+]?[0-9]*$/;
            if (_mobile.test($thisForm.find('[name="phoneNumber"]').val())) {
                let inputData = {
                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                    'Mode': 5,
                    'FirstName': $thisForm.find('[name="FirstName"]').val(),
                    'lastName': $thisForm.find('[name="lastName"]').val(),
                    'email': $thisForm.find('[name="email"]').val(),
                    'UserName': $thisForm.find('[name="UserName"]').val().toLowerCase(),
                    'companyname': $thisForm.find('[name="companyname"]').val(),
                    'phoneNumber': $thisForm.find('[name="phoneNumber"]').val(),
                    'ReenterPW': $thisForm.find('[name="ReenterPW"]').val(),
                };

                return new Promise((resolve, reject) => {
                    $.ajax({
                        url: "@Url.Action("ValidateUserName", "Subscription")",
                        type: "POST",
                        data: inputData,
                        dataType: "json",
                        contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                        success: function (ajaxOutput) {
                            console.log("ajaxOutput>>>>>>>>>>>", ajaxOutput);
                            if (ajaxOutput.Process.IsProcess) {
                                $thisForm.find('[name="phoneNumber"]').closest('[perfect-class="formGroup"]').find(errorClass).text('');
                                resolve(true);
                                ExistPhone = true;
                            } else {
                                $thisForm.find('[name="phoneNumber"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Phone Number is Already Registered');
                                resolve(false);
                                ExistPhone = false;
                            }
                        },
                        error: function (error) {
                            reject(error);
                        },
                        complete: function () {
                            $(ele).prop('disabled', false);
                        }
                    });
                });
            }
            else {
                $thisForm.find('[name ="phoneNumber"]').closest('[perfect-class="formGroup"]').find(errorClass).text('Invalid Phone Number');
                resolve(false);
            }

        }

    </script>



    <script type="text/javascript">
        
        
        $('#carouselExampleCaptions').carousel({
            interval: 3000,
        })

        $("#eye").click(function () {
            var password = document.getElementById("enterPW");
            if (password.type === "password") {
                password.type = "text";
                $('#eye').toggleClass("fa-eye fa-eye-slash");
            } else {
                password.type = "password";
                $('#eye').toggleClass("fa-eye-slash fa-eye");
            }
        });

        $("#eyeReenter").click(function () {
            var password = document.getElementById("ReenterPW");
            if (password.type === "password") {
                password.type = "text";
                $('#eyeReenter').toggleClass("fa-eye fa-eye-slash");
            } else {
                password.type = "password";
                $('#eyeReenter').toggleClass("fa-eye-slash fa-eye");
            }
        });

        function Showtermsandconditions() {

            $('#formGroupModalTermsandconditionsDetails').modal({ backdrop: 'static', keyboard: false })

            $('#formGroupModalTermsandconditionsDetails').modal('show');

        }
        
    </script>



</body>


</html>