@model  PerfectWebERP.Models.User.Login
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Perfect: WebTemplate" />
    <meta property="og:title" content="Perfect: WebTemplate" />
    <meta property="og:description" content="Perfect: WebTemplate" />
    <meta property="og:image" content="page-error-404.html" />
    <meta name="format-detection" content="telephone=no">
    <title>Persuite</title>


    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/faviconNew.png">
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <style type="text/css">
        label.text-label {
            color: #fff;
        }
        .lower-letters {
            text-transform: lowercase;
        }

        ::placeholder { /* Standard syntax */
            text-transform: none;
        }
    </style>
</head>

<body class="h-100 bg-white">
    <div class="authincation ">
        <div class="full-width ">
            <div class="row no-gutters ">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="authincation-content">
                        <div class="auth-form">
                            <div class="text-center mb-5">
                                <a href="#"><img src="~/Content/images/login-logo.png" alt="logo " class="img-ps"></a>
                            </div>
                            <h4 class="text-center mb-4 text-black-50">Forgot Password?</h4>
                            @Html.AntiForgeryToken()
                            <form id="loginPageForm">
                                <div class="modal fade show" id="mForgotPassword" style="display:none; padding-right: 17px;z-index: 1000000" aria-modal="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">

                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-md-4"></div>
                                                    <div class="col-md-4">
                                                        <img src="~/Assets/images/success.png" style="height:100px" />
                                                    </div>
                                                    <div class="col-md-4"></div>
                                                </div>
                                                <div id="divForgotPassword">

                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-primary" data-dismiss="modal" style="height: 35px;" onclick="closeForgot()">OK</button>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="mb-1">User Code</label>
                                    <input type="text" class="form-control perfectValidate" id="USERNAME" name="Username" placeholder="Enter a User Code.." autofocus>
                                </div>

                                <div class="text-center">
                                    <div id="login_errormessage" class="Custominvalid animated fadeInUp" style="color:#FF6746;display:block;"></div>
                                </div>


                                <div class="form-group">
                                    <a class="text-body" href="@Url.Action("Login","Security")">Sign In</a>
                                </div>



                                <div class="text-center">
                                    <button type="button" class="btn bg-primary  btn-block text-white" id="jq_pft_forgotPassword">Submit</button>
                                </div>
                            </form>
                            <div class="new-account mt-3">
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="bg-bubbles-wrapper ">
                        <ul class="bg-bubbles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
                    <div class="bootstrap-carousel vs-work-process work-process-layout2">
                        <div data-ride="carousel" class="carousel slide" id="carouselExampleCaptions">
                            <ol class="carousel-indicators">
                                <li class="active" data-slide-to="0" data-target="#carouselExampleCaptions">
                                </li>
                                <li data-slide-to="1" data-target="#carouselExampleCaptions" class=""></li>
                                <li data-slide-to="2" data-target="#carouselExampleCaptions" class=""></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">

                                    <div class="vs-work-process sliding-bg1 bg-1">
                                        <div class="mid-icon">

                                            <img class="img-fluid " src="~/Assets/images/big/it-works1.png"  alt="Slide Image"  / >
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item">

                                    <div class="vs-work-process sliding-bg1 bg-2">
                                        <div class="mid-icon">
                                            <img class="img-fluid " src="~/Assets/images/big/it-works2.png" alt="Slide Image"  / >
                                        </div>
                                    </div>


                                </div>
                                @*<div class="carousel-item">

                                    <div class="vs-work-process sliding-bg1 bg-3">
                                        <div class="mid-icon">
                                            <img class="img-fluid " src="~/Assets/images/big/it-works2.png" alt="Slide Image"  / >
                                        </div>
                                    </div>
                                </div>*@
                            </div>
                        </div>
                    </div>

                    <div class="fixed-bottom">
                        <div class="footer  ">
                            <div class="copyright">
                                <p>Copyright © Designed &amp; Developed by <a href="" target="_blank"><img src="~/Content/images/companylogo1.png"></a> @DateTime.Now.Year</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/vendor/global/global.min.js"></script>
    <script src="~/Content/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script src="~/Content/js/custom.min.js"></script>
    <script src="~/Content/js/deznav-init.js"></script>


    @Scripts.Render("~/bundles/perfectERPTemplateJS")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/perfectERP/js")

    <script src="~/Assets/vendor/toastr/js/toastr.min.js"></script>
    <script src="~/Scripts/jqDOM/searchDOMCreation.js"></script>
    <script type="text/javascript">




        $(document).ready(function () {
            $('#loginPageForm').validate();
            $('#jq_pft_forgotPassword').click(LoginCheck);
        }); 
        $("#USERNAME").keypress(function (event) {
            var clientType = '@ViewBag.ClientType';
            if (clientType == '1') {               
                $('#USERNAME').addClass('lower-letters');
            } else {
                $('#USERNAME').removeClass('lower-letters');
            }
            if (event.which === 32) {
                event.preventDefault();
            }
        });
        $('#USERNAME').on('paste', function (event) {
            if (clientType == '1') {
                $('#USERNAME').addClass('lower-letters');
            } else {
                $('#USERNAME').removeClass('lower-letters');
            }
            event.preventDefault();
            var pastedText = event.originalEvent.clipboardData.getData('text');
            var sanitizedText = pastedText.replace(/\s+/g, '');
            var currentText = $(this).val();
            var newText = currentText + sanitizedText;
            $(this).val(newText);
        });
        function closeForgot()
        {
            window.location = '@Url.Action("Login", "Security")';
        }
     //   $('#jq_pft_forgotPassword').on('click', LoginCheck);

        $("#jqtpswd").keypress(function (event) {
            if (event.keyCode === 13) {
                $("#jq_pft_forgotPassword").click();
            }
        });

        function LoginCheck() {

            let $loginform = $('#loginPageForm');          
            let username = $loginform.find('[name=Username]').val();
            var clientType = '@ViewBag.ClientType';
            if (clientType === '1') {
                username = $loginform.find('[name=Username]').val().toLowerCase();
            }
            else {
                username = $loginform.find('[name=Username]').val();
            }
            if ($loginform.valid()) {
                let inputData = {
                    Username: username
            };

            $.ajax({
                url: "@Url.Action("ForgotPasswordSubmit", "Security")",
                type: "POST",
                data: JSON.stringify(inputData),
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    if (data.Process.IsProcess) {                     
                        if (data.Process.Status == "1") {
                            let $comment = 'Your password has been reset successfully.';
                            if (parseInt(data.Process.Message[0].length) > 0) {
                                $comment += "Please check <span style='color: #00c4ff;'>" + data.Process.Message[0] +" </span> for temporary password."
                            }
                            
                            let $fpwd = '';
                            $fpwd += "<br/><div class='row'>";                           
                            $fpwd += "<div class='col-12' style='text-align: center;'><span><h3>Password Changed!</h3></span></div></div>";
                            $fpwd += "</div>";
                            $fpwd += "<br/><div class='row' style='text-align: center;'>";                           
                            $fpwd += "<div class='col-12'><span><h6>" + $comment+"<h6></span></div></div>";
                            $fpwd += "</div>";

                            $('#divForgotPassword').empty();
                            $('#divForgotPassword').append($fpwd);
                            $('#mForgotPassword').modal({ backdrop: 'static', keyboard: false })
                            $('#mForgotPassword').modal('show');
                        }
                       
                    }
                    else {
                        $('#login_errormessage').html(data.Process.Message[0]);
                    }
                },
            });
            }
        };
    
 


        var validationMessage = {
            'PresentPassword': {
                'required': 'Please Enter Present Password',
            },
            'NewPassword': {
                'required': 'Please Enter Password',
            },
            'ConfirmPassword': {
                'required': 'Please Enter Password',
            },

        };
        function ResetButtonlogin(ele) {
            let $thisForm = $(ele).closest('[perfect-class="form"]');
            let pData = $thisForm.data('pData');
            if (pData) {
                $thisForm.find('[name=UserCode]').val(pData.UserCode),
                    $thisForm.find('[name=PresentPassword]').val(pData.PresentPassword),
                    $thisForm.find('[name=NewPassword]').val(pData.NewPassword),
                    $thisForm.find('[name=ConfirmPassword]').val(pData.ConfirmPassword)
            }
            else {
                $thisForm.find('[name=PresentPassword]').val(""),
                    $thisForm.find('[name=NewPassword]').val(""),
                    $thisForm.find('[name=ConfirmPassword]').val("")
            }
            $thisForm.validate().resetForm();
        }
    </script>
</body>
</html>