@model  PerfectWebERP.Models.User.Login
@{
    Layout = null;
}
<style>
    button > .loaderClass {
        margin-right: 4px;
        display: none;
    }
    .password__11 {
        position: relative;
    }

        .password__11 i {
            position: absolute;
            left: 0;
            top: -13px;
            z-index: 999999;
        }

    .password__33 {
        position: relative;
    }

        .password__33 i {
            position: absolute;
            left: 0;
            top: -13px;
            z-index: 1999999;
        }

    .password__22 {
        position: relative;
    }

        .password__22 i {
            position: absolute;
            left: 0;
            top: -13px;
            z-index: 1999999;
        }
    .validcheck {
        min-height: 40px;
    }
    .lower-letters {
        text-transform: lowercase;
    }

    ::placeholder  { /* Standard syntax */
        text-transform: none;
    }
</style>
<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="keywords" content="" />
	<meta name="author" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Perfect: WebTemplate" />
	<meta property="og:title" content="Perfect: WebTemplate" />
	<meta property="og:description" content="Perfect: WebTemplate" />
	<meta property="og:image" content="page-error-404.html" />
	<meta name="format-detection" content="telephone=no">
    <title>Perfect Software Solution</title>
    <!-- Favicon icon -->
    <link rel="icon" type="~/Assets/image/png" sizes="16x16" href="~/Assets/images/favicon.png">
    <link href="~/Assets/css/style.css" rel="stylesheet">
     <link href="~/Assets/css/custom.min.css" rel="stylesheet">


</head>

<body class="h-100 bg-white">
    <div class="authincation ">
        <div class="full-width ">
            <div class="authincation-login ">


                <div class="login-left">
                    <div class="authincation-content">

                        <div class="auth-form">
                            <div></div>
                            <div>
                                <div class="text-center mb-7">
                                    <a href="#"><img src="~/Assets/images/Persuite-logo.svg" alt="logo " class="img-lo"></a>
                                </div>
                                <!-- <h4 class="text-center mb-4 text-white">Sign in your account</h4> -->
                                @Html.AntiForgeryToken()
                                <form id="loginPageForm">
                                    <div class="form-group">
                                        <label class="mb-2 ">User Code  <span class="text-danger">*</span></label>
                                        <input type="text" class="form-control perfectValidate " id="Username" name="Username" placeholder="Enter a User Code.." autofocus maxlength="10">
                                        @*<span id="firstName-error" class="invalid-feedback animated fadeInUp" style="visibility: visible;">This field is required.</span>*@
                                    </div>
                                    <div class="form-group position-relative">
                                        <label class="text-label">Password <span class="text-danger">*</span></label>
                                        <input class="form-control valid perfectValidate" type="password" name="Passsword" placeholder="Enter a User Password" id="enterPW" maxlength="16" >
                                        @*<span id="firstName-error" class="invalid-feedback animated fadeInUp" style="visibility: visible;">This field is required.</span>*@
                                        <div class="input-group-append show-pass">
                                            <span class="input-group-text">
                                                <i id="eye" class="fa fa-eye-slash"></i>
                                            </span>
                                        </div>
                                        <!-- <i class="fa fa-eye"></i> -->
                                    </div>
                                    <div class="text-left">
                                        <div id="login_errormessage" class="Custominvalid animated validcheck" style="color:#FF6746;display:block;"></div>
                                    </div>


                                    <div class="form-group mb-9">
                                        <a class="link-underline-dark " href="@Url.Action("ForgotPassword","Security")">Forgot Password?</a>
                                    </div>



                                    <div class="text-center mb-9">
                                        <button type="button" class="btn btn-outline-primary btn-block" id="jq_pft_login">SIGN IN</button>
                                    </div>

                                    <div class="new-account mt-3 text-center">
                                        <p id="Accountmessage">Don’t have an account ? </p>
                                    </div>
                                </form>
                            </div>
                            <div class="text-center mb-7">

                                <button type="submit" class="btn btn-primary btn-block" id="btnSgnUp" onclick="Signup();">SIGN UP</button>
                            </div>

                            <div class="app-store ">
                                <label class="d-block md-label">Download App </label>
                                <div class="d-flex app1">

                                    <a href="@System.Configuration.ConfigurationManager.AppSettings["GooglePlayLink"]" target="_blank"><img src="~/Assets/images/GooglePlay.svg" alt="Google Play " class="img-fluid download-App-img "></a>
                                    <a href="@System.Configuration.ConfigurationManager.AppSettings["AppStoreLink"]" target="_blank"><img src="~/Assets/images/AppStore.svg" alt="App Store " class=" img-fluid download-App-img "></a>
                                </div>
                            </div>













                        </div>
                    </div>
                </div>




                <div class="right-screen  d-none-m d-none d-md-none d-sm-none d-xs-none d-lg-block d-xl-block d-xxl-block  ">
                    <div class="bg-bubbles-wrapper ">
                        <ul class="bg-bubbles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>


                    <div class="bootstrap-carousel vs-work-process work-process-layout2">

                        <div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade" data-bs-ride="carousel">
                            <div class="carousel-inner">
                                <div class="carousel-item active">

                                    <div class="vs-work-process sliding-bg1 bg-1">
                                        <div class="mid-icon">

                                            <img class="img-fluid " src="~/Assets/images/big/it-works1.png" alt="Slide Image">
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-item">

                                    <div class="vs-work-process sliding-bg1 bg-2">
                                        <div class="mid-icon">
                                            <img class="img-fluid " src="~/Assets/images/big/it-works2.png" alt="Slide Image">
                                        </div>
                                    </div>


                                </div>

                            </div>
                        </div>


                    </div>




                    <div class="footer-copyright">
                        <div class="footer  ">
                            <div class="copyright">
                                <p>Copyright © Designed &amp; Developed by <a href="" target="_blank"><img src="~/Content/images/companylogo1.png"></a> 2024</p>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>
    </div>

    <div class="md-2 modal fade" perfect-class="formChangePassword" id="Chnagepass" style="z-index: 999999;">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header border-0">
                    <h5 class="modal-title">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" onclick="Clearchange()">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body" perfect-class="formGroup" style="max-height: calc(100vh - 200px); overflow-y: auto;padding: 1rem; z-index: 999999;">
                    <div class="row">

                        <div class="card-body">
                            <form id="" class="form-valide" perfect-class="forms" action="#" method="post" perfect-onFormSuccess="">
                                <div class="">
                                    @Html.AntiForgeryToken()
                                    <div class="row">

                                        <div class="col-sm-12">
                                            <div class="form-group row" perfect-class="formGroup">
                                                <label class="col-sm-4 col-form-label">
                                                    <span perfect-class="formGroupLabel">User Code</span>
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-sm-8">
                                                    <input type="text" class="form-control" placeholder="" id="UserCode" name="UserCode" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" disabled />
                                                </div>
                                            </div>
                                            <div class="form-group row position-relative" perfect-class="formGroup">
                                                <label class="col-sm-4 col-form-label">
                                                    <span perfect-class="formGroupLabel"> Password</span>
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-sm-8 password__33">
                                                    <input type="password" class="form-control perfectValidate" placeholder="" id="PresentPassword" name="PresentPassword" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" />
                                                    <div class="input-group-append  ">
                                                        <span class="input-group-text">
                                                            <i id="eyesc" class="fa fa-eye-slash"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row position-relative" perfect-class="formGroup">
                                                <label class="col-sm-4 col-form-label">
                                                    <span perfect-class="formGroupLabel">New Password</span>
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-sm-8 password__11">
                                                    <input type="password" class="form-control perfectValidate" placeholder="" id="NewPassword" name="NewPassword" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" maxlength="16" />
                                                    @*<input type="password" class="form-control" placeholder="" name="NewPassword" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" onkeypress="userpasswordconditionschecking(this)" />*@
                                                    <div class="input-group-append  ">
                                                        <span class="input-group-text">
                                                            <i id="eyes" class="fa fa-eye-slash"></i>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group row position-relative" perfect-class="formGroup">
                                                <label class="col-sm-4 col-form-label">
                                                    <span perfect-class="formGroupLabel">Confirm Password</span>
                                                    <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-sm-8 password__22">
                                                    <input type="password" class="form-control perfectValidate" placeholder="" id="ConfirmPassword" name="ConfirmPassword" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" maxlength="16" />
                                                    <div class="input-group-append ">
                                                        <span class="input-group-text">
                                                            <i id="eyeReenters" class="fa fa-eye-slash"></i>
                                                        </span>
                                                    </div>
                                                    <div class="text-left">
                                                        <div id="Modall_errormessage" class="Custominvalid animated fadeInUp" style="color:#e94560;visibility:visible; height:58px"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="form-group row">
                                                <div class="text-left">
                                                    <div id="Modall_errormessage" class="Custominvalid animated fadeInUp" style="color:#e94560;visibility:visible; height:58px"></div>
                                                </div>
                                            </div>*@
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="card-footer text-right" perfect-class="formFooter">
                                    @*<button id="" type="button" class="btn btn-primary mr-3 addcompany-jq-addnewuserUpdate d-none" name="update" perfect-css="button" onclick="fn_OccupationForm_update(this)"><i class="fa fa-refresh fa-spin loaderClass"></i>Update</button>*@
                                    <button id="addcompany-jq-addnewuser" type="button" class="btn btn-primary mr-3 " name="add" perfect-css="button" onclick="fn_UserchangepasswordForm_add(this)"><i class="fa fa-refresh fa-spin loaderClass "></i>Save</button>
                                    <button type="button" class="btn btn-light" perfect-css="button" onclick="ResetButtonlogin(this)" name="reset">Clear</button>
                                </div>

                            </form>
                        </div>


                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--**********************************
        Scripts
    ***********************************-->
    <!-- Required vendors -->
    <script src="~/Assets/js/jquery-2.1.4.min.js"></script>

    <script src="~/Scripts/bootstrap.min.js"></script>

    <script src="~/Scripts/bootstrap.bundle.js"></script>
    <script src="~/Content/vendor/global/global.min.js"></script>

    <script src="~/Content/js/custom.min.js"></script>
    <script src="~/Content/js/deznav-init.js"></script>




    <!-- Form Steps -->

    <script src="~/Scripts/jqDOM/searchDOMCreation.js"></script>

    <script src="~/Assets/vendor/global/global.min.js"></script>
    <!-- Form validate init -->
    <script src="~/Scripts/plugins-init/jquery.validate-init.js"></script>
    <script src="~/Assets/vendor/jquery-validation/jquery.validate.min.js"></script>


    <!-- Form Steps -->

    <script src="~/Assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
    <script>

        $("#myform").validate({
            submitHandler: function (form) {
                form.submit();
            }
        });



        $(function () {
            $('select').selectpicker();
        });


    </script>

    <script src="~/Scripts/custom.min.js"></script>










    <script src="~/Assets/vendor/toastr/js/toastr.min.js"></script>
    <script src="~/Scripts/searchDOMCreation.js"></script>
    <script type="text/javascript">

 $('#carouselExampleCaptions').carousel({
    interval: 1000,
 })

$("#eye").click(function() {
    var password = document.getElementById("enterPW");
  if (password.type === "password") {
    password.type = "text";
    $('#eye').toggleClass("fa-eye fa-eye-slash");
  } else {
    password.type = "password";
    $('#eye').toggleClass("fa-eye-slash fa-eye");
  }
});


	    $(document).ready(function () {
            $('#loginPageForm').validate();
            $('#jq_pft_login').click(LoginCheck);

            var clientType = '@ViewBag.ClientType';

        // Show or hide the client-specific field based on the client type
            if (clientType === '1') {
                $('#btnSgnUp').css('visibility', 'visible'); // Show this field for 'SpecialClient'
                $('#Accountmessage').css('visibility', 'visible'); // Show this field for 'SpecialClient'
                $('#Username').addClass('lower-letters');
                $('#UserCode').addClass('lower-letters');

                $('#Username').on('keypress', function (event) {

                    if (event.which === 32) {
                        event.preventDefault();
                    }
                });
                $('#Username').on('paste', function (event) {
                    event.preventDefault();
                    var pastedText = event.originalEvent.clipboardData.getData('text');
                    var sanitizedText = pastedText.replace(/\s+/g, '');
                    var currentText = $(this).val();
                    var newText = currentText + sanitizedText;
                    $(this).val(newText);
                });
            } else {
                $('#btnSgnUp').css('visibility', 'hidden');  // Hide it for other clients
                $('#Accountmessage').css('visibility', 'hidden');  // Hide it for other clients
                $('#Username').removeClass('lower-letters');
                $('#UserCode').removeClass('lower-letters');
            }
        });

     //   $('#jq_pft_login').on('click', LoginCheck);

        $("#jqtpswd").keypress(function (event) {
            if (event.keyCode === 13) {
                $("#jq_pft_login").click();
            }
        });


        function Signup() {

              //window.open('@Url.Action("Index", "Subscription")', '_blank');
              window.location.href = '@Url.Action("Index", "Subscription")';
        }

        function LoginCheck() {
            debugger
            let $loginform = $('#loginPageForm');

            console.log($loginform.valid());
            let username = $loginform.find('[name=Username]').val();
            var clientType = '@ViewBag.ClientType';
            if (clientType === '1') {
                username= $loginform.find('[name=Username]').val().toLowerCase();
            }
            else {
                username = $loginform.find('[name=Username]').val();
            }
            if ($loginform.valid()) {
                let inputData = {
                    Username: username,
                Passsword: $loginform.find('[name=Passsword]').val().trim()
            };

            $.ajax({
                url: "@Url.Action("LoginCheck", "Security")",
                type: "POST",
                data: JSON.stringify(inputData),
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    $('#login_errormessage').html(data.Process.Message[0]);
                    if (data.Process.IsProcess) {
                        console.log('status:',data.Process.Status);
                        if (data.Process.Status == "2") {
                            //loadUsersChangePasswordAddForm()
                            let username = $('[name=Username]').val();
                            let password = $('[name=Passsword]').val();
                            $("#Chnagepass").modal('show');
                            $("#UserCode").val(username);
                            $("#PresentPassword").val(password);
                        }

                        else {
                            window.location.href = data.redircetURL
                        }
                    }

                    else {

                        $('#login_errormessage').html(data.Process.Message[0]);
                         if(data.Process.Status == "-140") {
                             $('#login_errormessage').html(data.Process.Message[0]);
                        }
                         else if (data.Process.Status == "-141") {
                             $('#login_errormessage').html(data.Process.Message[0]);
                        }
                        else if (data.Process.Status == "-142") {
                            $('#login_errormessage').html(data.Process.Message[0]);
                        }
                    }

                },
            });
            }
        };
        function loadUsersChangePasswordAddForm() {

            let $tempModel = createSearchModal().modal;
            //$tempModel.disable
            $tempModel.find('.modal-title').addClass("d-none");
            $tempModel.show();
            $tempModel.find('.modal-dialog').addClass('modal-xl');
            $tempModel.find('.modal-body').load('@Url.Action("LoadUserchangepassword", "UserChangepassword")', function () {
          //  $tempModel.find('.modal-body').load('/Persuite/UserChangepassword/LoadUserchangepassword', function () {
                let $thisForm = $(this).find('[perfect-class="form"]');
               $thisForm.validate({ messages: validationMessage });
                $thisForm.attr('perfect-onFormSuccess', 'UsersChangePasswordInitialLoad');
            });
        };
        function Clearchange() {
            $("#Chnagepass").modal('hide');
            let $thisForm = $('[perfect-class="forms"]');
            $thisForm.find('[perfect-ctype="input"]').val('');
            $('#Modall_errormessage').html('');
        }
        function createSearchModal() {
            let $modaltitle = $('<h5/>', { class: "modal-title" });
            let $closeButton = $('<button/>', {
                type: "button",
                class: "close",
                onclick:"Clearchange()",
                "data-dismiss": "modal",
                "aria-label": "Close"
            }).html('<span aria-hidden="true">&times;</span>');

            let $modalHead = $('<div/>', { class: "modal-header border-0" }).append($modaltitle, $closeButton);
            let $modalBody = $('<div/>', { class: "modal-body" });
            let $modalFooter = $('<div/>', { class: "modal-footer border-0" });
            let $modalContent = $('<div/>', { class: "modal-content "});
            let $modalDialog = $('<div/>', { class: "modal-dialog modal-dialog-centered"});
            let $modal = $('<div/>', { class: "modal fade", tabindex: "-1", role: "dialog", "aria-labelledby": "", "aria-hidden": "true", "style": "z-index: 999999;", id: "Chnagepass" })

            //remove the model when modal is closed
            // $modal.modal();
            $modal.on('hidden.bs.modal', function () {
                $(this).remove();
            });

            return {
                modal: $modal.html($modalDialog.html($modalContent.append($modalHead, $modalBody, $modalFooter))),
                disable: $modal.modal({ backdrop: 'static', keyboard: false }),
                show: $modal.modal('show'),
                close: function () { $modal.modal('hide'); }

            };
        }

        function fn_UserchangepasswordForm_add(ele)
        {
            let $thisForm = $(ele).closest('[perfect-class="forms"]');
            let username = $("#UserCode").val();
            var clientType = '@ViewBag.ClientType';
            if (clientType === '1') {
                username = username.toLowerCase();
            }
            else {
                username = username;
            }
            if ($thisForm.valid()) {
                $(ele).prop('disabled', true);
                var inputData = {
                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                    UserCode: username,
                    PresentPassword: $thisForm.find('[name= PresentPassword]').val().trim(),
                    NewPassword: $thisForm.find('[name=NewPassword]').val().trim(),
                    ConfirmPassword: $thisForm.find('[name=ConfirmPassword]').val().trim(),
                };

                $.ajax({
                    // url: "/Persuite/UserChangepassword/AddNewUserChangepassword",
                    url: "@Url.Action("AddNewUserChangepassword", "UserChangepassword")",
                    type: "POST",
                    data: inputData,
                    dataType: "json",
                    contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                    success: function (ajaxOutput) {
                        if (ajaxOutput.Process.IsProcess) {
                            $.each(ajaxOutput.Process.Message, function (key, value) {
                                NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': value });
                                window.localStorage.clear();
                                //  var url = '/Persuite/Security/LogOut';
                                var url = '@Url.Action("LogOut", "Security")';
                                window.location.href = url;

                            });
                            $thisForm.find('[perfect-ctype="select"]').val('').selectpicker('refresh');
                            $thisForm.find('[perfect-ctype="input"]').val('');
                            $thisForm.find('[perfect-ctype="digit"]').val('');
                            let onSuccess = $thisForm.attr('perfect-onFormSuccess')
                            if (onSuccess) {
                                window[onSuccess]();
                            }
                        }
                        else {
                            $('#Modall_errormessage').html(ajaxOutput.Process.Message[0]);
                        }
                    },
                    complete: function () {
                        $(ele).prop('disabled', false);
                    }
                });
            }
        }


        var validationMessage = {
            'PresentPassword': {
                'required': 'Please Enter Present Password',
            },
            'NewPassword': {
                'required': 'Please Enter Password',
            },
            'ConfirmPassword': {
                'required': 'Please Enter Password',
            },

        };
        function ResetButtonlogin(ele) {
            let $thisForm = $(ele).closest('[perfect-class="forms"]');
            let pData = $thisForm.data('pData');
            if (pData) {
                $thisForm.find('[name=UserCode]').val(pData.UserCode),
                    $thisForm.find('[name=PresentPassword]').val(pData.PresentPassword),
                    $thisForm.find('[name=NewPassword]').val(pData.NewPassword),
                    $thisForm.find('[name=ConfirmPassword]').val(pData.ConfirmPassword)
            }
            else {
                $thisForm.find('[name=PresentPassword]').val(""),
                    $thisForm.find('[name=NewPassword]').val(""),
                    $thisForm.find('[name=ConfirmPassword]').val("")
                $('#Modall_errormessage').html('');
            }
            $thisForm.validate().resetForm();
        }
        $("#eyeReenters").click(function () {
            debugger
            var ConfirmPassword = document.getElementById("ConfirmPassword");
            if (ConfirmPassword.type === "password") {
                ConfirmPassword.type = "text";
                $('#eyeReenters').toggleClass("fa-eye fa-eye-slash");
            } else {
                ConfirmPassword.type = "password";
                $('#eyeReenters').toggleClass("fa-eye-slash fa-eye");
            }
        });
        $("#eyes").click(function () {
            debugger
            var NewPassword = document.getElementById("NewPassword");
            if (NewPassword.type === "password") {
                NewPassword.type = "text";
                $('#eyes').toggleClass("fa-eye fa-eye-slash");
            } else {
                NewPassword.type = "password";
                $('#eyes').toggleClass("fa-eye-slash fa-eye");
            }
        });
        $("#eyesc").click(function () {
            debugger
            var PresentPassword = document.getElementById("PresentPassword");
            if (PresentPassword.type === "password") {
                PresentPassword.type = "text";
                $('#eyesc').toggleClass("fa-eye fa-eye-slash");
            } else {
                PresentPassword.type = "password";
                $('#eyesc').toggleClass("fa-eye-slash fa-eye");
            }
        });


    </script>



</body>


</html>