@model PerfectWebERP.Models.ServiceListModel.ServiceListModelDetails
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>

    <div class="card jqLoadCutomerDiv" id="followupPartial">


        <div class="" name="Followup_Action_LoadDiv">

            <form id="" class="form-valide" perfect-class="form" action="#" method="post" perfect-onFormSuccess="">

                @Html.AntiForgeryToken()
                <div class="col-sm-12">
                    <div class="default-tab">





                        <div id="History" class="tab-pane">
                            <br />

                            <div class="row ">
                                <div class="col-sm-12">

                                    <div class="profile-personal-info">
                                        <h4 class='text-primary mb-4'>Customer Info</h4>
                                        <div style="display:flex">
                                            @if (Model != null)
                                            {
                                                string Adress = Model.Address1 + " ," + Model.Address2 + ", " + Model.Post + " ," + Model.Area + ", " + Model.District + " ," + Model.State + ", " + Model.Landmark + ", " + Model.PinCode;
                                                <div class="col-sm-4">
                                                    <div class="form-group2 row" perfect-class="formGroup">
                                                        <label class="col-sm-3 col-form-label">
                                                            <span perfect-class="formGroupLabel" class="font-weight-bold">Name:</span>

                                                        </label>
                                                        <div class="col-sm-8">
                                                            <label class="col-sm-8 col-form-label" perfect-class="formGroupControl" name="Name" perfect-ctype="input" perfect-css="input">@Model.Name</label>

                                                        </div>

                                                    </div>

                                                    <div class="form-group2 row" perfect-class="formGroup">
                                                        <label class="col-sm-3 col-form-label">
                                                            <span perfect-class="formGroupLabel" class="font-weight-bold">Address:</span>
                                                        </label>
                                                        <div class="col-sm-8">
                                                            <input type="text" class="form-control perfectValidate_specialCharName" placeholder="" name="Address" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input" value="@Adress" readonly />

                                                        </div>
                                                    </div>



                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group2 row" perfect-class="formGroup">
                                                        <label class="col-sm-3 col-form-label">
                                                            <span perfect-class="formGroupLabel" class="font-weight-bold">GSTIN:</span>

                                                        </label>
                                                        <div class="col-sm-8">
                                                            <label class="col-sm-8 col-form-label" perfect-class="formGroupControl" id="GSTIN" name="GSTIN" perfect-ctype="input" perfect-css="input">@Model.GSTIN</label>

                                                        </div>

                                                    </div>
                                                    <div class="form-group2 row" perfect-class="formGroup">
                                                        <label class="col-sm-3 col-form-label">
                                                            <span perfect-class="formGroupLabel" class="font-weight-bold">Mobile:</span>
                                                        </label>
                                                        <div class="col-sm-8">

                                                            <label class="col-sm-8 col-form-label" perfect-class="formGroupControl" name="Mobile" perfect-ctype="input" perfect-css="input">@Model.Mobile</label>

                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group2 row" perfect-class="formGroup">
                                                        <label class="col-sm-3 col-form-label">
                                                            <span perfect-class="formGroupLabel" class="font-weight-bold">Phone:</span>

                                                        </label>
                                                        <div class="col-sm-8">
                                                            <label class="col-sm-8 col-form-label" type="text" perfect-class="formGroupControl" name="Phone" perfect-ctype="input" perfect-css="input">@Model.PhoneNo</label>

                                                        </div>

                                                    </div>

                                                </div>
                                            }

                                        </div>









                                    </div>
                                </div>

                                <div class="col-sm-12 transactionhistory">
                                    <div id="jq_ServiceIndex_formContainer">
                                        <div class="card ">

                                            <div class="card-body px-2">


                                                <div class="jq_service_commonForm_div">

                                                    @Html.AntiForgeryToken()


                                                    @*<input type="hidden" id="hdnmdlReturnStage" name="hdnmdlReturnStage" value="" />*@


                                                    <div class="profile-personal-info">
                                                        <h4 class='text-primary mb-4'>Transaction History</h4>

                                                    </div>
                                                    <div class="table-responsive">

                                                        <table class="table table-striped" id="TransactionHistory">


                                                            @if (Model.DtTransHistryList != null)
                                                            {
                                                                <thead class="thead-primary">
                                                                    <tr>
                                                                        @if (Model.DtTransHistryList.Rows.Count > 0)
                                                                        {
                                                                            for (int i = 0; i < Model.DtTransHistryList.Columns.Count; i++)
                                                                            {
                                                                                if (Model.DtTransHistryList.Columns[i].ColumnName == "TransMode" || Model.DtTransHistryList.Columns[i].ColumnName == "MasterID")
                                                                                {
                                                                                    <th style="display:none"> @Model.DtTransHistryList.Columns[i].ColumnName </th>
                                                                                }
                                                                                else
                                                                                {
                                                                                    if (Model.DtTransHistryList.Columns[i].ColumnName == "Amount")
                                                                                    {
                                                                                        <th style="text-align:right"> @Model.DtTransHistryList.Columns[i].ColumnName </th>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <th> @Model.DtTransHistryList.Columns[i].ColumnName </th>
                                                                                    }

                                                                                }

                                                                            }
                                                                        }
                                                                    </tr>
                                                                </thead>
                                                                <tbody class="Transactionbody" id="Transactionbody">
                                                                    @if (Model.DtTransHistryList.Rows.Count > 0)
                                                                    {
                                                                        for (int i = 0; i < Model.DtTransHistryList.Rows.Count; i++)
                                                                        {
                                                                            <tr onclick="LoadList('@Model.DtTransHistryList.Rows[i]["MasterID"].ToString()','@Model.DtTransHistryList.Rows[i]["TransMode"].ToString()')">
                                                                                @for (int j = 0; j < Model.DtTransHistryList.Columns.Count; j++)
                                                                                {
                                                                                    if (Model.DtTransHistryList.Columns[j].ColumnName == "TransMode" || Model.DtTransHistryList.Columns[j].ColumnName == "MasterID")
                                                                                    {
                                                                                        <td style="display:none"> @Model.DtTransHistryList.Rows[i][j].ToString() </td>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        if (Model.DtTransHistryList.Columns[j].ColumnName == "Amount")
                                                                                        {
                                                                                            <td style="text-align:right"> @Model.DtTransHistryList.Rows[i][j].ToString() </td>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <td> @Model.DtTransHistryList.Rows[i][j].ToString() </td>
                                                                                        }

                                                                                    }
                                                                                }
                                                                            </tr>

                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <tr id="0">
                                                                            <td colspan="9" style="text-align:center;">No Records...</td>
                                                                        </tr>
                                                                    }

                                                                </tbody>
                                                            }
                                                        </table>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="col-sm-12">

                                    <div class="card-body">
                                        <div class="profile-personal-info">
                                            <h4 class='text-primary mb-4'>EMI Details</h4>
                                        </div>



                                        <div class="table-responsive">
                                            @if (Model.DtEMIList != null)
                                            {
                                                <table class="table  table-striped" id="EMI">
                                                    <thead class="thead-primary">
                                                        <tr>
                                                            @if (Model.DtEMIList.Rows.Count > 0)
                                                            {
                                                                for (int i = 0; i < Model.DtEMIList.Columns.Count; i++)
                                                                {
                                                                    if (Model.DtEMIList.Columns[i].ColumnName == "Module" || Model.DtEMIList.Columns[i].ColumnName == "TransMode" || Model.DtEMIList.Columns[i].ColumnName == "MasterID")
                                                                    {
                                                                        <th style="display:none">@Model.DtEMIList.Columns[i].ColumnName </th>
                                                                    }
                                                                    else
                                                                    {
                                                                        if (Model.DtEMIList.Columns[i].ColumnName != "Check List")
                                                                        {
                                                                            if (Model.DtEMIList.Columns[i].ColumnName == "Due" || Model.DtEMIList.Columns[i].ColumnName == "Balance" || Model.DtEMIList.Columns[i].ColumnName == "Amount")
                                                                            {
                                                                                <th style="text-align:right">@Model.DtEMIList.Columns[i].ColumnName </th>

                                                                            }
                                                                            else
                                                                            {
                                                                                <th>@Model.DtEMIList.Columns[i].ColumnName </th>
                                                                            }
                                                                        }

                                                                    }

                                                                }
                                                            }
                                                        </tr>


                                                    </thead>
                                                    <tbody class="EMIbody" id="EMIbody">
                                                        @if (Model.DtEMIList.Rows.Count > 0)
                                                        {
                                                            for (int i = 0; i < Model.DtEMIList.Rows.Count; i++)
                                                            {
                                                                <tr onclick="LoadEMIHstryList('@Model.DtEMIList.Rows[i]["MasterID"].ToString()','@Model.DtEMIList.Rows[i]["TransMode"].ToString()')">
                                                                    @for (int j = 0; j < Model.DtEMIList.Columns.Count; j++)
                                                                    {
                                                                        if (Model.DtEMIList.Columns[j].ColumnName == "Module" || Model.DtEMIList.Columns[j].ColumnName == "TransMode" || Model.DtEMIList.Columns[j].ColumnName == "MasterID")
                                                                        {
                                                                            <td style="display:none">@Model.DtEMIList.Rows[i][j].ToString()  </td>
                                                                        }
                                                                        else
                                                                        {
                                                                            if (Model.DtEMIList.Columns[j].ColumnName != "Check List")
                                                                            {
                                                                                if (Model.DtEMIList.Columns[j].ColumnName == "Due" || Model.DtEMIList.Columns[j].ColumnName == "Balance" || Model.DtEMIList.Columns[j].ColumnName == "Amount")
                                                                                {

                                                                                    <td style="text-align:right">@Model.DtEMIList.Rows[i][j].ToString() </td>
                                                                                }
                                                                                else
                                                                                {
                                                                                    <td>@Model.DtEMIList.Rows[i][j].ToString() </td>
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                </tr>

                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr id="0">
                                                                <td colspan="@Model.DtEMIList.Columns.Count.ToString()" style="text-align:center;">No Records...</td>
                                                            </tr>
                                                        }
                                                    </tbody>

                                                </table>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 jqLoadEMIHistory"  id="divEMIHistory">

                                </div>

                                <div class="col-sm-12 jqLoadListData" id="divLoadListData">

                                </div>

                                <script src="~/Scripts/scrollreveal.min.js"></script>





                            </div>

                        </div>

                    </div>


                </div>
                <div class="card-footer text-right" perfect-class="formFooter">
                    <button id="btnBack" type="button" class="btn btn-primary" perfect-css="button" onclick="BackToUniversalSearch(this)" name="reset">Back</button>
                </div>
            </form>
        </div>
    </div>

    <script src="~/Scripts/jqDOM/searchDOMCreation.js"></script>
    <script>
        function LoadList(MasterID, TransMode) {
             $('#divLoadListData').load('@Url.Action("LoadCustomerDetailsDatas", "UniversalSearch")?ReferenceID=' + MasterID + '&&TransMode=' + TransMode, function () {


                 $('#divEMIHistory').html("");

                 $('html,body').animate({ scrollTop: $($('.jqLoadCutomerDiv').find('.jqLoadListData')).offset().top }, 1000);

            });

        }
        function LoadEMIHstryList(MasterID, TransMode) {
            $('#divEMIHistory').load('@Url.Action("LoadEMIHstryDetailsDatas", "UniversalSearch")?ReferenceID=' + MasterID + '&&TransMode=' + TransMode, function () {




                $('html,body').animate({ scrollTop: $($('.jqLoadCutomerDiv').find('.jqLoadEMIHistory')).offset().top }, 1000);
            });

        }
        function BackToUniversalSearch() {
              window.open("@Url.Action("Index", "UniversalSearch")", '_self');

        }
    </script>
</body>
</html>
