
@{
    ViewBag.Title = "Other Company";
}





<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="othercompany-form">

        </div>
    </div>
</div>
@section scripts{

    <script type="text/javascript">

        const $formContainer = $('#othercompany-form');

        $(document).ready(function () {
           othercompanyInitialLoad();

        });

        function othercompanyInitialLoad() {

             @if (ViewBag.PagedAccessRights.UsrrlMsView)
              {
                 <text>   loadothercompanyList(this); </text>
              }
           
            loadothercompanyAddForm();
        }

        function loadothercompanyAddForm() {

            $formContainer.load('@Url.Action("LoadFormOtherCompany", "OtherCompany")', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');
                // ... Custom validation message
               $thisForm.validate({ messages: validationMessage });
                // ... Custom validation message

                $thisForm.attr('perfect-onFormSuccess', 'othercompanyInitialLoad');
            });

        };

        var validationMessage = {


            'Name': {
                'required': 'Please Enter Name',
                'maxlength': jQuery.validator.format('Name should be less than {0} characters'),
               // 'specialCharName': 'All Special Character Are not Allowed'
            },

            'ShortName': {
                'required': 'Please Enter a Short Name',
                'maxlength': jQuery.validator.format(' Name should be less than {0} characters'),
                'alphanumeric': 'Special characters are not allowed in short name'
            },

           
            'RegisterNo': {
                'required': 'Please Enter Register Number',
                //'maxlength': jQuery.validator.format('Branch name should be less than {0} characters'),
                'specialChar': 'Special characters are not allowed in Register Number '
            },
            'CountryID': {
                'required': 'Please Select a Country',
                'digits': 'Invalid Country selected'
            },
        };



         function loadothercompanyList(ele) {
        let $sidemenu = $sideMenuOptions.body;
       
       // let $thisForm = $(ele).closest('.Search-Control');

        let $thisForm = $(ele).closest('.testSearchBox');
        let SearchName = $thisForm.find('input').val();
        console.log("GH",SearchName)
        $sideMenuOptions.title.find('h4').text('Other Company List');
          let pageUrl = '@Url.Action("GetOtherCompanyList", "OtherCompany")';
            $.ajax({
                url:pageUrl,
                type: "POST",
                data: { pageSize: 15, pageIndex: 0, Name: SearchName },
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (ajaxOutput) {


                          if (ajaxOutput.Process.IsProcess) {
                              console.log('other Company', ajaxOutput);
                              $sidemenu.find('.jq_sidemenu_title').text("Other Company");

                              $sidemenu.empty().append('<div class="d-flex justify-content-end mb-2 position-relative"><div class="col-md-6 position-absolute top-1 z-index"> <div class="input-group testSearchBox"><input type="text" class="form-control " name="SearchName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input"  /><div class="input-group-append"><button id="addcountry-jq-searchButton6" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="loadothercompanyList(this)"></button></div></div></div></div>', $('<div/>', {class:"col-md-12 table_temp_class"}).html(pft_table_createtable(ajaxOutput.Data, tableOptions)))
                             // $sidemenu.find('table').dataTable({ paging: true });


                              let $table = $sidemenu.find('table');
                              $table.dataTable({
                                  "serverSide": true,//no change
                                  "processing": true,//-- process text when clicked
                                  //"lengthChange": false,
                                  "lengthMenu": [10, 15, 20, 25, 50, 100],//---drop down page size
                                  "searching": false,//--no change
                                  "ordering": false,//--sorting
                                  "deferLoading": ajaxOutput.totalrecord,//<----to total number of record from db
                                  "displayStart": ajaxOutput.pageIndex * ajaxOutput.pageSize,//<----starting record
                                  "pageLength": ajaxOutput.pageSize,//<----page size
                                  "recordsFiltered": ajaxOutput.pageSize,//<---page size

                                  "ajax": returnajaxPagination({ apiurl: pageUrl, pageSize: ajaxOutput.pageSize, searchkey: SearchName }, tableOptions, $table)
                              });

                          }
                else {
                              if (ajaxOutput.Process.Status = "NoData") {
                                 
                                  $sidemenu.find('.jq_sidemenu_title').text("Other Company");

                                  $sidemenu.empty().append('<div class="d-flex justify-content-end mb-2"><div class="col-md-6 position-absolute top-1 z-index"> <div class="input-group testSearchBox"><input type="text" class="form-control " name="SearchName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input"  /><div class="input-group-append"><button id="addcountry-jq-searchButton6" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="loadothercompanyList(this)"></button></div></div></div></div>', $('<div/>', { class: "col-md-12 table_temp_class" }).html(pft_table_createtable(ajaxOutput.Data, tableOptions)))
                        // $sidemenu.find('table').dataTable({ paging: true });


                        let $table = $sidemenu.find('table');
                        $table.dataTable({
                            "serverSide": true,//no change
                            "processing": true,//-- process text when clicked
                           // "lengthChange": false,
                           "lengthMenu": [],//---drop down page size
                            "searching": false,//--no change
                            "ordering": false,//--sorting
                            "deferLoading": ajaxOutput.totalrecord,//<----to total number of record from db
                            "displayStart": ajaxOutput.pageIndex * ajaxOutput.pageSize,//<----starting record
                            "pageLength": ajaxOutput.pageSize,//<----page size
                            "recordsFiltered": ajaxOutput.pageSize,//<---page size

                            "ajax": returnajaxPagination({ apiurl: pageUrl, pageSize: ajaxOutput.pageSize }, tableOptions, $table)
                        });
                    }
                    else {
                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                        });
                    }
                }




            },
            complete: function () {

            }
        });
    }
    function returnajaxPagination(ajaxInfo, tableOptions, tableid) {
        //{ apiurl, pageSize }
        return {
            url: ajaxInfo.apiurl,
            type: "post",
            data: function () {
                var info = tableid.DataTable().page.info();
                console.log('RETURN AJAX', info)
                //return { <antiforgery>:<antiforgery>, length: ajaxInfo.pageSize, page: info.page }
                let input = { pageSize: info.length, pageIndex: info.page };
                if (ajaxInfo.searchkey) {
                    input["Name"] = ajaxInfo.searchkey;
                }
                return input
            },
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            success: function (dtajaxOutput) {
                // $sideMenuOptions.body.html(pft_table_createtable(dtajaxOutput.Data, tableOptions));
                let table = tableid.DataTable();
                table.destroy();
                pft_table_newTableBody(tableid, dtajaxOutput.Data, tableOptions);

                tableid.dataTable({
                    "serverSide": true,
                    "processing": true,
                    //"lengthChange": false,
                    "lengthMenu": [10, 15, 20, 25, 50, 100],
                    "searching": false,
                    "ordering": false,
                    "deferLoading": dtajaxOutput.totalrecord,
                    "displayStart": dtajaxOutput.pageIndex * dtajaxOutput.pageSize,
                    "pageLength": dtajaxOutput.pageSize,
                    "recordsFiltered": dtajaxOutput.pageSize,
                    "ajax": returnajaxPagination(ajaxInfo, tableOptions, tableid)
                })

            },

        }
        }

        var tableOptions = {
            dropdown: {
                buttons: [

                  @if (ViewBag.PagedAccessRights.UsrrlMsView) {
        <text>{ displayName: "View", action: editOtherCompany },</text>
    }

                    { type: "divider" },
     @if (ViewBag.PagedAccessRights.UsrrlMsDel)
             {
                 <text> { displayName: "Delete", action: deleteOtherCompany},</text>

              }
                  
                   
                ],
                class: "btn btn-success light sharp"
            },
            onlyShowColumn: ["SlNo", "Name","ShortName"],
            hideColumn: [],
            rowClickAction: editOtherCompany,
            //serialNo: true,

            renameHeader: { "SlNo": "SL NO", "Name": "Name"}
        };

         function editOtherCompany() {
             let row = $(this).closest('tr');

             let Saveddata = row.data('pData');
             console.log("Saved data", Saveddata);

             $('.dataTable tr').removeClass("SelectForDelete");
             $(this).closest('tr').addClass('SelectForDelete');

             let inputData = {
                 __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                 OtherCompanyID: Saveddata.OtherCompanyID

             };

             $.ajax({
                 url: '@Url.Action("GetOtherCompanyInfoByID", "OtherCompany")',
                 type: "POST",

                 data: inputData,
                 dataType: "json",
                 contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                 success: function (ajaxOutput) {


                     console.log("Return", ajaxOutput);
                     if (ajaxOutput.Process.IsProcess) {

                         console.log('>_ Inside GetCompanyInfo', ajaxOutput)

                         $sideMenuOptions.close();

                         $formContainer.load("@Url.Action("LoadFormOtherCompany", "OtherCompany")", function () {

                             $(this).find('[perfect-class=formTitle]').text('update : ' + ajaxOutput.Data[0].Name)
                             console.log('Inside load');

                             let $thisForm = $(this).find('[perfect-class="form"]');

                             // ... Custom validation message
                             $thisForm.validate({ messages: validationMessage });
                // ... Custom validation message

                             $thisForm.data({ pData: ajaxOutput.Data[0] }); //setting the pdata value in form for update -id is taking

                             $thisForm.attr('perfect-onFormSuccess', 'othercompanyInitialLoad');

                             $thisForm.find('button[name=add]').addClass('d-none');
                             $thisForm.find('button[name=update]').removeClass('d-none');
                            
                                 $thisForm.find('[name="Name"]').val(ajaxOutput.Data[0].Name),
                                 $thisForm.find('[name="ShortName"]').val(ajaxOutput.Data[0].ShortName),
                                 
                                 $thisForm.find('[name="RegisterNo"]').val(ajaxOutput.Data[0].RegisterNo),
                                 $thisForm.find('[name="Address"]').val(ajaxOutput.Data[0].Address),
                                
                                 $thisForm.find('[name="Email"]').val(ajaxOutput.Data[0].Email),
                                 $thisForm.find('[name="WebSite"]').val(ajaxOutput.Data[0].WebSite),
                                 $thisForm.find('[name="Mobile"]').val(ajaxOutput.Data[0].Mobile),
                                 
                               
                                 $thisForm.find('[name="Country"]').val(ajaxOutput.Data[0].Country),
                                 $thisForm.find('[name="CountryID"]').val(ajaxOutput.Data[0].CountryID),
                                 $thisForm.find('[name="States"]').val(ajaxOutput.Data[0].States),
                                 $thisForm.find('[name="StatesID"]').val(ajaxOutput.Data[0].StatesID),
                                 $thisForm.find('[name="DistrictID"]').val(ajaxOutput.Data[0].DistrictID),
                                 $thisForm.find('[name="District"]').val(ajaxOutput.Data[0].District),
                                 $thisForm.find('[name="PinCode"]').val(ajaxOutput.Data[0].PinCode),
                                 $thisForm.find('[name="Area"]').val(ajaxOutput.Data[0].Area),
                                 $thisForm.find('[name="AreaID"]').val(ajaxOutput.Data[0].AreaID),
                                 $thisForm.find('[name="Post"]').val(ajaxOutput.Data[0].Post),
                                 $thisForm.find('[name="PostID"]').val(ajaxOutput.Data[0].PostID),
                                 $thisForm.find('[name="Place"]').val(ajaxOutput.Data[0].Place),
                                 $thisForm.find('[name="PlaceID"]').val(ajaxOutput.Data[0].PlaceID)


                                });
                     }
                     else {
                         console.log('>_ Inside GetotherCompanyInfo :false')

                         $.each(ajaxOutput.Process.Message, function (key, value) {
                             NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                         });
                     }
                 },

             });

         }

           // Function to delete Company

            function deleteOtherCompany() {
            let $row = $(this).closest('tr');


            let Saveddata = $row.data('pData');
                console.log("Saved data", Saveddata);

                $('.dataTable tr').removeClass("SelectForDelete");
                $(this).closest('tr').addClass('SelectForDelete');

                $.ajax({
                    url: "@Url.Action("GetOtherCompanyDeleteReasonList", "OtherCompany")",
                    type: "GET",
                    // data: inputReason,
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    success: function (ajaxReasonOutput) {
                        if (ajaxReasonOutput.Process.IsProcess) {

                            console.log('Inside res ajax', ajaxReasonOutput.Data)


                            //delete code

                            let confirmationDialogBoxOption = { heading: "Are you Sure?", body: "Do you want to remove  " + Saveddata.Name + " ?", cancel: "No", confirm: "Yes", reason: ajaxReasonOutput.Data };

                            var res = ConfirmDialog(confirmationDialogBoxOption);



                            res.then(function (ret) {
                                if (ret) {

                                    let inputData = {
                                        __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                                        ID_OtherCompany: Saveddata.OtherCompanyID,
                                        ReasonID: ret
                                    };


                                    $.ajax({
                                        url: "@Url.Action("DeleteOtherCompanyInfo", "OtherCompany")",
                                        type: "POST",
                                        data: inputData,
                                        contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                                        success: function (ajaxOutput) {

                                            if (ajaxOutput.Process.IsProcess) {

                                                $.each(ajaxOutput.Process.Message, function (key, value) {

                                                    NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': 'Deleted Successfully' });
                                                });

                                                //removing a data
                                                let table = $row.closest('table').DataTable()
                                                table.row($row).remove().draw();
                                            }
                                            else {
                                                $.each(ajaxOutput.Process.Message, function (key, value) {

                                                    NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                                                });
                                            }

                                        }
                                    });


                                }
                                else {

                                    NotificationMessage({ 'message': 'No option selected' });
                                }

                            });

                            //-----delete code

                        }
                    }
                    });

        };




    </script>

}
