


<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12" id="jq_Backupsettings_formContainer">

        </div>
    </div>


</div>
@section scripts{

    <script type="text/javascript">
        const LastIDSessionKey = 'BackupsettingsLastID';
        var BackupsettingsTransMode = '';
        var LastID_Backupsettings;
       
        //--- Form
        const $formContainer = $('#jq_Backupsettings_formContainer');
        // Initial load functions
        $(document).ready(function () {
            fn_Backupsettings_initialLoad();
        });

        function fn_Backupsettings_initialLoad() {
          
            BackupsettingsTransMode = "";
        

            BackupsettingsTransMode = '@ViewBag.TransMode';
              
           loadBackupsettingsList(this);
            loadBackupsettingsAddForm();
          


        }

    
        function loadBackupsettingsAddForm() {

          $formContainer.load('@Url.Action("LoadBackupsettingsForm", "BackupSetting")?mtd=@ViewBag.mtd', function () {

                let $thisForm = $(this).find('[perfect-class="form"]');

                // ... Custom validation message
                $thisForm.validate({ messages: validationMessage });
                // ... Custom validation message
             
              $thisForm.find('[name="BSActive"]').prop('checked', true);
              $thisForm.attr('perfect-onFormSuccess', 'fn_Backupsettings_initialLoad');
               // initFunctions($thisForm);

            });

        };
        var validationMessage = {
            'BSBackupName': {
                'required': 'Please Enter Backup Name',
                'stringonly': 'Special Characters are not Allowed in  Backup Name'

            },
            'BSBackupType': {
                'required': 'Please Select Back up Type', 
                'stringonly': 'Special Characters are not Allowed in Back up Type'

            },
            'BSBackupPath': {
                'required': 'Please Enter Backup Path',
                'stringonly': 'Special Characters are not Allowed in  Backup Path'

            },

        };

             var tableOptions = {
        dropdown: {
            buttons: [



                    @if (ViewBag.PagedAccessRights.UsrrlMsView) {
        <text> { displayName: "View", action: editBackupSetting },</text>
    }

    { type: "divider" },
    @if (ViewBag.PagedAccessRights.UsrrlMsDel) {
        <text> { displayName: "Delete", action: DeleteBackupSetting },</text>

    }

         ],
         class: "btn btn-success light sharp"
     },
                 onlyShowColumn: ["SlNo","BSBackupName"],
     hideColumn: [],
                 rowClickAction: editBackupSetting,
     serialNo: false,
    renameHeader: {
        "SlNo": "SlNo", "BSBackupName": "Back Up Name"},
   
        };


        
        function loadBackupsettingsList(ele)
        {
            debugger
            let $sidemenu = $sideMenuOptions.body;
            let $thisForm = $(ele).closest('.testSearchBox');
            let SearchName = $thisForm.find('input').val();
     
             $sideMenuOptions.title.find('h4').text('@ViewBag.PageTitles'+' '+'List');
            let pageUrl = "@Url.Action("GetBackupSettingList", "BackupSetting")";
            $.ajax({
                url:pageUrl,
                type: "POST",
                data: { pageSize: 15, pageIndex: 0, Name: SearchName, TransMode: BackupsettingsTransMode},
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (ajaxOutput) {

                    console.log(ajaxOutput, 'ajaxOutput>>>>2');
                    console.log("tableoption123", tableOptions)
                    if (ajaxOutput.Process.IsProcess) {
                       
                        $sidemenu.empty().append('<div class="d-flex justify-content-end mb-2 position-relative"><div class="col-md-6 position-absolute top-1 z-index"> <div class="input-group testSearchBox"><input type="text" class="form-control " name="SearchName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input"  /><div class="input-group-append"><button id="addcountry-jq-searchButton6" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="loadBackupsettingsList(this)"></button></div></div></div></div>', $('<div/>', { class: "col-md-12 table_temp_class" }).html(pft_table_createtable(ajaxOutput.Data, tableOptions)))
                        let $table = $sidemenu.find('table');
                        $table.dataTable({
                            "serverSide": true,
                            "processing": true,
                            "lengthMenu": [10, 15, 20, 25, 50, 100],
                            "searching": false,
                            "ordering": false,
                            "deferLoading": ajaxOutput.totalrecord,
                            "displayStart": ajaxOutput.pageIndex * ajaxOutput.pageSize,
                            "pageLength": ajaxOutput.pageSize,
                            "recordsFiltered": ajaxOutput.pageSize,
                            "ajax": returnajaxPagination({ apiurl: pageUrl, pageSize: ajaxOutput.pageSize, searchkey: SearchName, TransMode: BackupsettingsTransMode }, tableOptions, $table)
                        });

                    }
                    else {
                        if (ajaxOutput.Process.Status = "NoData") {
                            $sidemenu.find('.jq_sidemenu_title').text("Language");
                            $sidemenu.empty().append('<div class="d-flex justify-content-end mb-2"><div class="col-md-6 position-absolute top-1 z-index"> <div class="input-group testSearchBox"><input type="text" class="form-control " name="SearchName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input"  /><div class="input-group-append"><button id="addcountry-jq-searchButton6" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="loadBackupsettingsList(this)"></button></div></div></div></div>', $('<div/>', { class: "col-md-12 table_temp_class" }).html(pft_table_createtable(ajaxOutput.Data, tableOptions)))

                            let $table = $sidemenu.find('table');
                            $table.dataTable({
                                "serverSide": true,
                                "processing": true,
                                "lengthMenu": [],
                                "searching": false,
                                "ordering": false,
                                "deferLoading": ajaxOutput.totalrecord,
                                "displayStart": ajaxOutput.pageIndex * ajaxOutput.pageSize,
                                "pageLength": ajaxOutput.pageSize,
                                "recordsFiltered": ajaxOutput.pageSize,

                                "ajax": returnajaxPagination({ apiurl: pageUrl, pageSize: ajaxOutput.pageSize, searchkey: SearchName, TransMode: BackupsettingsTransMode }, tableOptions, $table)
                            });
                        }
                        else {
                            $.each(ajaxOutput.Process.Message, function (key, value) { NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value }); });
                        }
                    }
                },
                complete: function () {}
            })
            
        };

        function returnajaxPagination(ajaxInfo, tableOptions, tableid) {
            //{ apiurl, pageSize }
            return {
                url: ajaxInfo.apiurl,
                type: "post",
                data: function () {
                    var info = tableid.DataTable().page.info();
                    console.log('RETURN AJAX', info)

                    let input = { pageSize: info.length, pageIndex: info.page };
                    if (ajaxInfo.searchkey) {
                        input["Name"] = ajaxInfo.searchkey;
                    }
                    return input
                },
                dataType: "json",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (dtajaxOutput) {

                    let table = tableid.DataTable();
                    table.destroy();
                    pft_table_newTableBody(tableid, dtajaxOutput.Data, tableOptions);

                    tableid.dataTable({
                        "serverSide": true,
                        "processing": true,

                        "lengthMenu": [10, 15, 20, 25, 50, 100],
                        "searching": false,
                        "ordering": false,
                        "deferLoading": dtajaxOutput.totalrecord,
                        "displayStart": dtajaxOutput.pageIndex * dtajaxOutput.pageSize,
                        "pageLength": dtajaxOutput.pageSize,
                        "recordsFiltered": dtajaxOutput.pageSize,
                        "ajax": returnajaxPagination(ajaxInfo, tableOptions, tableid)
                    })

                },

            }
        }


        function editBackupSetting() {
             let row = $(this).closest('tr');

        let Saveddata = row.data('pData');
        $('.dataTable tr').removeClass("SelectForDelete");
        $(this).closest('tr').addClass('SelectForDelete');
           
        console.log("Saved data", Saveddata);
        let inputData = {
            __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
            ID_BackupSettings: Saveddata.ID_BackupSettings,
            TransMode: BackupsettingsTransMode

        };

        $.ajax({
            url: '@Url.Action("GetBackupSettingInfoByID", "BackupSetting")',
            type: "POST",

            data: inputData,
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            success: function (ajaxOutput) {
                debugger;

               // console.log("Return", ajaxOutput.ProductDetails.Data[0]);
                if (ajaxOutput) {

                    console.log('>_ Inside GetBackupSettingInfo', ajaxOutput)


                    $formContainer.load("@Url.Action("LoadBackupsettingsForm", "BackupSetting")?mtd=@ViewBag.mtd", function () {

                        $(this).find('[perfect-class=formTitle]').text('update : ')
                        console.log('Inside load');

                        let $thisForm = $(this).find('[perfect-class="form"]');

                       

                        $thisForm.validate({ messages: validationMessage });

                      
                      


                        $thisForm.find('[name="ID_BackupSettings"]').val(ajaxOutput.Data[0].ID_BackupSettings),
                       
                        
                      
                            $thisForm.find('[name="BSBackupType"]').val(ajaxOutput.Data[0].BSBackupType),

                            $thisForm.find('[name="BSBackupName"]').val(ajaxOutput.Data[0].BSBackupName),

                            $thisForm.find('[name="BSBackupPath"]').val(ajaxOutput.Data[0].BSBackupPath),
                            $thisForm.find('[name="BSKeepOldCopy"]').val(ajaxOutput.Data[0].BSKeepOldCopy),
                            $thisForm.find('[name="SortOrder"]').val(ajaxOutput.Data[0].BSSortOrder),
                            $thisForm.find('[name="BSOverwrite"]').prop('checked', ajaxOutput.Data[0]['BSOverwrite']);
                        $thisForm.find('[name="BSActive"]').prop('checked', ajaxOutput.Data[0]['BSActive']);

                      

                       
                        $sideMenuOptions.close();
                        $thisForm.find('button[name=add]').addClass('d-none');
                        $thisForm.find('button[name=update]').removeClass('d-none');
                     
                        $thisForm.attr('perfect-onFormSuccess', 'fn_Backupsettings_initialLoad');

                    });
                }
                else {
                    console.log('>_ Inside fn_Backupsettings_initialLoad :false')

                    $.each(ajaxOutput.Process.Message, function (key, value) {
                        NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                    });
                }

                
            },

        });

        }

        function DeleteBackupSetting() {
            debugger
            let $row = $(this).closest('tr');


            let Saveddata = $row.data('pData');
               console.log("Saved data", Saveddata);
               $('.dataTable tr').removeClass("SelectForDelete");
               $(this).closest('tr').addClass('SelectForDelete');
                $.ajax({
                    url: "@Url.Action("GetBackupSettingsReasonList", "BackupSetting")",
                    type: "GET",
                    // data: inputReason,
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    success: function (ajaxReasonOutput) {
                        if (ajaxReasonOutput.Process.IsProcess) {

                            console.log('Inside res ajax', ajaxReasonOutput.Data)


                            //delete code

                            let confirmationDialogBoxOption = { heading: "Are you Sure?", body: "Do you want to remove  " + '' + " ?", cancel: "No", confirm: "Yes", reason: ajaxReasonOutput.Data };

                            var res = ConfirmDialog(confirmationDialogBoxOption);



                            res.then(function (ret) {
                                if (ret) {

                                    let inputData = {
                                        __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                                        ID_BackupSettings: Saveddata.ID_BackupSettings,
                                        ReasonID: ret
                                    };
                                    console.log(inputData);

                                    $.ajax({
                                        url: "@Url.Action("DeleteBackupSettings", "BackupSetting")",
                                        type: "POST",
                                        data: inputData,
                                        contentType: 'application/x-www-form-urlencoded;charset=utf-8',
                                        success: function (ajaxOutput) {

                                            if (ajaxOutput.Process.IsProcess) {

                                                $.each(ajaxOutput.Process.Message, function (key, value) {

                                                    NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': 'Deleted Successfully' });
                                                });

                                                //removing a data
                                                let table = $row.closest('table').DataTable()
                                                table.row($row).remove().draw();
                                                $('.dataTable tr').removeClass("SelectForDelete");
                                            }
                                            else {
                                                $.each(ajaxOutput.Process.Message, function (key, value) {

                                                    NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                                                    $('.dataTable tr').removeClass("SelectForDelete");
                                                });
                                            }

                                        }
                                    });


                                }
                                else {

                                    NotificationMessage({ 'message': 'No option selected' });
                                }

                            });

                            //-----delete code

                        }
                    }
                    });

        };
    </script>
    }

