

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="container-fluid">
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-12" id="leaveSettings">

        </div>
    </div>
</div>

@section  scripts {
    <script type="text/javascript">

        const $formContainer = $('#leaveSettings');
        $(document).ready(function () {

            fn_LeaveSetting_initialLoad();
          

        });

        function fn_LeaveSetting_initialLoad() {

            LoadAddLeaveSettings();
            LoadLeaveSettingsList(this);
        }

        var validationMessage = {
            'EffectDate': {
                'required': 'Please select Effect date'
            },
            'FK_LeaveType': {
                'required': 'Please select Leave type'
            }
        }

        function LoadAddLeaveSettings() {


             $formContainer.load('@Url.Action("LoadLeaveSettings", "LeaveSettings")', function (){
                let $thisForm = $(this).find('[perfect-class="form"]');
                $thisForm.validate({ messages: validationMessage });
                 $thisForm.find('[name="EffectDate"]').val(moment().format('YYYY-MM-DD'));
                
                 $thisForm.attr('perfect-onFormSuccess', 'fn_LeaveSetting_initialLoad');

            });
        }


            var tableOptions = {
            dropdown: {
                buttons: [

                       @if (ViewBag.PagedAccessRights.UsrrlTyView)
                               {

                                <text>   { displayName: "View", action: fn_leaveSetting_View}, </text>
                              }

                  { type: "divider" },

                    @if (ViewBag.PagedAccessRights.UsrrlTyDel)
                         {
                               <text> { displayName: "Delete", action: fn_delete_leaveSetting},</text>
                        }


                ],

                class: "btn btn-success light sharp"
            },
                onlyShowColumn: ["SlNo", "EffectDate", "LsSalCalculateDays","LeaveType"],
                hideColumn: [],
                rowClickAction: fn_leaveSetting_View,
                renameHeader: { "SlNo": "SL No", "EffectDate": "Effect Date", "LsSalCalculateDays": "Salary Days", "LeaveType":"Leave Type"},
                isDateType: ['EffectDate'],

        }

        function LoadLeaveSettingsList(ele) {

       
            let $sidemenu = $sideMenuOptions.body;
            let $thisForm = $(ele).closest('.testSearchBox');
            let SearchName = $thisForm.find('input').val();
            if (SearchName == undefined) {
                SearchName = '';
            }


            $sideMenuOptions.title.find('h4').text('Leave Settings List');
            let pageUrl = "@Url.Action("GetLeaveSettingList", "LeaveSettings")";
            $.ajax({
                url:pageUrl,
                type: "POST",
                data: { pageSize: 15, pageIndex: 0, Name: SearchName, TransMode:""},
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (ajaxOutput) {
                    //console.log(ajaxOutput)
                    if (ajaxOutput.Process.IsProcess) {
                        debugger
                              //console.log('Sa', ajaxOutput);
                        $sidemenu.find('.jq_sidemenu_title').text("Leave Settings List");

                        $sidemenu.empty().append('<div class="d-flex justify-content-end mb-2 position-relative"><div class="col-md-6 position-absolute top-1 z-index"> <div class="input-group testSearchBox"><input type="text" class="form-control " name="SearchName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input"  /><div class="input-group-append"><button id="addcountry-jq-searchButton6" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="LoadLeaveSettingsList(this)"></button></div></div></div></div>', $('<div/>', { class: "col-md-12 table_temp_class" }).html(pft_table_createtable(ajaxOutput.Data, tableOptions)))

                              let $table = $sidemenu.find('table');
                              $table.dataTable({

                                  "serverSide": true,//no change
                                  "processing": true,//-- process text when clicked
                                  //"lengthChange": false,
                                  "lengthMenu": [10, 15, 20, 25, 50, 100],//---drop down page size
                                  "searching": false,//--no change
                                  "ordering": false,//--sorting
                                  "deferLoading": ajaxOutput.totalrecord,//<----to total number of record from db
                                  "displayStart": ajaxOutput.pageIndex * ajaxOutput.pageSize,//<----starting record
                                  "pageLength": ajaxOutput.pageSize,//<----page size
                                  "recordsFiltered": ajaxOutput.pageSize,//<---page size

                                  "ajax": returnajaxPagination({ apiurl: pageUrl, pageSize: ajaxOutput.pageSize, searchkey: SearchName, TransMode: ""}, tableOptions, $table)
                              });

                          }
                    else {

                              if (ajaxOutput.Process.Status = "NoData") {

                                  $sidemenu.find('.jq_sidemenu_title').text("Sales List");

                                  $sidemenu.empty().append('<div class="d-flex justify-content-center mb-2 position-relative"><div class="col-md-8 position-absolute top-3 z-index"> <div class="input-group-append testSearchBox"></div></div></div>')

                                  $sidemenu.append('<div class="d-flex justify-content-end mb-2"><div class="col-md-5 position-absolute top-1 z-index"> <div class="input-group testSearchBox"><input type="text" class="form-control " id="serchname" name="SearchName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input"  value="' + SearchName +'"  /><div class="input-group-append"><button id="addcountry-jq-searchButton6" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="LoadLeaveSettingsList(this)"></button></div></div></div></div>', $('<div/>', { class: "col-md-12 table_temp_class" }).html(pft_table_createtable(ajaxOutput.Data, tableOptions)))

                                let $table = $sidemenu.find('table');
                                $table.dataTable({
                                    "serverSide": true,//no change
                                    "processing": true,//-- process text when clicked
                                   // "lengthChange": false,
                                     "lengthMenu": [],//---drop down page size
                                    "searching": false,//--no change
                                    "ordering": false,//--sorting
                                    "deferLoading": ajaxOutput.totalrecord,//<----to total number of record from db
                                    "displayStart": ajaxOutput.pageIndex * ajaxOutput.pageSize,//<----starting record
                                    "pageLength": ajaxOutput.pageSize,//<----page size
                                    "recordsFiltered": ajaxOutput.pageSize,//<---page size

                                    "ajax": returnajaxPagination({ apiurl: pageUrl, pageSize: ajaxOutput.pageSize, searchkey: SearchName, TransMode: ""}, tableOptions, $table)
                                });
                            }
                            else {
                                $.each(ajaxOutput.Process.Message, function (key, value) {
                                    NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                                });
                            }
                }
            },
            complete: function () {

            }
        });

    }

    function returnajaxPagination(ajaxInfo, tableOptions, tableid) {
        //{ apiurl, pageSize }
      debugger
        return {
            url: ajaxInfo.apiurl,
            type: "post",
            data: function () {
                var info = tableid.DataTable().page.info();
                console.log('RETURN AJAX', info)

                let input = { pageSize: info.length, pageIndex: info.page, TransMode: ajaxInfo.TransMode };
                if (ajaxInfo.searchkey) {
                    input["Name"] = ajaxInfo.searchkey;
                }
                return input
            },
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            success: function (dtajaxOutput) {

                let table = tableid.DataTable();
                table.destroy();
                pft_table_newTableBody(tableid, dtajaxOutput.Data, tableOptions);

                tableid.dataTable({
                    "serverSide": true,
                    "processing": true,

                    "lengthMenu": [10, 15, 20, 25, 50, 100],
                    "searching": false,
                    "ordering": false,
                    "deferLoading": dtajaxOutput.totalrecord,
                    "displayStart": dtajaxOutput.pageIndex * dtajaxOutput.pageSize,
                    "pageLength": dtajaxOutput.pageSize,
                    "recordsFiltered": dtajaxOutput.pageSize,
                    "ajax": returnajaxPagination(ajaxInfo, tableOptions, tableid)
                })

            },

        }
        }

        function fn_leaveSetting_View() {

            let $thisUser = $(this).closest('tr');
            let savedData = $thisUser.data('pData');
            $('.dataTable tr').removeClass("SelectForDelete");
            $(this).closest('tr').addClass('SelectForDelete');
            $(this).closest('tr').addClass('SelectForDelete');
            console.log('fd', savedData);

            $formContainer.load('@Url.Action("LoadLeaveSettings", "LeaveSettings")', function () {

                debugger

                let $thisForm = $(this).find('[perfect-class="form"]');
                $thisForm.validate({ messages: validationMessage });

                //$thisForm.find('[name="ID_Name"]').val(savedData.Name).selectpicker('refresh');
                //$thisForm.find('[name="FK_EquipmentServiceType"]').val(savedData.FK_EquipmentServiceType).selectpicker('refresh');
                //$thisForm.find('[name="SerBookingNo"]').val(savedData.SerBookingNo);
                $thisForm.find('[name="FK_LeaveType"]').val(savedData.FK_LeaveType).selectpicker('refresh');
                $thisForm.find('[name="EffectDate"]').val(moment(savedData.EffectDate).format('YYYY-MM-DD'));
                $thisForm.find('[name="LsSalCalculateDays"]').val(savedData.LsSalCalculateDays);
                //$thisForm.find('[name="SerServiceDate"]').val(moment(savedData.SerServiceDate).format('YYYY-MM-DD'));
                //$thisForm.find('[name="SerServiceCentre"]').val(savedData.SerServiceCentre);
                //$thisForm.find('[name="SerServiceTime"]').val(savedData.SerServiceTime);
                //$thisForm.find('[name="ID_ServiceBooking"]').val(savedData.ID_ServiceBooking);

                let inputData = {
                    FK_LeaveSettings: savedData.ID_LeaveSettings,

                };

                $.ajax({
                    url: '@Url.Action("GetLeaveSettingInfoByID", "LeaveSettings")',//<----- Controller URL : url path in our controller eq: /Home/InsertSampleData or http://localhost:64212/Home/InsertSampleData
                    type: "POST",
                    data: inputData,//<---- Input json : data passed to controller
                    dataType: "json",
                    contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                    success: function (ajaxOutput) {//<----- if ajax method executed succesfully,  we get the data passed from controller in this variable  => success: function (variable) {
                        console.log('ajaxOutput', ajaxOutput);
                        debugger

                        if (ajaxOutput.result.Process.IsProcess) {
                            fn_fillLeavedetails($thisForm, 'LeaveSettingsDetails', ajaxOutput.result.Data, tableOptionsTemp);

                            //$thisForm.find('[name="FK_LeaveType"]').val(ajaxOutput.leave)
                    
                        }



                        //$thisForm.find('button[name=add]').addClass('d-none');
                        $thisForm.find('button[name=add]').hide();
                        //$thisForm.find('button[name=update]').removeClass('d-none');
                        $thisForm.attr('perfect-onFormSuccess', 'fn_LeaveSetting_initialLoad');



                    },
                    //complete: function () {
                    //    $thisForm.find('[name="FK_LeaveType"]').selectpicker('refresh');
                    //}

                }); $sideMenuOptions.close();
            });
        }

        function fn_delete_leaveSetting() {

            let $row = $(this).closest('tr');
            let Saveddatas = $row.data('pData');

            console.log('Saveddata', Saveddatas);

            $('.dataTable tr').removeClass("SelectForDelete");
            $(this).closest('tr').addClass('SelectForDelete');
       $.ajax({
                url: "@Url.Action("GetLeaveSettingReasonList", "LeaveSettings")",
                type: "GET",
                contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                success: function (ajaxReasonOutput) {
                   
                    //console.log('ajre', ajaxReasonOutput)
                    if (ajaxReasonOutput.Process.IsProcess) {


                        let confirmationDialogBoxOption = { heading: "Are you Sure?", body: "Do you want to remove this ?", cancel: "No", confirm: "Yes", reason: ajaxReasonOutput.Data };
                        var res = ConfirmDialog(confirmationDialogBoxOption);
                        res.then(function (ret) {
                            if (ret) {

                                let inputData = {
                                    __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                                    FK_LeaveSettings: Saveddatas.ID_LeaveSettings,
                                    ReasonID: ret,
                                    
                                };

                                $.ajax({
                                    url: "@Url.Action("DeleteLeaveSettings", "LeaveSettings")",
                                    type: "POST",
                                    data: inputData,
                                    contentType: "application/x-www-form-urlencoded; charset=utf-8",
                                    success: function (data) {
                                        let $thisForm = $(this).find('[perfect-class="form"]');
                                        if (data.Process.IsProcess) {
                                            let table = $row.closest('table').DataTable()
                                            table.row($row).remove().draw();
                                            $.each(data.Process.Message, function (key, value) {
                                                NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': 'Deleted Successfully' });


                                                $sideMenuOptions.close();
                                                // window.location.reload();
                                                LoadAddLeaveSettings();
                                            });

                                            $('.dataTable tr').removeClass("SelectForDelete");
                                        }
                                        else {
                                            $.each(data.Process.Message, function (key, value) {
                                                NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                                                $('.dataTable tr').removeClass("SelectForDelete");
                                            });
                                        }
                                    }
                                });
                            }
                            else {
                                NotificationMessage({ 'message': 'No option selected' });
                            }
                        });
                    }
                }

            });


        }
    </script>

    }
