@model PerfectWebERP.Models.CommonAccessModel.OutputLoadCustomerFeedback
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="robots" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Perfect: WebTemplate" />
    <meta property="og:title" content="Perfect: WebTemplate" />
    <meta property="og:description" content="Perfect: WebTemplate" />
    <meta property="og:image" content="" />
    <meta name="format-detection" content="telephone=no" />
    <title>Persuite</title>


    <link rel="icon" type="image/png" sizes="16x16" href="~/Content/images/faviconNew.png">
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/icons/font-awesome-old/css/font-awesome.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/icons/material-design-iconic-font/css/materialdesignicons.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/icons/themify-icons/css/themify-icons.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/icons/line-awesome/css/line-awesome.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/icons/avasta/css/style.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/icons/flaticon/flaticon.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/vendor/aos/css/aos.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/vendor/perfect-scrollbar/css/perfect-scrollbar.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/vendor/metismenu/css/metisMenu.min.css")" />
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/css/style.css")" />

    @*<link href="~/Assets/css/style.css" rel="stylesheet">*@
    @*<link rel="stylesheet" type="text/css" href="@Url.Content("~/Assets/css/search.css")" />*@


    @* --- External plugin css referance  --- *@
    @Styles.Render("~/Content/externalPluginCSS")
    @Styles.Render("~/Content/datatablePluginCSS")


    @Styles.Render("~/Content/perfectERPTemplateCSS")
    @* --- Css created --- *@
    @Styles.Render("~/Content/perfectERP/css")

    @Scripts.Render("~/bundles/modernizr")<!--Default thing-->



    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
        .title {
            font-family: "Lato";
            width: 365px;
            height: auto;
            min-height: 150%;
            /*background-color: #dfdce3;*/
            display: inline-block;
            margin-top: 10px;
            margin-right: 5px;
            margin-left: 5px;
            text-align: left;
        }

        .tkt_feedbackStar {
            font-size: 30px;
            color: #e3e2e2cc;
            padding: 10px;
            cursor: pointer;
        }

            .tkt_feedbackStar:hover {
                font-size: 32px;
                color: #f1c947;
                padding: 9px;
            }

        .tkt_feedbackStar_active {
            color: #f1c947 !important;
        }

        .tkt_feedbackStar_inactive {
            color: #e3e2e2cc !important;
        }

        .tkt_feedbackStar_mark {
            color: #f1c947;
        }

        .tkt_feedbackEmoji {
            font-size: 35px;
            padding: 10px;
            cursor: pointer;
        }

            .tkt_feedbackEmoji:hover {
                font-size: 37px;
                padding: 9px;
                color: var(--vz-primary);
                /*    transition: all .3s ease-in-out;*/
            }

        .tkt_feedbackEmoji_mark {
            color: var(--vz-primary) !important;
            transform: scale(1.2);
            transition: all .3s ease-in-out;
        }

        .material-icons {
            font-family: 'Material Icons';
            font-weight: normal;
            font-style: normal;
            font-size: 24px; /* Preferred icon size */
            display: inline-block;
            line-height: 1;
            text-transform: none;
            letter-spacing: normal;
            word-wrap: normal;
            white-space: nowrap;
            direction: ltr;
            /* Support for all WebKit browsers. */
            -webkit-font-smoothing: antialiased;
            /* Support for Safari and Chrome. */
            text-rendering: optimizeLegibility;
            /* Support for Firefox. */
            -moz-osx-font-smoothing: grayscale;
            /* Support for IE. */
            font-feature-settings: 'liga';
        }

            /* Rules for sizing the icon. */

            .material-icons.md-48 {
                font-size: 48px;

            }

            /* Rules for using icons as black on a light background. */
            /*.material-icons.md-dark {
                color: rgba(0, 0, 0, 0.54);
            }*/

                .material-icons.md-dark.md-inactive {
                    color: rgba(0, 0, 0, 0.26);
                }
        .tkt_feedbackEmoji {
            font-size: 35px;
            padding: 10px;
            cursor: pointer;
        }

            .tkt_feedbackEmoji:hover {
                font-size: 37px;
                padding: 9px;
                color: var(--vz-primary);
                /*    transition: all .3s ease-in-out;*/
            }

        .tkt_feedbackEmoji_mark {
            color: var(--vz-primary) !important;
            transform: scale(1.2);
            transition: all .3s ease-in-out;
        }
    </style>

</head>

<body>


    @helper CreateFeedbackCard(PerfectWebERP.Models.CommonAccessModel.OutPutTable feedbackbox)
    {
        <tr>
            <td>
                @feedbackbox.Question
            </td>
        </tr>
        <tr perfect-portal-control="feedback-types" perfect-portal-feedback-ID="@feedbackbox.ID_Feedback">
            @if (feedbackbox.FeedbackType == 1)
            {
                @CreateFeedbackCard_type1(feedbackbox.QuestionListDetails);
            }
            else if (feedbackbox.FeedbackType == 2)
            {
                @CreateFeedbackCard_type2(feedbackbox.QuestionListDetails);
            }
        </tr>
    }

    @*Create emoji rating*@
    @helper CreateFeedbackCard_type2(List<PerfectWebERP.Models.CommonAccessModel.QuestionList> questionLists)
    {

        if (questionLists != null && questionLists.Count != 0)
        {
            <td class="fw-medium d-flex justify-content-evenly align-items-center w-100" scope="row" style="width: 200px; height: 90px;" perfect-portal-control="element-block">
                @foreach (var feedbackOption in questionLists)
                {
                    <div class="" perfect-portal-element="feedback_emoji" perfect-portal-feedback-detailID="@feedbackOption.FK_Feedback" perfect-portal-feedback-selected="false">
                        @*<i class="@feedbackOption.OptionClass tkt_feedbackEmoji"></i>*@
                        <span class="material-icons md-48 tkt_feedbackEmoji">@feedbackOption.OptionClass</span>
                        <div>@feedbackOption.Options</div>
                    </div>

                }
            </td>
        }
    }

    @*Create star rating*@
    @helper CreateFeedbackCard_type1(List<PerfectWebERP.Models.CommonAccessModel.QuestionList> questionLists)
    {

    }

    <div class="card">

        <div class="row">
            <form>

            </form>

            <div class="card">
                <div class="card-body jq_searchservicefollowup_body">
                    <div id="customerTicketFeedbackModal" class="modal fade" tabindex="-1" aria-hidden="true" perfect-portal-control="modal">
                        <!-- Your existing modal code goes here -->
                    </div>

                    <div class="container mt-4">
                        <h5 class="card-title mb-2">Customer Feedback</h5>
                        <p class="text-muted mb-4">Please submit your feedback</p>

                        <form class="needs-validation form-valid" novalidate id="customer_service_feedback" perfect-portal-control="form">
                            <div class="row">
                                <div class="col-md-6">
                                    @if (Model != null && Model.FeedbackDetails != null && Model.FeedbackDetails.Count != 0)
                                    {
                                        foreach (var menu in Model.FeedbackDetails)
                                        {
                                            @CreateFeedbackCard(menu)
                                        }
                                    }
                                </div>
                            </div>

                            <div class="form-group mt-4">
                                <textarea class="form-control bg-light border-0" rows="3" placeholder="Please enter your remarks" perfect-portal-element="feedback_remark_input"></textarea>
                            </div>

                            <div class="form-group">
                                <button type="button" class="btn btn-primary" onclick="submitCustomerServiceFeedback(this)">Submit feedback</button>
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>

   

    @* --------Modal *@
    @*<div class="card">
        <div class="card-body jq_searchservicefollowup_body">

            <div id="customerFeedbackModal" class="modal fade" tabindex="-1" aria-hidden="true" perfect-portal-control="modal">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">
                        <div class="modal-body text-center p-5">

                            <div class="mt-2">

                                <h5 class="card-title mb-2">Customer Feedback</h5>
                                <p class="text-muted mb-0">Please submit your feedback</p>

                                <div class="table-responsive">
                                    <form class="needs-validation form-valid" novalidate id="customer_service_feedback" perfect-portal-control="form">
                                        <table class="table mb-0 table-borderless">
                                            <tbody perfect-portal-control="feedback-table">
                                                @if (Model != null && Model.FeedbackDetails != null && Model.FeedbackDetails.Count != 0)
                                                {
                                                    foreach (var menu in Model.FeedbackDetails)
                                                    {
                                                        @CreateFeedbackCard(menu)
                                                    }
                                                }
                                                <tr>
                                                    <td><textarea class="form-control bg-light border-0" id="" rows="3" placeholder="Please enter your remarks" perfect-portal-element="feedback_remark_input"></textarea></td>
                                                </tr>
                                                <tr>
                                                    <td> <button type="button" class="btn btn-primary" onclick="submitCustomerServiceFeedback(this)">Submit feedback</button></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>*@

</body>
</html>


<script>

    //--  Feedback emoji funcion
    $('[perfect-portal-element="feedback_emoji"]').click(function () {
        debugger
        // this will apply the color to star when some one click it
        let $this = $(this);
        let option = $this.attr('perfect-portal-feedback-option');
        let mark = $this.attr('perfect-portal-feedback-mark');
        let detailID = $this.attr('perfect-portal-feedback-detailID');

        $this.closest('[perfect-portal-control="element-block"]').find('[perfect-portal-element="feedback_emoji"]').each(function (key, value) {
            let $thisStar = $(this);
            if ($thisStar.attr('perfect-portal-feedback-detailID') == detailID) {
                $thisStar.attr('perfect-portal-feedback-selected', true);
                $thisStar.addClass('tkt_feedbackEmoji_mark')
            }
            else {
                $thisStar.attr('perfect-portal-feedback-selected', false);
                $thisStar.removeClass('tkt_feedbackEmoji_mark');
            }
        });

    });

</script>