
@{
    ViewBag.Title = "MakeIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-lg-12" id="make-sample-form">

        </div>
    </div>


</div>

@section scripts{

<script>


        var tableOptions = {
            dropdown: {
                buttons: [


                   @if (ViewBag.PagedAccessRights.UsrrlMsView) {
                       <text> { displayName: "View", action: editMaker },</text>
                    }
                   { type: "divider" },
                   @if (ViewBag.PagedAccessRights.UsrrlMsDel){
                        <text> { displayName: "Delete", action: DeleteMaker },</text>
                    }
                ],
                class: "btn btn-success light sharp"
            },
            onlyShowColumn: ["SlNo", "MakName", "MakShortName"],
            hideColumn: ["Mode"],
            rowClickAction: editMaker,
            serialNo: false,
            renameHeader: { "SlNo": "Sl No.", "MakName": "Name", "MakShortName": "ShortName", "Mode":"Mode"},
        };

        var validationMessage = {
            'MakeName': {
                'required': 'Please Enter Name',
                'maxlength': jQuery.validator.format(' Name should be less than {0} characters'),
                'stringonly': 'Special characters are not allowed in Name'

            },
            'MakeShortName': {
                'required': 'Please Enter ShortName',
                'maxlength': jQuery.validator.format(' Name should be less than {0} characters'),
                'alphanumeric': 'Special characters are not allowed in Short Name'

            },
            'ModeID': {
                'required': 'Please select a Mode',
                'stringonly': 'Invalid Mode selected',

            },

        }


    const $formContainer = $('#make-sample-form');
    $(document).ready(function () {
       
            initialloadMakeform();
        });

        function initialloadMakeform() {
              loadAddModelForm();
              @if (ViewBag.PagedAccessRights.UsrrlMsView){
                 <text>loadMakeList(this); </text>
               }
        }


        function loadAddModelForm() {
             $formContainer.load("@Url.Action("MakeView", "Make")", function () {          
                let $thisForm = $(this).find('[perfect-class="form"]');
                $thisForm.validate({messages: validationMessage});
                $thisForm.attr('perfect-onFormSuccess', 'initialloadModelform');
            });
        }


    function loadMakeList(ele) {
        let $sidemenu = $sideMenuOptions.body;

        let $thisForm = $(ele).closest('.testSearchBox');
        let SearchName = $thisForm.find('input').val();
        console.log("GH",SearchName)
        $sideMenuOptions.title.find('h4').text('Maker List');
          let pageUrl = '@Url.Action("GetMakerList", "Make")';
            $.ajax({
                url:pageUrl,
                type: "POST",
                data: { pageSize: 15, pageIndex: 0, Name: SearchName },
                dataType: "json",
                contentType: "application/x-www-form-urlencoded; charset=utf-8",
                success: function (ajaxOutput) {


                          if (ajaxOutput.Process.IsProcess) {
                              console.log('District', ajaxOutput);
                              $sidemenu.find('.jq_sidemenu_title').text("Maker");

                              $sidemenu.empty().append('<div class="d-flex justify-content-end mb-2 position-relative"><div class="col-md-6 position-absolute top-1 z-index"> <div class="input-group testSearchBox"><input type="text" class="form-control " name="SearchName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input"  /><div class="input-group-append"><button id="addcountry-jq-searchButton6" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="loadMakeList(this)"></button></div></div></div></div>', $('<div/>', {class:"col-md-12 table_temp_class"}).html(pft_table_createtable(ajaxOutput.Data, tableOptions)))                          
                              let $table = $sidemenu.find('table');
                              $table.dataTable({
                                  "serverSide": true,
                                  "processing": true,                               
                                  "lengthMenu": [10, 15, 20, 25, 50, 100],
                                  "searching": false,
                                  "ordering": false,
                                  "deferLoading": ajaxOutput.totalrecord,
                                  "displayStart": ajaxOutput.pageIndex * ajaxOutput.pageSize,
                                  "pageLength": ajaxOutput.pageSize,
                                  "recordsFiltered": ajaxOutput.pageSize,
                                  "ajax": returnajaxPagination({ apiurl: pageUrl, pageSize: ajaxOutput.pageSize, searchkey: SearchName }, tableOptions, $table)
                              });

                          }
                else {
                    if (ajaxOutput.Process.Status = "NoData") {
                        $sidemenu.find('.jq_sidemenu_title').text("Maker");

                        $sidemenu.empty().append('<div class="d-flex justify-content-end mb-2"><div class="col-md-6 position-absolute top-1 z-index"> <div class="input-group testSearchBox"><input type="text" class="form-control " name="SearchName" perfect-class="formGroupControl" perfect-ctype="input" perfect-css="input"  /><div class="input-group-append"><button id="addcountry-jq-searchButton6" class="btn btn-primary fa fa-search" type="button" perfect-css="button" onclick="loadMakeList(this)"></button></div></div></div></div>', $('<div/>', { class: "col-md-12 table_temp_class" }).html(pft_table_createtable(ajaxOutput.Data, tableOptions)))
                       


                        let $table = $sidemenu.find('table');
                        $table.dataTable({
                            "serverSide": true,//no change
                            "processing": true,//-- process text when clicked                            
                            "lengthMenu": [],//---drop down page size
                            "searching": false,//--no change
                            "ordering": false,//--sorting
                            "deferLoading": ajaxOutput.totalrecord,//<----to total number of record from db
                            "displayStart": ajaxOutput.pageIndex * ajaxOutput.pageSize,//<----starting record
                            "pageLength": ajaxOutput.pageSize,//<----page size
                            "recordsFiltered": ajaxOutput.pageSize,//<---page size

                            "ajax": returnajaxPagination({ apiurl: pageUrl, pageSize: ajaxOutput.pageSize, searchkey: SearchName }, tableOptions, $table)
                        });
                    }
                    else {
                        $.each(ajaxOutput.Process.Message, function (key, value) {
                            NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                        });
                    }
                }
            },
            complete: function () {

            }
        });
    }
    function returnajaxPagination(ajaxInfo, tableOptions, tableid) {
        
        return {
            url: ajaxInfo.apiurl,
            type: "post",
            data: function () {
                var info = tableid.DataTable().page.info();                
                let input = { pageSize: info.length, pageIndex: info.page };
                if (ajaxInfo.searchkey) {
                    input["Name"] = ajaxInfo.searchkey;
                }
                return input
            },
            dataType: "json",
            contentType: 'application/x-www-form-urlencoded; charset=utf-8',
            success: function (dtajaxOutput) {
                
                let table = tableid.DataTable();
                table.destroy();
                pft_table_newTableBody(tableid, dtajaxOutput.Data, tableOptions);

                tableid.dataTable({
                    "serverSide": true,
                    "processing": true,
                    "lengthMenu": [10, 15, 20, 25, 50, 100],
                    "searching": false,
                    "ordering": false,
                    "deferLoading": dtajaxOutput.totalrecord,
                    "displayStart": dtajaxOutput.pageIndex * dtajaxOutput.pageSize,
                    "pageLength": dtajaxOutput.pageSize,
                    "recordsFiltered": dtajaxOutput.pageSize,
                    "ajax": returnajaxPagination(ajaxInfo, tableOptions, tableid)
                })
            },
        }
    }

         function editMaker() {

             let $thisUser = $(this).closest('tr');
             let savedData = $thisUser.data('pData');

             $('.dataTable tr').removeClass("SelectForDelete");
             $(this).closest('tr').addClass('SelectForDelete');

             let inputData = {
                 ID_Maker: savedData.ID_Maker
             };
                 
             
             $.ajax({
                 url: '@Url.Action("GetMakerInfo", "Make")',
                 type: "POST",
                 data: JSON.stringify(inputData),                
                 dataType: "json",
                 contentType: "application/json",
                 success: function (ajaxOutput) {

                     if (ajaxOutput.Process.IsProcess) {
                         $formContainer.load("@Url.Action("MakeView", "Make")", function () {          

                             let $thisForm = $(this).find('[perfect-class="form"]');

                             $thisForm.validate({ messages: validationMessage });

                             $thisForm.data({ 'pData': ajaxOutput.Data[0] });
                             $thisForm.find('[name=ID_Make]').val(ajaxOutput.Data[0].ID_Maker),
                             $thisForm.find('[name=MakeName]').val(ajaxOutput.Data[0].MakName),
                             $thisForm.find('[name=MakeShortName]').val(ajaxOutput.Data[0].MakShortName),
                             $thisForm.find('[name=ModeID]').val(ajaxOutput.Data[0].Mode).selectpicker('refresh'),
                             $thisForm.find('[name=SortOrder]').val(ajaxOutput.Data[0].SortOrder),

                             $thisForm.find('button[name=add]').addClass('d-none');
                             $thisForm.find('button[name=update]').removeClass('d-none');

                             $thisForm.attr('perfect-onFormSuccess', 'initialloadMakeform');
                             $sideMenuOptions.close();
                         });
                     }
                     else {

                         $.each(ajaxOutput.Process.Message, function (key, value) {
                             NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                         });
                     }
                },
            });
         }



        function DeleteMaker() {
            let $row = $(this).closest('tr');
            let Saveddata = $row.data('pData');


            $('.dataTable tr').removeClass("SelectForDelete");
            $(this).closest('tr').addClass('SelectForDelete');

               $.ajax({
                   url: "@Url.Action("GetMakerDeleteReasonList", "Make")",
                   type: "GET",
                   contentType: 'application/x-www-form-urlencoded; charset=utf-8',
                   success: function (ajaxReasonOutput) {
                       if (ajaxReasonOutput.Process.IsProcess) {                     


                           let confirmationDialogBoxOption = { heading: "Are you Sure?", body: "Do you want to remove " + Saveddata.MakName + " ?", cancel: "No", confirm: "Yes", reason: ajaxReasonOutput.Data };
                           var res = ConfirmDialog(confirmationDialogBoxOption);
                            res.then(function (ret) {
                                if (ret) {
                                    let inputData = {
                                        __RequestVerificationToken: $('[name="__RequestVerificationToken"]').val(),
                                        ID_Maker: Saveddata.ID_Maker,
                                        ReasonID: ret
                                    };

                                    $.ajax({
                                        url: "@Url.Action("DeleteMaker", "Make")",
                                        type: "POST",
                                        data: inputData,
                                        contentType: "application/x-www-form-urlencoded; charset=utf-8",
                                        success: function (data) {                                           
                                           
                                            if (data.Process.IsProcess) {
                                                let table = $row.closest('table').DataTable()
                                                table.row($row).remove().draw();

                                                $.each(data.Process.Message, function (key, value) {
                                                    NotificationMessage({ 'type': 'success', 'heading': 'Success', 'message': "Deleted Successfully" });
                                                });
                                            }
                                            else {
                                                $.each(data.Process.Message, function (key, value) {                                                   
                                                    NotificationMessage({ 'type': 'error', 'heading': 'Error', 'message': value });
                                                });
                                            }       
                                        }
                                    });
                                }
                                else {                                  
                                    NotificationMessage({ 'message': 'No option selected' });
                                }
                            });
                           
                       }
                   }
               });
        };














</script>


}